Repository hmcts/civil-service, pull requests merged in 2021-12, with the labels that each got.

#478 Chore: fix preview and master pipelines
  charts/civil-service/Chart.yaml
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-478

#479 upgrade log4j due to security vulnerability
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-479

#481 Chore: Change nightly pipeline run to happen at approx 6pm
  Jenkinsfile_nightly
Labels: ns:civil, prd:civil, rel:civil-service-pr-481

#457 Fix State flow listener ambiguous transitions
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-457

#456 feat/CIV-232 change completed
  src/main/java/uk/gov/hmcts/reform/civil/enums/EmploymentTypeCheckboxFixedListLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/RespondentResponsePartAdmissionPaymentTimeLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/LengthOfUnemploymentComplexTypeLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/UnemployedComplexTypeLRspec.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-456

#424 CMC-1291 Refactoring RPA for MP scenarios
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/main/resources/bootstrap.yaml
  src/main/resources/schema/rpa-json-schema.json
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-424

#484 Feat/civ 237 II
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/PayingMoneyDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/PaymentUponCourtOrder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-484

#462 Feat/civ 239
  src/main/java/uk/gov/hmcts/reform/civil/enums/DebtTypeLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/PaymentFrequencyLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/DebtLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/LoanCardDebtLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Respondent1DebtLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/account/AccountSimple.java
  src/main/java/uk/gov/hmcts/reform/civil/model/account/AccountType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent1DQ.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-462

#465 CIV-238: Adding New Page for Employer Details
  src/main/java/uk/gov/hmcts/reform/civil/enums/EmploymentTypeCheckboxFixedListLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/EmployerDetailsLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Respondent1EmployerDetailsLRspec.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-465

#485 Feat/civ 283 refactor stateflow engine
  src/main/java/uk/gov/hmcts/reform/civil/Application.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-485

#464 Feat/cmc 1848 rpa messages for mp create claim
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaContinuousFeedConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/UnrepresentedOrUnregisteredScenario.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/enums/UnrepresentedOrUnregisteredScenarioTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnContinuousFeedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-464

#480 Feat/civ 230
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Respondent1DebtLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Respondent1SelfEmploymentLRspec.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-480

#486 feat/CIV-231 respondent1DQ home type
  src/main/java/uk/gov/hmcts/reform/civil/enums/HomeTypeOptionLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/HomeDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent1DQ.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-486

#513 Chore: exclude ga ccd definition
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:civil, prd:civil, rel:civil-service-pr-513

#497 feat/CIV-236 POJOs to hold carer's allowance and credit, recurring income and expenses
  src/main/java/uk/gov/hmcts/reform/civil/enums/PaymentFrequencyLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/ExpenseTypeLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/IncomeTypeLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/RecurringExpenseLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/RecurringIncomeLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent1DQ.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-497

#498 CIV-233 Adding New Page for Giving Reason Why Not Pay
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-498

#503 feat/CIV 234
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/RepaymentPlanLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/UnavailableDateValidator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/validation/UnavailableDateValidatorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-503

#502 feat: rename CaseData field
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-502

#520 enabled x-browser
  Jenkinsfile_nightly
Labels: ns:civil, prd:civil, rel:civil-service-pr-520

#511 Bumping up log4j version from 2.15.0 to 2.17.0 to cover for latest lo…
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-511
