Repository hmcts/civil-service, pull requests merged in 2021-07, with the labels that each got.

#119 refactor: refactoring validators for expert and witnesses (CMC-1568)
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/interfaces/ExpertsValidator.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/interfaces/WitnessesValidator.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-119

#142 refactor: check error message for duplicate payment
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-142

#154 feat: RPA continuous feed for notify claim (CMC-1613)
  src/contractTest/java/uk/gov/hmcts/reform/civil/BaseRpaTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaContinuousFeedConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnContinuousFeedHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataMinEdgeCasesBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-154

#143 feat: added multiparty to INFORM_AGREED_EXTENSION_DATE (CMC-1348)
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseUserService.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/StateFlow.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/StateFlowTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-143

#158 Increment allowed address line length for RPA to 60
  src/main/resources/schema/rpa-json-schema.json
Labels: ns:civil, prd:civil, rel:civil-service-pr-158

#147 feat: RPA continuous feed for notify claim details (CMC-1614)
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaContinuousFeedConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataMinEdgeCasesBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-147

#157 Add fortify scan on nightly build (CMC-1662)
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
Labels: ns:civil, prd:civil, rel:civil-service-pr-157

#159 feat: RPA continuous feed for acknowledge claim details (CMC-1615)
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaContinuousFeedConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataMinEdgeCasesBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-159

#117 refactor: removing backwards compatible SoT code (CMC-1569)
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-117

#165 Refactor: Update to infrastructure master in jerking pipeline and fortify release id in config
  Jenkinsfile_nightly
  config/fortify-client.properties
Labels: ns:civil, prd:civil, rel:civil-service-pr-165

#60 feat:Resolve security issues (CMC-1547)
  src/contractTest/java/uk/gov/hmcts/reform/civil/IdamConsumerTest.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-60

#163 feat: RPA continuous feed for full defence (CMC-1616)
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaContinuousFeedConsumerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-163

#140 refactor: apply notify checks to email addresses (CMC-1153)
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AmendPartyDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/ValidateEmailService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AmendPartyDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/validation/ValidateEmailServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-140

#180 test: updated assign case controller with case role parameter
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/AssignCaseSupportController.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-180

#185 fix: business process set to ready only for respondent 1 (CMC-1348)
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-185

#181 feat: add pact tests inform extension date for RPA continuous feed (CMC-1617)
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaContinuousFeedConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataMaxEdgeCasesBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataMinEdgeCasesBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-181

#187 build: fix CVE-2021-33037 vulnerability
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-187

#183 fix: further validation for emails (CMC-1718)
  src/main/java/uk/gov/hmcts/reform/civil/validation/ValidateEmailService.java
  src/test/java/uk/gov/hmcts/reform/civil/validation/ValidateEmailServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-183

#196 feat:Remove bintray repository from gradle
  build.gradle
  charts/civil-service/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-196

#192 feat: update both response deadlines when extension (CMC-1348)
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-192

#203 fix: allow dismiss claim events in flowstate
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-203

#188 feat: pact tests for add litigation friend for continuous feed (CMC-1618)
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaContinuousFeedConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddDefendantLitigationFriendCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddDefendantLitigationFriendCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-188
