Repository hmcts/civil-service, pull requests merged in 2021-11, with the labels that each got.

#285 feat: notify multiparty claim details (CMC-1346)
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-285

#373 chore: suppress CVE-2021-22096 until sendgrid update their client software
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-373

#378 Chore: Suppress CVE 2021 22044
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-378

#366 CMC-1652 Multiparty acknowledge claim document
  docker/docmosis/templates/CV-UNS-ACK-ENG-00789.docx
  src/main/java/uk/gov/hmcts/reform/civil/enums/MultiPartyScenario.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/aos/AcknowledgementOfClaimForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/aos/AcknowledgementOfClaimGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/enums/MultiPartyScenarioTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/aos/AcknowledgementOfClaimGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-366

#364 feat: Multiparty claim certificate templates (CMC-1289) NEW FROM MASTER BRANCH
  docker/docmosis/templates/CV-UNS-CLM-ENG-00727.docx
  docker/docmosis/templates/CV-UNS-CLM-ENG-00762.docx
  src/main/java/uk/gov/hmcts/reform/civil/enums/MultiPartyScenario.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/aos/AcknowledgementOfClaimGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/enums/MultiPartyScenarioTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/aos/AcknowledgementOfClaimGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-364

#384 Build/update dependencies
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-384

#374 CMC-1811: Hand Offline Summary for Notify Claim Details
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-374

#406 Build/update dependencies
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-406

#416 build/bump-dependencies
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-416

#429 build/bump-dependencies
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-429

#442 Fixing toUpperCase for nightly build
  src/main/java/uk/gov/hmcts/reform/civil/service/postcode/PostcodeLookupService.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/PostcodeValidator.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-442

#428 CMC-1647-1648: Claim issue hand off when any defendant(s) is unpresen…
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/SolicitorReferences.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ProceedOfflineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-428

#440 Feature/roc 9582
  src/main/java/uk/gov/hmcts/reform/civil/enums/RespondentResponseTypeSpecPaidStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-440

#418 Feature/roc 9698
  src/main/java/uk/gov/hmcts/reform/civil/constants/SpecJourneyConstantLRSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-418

#419 Feature/roc 9696
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/FutureApplications.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent1DQ.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-419

#448 Chore: Remove terraform entry for cmc-db-password as superseded by cmc-db-password-v11
  infrastructure/main.tf
Labels: ns:civil, prd:civil, rel:civil-service-pr-448

#434 Feat/cmc 1755 multiparty rpa workaround
  charts/civil-service/Chart.yaml
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
  charts/civil-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/robotics/RoboticsEmailConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/MultiPartyScenario.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/enums/MultiPartyScenarioTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnContinuousFeedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-434

#432 Feat/roc 9694 hearing for fast track
  src/main/java/uk/gov/hmcts/reform/civil/constants/SpecJourneyConstantLRSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/UnavailableDateLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/BaseHearing.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Hearing.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/HearingLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent1DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/SmallClaimHearing.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/UnavailableDateValidator.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-432

#423 CMC-1645: Notify Claim RPA Hand Offline Notifications
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-423

#444 Feat/roc 9781 when part admitted to be paid
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/RespondToClaimAdmitPartLRspec.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-444

#438 Feat: ROC-9779 Adding Callback Handler for New Page
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-438
