Repository hmcts/civil-service, pull requests merged in 2021-09, with the labels that each got.

#265 fix: NullPointerException (CMC-NA)
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-265

#236 feat:resolve duplicate payment error
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CallbackHandlerFactory.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-236

#234 feat: additional take claim offline reasons (CMC-1740) 1/2
  src/main/java/uk/gov/hmcts/reform/civil/enums/ReasonForProceedingOnPaper.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-234

#215 feat: rpa continuous feed for add case note (CMC-1685)
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaContinuousFeedConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddCaseNoteCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddCaseNoteCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-215

#250 feat:copy v11 db password in vaults
  infrastructure/main.tf
Labels: ns:civil, prd:civil, rel:civil-service-pr-250

#251 [DO NOT MERGE] feat:use db v11 password in charts
  charts/civil-service/Chart.yaml
  charts/civil-service/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-251

#260 feat: Order events and generate event code based on timestamp (CMC-1744)
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaContinuousFeedConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddDefendantLitigationFriendCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/Event.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/EventHistory.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/EventType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/ToJsonString.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistorySequencer.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnContinuousFeedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistorySequencerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-260
