Repository hmcts/civil-service, pull requests merged in 2021-06, with the labels that each got.

#20 build: enabled cross browser and accessibility testing (CMC-1487)
  Jenkinsfile_nightly
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-20

#30 fix: catch exceptions in scheduler handlers (CMC-1584)
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/ClaimDismissedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/TakeCaseOfflineHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ClaimDismissedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TakeCaseOfflineHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-30

#21 fix: adding survey link to the defendant litigation friend event (CMC-1595)
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddDefendantLitigationFriendCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddDefendantLitigationFriendCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-21

#22 feat: changes to add or amend claims logic (CMC-1490) (2/2)
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddOrAmendClaimDocumentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/ServedDocumentFiles.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/interfaces/ParticularsOfClaimValidator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddOrAmendClaimDocumentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/ServedDocumentFilesTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-22

#24 tech: add edge case pacts (CMC-1429)
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/AddressBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataMaxEdgeCasesBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataMinEdgeCasesBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/PartyBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/StatementOfTruthBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-24

#29 fix: Update DQ file name (CMC-1599)
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-29

#32 refactor: removing backwards compatible code on particularOfClaim (CMC-1654)
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddOrAmendClaimDocumentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/ServedDocumentFiles.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/interfaces/ParticularsOfClaimValidator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddOrAmendClaimDocumentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/ServedDocumentFilesTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-32

#26 fix : backwards compatible new field type for certificate of suitability on litigation friend event (CMC-1596) (1/5)
  src/main/java/uk/gov/hmcts/reform/civil/model/LitigationFriend.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-26

#27 fix: change certificate type back to original (CMC-1596) (3/5)
  src/main/java/uk/gov/hmcts/reform/civil/model/LitigationFriend.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-27

#38 build: excluded -nonprod.json files from definition on preview and staging
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-service-pr-38

#28 fix: removing the new certificate field from case data (CMC-1596) (5/5)
  src/main/java/uk/gov/hmcts/reform/civil/model/LitigationFriend.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-28

#36 feat: added feature toggling for multiparty (CMC-1355)
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BaseExternalTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/StartBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/StartBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-36

#39 refactor: remove medicalReports from case data (CMC-1528)
  src/main/java/uk/gov/hmcts/reform/civil/model/ServedDocumentFiles.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-39

#42 fix: temporary add suppression for Spring library (CMC-1682)
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-42

#37 feat: stateflow engine upgrade
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/StateFlow.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/StateFlowBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/StateFlowContext.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/grammar/OnlyIfNext.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/grammar/Set.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/grammar/SetNext.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/grammar/SubflowNext.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/grammar/TransitionToNext.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/model/Transition.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/StateFlowBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/StateFlowTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/model/TransitionTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-37

#44 Make a change on dependabot.yml file to try trigger dependabot
  .github/dependabot.yml
Labels: ns:civil, prd:civil, rel:civil-service-pr-44

#43 feat: multiparty flag and case roles (CMC-1355)
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BaseExternalTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/StartBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/StartBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/StateFlowBuilderTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-43

#63 tech: remove unused frontend base url from notifications(CMC-1368)
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDismissedApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDismissedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsNotToProceedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/FailedPaymentApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/LitigationFriendAddedApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/LitigationFriendAddedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDismissedApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDismissedRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsNotToProceedRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/FailedPaymentApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/LitigationFriendAddedApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/LitigationFriendAddedRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/ElasticSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-63

#40 refactor: remove "What happens next" from confirmation pages (CMC-1628) (2/2)
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResubmitClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResubmitClaimCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-40

#90 build: removed unused parameter from nightly pipeline
  Jenkinsfile_nightly
Labels: ns:civil, prd:civil, rel:civil-service-pr-90

#61 feat:separate state flow for awaiting camunda(cmc-1299)
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-61

#93 refactor: update defendant response confirmation (CMC-1265)
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-93

#97 Revert "refactor: update defendant response confirmation (CMC-1265)"
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-97

#92 fix: Add retries to pull-latest-release-asset.sh (CMC-1688)
  bin/pull-latest-release-asset.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-92

#98 refactor: updated client -> client(s) (CMC-1265)
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-98

#100 feat: claim creation for multiparty (CMC-1200)
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-100

#96 feat:Provide org service address (CMC-1659)
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/SolicitorServiceAddress.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/main/java/uk/gov/hmcts/reform/prd/model/ContactInformation.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-96

#103 Fix: CMC-1265: Fix code and test
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-103

#102 fix: Fix retries not working correctly (CMC-1688)
  bin/pull-latest-release-asset.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-102

#105 refactor:correct org service address data
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/SolicitorServiceAddress.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-105

#107 fix: Remove retries and add authentication token (CMC-1688)
  bin/pull-latest-release-asset.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-107

#106 feat: added RPA_CONTINUOUS_FEED flow flag to state flow engine (CMC-1692)
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/aspect/EventAllowedAspectTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/StartBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-106

#118 fix: Bump dependencies (CMC-1684)
  build.gradle
  sendgrid-client/build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-118

#35 tech: make reusable party object (CMC-1384)
  docker/docmosis/templates/CV-UNS-CLM-ENG-00727.docx
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/aos/AcknowledgementOfClaimForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/Applicant.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/Party.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dq/DirectionsQuestionnaireForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/aos/AcknowledgementOfClaimGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/aos/AcknowledgementOfClaimGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-35

#122 fix: standardisation of content (CMC-1631) (2/3)
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-122

#132 build(deps): Bump dependencies (CMC-1684)
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-132

#136 build(deps): Bump dependencies (CMC-1684)
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-136

#123 fix: acknowledge claim loses defendant address (CMC-1629) 2/3
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-123

#137 build: added pushing to demo from master pipeline
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-service-pr-137

#120 fix: correct service address on claim form (CMC-1659)
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeService.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataMaxEdgeCasesBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataMinEdgeCasesBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-120
