Repository hmcts/civil-service, pull requests merged in 2022-02, with the labels that each got.

#624 Move idam calls to cache - its blocking master with 429 failures in logs
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaContinuousFeedConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/AssignCaseSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseUserService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UserService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/OrganisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-624

#628 Update cache spec to expireAfterWrite
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-628

#577 Feature/civ 812 create api getclaims
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-577

#631 Feature/civ 727 : General Application validation of hearing screen
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAUnavailabilityDates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralAppSampleDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-631

#625 feat: assemble all response uploads in a collection
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/DocumentType.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-625

#616 CMC-1914: Litigation friend acknowledge form bug fix
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/aos/AcknowledgementOfClaimGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/aos/AcknowledgementOfClaimGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-616

#637 feat: logging to investigate Camunda error
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/StartBusinessProcessTaskHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-637

#609 Civ 640 citizen views claims defended
  bin/utils/service.sh
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-609

#629 fix/CMC-1931: CaseFlag updated to now check for that users response
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-629

#639 Updating dependabot config
  .github/dependabot.yml
Labels: ns:civil, prd:civil, rel:civil-service-pr-639

#594 Feat/civ 919
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-594

#613 Civ 845 feature ras api call
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/Application.java
  src/main/java/uk/gov/hmcts/reform/civil/config/TestUserConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/RoleAssignmentsService.java
  src/main/java/uk/gov/hmcts/reform/ras/client/RoleAssignmentsApi.java
  src/main/java/uk/gov/hmcts/reform/ras/model/Attributes.java
  src/main/java/uk/gov/hmcts/reform/ras/model/RoleAssignmentResponse.java
  src/main/java/uk/gov/hmcts/reform/ras/model/RoleAssignmentServiceResponse.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/service/RoleAssignmentsServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-613

#633 1934: Update V1 to base callback
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddDefendantLitigationFriendCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddDefendantLitigationFriendCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-633

#622 CMC-1917 1v2 same solicitor DQ
  docker/docmosis/templates/CV-UNS-HRN-ENG-00813.docx
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-622

#663 Chore: upgrade dependencies
  build.gradle
  charts/civil-service/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-663

#676 Test: Add more logging
  bin/utils/ccd-import-definition.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-676

#654 Feature/civ 951 - Make Payment for General Application
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAPbaDetails.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-654

#670 build/bump-dependencies
  build.gradle
  sendgrid-client/build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-670

#696 Feature/civ 721
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplicationsDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-696

#686 fix: update partyname field in casedata when appl or def name is changed
  src/main/java/uk/gov/hmcts/reform/civil/model/Party.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/DocmosisTemplateDataUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-686

#698 build/bump-charts: Update java charts to v3.7.2
  charts/civil-service/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-698

#630 Added add litigation friend support for solicitor 2
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaContinuousFeedConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/LitigationFriendAddedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddDefendantLitigationFriendCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/LitigationFriendAddedRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddDefendantLitigationFriendCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-630

#656 Feat/cmc 1939 time extension defendant response
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-656

#564 General apps integration
  src/main/java/uk/gov/hmcts/reform/civil/aspect/NoOngoingBusinessProcessAspect.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GAHearingDuration.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GAHearingSupportRequirements.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GAHearingType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/StartGeneralApplicationBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/StartGeneralApplicationBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/CaseLink.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAApplicationType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAInformOtherParty.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAPbaDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GARespondentOrderAgreement.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAStatementOfTruth.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAUnavailabilityDates.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAUrgencyRequirement.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplicationsDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppsDeadlinesCalculator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/StartGeneralApplicationBusinessProcessExternalTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/StartGeneralApplicationBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationServiceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/StartGeneralApplicationBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralAppSampleDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppsDeadlinesCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-564
