Repository hmcts/civil-service, pull requests merged in 2022-06, with the labels that each got.

#1043 Feat/civ 2186 update wordings
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1043

#1059 information missing on DQ PDF from what has been input on the digita…
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1059

#1076 Fix the null problem
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/PartialAdmitPaidFullConfirmationText.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1076

#1081 Civ 2459 ref data
  src/main/java/uk/gov/hmcts/reform/civil/aspect/NoOngoingBusinessProcessAspect.java
  src/main/java/uk/gov/hmcts/reform/civil/config/LRDConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/LocationRefDataService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/LocationRefSampleDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/LocationRefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1081

#1083 LR v LR/civ 2015
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/enums/MultiPartyResponseTypeFlags.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/show/DefendantResponseShowTag.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent2DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/interfaces/ExpertsValidator.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/interfaces/WitnessesValidator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1083

#1079 CIV 1847 non static population
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/ClaimsTrack.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/OrderType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackBuildingDispute.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackClinicalNegligence.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackCreditHire.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackDisclosureOfDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackHousingDisrepair.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackJudgementDeductionValue.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackJudgesRecital.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackNotes.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackPersonalInjury.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackPreferredEmail.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackPreferredTelephone.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackRoadTrafficAccident.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackSchedulesOfLoss.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackTrial.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackWitnessOfFact.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/JudgementSum.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1079

#923 Feat/cmc 1990 case list changes new
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ClaimIssueCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseListSolicitorReferenceUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ClaimIssueCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseListSolicitorReferenceUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-923

#1097 Feat/civ 130
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1097

#1039 Feat/civ 1974 damages ocmc
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1039

#1090 fix CVE-2022-22978
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-1090

#1088 CIV-2905 bots upgrade bundle
  build.gradle
  sendgrid-client/build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-1088

#1112 Removed unused variable respondentSolicitor1EmailAddress for generalA…
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1112

#1061 Feat/civ 2408
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaContinuousFeedConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/config/AutomaticallyAssignCaseToCaaConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CustomScopeIdamTokenGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/prd/client/OrganisationApi.java
  src/main/java/uk/gov/hmcts/reform/prd/model/ProfessionalUsersEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/prd/model/ProfessionalUsersResponse.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnContinuousFeedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CustomScopeIdamTokenGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/OrganisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1061

#1119 fix for 2408 remove user emails from logs
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1119

#1127 Feat/civ 2627
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1127

#1109 Modified Preferred location data by adding court address
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/LocationRefDataService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/LocationRefDataServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1109

#1085 CIV-2463 Refactor use of string on general app notification deadline
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1085

#1130 revert changes for 2408
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaContinuousFeedConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/config/AutomaticallyAssignCaseToCaaConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CustomScopeIdamTokenGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/prd/client/OrganisationApi.java
  src/main/java/uk/gov/hmcts/reform/prd/model/ProfessionalUsersEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/prd/model/ProfessionalUsersResponse.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnContinuousFeedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CustomScopeIdamTokenGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/OrganisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1130

#1114 Judicial ref data api integration
  charts/civil-service/Chart.yaml
  charts/civil-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/civil/config/referencedata/JRDConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/config/referencedata/LRDConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/referencedata/request/JudgeSearchRequest.java
  src/main/java/uk/gov/hmcts/reform/civil/model/referencedata/response/JudgeRefData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/referencedata/response/LocationRefData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/JudicialRefDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/LocationRefDataService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialRefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/LocationRefDataServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1114

#1118 Email notification sent once claim is notified displays incorrect dat…
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1118

#1137 feat/CIV-2653 defects fixed
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, enableHelm, rel:civil-service-pr-1137

#1144 Revert "Judicial ref data api integration"
  charts/civil-service/Chart.yaml
  charts/civil-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/civil/config/LRDConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/config/referencedata/JRDConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/LocationRefData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/referencedata/request/JudgeSearchRequest.java
  src/main/java/uk/gov/hmcts/reform/civil/model/referencedata/response/JudgeRefData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/JudicialRefDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/LocationRefDataService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialRefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/LocationRefDataServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1144

#1136 fix CIV-3128, dix the email address for Defendant for RPA JSON
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpec.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1136

#1146 Fix/civ 3036
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1146

#1147 CIV-3138: Update for claimant preferred court
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1147

#1156 fix/ json format for local date
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/RPABreathingSpace.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1156

#1158 fix/ bug affecting 2v1 claims I2P
  src/main/java/uk/gov/hmcts/reform/civil/enums/RespondentResponseTypeSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AdmitNotProceedConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AdmitNotProceedConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AdmitProceedConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AdmitProceedConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/DefendNotProceedConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/DefendNotProceedConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/DefendProceedConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/DefendProceedConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PartyUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/PartyUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1158

#1150 Bug/civ 3131
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PartyUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/PartyUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1150

#1159 CIV-3156: 1v2 bug fix
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1159

#1165 CIV-3182: 1v2 Diff LR Incomplete Financial Details for AdmitAll
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1165

#1166 feat/CIV-3183, fixed issue for second respondent for part admit journey
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1166

#1108 Refactored the AssignCaseToUserHandler to use a submited event to sto…
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ClaimIssueCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ClaimIssueCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1108

#1033 Enabling LR Spec in aat
  Jenkinsfile_CNP
  charts/civil-service/Chart.yaml
  charts/civil-service/values.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-1033

#1168 Jrd
  charts/civil-service/Chart.yaml
  charts/civil-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/civil/config/referencedata/JRDConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/config/referencedata/LRDConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/referencedata/request/JudgeSearchRequest.java
  src/main/java/uk/gov/hmcts/reform/civil/model/referencedata/response/JudgeRefData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/referencedata/response/LocationRefData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/JudicialRefDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/LocationRefDataService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/service/JudicialRefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/LocationRefDataServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1168

#1167 Feat/civ 2159 fix claimant caa users seeing already assigned cases
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1167

#1169 feat/CIV-2649-seal-claim, fixing seal claim issue
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpec.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1169

#1082 Upload doc
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/DocumentControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/DocumentController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/ClaimFormService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/SecuredDocumentManagementService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/documentmanagement/SecuredDocumentManagementServiceTest.java
  src/test/resources/document-management/download.document.json
Labels: ns:civil, prd:civil, rel:civil-service-pr-1082

#1148 populate sdo small claims fields
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SmallClaimsCreditHire.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SmallClaimsRoadTrafficAccident.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1148

#1173 CIV-2662: Update for I2P document
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1173

#1171 CIV-3157: 1v2 dq document fix
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1171

#1175 Fix/spec rpauat/1v2ds unrep
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1175

#1183 CIV-2663: 1v2 different sol - I2P Camunda tasks
  charts/civil-service/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1183

#989 Feat/cmc 2090
  charts/civil-service/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/TakeCaseOfflineHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/TakeCaseOfflineSearchService.java
  src/test/java/uk/gov/hmcts/reform/civil/enums/UnrepresentedOrUnregisteredScenarioTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/TakeCaseOfflineSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-989

#1174 Update report folder structure
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:civil, prd:civil, rel:civil-service-pr-1174

#1074 L rv lr master
  config/owasp/suppressions.xml
  docker/docmosis/templates/CV-SPC-HRN-ENG-01064.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01065.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/MultiPartyResponseTypeFlags.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsNotToProceedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/show/DefendantResponseShowTag.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent2DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/interfaces/ExpertsValidator.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/interfaces/WitnessesValidator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsNotToProceedRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, enableHelm, rel:civil-service-pr-1074

#1154 Fixing extension time dedaline to be near to business day in notifica…
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1154
