Repository hmcts/civil-service, pull requests merged in 2022-12, with the labels that each got.

#1731 Added code to add org policies for all litigants in spec claims
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/OrgPolicyUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/OrgPolicyUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1731

#1882 Fixing CVE-2022-41946
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-1882

#1856 CIV-6173 Update disposal screens
  build.gradle
  docker/docmosis/templates/CV-UNS-DEC-ENG-01132.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/DisposalHearingSchedulesOfLossDJ.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1856

#1897 civ4801 Data migration for GS and Case locations
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/migration/MigrateCaseDataCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseMigratonUtility.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/migration/MigrateCaseDataCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1897

#1836 Civ 6118 Refactoring names for general Application Collections
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GenAppStateHelperService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ApplicationClosedUpdateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ApplicationOfflineUpdateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/TriggerApplicationClosureCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/TriggerMoveApplicationOfflineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationServiceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GenAppStateHelperServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1836

#1878 Feat/civ 6174 update template
  docker/docmosis/templates/CV-UNS-DEC-ENG-01133.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialPersonalInjury.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
Labels: ns:civil, prd:civil, enableHelm, rel:civil-service-pr-1878

#1907 Role am should be pointed to aat
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-1907

#1846 CIV-5997 Fix hearing requirements CYA
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/HearingSupportRequirementsDJ.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1846

#1797 Civ 6048
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-1797

#1885 GA integration november
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GenAppStateHelperService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ApplicationClosedUpdateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ApplicationOfflineUpdateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/TriggerApplicationClosureCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/TriggerMoveApplicationOfflineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationServiceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GenAppStateHelperServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1885

#1877 Feat/civ 5364
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/InvalidCaseDataException.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/NotRetryableException.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BaseExternalTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/ClaimDismissedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/HearingFeeDueHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/StartGeneralApplicationBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/TakeCaseOfflineHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/exception/StateFlowException.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/StartGeneralApplicationBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1877

#1887 CIV-5951: feign.FeignException$GatewayTimeout
  src/main/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1887

#1816 CIV-6106 - Remove Dependencies on User Profile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-1816

#1853 Added sendgrid and camunda error log
  sendgrid-client/src/main/java/uk/gov/hmcts/reform/civil/sendgrid/SendGridClient.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/StartBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1853

#1921 CIV-5958: Exception (http 500) - NotificationClientException
  src/main/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1921

#1899 Civ 3598 - Update the email notification that goes to the claimant when they create a claim
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1899

#1630 Civ 2422 dismissal email notification to be changed
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDismissedApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDismissedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NotificationUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDismissedApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDismissedRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1630

#1888 Civ 4124
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CertificateOfService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1888

#1896 Sending RPA after TAKE_CASE_OFFLINE
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1896

#1933 Unknown host exception unauthorized forbidden illegal argument exception no such method error 1
  charts/civil-service/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1933

#1892 Civ 6056 agreed extension connot be null
  src/main/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1892

#1834 fix: CIV-5949, fixing null pointer exception for CreateClaimSpecCallb…
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-1834

#1786 Cosintegration
  Jenkinsfile_CNP
  bin/pull-latest-ccd-files.sh
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/CoSRecipientServeLocationOwnerType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/CoSRecipientServeType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/CosRecipientServeLocationType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CertificateOfService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1786

#1800 fix: CIV-5491, displaying the uploaded document under "Claim Document…
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/ServedDocumentFiles.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-1800

#1884 Exception (http 500) - org.springframework.web.client.HttpClientErrorException$BadRequest
  src/main/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1884

#1939 Feat/civ 2216 generate hearing notice docs
  docker/docmosis/templates/CV-UNS-HNO-ENG-01196.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01197.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01198.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01199.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/HearingChannel.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/HearingDuration.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/HearingNoticeList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/ListingOrRelisting.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingFormHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/hearing/HearingForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HearingUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingFormHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HearingUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1939

#1943 SwitchonCos
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-1943

#1942 Feat/civ 5428 new
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/OrgPolicyValidator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1942

#1845 CIV-6182 Changes in sdo doc
  docker/docmosis/templates/CV-DAM-STD-ENG-00001.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00002-HNL.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00002.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00003-HNL.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00003.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00004.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1845

#1890 Feat/civ 4822 spec state flow test
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilderSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1890

#1679 CIV-5374 Refactoring: NoC LLD comments
  src/main/java/uk/gov/hmcts/reform/ccd/model/OrganisationPolicy.java
  src/main/java/uk/gov/hmcts/reform/ccd/model/PreviousOrganisation.java
  src/main/java/uk/gov/hmcts/reform/ccd/model/PreviousOrganisationCollectionItem.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplyNoticeOfChangeDecisionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/ChangeOfRepresentationUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/ChangeOfRepresentationUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1679

#1536 Spec - Defendant DQ Witnesses Uplift
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Witness.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1536

#1956 Fix data in template
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1956

#1976 fix/bumping java chart to 4.0.4
  charts/civil-service/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-1976

#1977 Add more logs for migration utility
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseMigratonUtility.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1977

#1935 CIV-6115
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1935

#1986 Added more logs for migration utility
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/migration/MigrateCaseDataCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1986

#1948 Feat/civ 4822 spec state flow test
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilderSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1948

#1936 Revert Poller changes
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/PollingEventEmitterHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PollingEventEmitterHandlerTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-1936

#1987 CIV-6115 add more test
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/migration/MigrateCaseDataCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/PollingEventEmitterHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PollingEventEmitterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilderSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilderUnspec.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineUnspecTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1987

#1952 InvalidPaymentRequestException exception added
  src/main/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1952

#1983 fix: Code cleanup for migration callback handler
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/migration/MigrateCaseDataCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseMigrationUtility.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/migration/MigrateCaseDataCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1983

#1991 Civ 6414
  src/main/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/migration/MigrateCaseDataCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseMigrationUtility.java
  src/test/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/migration/MigrateCaseDataCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1991

#1990 Fix/migration callback cleanup
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/migration/MigrateCaseDataCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1990

#1993 Civ 6414
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1993

#1970 CIV-5959: handling JsonSchemaValidationException
  src/main/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1970

#1994 more logging for notify RPA
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1994

#1985 Cosintegration
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/TakeCaseOfflineSearchService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/TakeCaseOfflineSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1985

#1997 Fix/migration callback cleanup
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/migration/MigrateCaseDataCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseMigrationUtility.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1997

#1999 CIV-5707 - upgrade TF 0.12X to 0.13.X
  infrastructure/.terraform-version
Labels: ns:civil, prd:civil, rel:civil-service-pr-1999

#2001 CIV-5707 - Revert TF upgrade
  infrastructure/.terraform-version
Labels: ns:civil, prd:civil, rel:civil-service-pr-2001

#2000 Fix/migration callback cleanup
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/migration/MigrateCaseDataCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/LocationRefDataException.java
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseMigrationUtility.java
  src/test/java/uk/gov/hmcts/reform/civil/service/LocationRefDataServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2000

#2017 fixing respondent dq bug
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/migration/MigrateCaseDataCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseMigrationUtility.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2017

#2019 Applicant DQ changes
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseMigrationUtility.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/migration/MigrateCaseDataCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2019

#1974 Changing the service url to platform.hmcts.net from .internal
  Jenkinsfile_CNP
  bin/variables/load-preview-environment-variables.sh
  charts/civil-service/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-1974

#2021 fix to Jenkinsfile_CNP
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-service-pr-2021

#1565 Uplifted claimant response witness screens
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1565

#1840 Feat/civ 5336 create lip claim
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/events/CaseEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/events/EventSubmissionParams.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/CaseEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1840

#2038 adding plugin management
  settings.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-2038

#1981 CIV-6296 Update courts dropdown when judge lists for hearing
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/LocationRefDataService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/LocationRefSampleDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/LocationRefDataServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1981

#2023 CIV-6284 Update Order Template
  docker/docmosis/templates/CV-UNS-GAP-ENG-01067.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01068.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01069.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01070.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01071.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01072.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01073.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/LocationRefDataService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/LocationRefSampleDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/LocationRefDataServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2023

#2039 CIV-6296 Sort the court location
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/LocationRefDataService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2039
