Repository hmcts/civil-service, pull requests merged in 2022-04, with the labels that each got.

#790 Feat/conf text
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-790

#792 feat: retain solicitor references otherwise lost upon defendant response
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/BaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-792

#731 feat: add references to three templates
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-731

#710 Feat/civ 245
  bin/utils/get-launch-darkly-flags.sh
  bin/utils/launchdarkly-flag-lrspec.json
  bin/utils/launchdarkly-flags.json
  src/main/java/uk/gov/hmcts/reform/civil/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserForSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ClaimIssueForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ProceedOfflineForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ValidateFeeForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AcknowledgeClaimApplicantForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineForSpecApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/FailedPaymentApplicantForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnContinuousFeedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResubmitClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/resources/application-dev.yaml
  src/test/java/uk/gov/hmcts/reform/civil/config/LaunchDarklyConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ClaimIssueForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ProceedOfflineForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ValidateFeeForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AcknowledgeClaimApplicantForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AcknowledgementClaimApplicantForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineForSpecApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/FailedPaymentApplicantForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateForSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResubmitClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-710

#778 Feat/cmc 1894
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-778

#781 Added rpa changes for claimant response
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/ClaimantResponseDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/EventHistory.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistorySequencer.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/PartyBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-781

#846 Chore: Fix CVE_2022_22965
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-846

#773 Changed AgreedExtensionApplicantController to notify all parties
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-773

#851 Feat/cmc 1677 1679 2018 rpa
  src/main/java/uk/gov/hmcts/reform/civil/enums/PartyRole.java
  src/main/java/uk/gov/hmcts/reform/civil/model/PartyData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/EventHistory.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistorySequencer.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PartyUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PredicateUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/PartyUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/PredicateUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-851

#850 fixed security issue
  src/main/java/uk/gov/hmcts/reform/civil/config/LaunchDarklyConfiguration.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-850

#814 Feat/cmc 1354 original scope
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDismissedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NotificationUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-814

#847 cmc-2021: update reason text for 2v1 defendant response RPA json
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-847

#808 RPA address line mapping by space
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/AddressLinesMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/ValidateEmailService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/AddressLinesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/validation/ValidateEmailServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-808

#797 Fix response document appearing under defendant one in 1v2 same solicitor scenario
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-797

#767 Suppressing false postive from security scan and run prod def functional tests on aat
  Jenkinsfile_nightly
  audit.json
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-767

#843 Multi party spec changes
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/constants/SpecJourneyConstantLRSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/MultiPartyResponseTypeFlags.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/RoboticsCaseDataSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpec.java
  src/main/resources/schema/rpa-json-schema.json
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnContinuousFeedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-843

#798 Added claimStarted flag to
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-798

#858 Intention to proceed, specified claims
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/SmallClaimMedicalLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Applicant1DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Applicant2DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent1DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent2DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-858

#825 Feat/dj spec damages dev
  docker/docmosis/templates/CV-SPC-DEC-ENG-00910.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-00829.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/DJPaymentTypeSelection.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/RepaymentFrequencyDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDJFormHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJApplicantReceivedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJRespondentReceivedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/HearingDates.java
  src/main/java/uk/gov/hmcts/reform/civil/model/HearingSupportRequirementsDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dj/DefaultJudgmentForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDJFormHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJApplicantReceivedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJRespondentReceivedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-825

#861 Skip default judgement json in ccd def upload
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-service-pr-861

#865 Feat/civ 425
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-865

#859 add stateFlowHistory to log
  src/main/java/uk/gov/hmcts/reform/civil/aspect/EventAllowedAspect.java
  src/test/java/uk/gov/hmcts/reform/civil/aspect/EventAllowedAspectTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-859

#869 Fix/cmc 1987
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/aspect/NoOngoingBusinessProcessAspect.java
  src/test/java/uk/gov/hmcts/reform/civil/aspect/NoOngoingBusinessProcessAspectTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-869

#820 fix: CMC-1996 - Fail payments when we receive 422 and 504s
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-820

#862 feat: make 999 case dropped offline appears last in RPA
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/Event.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistorySequencer.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-862

#845 Feat/civ 1225
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-845

#824 Create model to capture GA applicant Solicitor details
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GASolicitorDetailsGAspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationServiceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-824

#822 fix: use docstore response for document created time
  src/main/java/uk/gov/hmcts/reform/civil/helpers/LocalDateTimeHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/SecuredDocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/UnsecuredDocumentManagementService.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/LocalDateTimeHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-822

#853 create handler for respondent 2 email notification
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDOApplicantsNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent1NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent2NotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDOApplicantsNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent1NotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent2NotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-853

#871 CIV-1920- Typo error fixed
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-871

#765 feat/CIV-1567 removed code duplication
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeOfServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/interfaces/DefendantAddressValidator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeOfServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/validation/interfaces/DefendantAddressValidatorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-765

#868 update confirmation screen for multiparty
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-868

#852 Feat/civ 1721
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/SpecResponse1v2DivergentText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/header/SpecResponse1v2DivergentHeaderText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/header/SpecResponse2v1DifferentHeaderText.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/CaseDataToTextGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToClaimConfirmationHeaderSpecGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToClaimConfirmationTextSpecGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-852

#891 Fix security scan and dependency check
  config/owasp/suppressions.xml
  security.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-891

#882 CIV-1976 Text Change
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-882

#863 Feat: CIV-1513
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/CounterClaimConfirmationText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/header/CounterClaimConfirmationHeaderText.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToClaimConfirmationHeaderSpecGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToClaimConfirmationTextSpecGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-863

#881 fix/CMC-2032: update rpa text for 1v2 same solictior full defence response
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-881

#884 Api-spec tests to be run on PR
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-884

#920 Combine prs branch
  build.gradle
  config/owasp/suppressions.xml
  sendgrid-client/build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-920

#873 Feat/civ 1684
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToResponseConfirmationHeaderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToResponseConfirmationTextGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AdmitNotProceedConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AdmitNotProceedConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AdmitProceedConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AdmitProceedConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/DefendNotProceedConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/DefendNotProceedConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/DefendProceedConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/DefendProceedConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/CaseDataToTextGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToResponseConfirmationHeaderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToResponseConfirmationTextGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-873

#886 Added notify respondent 2 solicitor task to case taken offline
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineRespondentNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-886

#888 fix/CMC-2022 update predicate for time extension
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-888

#924 Reverted template ids to point to templates in live notifications
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-924

#927 added NOS feature toggle
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-927

#926 Feat/civ 1508
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsNotToProceedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsNotToProceedRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-926

#929 Feat/civ 1876
  src/main/java/uk/gov/hmcts/reform/civil/config/PaymentsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentsServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-929

#928 Fix/cmc 2042
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaContinuousFeedConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseNote.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CaseNoteService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddCaseNoteCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CaseNoteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-928

#885 feat: break address lines by space
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/AddressLinesMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/AddressLinesMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-885
