Repository hmcts/civil-service, pull requests merged in 2022-08, with the labels that each got.

#1287 Fixed unspec 2v1 claims getting stuck at make pba payment
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1287

#1241 notification date should be date when notify detail is happening plus…
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1241

#1268 CIV-3021: PIP Generate the Pin
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/DefendantPinToPostLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/AccessCodeGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/AccessCodeGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1268

#1309 bump ccd chart to 8.0.17
  charts/civil-service/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-1309

#1301 CIV-3660: Add changes email of respondent
  src/main/java/uk/gov/hmcts/reform/civil/model/Party.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1301

#1315 Added default judgment specific classes in model, for disposal screen
  src/main/java/uk/gov/hmcts/reform/civil/enums/dj/DisposalHearingBundleType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dj/DisposalHearingFinalDisposalHearingTimeEstimate.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/DisposalHearingBundleDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/DisposalHearingDisclosureOfDocumentsDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/DisposalHearingFinalDisposalHearingDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/DisposalHearingJudgesRecitalDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/DisposalHearingMedicalEvidenceDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/DisposalHearingNotesDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/DisposalHearingQuestionsToExpertsDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/DisposalHearingSchedulesOfLossDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/DisposalHearingStandardDisposalOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/DisposalHearingWitnessOfFactDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dj/DefaultJudgmentSDOOrderForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1315

#1307 CIV-3836 small claims page revisions sdo
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/SmallClaimsMethod.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/SmallClaimsMethodTelephoneHearing.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/SmallClaimsMethodVideoConferenceHearing.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/SmallTrack.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SmallClaimsAddNewDirections.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SmallClaimsCreditHire.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SmallClaimsPreferredTelephone.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1307

#1317 CIV-3663 Update template to add Judge recital text
  docker/docmosis/templates/CV-UNS-GAP-ENG-01072.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-1317

#1333 Fix p rs
  Jenkinsfile_CNP
  bin/add-roles.sh
  bin/variables/load-preview-environment-variables.sh
  build.gradle
  charts/civil-service/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-1333

#1322 SNI-1288: response deadline fix
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculatorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1322

#1312 add revisions to the fast track page in sdo
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/FastTrack.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/FastTrackMethod.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/FastTrackMethodTelephoneHearing.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/FastTrackMethodVideoConferenceHearing.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackAddNewDirections.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackCreditHire.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackDisclosureOfDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackPersonalInjury.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackPreferredEmail.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackRoadTrafficAccident.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackWitnessOfFact.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1312

#1340 CIV-4293
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1340

#1314 Align disposal hearing page with pdf - CIV3834
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/DisposalHearingBundleType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/DisposalHearingMethod.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/DisposalHearingMethodTelephoneHearing.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/DisposalHearingMethodVideoConferenceHearing.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/DisposalHearingAddNewDirections.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/DisposalHearingBundle.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/DisposalHearingDisclosureOfDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/DisposalHearingMedicalEvidence.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/DisposalHearingPreferredEmail.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/DisposalHearingSchedulesOfLoss.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/DisposalHearingWitnessOfFact.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1314

#1328 CIV-4138 All GA Judge Make an Order document should be stored in coll…
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1328

#1282 CIV-2693-2991 civil-administrator-basic and civil-administrator-stand…
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-1282

#1348 Feat/civ 2229
  docker/docmosis/templates/CV-UNS-ACK-ENG-01142.docx
  docker/docmosis/templates/CV-UNS-ACK-ENG-01146.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/aos/AcknowledgementOfClaimForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/aos/AcknowledgementOfClaimGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DocmosisTemplateDataUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PartyUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/aos/AcknowledgementOfClaimGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1348

#1364 Add backstage configuration file
  catalog-info.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-1364

#1311 CIV-3849 added fields for next hearing details
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/ScheduledHearing.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1311

#1361 CIV-3989: adding defendant name in email
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PartyUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1361

#1377 Fix master pipelines
  bin/variables/load-staging-environment-variables.sh
  charts/civil-service/values.aat.template.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-1377

#1368 FIX: CIV-4314 Fix polling event emitter in Preview
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/PollingEventEmitterHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1368
