Repository hmcts/civil-service, pull requests merged in 2022-07, with the labels that each got.

#1190 Fix/spec rpauat/1v2ss divergent rpa2
  src/main/java/uk/gov/hmcts/reform/civil/utils/PredicateUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/PredicateUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1190

#1194 fix for unrep by adding noc flag
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1194

#1184 Inform Agree Extension Date For Spec RPA
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1184

#1142 Templates ids updated to new templates with correct email Id and phon…
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, Testing, rel:civil-service-pr-1142

#1195 Feat/dj trial screens
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialBuildingDispute.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialClinicalNegligence.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialCreditHire.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialHearingDisclosureOfDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialHearingJudgesRecital.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialHearingNotes.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialHearingSchedulesOfLoss.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialHearingTrial.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialHearingWitnessOfFact.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialHousingDisrepair.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialPersonalInjury.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialRoadTrafficAccident.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1195

#1113 Feat/civ 2793 case management location
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/HearingSupportRequirementsDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/LocationRefDataService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/LocationRefDataServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1113

#1213 Feat/dj judge screens and event
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialBuildingDispute.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialClinicalNegligence.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialCreditHire.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialHearingDisclosureOfDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialHearingJudgesRecital.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialHearingNotes.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialHearingSchedulesOfLoss.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialHearingTrial.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialHearingWitnessOfFact.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialHousingDisrepair.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialPersonalInjury.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialRoadTrafficAccident.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/JudgementSum.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1213

#1217 2v1 RPA for spec
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1217

#1214 Civ 2814 get event token
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/CaseEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/CaseEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1214

#1221 changes required to deserialise deadline date
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimInfo.java
  src/main/java/uk/gov/hmcts/reform/civil/service/claimstore/ClaimStoreService.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/civil/service/claimstore/ClaimStoreServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1221

#1178 Civ 3011 retrieve defendant cases
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/CaseDefinitionConstants.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimInfo.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/claimstore/ClaimStoreService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/claimstore/ClaimStoreServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1178

#1223 Enable spec tests on master
  audit.json
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-1223

#1224 Case management location
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/CaseLocation.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1224

#1215 Feat/civ 128 damages
  docker/docmosis/templates/CV-UNS-DEC-ENG-09998.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-09999.docx
  docker/docmosis/templates/~$-UNS-DEC-ENG-09998.docx
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dj/DefaultJudgmentSDOOrderForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGenerator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1215

#1222 add rest of small claims
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/SmallClaimsTimeEstimate.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SmallClaimsDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SmallClaimsHearing.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SmallClaimsJudgementDeductionValue.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SmallClaimsJudgesRecital.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SmallClaimsNotes.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SmallClaimsPreferredEmail.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SmallClaimsPreferredTelephone.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SmallClaimsWitnessStatement.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1222

#1211 CIV-3329: 1v2 Same Solicitor Defendant
  src/main/java/uk/gov/hmcts/reform/civil/enums/MultiPartyScenario.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/TimelineUploadTypeSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/show/DefendantResponseShowTag.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1211

#1227 Civ3329/civ3281simple
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1227

#1192 Feat/civ 1325 notif sdo dj
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/StandardDirectionOrderDJClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/StandardDirectionOrderDJDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/DisposalHearingFinalDisposalHearing.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/StandardDirectionOrderDJClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/StandardDirectionOrderDJDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1192

#1185 Spec rpauat
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/enums/RespondentResponseTypeSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AdmitNotProceedConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AdmitNotProceedConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AdmitProceedConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AdmitProceedConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/DefendNotProceedConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/DefendNotProceedConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/DefendProceedConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/DefendProceedConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/EventHistory.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/EventType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/RoboticsCaseDataSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistorySequencer.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PartyUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PredicateUtils.java
  src/main/resources/application.yaml
  src/main/resources/schema/rpa-json-schema.json
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/PartyUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/PredicateUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/validation/DeadlineExtensionValidatorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1185

#1188 Feat/CIV-2649 update camunda changes for sending notification to solicitor one
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1188

#1237 Civ 2824 create api to submit response
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/dto/EventDto.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/events/CaseEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/events/EventSubmissionParams.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseDataContentConverter.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/CaseEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1237

#1240 Deft referrence not added on caseman RPA issue
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ClaimIssueCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1240

#1252 Suppress CVE-2022-31569
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-1252

#1212 CIV 2741
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1212

#1189 Feature/civ 3206
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1189

#1255 Add location name
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1255

#1263 fix/sni-1357
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseListSolicitorReferenceUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseListSolicitorReferenceUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1263

#1264 Update Chart.yaml
  charts/civil-service/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-1264

#1270 Include case type ID 10 for civil locations
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/LocationRefDataService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1270

#1248 Feature/civ 2631
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/CaseDetailsConverter.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/data/ExternalTaskInput.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/UpdateFromGACaseEventTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1248

#1271 sni-1357: update predicate to check if org registered for represented defendants
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddDefendantLitigationFriendCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1271

#1277 update registered templates
  docker/docmosis/templates/CV-UNS-DEC-ENG-01131.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-01132.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-09998.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-09999.docx
  docker/docmosis/templates/~$-UNS-DEC-ENG-09998.docx
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1277

#1257 Civ 916 calculate response deadline
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/responsedeadline/DeadlineExtensionCalculatorService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/responsedeadline/DeadlineExtensionCalculatorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1257

#1280 Added GS_profile role
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-1280

#1259 Feature/civ 2609
  docker/docmosis/templates/CV-UNS-GAP-ENG-01068.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01069.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01070.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01071.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01073.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-1259

#1283 Removed logging
  src/main/java/uk/gov/hmcts/reform/civil/service/stitching/CivilDocumentStitchingService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1283

#1238 Templates updated for DJ
  docker/docmosis/templates/CV-SPC-DEC-ENG-00910.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-00829.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-1238

#1279 Fixed stateflowengine for 1v2 same unregistered solicitor scenario
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1279

#1278 update add roles script
  bin/add-roles.sh
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseState.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1278

#1286 Remove logging case details
  src/main/java/uk/gov/hmcts/reform/civil/service/stitching/CivilDocumentStitchingService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1286

#1239 Feat/civ 3227
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/UnrepresentedOrUnregisteredScenario.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/enums/UnrepresentedOrUnregisteredScenarioTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1239

#1249 Added solicitor information for 002_litigant
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/OrgPolicyUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/OrgPolicyUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1249

#1262 Update dependencies
  build.gradle
  sendgrid-client/build.gradle
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/DispatchBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddCaseNoteCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddDefendantLitigationFriendCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResubmitClaimCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1262

#1228 get rid of 504 error when inputting non int
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/JudgementSum.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1228
