Repository hmcts/civil-service, pull requests merged in 2022-05, with the labels that each got.

#947 fix/Individual DoB format when sending to Docmosis was not correct
  src/main/java/uk/gov/hmcts/reform/civil/model/TimelineOfEventDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/SpecifiedParty.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-947

#918 Feat/civ 1669
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NotificationUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-918

#922 Feat/civ 943
  docker/docmosis/templates/CV-SPC-HRN-ENG-01024.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01027.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01028.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/PaymentMethod.java
  src/main/java/uk/gov/hmcts/reform/civil/model/TimelineOfEventDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimResponseFormForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-922

#950 Fixed 1v2 same sol dif response journey.
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-950

#952 fix/ timeline event date, FlowState
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimFormForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimResponseFormForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/TimelineEventDetailsDocmosis.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormForSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-952

#953 Feat: CIV-1229
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-953

#946 CIV-1745 | update callback for sameSolicitorSameResponse flag
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-946

#951 fix: fix RPA UAT defect in 1v2 same solicitor scenario- send only one…
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-951

#961 Defect fixes
  docker/docmosis/templates/CV-SPC-HRN-ENG-01024.docx
  src/main/java/uk/gov/hmcts/reform/civil/enums/RespondentResponseTypeSpecPaidStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-961

#963 Defect fixes
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-963

#967 Adding caseTypeId and jurisdiction in the stitching payload
  src/main/java/uk/gov/hmcts/reform/civil/service/stitching/CivilDocumentStitchingService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-967

#969 Adding the templates to Sharepoint
  docker/docmosis/templates/CV-SPC-HRN-ENG-01046.docx
  docker/docmosis/templates/CV-SPEC-CLM-ENG-01047.docx
  docker/docmosis/templates/CV-SPEC-CLM-ENG-01048.docx
  docker/docmosis/templates/CV-SPEC-CLM-ENG-01049.docx
  docker/docmosis/templates/CV-SPEC-CLM-ENG-01050.docx
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-969

#968 Defect 2394 - adding condition is divergent response
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-968

#970 Stitching api adding CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/BundleRequest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/stitching/CivilDocumentStitchingService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-970

#958 feat/CIV-2350
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-958

#971 Feat/civ 1231 bs lifted camunda tasks
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BreathingSpaceLiftedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/LiftBreathingSpaceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BreathingSpaceLiftedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/LiftBreathingSpaceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-971

#976 Fix/civ 2392
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Respondent1CourtOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Respondent1LoanCreditDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Respondent2CourtOrderDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Respondent2LoanCreditDetails.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-976

#975 CIV-2365: Incorrect info in default DQ form PDF
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-975

#978 CIV-2355 - sending email to respondent 1 if respondent 2 is null
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BreathingSpaceEnterNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineRespondentNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BreathingSpaceEnterNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/LocalDateTimeHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-978

#979 CIV-2389: Confirmation page respond time fix
  src/main/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculator.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-979

#988 Feat/civ 2355
  config/owasp/suppressions.xml
  docker/docmosis/templates/claimants DQ3.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dq/DirectionsQuestionnaireForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Applicant1DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/DQUtil.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent1DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/dq/Applicant1DQTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/dq/DQTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-988

#949 Feature/civ 2080
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/config/GeneralAppFeesConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAPbaDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-949

#993 About-to-start validation for INITIATE_GENERAL_APPLICATION: all the required respondents assigned
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-993

#981 Stitchingapi
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Value.java
  src/main/java/uk/gov/hmcts/reform/civil/service/stitching/CivilDocumentStitchingService.java
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-981

#999 Fix/civ 2514
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpec.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-999

#998 Feature/civ 2470 Pull Applicant name in GA
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationServiceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-998

#1000 [NO ISSUE] changed to allow full and part admission responses
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1000

#1002 CIV-1999 Do not check for second solicitor if both defendants have same legal representative
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1002

#1003 Adding 2v1 Flow for not to Proceed
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1003

#1004 Fix/civ 2390 small claim witnesses experts dq issue
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Applicant1DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Applicant2DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/ExpertDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent1DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent2DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1004

#1005 Adding 1v2 Flow for not to Proceed
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1005

#982 CIV-934 Add Respondent Sol GA Details Collection Model
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GADetailsRespondentSol.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-982

#997 Feature/civ 1585
  docker/docmosis/templates/DirectionOrder.docx
  docker/docmosis/templates/DismissalOrder.docx
  docker/docmosis/templates/GeneralOrder.docx
  docker/docmosis/templates/HearingOrder.docx
  docker/docmosis/templates/OrderWrittenReps.docx
  docker/docmosis/templates/OrderWrittenRepsConcurrent.docx
  docker/docmosis/templates/RequestforInformation.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-997

#1011 Change site
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-1011

#1009 CIV-2528: comment fix
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1009

#1015 Modified respondent sealed form template to display role in SOT and n…
  docker/docmosis/templates/CV-SPC-HRN-ENG-01027.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01028.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-1015

#1013 RPA UAT changes
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1013

#1027 Fix CVE-2022-29885
  bin/pull-latest-ccd-files.sh
  build.gradle
  charts/civil-service/values.preview.template.yaml
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-1027

#1031 Fixing CVEs - CVE-2022-22971, CVE-2022-22970
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-1031

#1018 CIV-2602: 2v1 vulnerability page fix
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1018

#1036 Feature/civ 2512
  docker/docmosis/templates/CV-UNS-GAP-ENG-01067.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01068.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01069.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01070.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01071.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01072.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01073.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-1036

#1019 Feat/civ 122 notif damages
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/InterimJudgmentClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/InterimJudgmentDefendantNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/InterimJudgmentClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/InterimJudgmentDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1019

#1012 Changed the content of email and respective test
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1012

#1040 Revert "Changed the content of email and respective test"
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1040

#1038 Use OCMC Sequence number
  docker/docmosis/templates/CV-SPC-CLM-ENG-01047.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01048.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01049.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01050.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01062.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01064.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01065.docx
  src/main/java/uk/gov/hmcts/reform/civil/repositories/SpecReferenceNumberRepository.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/resources/db/migration/V2022_05_27_1156__migrate-claim-reference-number.sql
Labels: ns:civil, prd:civil, enableHelm, rel:civil-service-pr-1038

#1044 Updating template docs with new seal
  docker/docmosis/templates/CV-SPC-CLM-ENG-01047.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01048.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01049.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01050.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01074.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01075.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01076.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01077.docx
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1044

#1056 NO-JIRA: fixed condition to send RPA notification for spec claims
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1056

#1062 Feat/civ 428 ocmc notifications dj
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDJFormHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJApplicantReceivedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJRespondentReceivedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDJFormHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJApplicantReceivedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJRespondentReceivedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1062

#954 Feat/civ 1879 LiP stay online
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-954
