Repository hmcts/civil-service, pull requests merged in 2023-10, with the labels that each got.

#3322 CIV-10044 updated date in free form, plus 7 days
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3322

#3298 CIV-8740 SetAside jugment
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RecordJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3298

#3297 CIV-9616 Defendant Latest Update Mediation Succesful PDF
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/MediationSuccessfulCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DocumentTypeMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/ManageDocumentType.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/MediationSuccessfulCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3297

#3220 CIV-10460 AdditionalPartyDetails added
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/AdditionalLipPartyDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CaseDataLiP.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3220

#3318 CIV-10846 ensure this handler is still working for lr claims even whe…
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3318

#3327 CIV-0000 - Ignore java-logging module
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-3327

#3263 CIV-10675 Update defendant1LIPAtClaimIssued / defendant2LIPAtClaimIssued
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3263

#3326 CIV-10046 - BUG ITHC - Document Security
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/DocumentController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendSDOToLiPDefendantCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/ClaimFormService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/DocumentDownloadService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendSDOToLiPDefendantCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/documentmanagement/DocumentDownloadServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3326

#3317 CIV-10699 bundles changes for doc refferred
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/BundleFileNameList.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3317

#3335 CIV-10142 10143 10144 GA judge doc template
  docker/docmosis/templates/CV-UNS-GAP-ENG-01067.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01068.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01072.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01073.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-3335

#3238 CIV-9011 DJ Lip vs LiP Submission
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJApplicantReceivedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJRespondentReceivedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJApplicantReceivedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3238

#3324 CIV-10808 cui claimant response
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3324

#3268 CIV-8923 rename of fields
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/UnavailabilityDatesUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3268

#3329 CIV-10858 fasttrack hearing fee
  src/main/java/uk/gov/hmcts/reform/fees/client/FeesClient.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/fees/client/FeeClientTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3329

#3306 CIV-10812 Judgement Online added non-prod api test
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-3306

#3339 CIV-3883 CIV-8942 CIV-3955 and CIV-8942
  src/main/java/uk/gov/hmcts/reform/civil/model/CourtLocation.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Applicant1DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Applicant2DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/RemoteHearing.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent1DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent2DQ.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3339

#3360 CIV-3883 CIV-8942 CIV-3955 and CIV-8942 Revert
  src/main/java/uk/gov/hmcts/reform/civil/model/CourtLocation.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Applicant1DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Applicant2DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/RemoteHearing.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent1DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent2DQ.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3360

#3342 CIV-10789 Documents Categories
  src/main/java/uk/gov/hmcts/reform/civil/enums/DocCategory.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/AssignCategoryId.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/AssignCategoryIdTests.java
Labels: ns:civil, prd:civil, Testing, enable_keep_helm, rel:civil-service-pr-3342

#3366 CIV-10789 Documents Categories - REVERT
  src/main/java/uk/gov/hmcts/reform/civil/enums/DocCategory.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/AssignCategoryId.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/AssignCategoryIdTests.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3366

#3346 CIV-10874 hearing notes tab population
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3346

#3302 CIV-10686 LR Claimant Intention Notification
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseAgreedSettledPartAdmitDefendantLipNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseNotAgreedRepaymentDefendantLipNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategy.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/OrganisationDetailsService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseAgreedSettledPartAdmitDefendantLipNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseNotAgreedRepaymentDefendantLipNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/OrganisationDetailsServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3302

#3362 CIV-8923 Revert Changes
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/UnavailabilityDatesUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/UnavailabilityDatesUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3362

#3299 CIV-10602 duplicate docs in casefile
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-3299

#3250 CIV-0000 SNI-4613 replace litigationFriends fullName to first + last name
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DocmosisTemplateDataUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PartyUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/DocmosisTemplateDataUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/PartyUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3250

#3245 CIV-10510 - Made note change to the four manual hearing documents
  docker/docmosis/templates/CV-UNS-HNO-ENG-01196.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01197.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01198.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01199.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-3245

#3320 CIV-10823 new PCQ role addded
  bin/add-roles.sh
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3320

#3307 CIV-10052 HWF Work Allocation
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CaseDataLiP.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/HelpWithFees.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/RespondentLiPResponse.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantClaimSubmittedTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-3307

#3330 CIV-10391 Respondent1 response deadline date update
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/RespondentResponseDeadlineCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/RespondentResponseDeadlineCallbackHandlerTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-3330

#3394 CIV-0000 - Ignore java-logging module and update Java chart
  build.gradle
  charts/civil-service/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3394

#3400 CIV-10753 location whitelisting 2
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3400

#3347 CIV-10551 Case flags LR visibility
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeOfServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeOfServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3347

#3343 CIV-10566 Confirmation screen Not Suitable SDO
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotSuitableSDOCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotSuitableSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3343

#3395 CIV-10963 fix bug wih dashboard status. make sure that we have a feat…
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3395

#3403 CIV-11089 - Legal Rep ITP - MEDIATION CSV Party Type update
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLrvLipServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3403

#3325 CIV-9406 Trial Arrangements: Defendant LiP – Generate Trial Arrangements PDF
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/Application.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateTrialReadyFormHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadinessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/trialready/TrialReadyFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/UserRoleCaching.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/UserRoleUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateTrialReadyFormHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadinessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/trialready/TrialReadyFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/UserRoleCachingTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3325

#3219 CIV-6614 toggle reading from yml file
  build.gradle
  charts/civil-service/Chart.yaml
  charts/civil-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/civil/config/ToggleConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3219

#3441 CIV-0000 CVE-2023-5072 suppressed and CVE-2023-44487 fixed
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3441

#3372 CIV-10908 Defendant Request More Time, Claimant LIP Notification
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ResponseDeadlineExtensionClaimantNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ResponseDeadlineExtensionClaimantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3372

#3446 CIV-0000 reverting cache from master
  src/main/java/uk/gov/hmcts/reform/civil/Application.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/UserRoleCaching.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3446

#3447 CIV-9406 reverting the pr
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateTrialReadyFormHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadinessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/trialready/TrialReadyFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/UserRoleUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateTrialReadyFormHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadinessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/trialready/TrialReadyFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/UserRoleCachingTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3447

#3457 CIV-11182 Impact of reversing user role caching
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateTrialReadyFormHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadinessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/trialready/TrialReadyFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/UserRoleUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateTrialReadyFormHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadinessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/trialready/TrialReadyFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/UserRoleUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3457

#3383 CIV-10561 Transfer case online
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3383

#3408 CIV-10952 150 character limit default validation on Transfer Case online free text field
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotSuitableSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/transferonlinecase/TransferCaseDetails.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotSuitableSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3408

#3390 CIV-0000 Prod LIP cases do not send event if email id is null
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3390

#3376 CIV-8941 - added In Mediation flow in claimant response journey
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedLiPRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallBackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedLiPRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3376

#3373 CIV-8926 repayment calculator
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/model/PartnerAndDependentsLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Party.java
  src/main/java/uk/gov/hmcts/reform/civil/model/account/AccountSimple.java
  src/main/java/uk/gov/hmcts/reform/civil/model/allowance/DisabilityAllowance.java
  src/main/java/uk/gov/hmcts/reform/civil/model/allowance/DisabilityParam.java
  src/main/java/uk/gov/hmcts/reform/civil/model/allowance/PensionerAllowance.java
  src/main/java/uk/gov/hmcts/reform/civil/model/allowance/PersonalAllowance.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/dto/RepaymentDecisionType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/AccountSimpleTemplateData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/repaymentplan/ClaimantProposedPlan.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/repaymentplan/AllowanceCalculator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/repaymentplan/ExpenditureCalculator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/repaymentplan/IncomeCalculator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/repaymentplan/RepaymentPlanDecisionCalculator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/repaymentplan/RepaymentPlanDecisionService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/ElementUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PaymentFrequencyCalculator.java
  src/test/java/uk/gov/hmcts/reform/civil/model/allowance/DisabilityAllowanceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/allowance/PensionerAllowanceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/allowance/PersonalAllowanceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/dto/RepaymentDecisionTypeTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/repaymentplan/ClaimantProposedPlanTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizen/repaymentplan/AllowanceCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizen/repaymentplan/ExpenditureCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizen/repaymentplan/IncomeCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizen/repaymentplan/RepaymentPlanDecisionCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/PaymentFrequencyCalculatorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3373

#3294 CIV-10519 claimant dq pdf
  docker/docmosis/templates/CV-SPC-HRN-ENG-LIP-01283.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/Party.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dq/DirectionsQuestionnaireForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dq/HearingLipSupportRequirements.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DQLipClaimantFormMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DQLipDefendantFormMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DQLipFormMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DQLipFormMapperFactory.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionQuestionnaireLipGeneratorFactory.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionQuestionnaireLipResponseGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireLipGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DQLipClaimantFormMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DQLipDefendantFormMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DQLipFormMapperFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionQuestionnaireLipGeneratorFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionQuestionnaireLipResponseGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3294

#3490 CIV-0000 Fixed CUI r2 toggle
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3490

#3377 CIV-10624 update keyVaults secrets
  Jenkinsfile_CNP
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3377

#3422 CIV-10563 Screen - Confirmation page of transfer
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3422

#3374 CIV-9023 Claimant Intent: CCJ after Part Admit or Full Admit Pay Immediately
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CCJPaymentDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudgementService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3374

#3497 CIV-10624 remove secrets form values.yaml
  charts/civil-service/Chart.yaml
  charts/civil-service/values.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3497

#3450 CIV-10336 SDO EA email notification
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractCreateSDORespondentLRNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractCreateSDORespondentNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDOApplicantsNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent1LRNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent1LiPNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent2LRNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent2LiPNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDOApplicantsNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent1NotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent2NotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3450
