Repository hmcts/civil-service, pull requests merged in 2023-02, with the labels that each got.

#2149 CIV-6660: update SDO docmosis templates
  docker/docmosis/templates/CV-DAM-STD-ENG-00002-HNL.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00003-HNL.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00004.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01225.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01227.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01235.docx
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2149

#2155 Feat/civ 2493 active
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
Labels: ns:civil, prd:civil, enableHelm, rel:civil-service-pr-2155

#2156 Fix preferred location
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2156

#2150 CIV-6658: DJ Docmosis Updates for Trial and Disposal
  docker/docmosis/templates/CV-UNS-DEC-ENG-01133-HNL.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-01200.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-01228.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-01229.docx
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2150

#2197 CIV-6857 Add Hearing Notes to Hearings Tab
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/HearingNotes.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HearingUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HearingUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2197

#2177 Feat/CIV-6898
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaCaseHandedOfflineConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2177

#2239 CIV-7006 registration information for judgments
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/RegistrationInformation.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2239

#2118 CIV-5996: Create Idam Fields
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
Labels: ns:civil, prd:civil, enableHelm, add-or-update, rel:civil-service-pr-2118

#2247 CIV-7109 - Update audit.json
  audit.json
Labels: ns:civil, prd:civil, rel:civil-service-pr-2247

#2248 CIV-7109 - Fix security check
  audit.json
Labels: ns:civil, prd:civil, rel:civil-service-pr-2248

#2243 CIV-7078 remove dependabot and delegate its tasks to renovate
  .dependabot/config.yml
  .github/dependabot.yml
  .github/renovate.json
  Dockerfile
  renovate.json
Labels: ns:civil, prd:civil, rel:civil-service-pr-2243

#2024 CIV-5052 Hearing fee paid journey (also CIV-2727, CIV-2736, CIV-4480)
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/ListingOrRelisting.java
  src/main/java/uk/gov/hmcts/reform/civil/event/DecisionOutcomeEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/event/TrialReadyCheckEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/event/TrialReadyNotificationEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DecisionOutcomeCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadyCheckCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadyNotificationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/DecisionOutcomeEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/TrialReadyCheckEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/TrialReadyNotificationEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/DecisionOutcomeHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/TrialReadyCheckHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/TrialReadyNotificationCheckHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/DecisionOutcomeSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/TrialReadyCheckSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/TrialReadyNotificationSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/DecisionOutcomeExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/TrialReadyCheckExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/TrialReadyNotificationExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PartyUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DecisionOutcomeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadyCheckCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadyNotificationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/DecisionOutcomeEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/TrialReadyCheckEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/DecisionOutcomeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TrialReadyCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TrialReadyNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/DecisionOutcomeSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/TrialReadyCheckSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/TrialReadyNotificationSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/PartyUtilsTest.java
Labels: ns:civil, prd:civil, enableHelm, rel:civil-service-pr-2024

#2235 Civ 6796
  docker/docmosis/templates/CV-UNS-GAP-ENG-01074.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/DocumentType.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2235

#2223 CIV-7098 upgrade to Java 17
  Dockerfile
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2223

#2199 CIV-6946 document uneditable
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/EvidenceUploadDisclosure.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/UploadDocumentOnly.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2199

#2145 Feat/civ 6477
  bin/utils/launchdarkly-flags.json
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserForSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ClaimIssueForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ProceedOfflineForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ValidateFeeForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AcknowledgeClaimApplicantForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BreathingSpaceLiftedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineForSpecApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantPartyForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentPartyForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/FailedPaymentApplicantForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResubmitClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ClaimIssueForSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ClaimIssueForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ProceedOfflineForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ValidateFeeForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AcknowledgementClaimApplicantForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantPartyForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentPartyForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/FailedPaymentApplicantForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnContinuousFeedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateForSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResubmitClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2145

#2092 CIV-6717 Calculate allocated track for hearing spec
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2092

#2237 CIV-6662 Adding Invalid NoC Case States
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoticeOfChangeRequestCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoticeOfChangeRequestCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2237

#2259 Parallel run on api test
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-2259

#2264 Revert "CIV-7098 upgrade to Java 17"
  Dockerfile
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2264

#2129 CIV-6800 Update hearing templates
  docker/docmosis/templates/CV-UNS-HNO-ENG-01196.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01197.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01198.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01199.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-2129

#2120 CIV-5487 Case file view category
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/Document.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadJudgeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandlerTest.java
Labels: ns:civil, prd:civil, stale, add-or-update, rel:civil-service-pr-2120

#2222 CIV-7027 Remove duplicate Field
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationDefendantOfHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationDefendantOfHearingHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2222

#2196 CIV-6903 NoC UAT bugs
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NocNotificationUtils.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2196

#2265 CIV-7110 Modify enableHelm label to pr-values: enableHelm to save some resource quota
  Jenkinsfile_CNP
  charts/civil-service/values.enableHelm.template.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2265

#2260 CIV-6796 revert
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2260

#2269 Fix for states from SDO flow
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2269

#2170 Spike/civ 6434 assign case to defendant
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/AssignCaseSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/AssignCaseService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/AssignCaseServiceTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2170, pr-values: enableHelm

#2275 CIV-7098 - Add App Insights Connection String
  infrastructure/tf-app-insights.tf
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2275

#2278 CIV-7109 Update audit.json
  audit.json
Labels: ns:civil, prd:civil, rel:civil-service-pr-2278

#2274 CIV-5433 - Add codeowners and PR title validation
  .github/CODEOWNERS
  .github/workflows/main.yml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2274

#2279 CIV-0000 Helm upgrade (not a real ticket number)
  charts/civil-service/Chart.yaml
  charts/civil-service/values.aat.template.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2279

#2286 CIV-0000 Add autoscaling config for preview
  charts/civil-service/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2286

#2289 CIV-7169 Renovate weekly schedule and concurrency limit
  .github/renovate.json
Labels: ns:civil, prd:civil, rel:civil-service-pr-2289

#2270 CIV-6321 Stateflow unit tests for SPEC - claim fee payment journey
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilderSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2270

#2093 CIV-6536 Legal Rep ITP - CCJ to Formalise payment Submit - Notifications
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseAgreedRepaymentRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseAgreedRepaymentRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/PartyBuilder.java
Labels: ns:civil, prd:civil, enableHelm, rel:civil-service-pr-2093

#2294 CIV-7248 judge title and name shouldn't appear in TOC
  docker/docmosis/templates/CV-DAM-STD-ENG-00001.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00002.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00003.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-2294

#2200 CIV-6000 - Legal Rep ITP changes for CCJ journey.
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AdmitNotProceedConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AdmitNotProceedConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AdmitProceedConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AdmitProceedConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/JudgmentSubmittedConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/JudgmentSubmittedConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToResponseConfirmationHeaderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToResponseConfirmationTextGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2200

#2290 CIV-7204 - RPA flow for taken offline for DJ
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2290

#2288 CIV-7109 Nightly build changes
  Jenkinsfile_nightly
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-2288

#2271 CIV-6994 removed PREPARE_FOR_HEARING_CONDUCT_HEARING event, case need triggers…
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2271

#2238 feat/civ-6794 copy respondent 2 details when 1v2 same solicitor
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateForSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateForSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilderSpec.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2238

#2296 CIV-7204 - Fix/take case offline SDO DJ
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2296

#2181 CIV-5801 BundleEndpoint
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/client/BundleApiClient.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/EvidenceUploadFiles.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/BundleRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Bundle.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/Bundle.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundleCreateRequest.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundleCreateResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundleData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundleDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundlingCaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundlingCaseDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundlingRequestDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/DocumentLink.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/ServedDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/UploadDocumentOnly.java
  src/main/java/uk/gov/hmcts/reform/civil/service/bundle/BundleCreationService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/ElementUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/BundleRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/bundle/BundleCreationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2181, destroy

#2221 CIV-5514 Remove HNL SDO flag
  docker/docmosis/templates/CV-DAM-STD-ENG-00001.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00002.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00003.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-01132.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-01133.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2221, destroy

#2326 CIV-6720 Allowing ADD_CASE_NOTE and AMEND_PARTY_DETAILS after Case is taken of…
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2326

#2130 CIV-3401 Access profiles for case flags
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-2130

#2329 initial commit for bundle tab changes
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/EvidenceUploadFiles.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2329

#2272 CIV-7027 modify time format hearing notifications
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationDefendantOfHearingHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationDefendantOfHearingHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2272

#2315 CIV-7014 WaysTo Pay Refactoring
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAPbaDetails.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2315

#1979 CIV-6391 Prevent duplicate Service Request creation in PBAv3
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestAPIHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestAPIHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentsServiceTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-1979

#2324 CIV-7221 Commit message conventions
  .git-config/hooks/commit-msg
  README.md
Labels: ns:civil, prd:civil, destroy, rel:civil-service-pr-2324

#2340 CIV-7321 NoC scenarios fixes
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ChangeOfRepresentationNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NocNotificationUtils.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2340

#2341 CIV-7249 Updated new template for SDO DJ
  docker/docmosis/templates/CV-UNS-DEC-ENG-01228.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-2341

#2343 CIV-0000 - Suppressing CVE-2022-45688
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2343

#2354 CIV-000 Changed Disposal hearing for SDO DJ HNL template
  bin/utils/process-definition.sh
  docker/docmosis/templates/CV-UNS-DEC-ENG-DJ-SDO-DISPOSAL.docx
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2354
