Repository hmcts/civil-service, pull requests merged in 2023-05, with the labels that each got.

#2655 CIV-TASK solve cve
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-2655

#2649 CIV-8117 Settle or Discontinue by consent
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2649

#2644 CIV-8006 remove exclusion for Spec
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-2644

#2656 CIV-8005 Sonarqube exclusions removed
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-2656

#2619 CIV-7904 Add Small Claim checks to Trial Ready search services + event
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadinessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/TrialReadyCheckSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/TrialReadyNotificationSearchService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/TrialReadyCheckSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/TrialReadyNotificationSearchServiceTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2619

#2661 CIV-0000 - Update screen flow object
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/ScreenFlowMapper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2661

#2695 CIV-0000 increasing the deadline of cve and new commit to fix master
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2695

#2668 CIV-3772 consent order
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2668

#2478 CIV-7497 notification to LiP defendant
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractCreateSDORespondentLRNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractCreateSDORespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractCreateSDORespondentNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent1LRNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent1LiPNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent1NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent2LRNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent2LiPNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent2NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent1NotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent2NotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2478

#2645 CIV-6483 refactor transition state flow
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2645

#2660 CIV-7357 change state to CASE_STAYED when mediation is successful
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/MediationSuccessfulCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/MediationSuccessfulCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2660

#2665 CIV-8316 Casefile view for GA Evidence document
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationServiceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2665

#2677 CIV-6299 upload translation document process
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/CaseDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadTranslatedDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategy.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentStrategy.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentStrategyFactory.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentV1Strategy.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SystemGeneratedDocumentService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadTranslatedDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategyTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SystemGeneratedDocumentServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2677

#2609 CIV-7926 specified case file view
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDJFormHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/AssignCategoryId.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDJFormHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/AssignCategoryIdTests.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2609

#2554 CIV-7779 hearing and trial ready updates
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandlerTest.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2554

#2673 CIV-8237 Add models for getUnNotifiedHearing and getPartiesNotified
  commons-civil/src/main/java/uk/gov/hmcts/reform/hmc/client/HearingsApi.java
  commons-civil/src/main/java/uk/gov/hmcts/reform/hmc/model/unnotifiedhearings/PartiesNotifiedResponse.java
  commons-civil/src/main/java/uk/gov/hmcts/reform/hmc/model/unnotifiedhearings/PartiesNotifiedResponses.java
  commons-civil/src/main/java/uk/gov/hmcts/reform/hmc/model/unnotifiedhearings/UnNotifiedHearingResponse.java
  commons-civil/src/main/java/uk/gov/hmcts/reform/hmc/service/HearingsService.java
  commons-civil/src/test/java/uk/gov/hmcts/reform/hmc/service/HearingsServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2673

#2629 CIV-7584 and CIV-7976 Remove rpa toggles for spec and unspec
  bin/utils/launchdarkly-flag-lrspec.json
  bin/utils/launchdarkly-flags.json
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaContinuousFeedConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/resources/application-dev.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineUnspecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2629

#2672 CIV-7790 confirmation default judgement header
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/JudgmentSubmittedConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/JudgmentSubmittedConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/ProposePaymentPlanConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/ProposePaymentPlanConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/RejectWithMediationConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudgementService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2672

#2670 CIV-7153 - Mediation Agreement Notifications
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantDefendantAgreedMediationApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantDefendantAgreedMediationRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantDefendantAgreedMediationApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantDefendantAgreedMediationRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2670

#2685 CIV-7151 ITP Part Admit States Paid Claimant Agrees Notification
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseAgreedSettledPartAdmitDefendantLipNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseAgreedSettledPartAdmitDefendantLipNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2685

#2701 CIV-7929 Added GA template for consent order
  docker/docmosis/templates/CV-UNS-GAP-ENG-01078.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-2701

#2653 CIV-7139 Fast Track DQ screens
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2653

#2680 CIV-8210 Disclosure of Document (rely at trial) Date to be auto set to 8 weeks
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2680

#2688 CIV-8347 HMC Payload Amendments
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/PartyType.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/CaseFlagsToHearingValueMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/IndividualDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/PartyDetailsModel.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsToHearingValueMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2688

#2659 CIV-8303 Add spec unit test
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ClaimIssueForSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ProceedOfflineForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ValidateFeeForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AcknowledgeClaimApplicantForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineForSpecApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantPartyForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentPartyForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/FailedPaymentApplicantForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateReferToJudgeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateForSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/LiftBreathingSpaceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2659

#2698 CIV-8121 Welsh and English Deadline Extension Notification
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ResponseDeadlineExtensionDefendantNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ResponseDeadlineExtensionDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2698

#2694 CIV-8136 time stamp case note
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadJudgeHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/DocumentAndNote.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documents/DocumentWithName.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadJudgeHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2694

#2696 CIV-6295 2 pay immediately
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AdmitProceedConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/PayImmidietelyConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/PayImmidietelyHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/PartialAdmitPayImmediatelyConfirmationText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/RespondToClaimAdmitPartLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToClaimConfirmationTextSpecGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToResponseConfirmationHeaderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToResponseConfirmationTextGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculatorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2696

#2721 CIV-8431 ga doc update
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2721

#2632 CIV-4525 Notification events for issued order.
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GenerateOrderNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GenerateOrderNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2632

#2719 CIV-8509 Move fields to CaseDataParent
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2719

#2507 CIV-7689 Unavailability dates (2/2)
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Party.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/DQUtil.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/UnavailabilityDatesUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/dq/Applicant1DQTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/UnavailabilityDatesUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2507

#2730 CIV-8535 Add Spec Tests
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EnterBreathingSpaceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorForSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2730

#2476 CIV-5229 PBAv3 Issue Claim Screen updates
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2476

#2736 CIV-8431 fix merge error
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2736

#2731 CIV-6295 fix spelling issue
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/PayImmediatelyConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/PayImmediatelyHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToResponseConfirmationHeaderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToResponseConfirmationTextGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2731

#2742 CIV-6295 add ofNullable check
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/PayImmediatelyConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/PartialAdmitPayImmediatelyConfirmationText.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2742

#2712 CIV-8123 - Welsh notification - Claimant response - Payment plan
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseAgreedRepaymentRespondentNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseAgreedRepaymentRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2712

#2744 CIV-7927 Map keys in interpreter language
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/CaseFlagsToHearingValueMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagPredicates.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsToHearingValueMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2744

#2662 CIV-8038 Changing caseEvent to Category (1/4)
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2662

#2749 CIV-0000 changed vulnerability details from array to string
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/CaseFlagsToHearingValueMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/IndividualDetailsModel.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsToHearingValueMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2749

#2746 DTSPO-13810 reschedule jenkins nightly builds
  Jenkinsfile_nightly
Labels: ns:civil, prd:civil, rel:civil-service-pr-2746

#2762 CIV-0000 pipeline check 25May
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-service-pr-2762

#2723 CIV-7931 Docmosis Output when Consent Order Approved
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  docker/docmosis/templates/CV-UNS-GAP-ENG-01078.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2723

#2745 CIV-8604 Change the date format to fix docmosis issue
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingFormGenerator.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2745

#2766 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:civil, prd:civil, rel:civil-service-pr-2766

#2759 CIV-0000 adding null checks
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2759

#2727 CIV-7152 Notifications for DJ
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJRespondentReceivedNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJRespondentReceivedNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2727

#2752 CIV-5226 fees
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2752

#2765 CIV-7995 Topic subscription config
  infrastructure/service-bus.tf
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2765

#2774 CIV-8640 Map party ID with org ID
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
Labels: ns:civil, prd:civil, destroy, rel:civil-service-pr-2774

#2780 CIV-0000 Move tests to prod n non prod
  build.gradle
  charts/civil-service/values.aat.template.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2780

#2781 CIV-0000 - Fix related parties in payload
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2781

#2782 CIV-8908 Update keyword hearing fee
  commons-civil/src/main/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/civil/config/HearingFeeConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingFeesService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingFeesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2782

#2717 CIV-8399 full defence in mediation
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2717
