Repository hmcts/civil-service, pull requests merged in 2023-11, with the labels that each got.

#3420 CIV-10809 Claimant Dashboard Status - Default Judgement
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3420

#3169 CIV-10180 The word hearing removed or changed to trial
  docker/docmosis/templates/CV-UNS-HRN-ENG-01247-10180.docx
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3169

#3508 CIV-6393 breathing space lifted recreated
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BreathingSpaceLiftedLIPNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/LiftBreathingSpaceLipCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BreathingSpaceLiftedLIPNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/LiftBreathingSpaceLipCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3508

#3513 CIV-10624 update jenkinsfile nightly secrets
  Jenkinsfile_nightly
Labels: ns:civil, prd:civil, rel:civil-service-pr-3513

#3498 CIV-11307 Financial details are missing
  docker/docmosis/templates/CV-SPC-CLM-ENG-01065-LIP.docx
  src/main/java/uk/gov/hmcts/reform/civil/model/account/AccountSimple.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/AccountSimpleTemplateData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/DebtTemplateData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/ReasonMoneyTemplateData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimLipResponseForm.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3498

#3412 CIV-8291 Manual Determination
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Party.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/ResponseOneVOneShowTagService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/PartyTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3412

#3484 CIV-10437 spec and unspec can add notes to offline cases
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3484

#3523 CIV-10257 10287_CIV-10168 Adding property for email
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3523

#3411 CIV-10986 case not proceeding to judicial referral
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialReferralUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/JudicialReferralUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3411

#3528 CIV-11414 - Updated trial ready WA search services
  src/main/java/uk/gov/hmcts/reform/civil/service/search/TrialReadyCheckSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/TrialReadyNotificationSearchService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/TrialReadyCheckSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/TrialReadyNotificationSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3528

#3535 CIV-0000 Nightly dev
  Jenkinsfile_nightly
Labels: ns:civil, prd:civil, rel:civil-service-pr-3535

#3530 CIV-9528 Update LR Pay Immediately screen bug fix
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/ResponseRepaymentDetailsForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimLipResponseForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimLipResponseFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimLipResponseFormGeneratorTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3530

#3510 CIV-11367 Correct court location for LIPVLIP
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/UpdateCaseManagementDetailsService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CourtLocationUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3510

#3285 CIV-9993 Hearing party MCI
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/UpdateDetailsForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/UpdatePartyDetailsForm.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/ManageContactInformationUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/ManageContactInformationUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3285

#3554 CIV-11514 - Full admit pay immediately 5 working days calculation(EXUI)
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/dto/ExtendedDeadlineDto.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/ResponseRepaymentDetailsForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/responsedeadline/DeadlineExtensionCalculatorService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimLipResponseFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/responsedeadline/DeadlineExtensionCalculatorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimLipResponseFormGeneratorTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3554

#3547 CIV-8923 specAoSApplicantCorrespondenceAddressdetails is being updated when defendant updates address
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/UnavailabilityDatesUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3547

#3568 CIV-8923 specAoSApplicantCorrespondenceAddressdetails is being updated when defendant updates address
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3568

#3570 CIV-8923 revert
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/UnavailabilityDatesUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil

#3483 CIV-11150 flight delay screen
  src/main/java/uk/gov/hmcts/reform/civil/enums/ClaimType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3483

#3524 CIV-11158 Save hearing location in case data
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3524

#3544 CIV-11381 hearing method section missing from order documents
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3544

#3574 CIV-9422 removing location name from SDO DJ
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3574

#3582 Feat/civ 9025 notification ccj
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantLipRequestJudgementByAdmissionApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantLipRequestJudgementByAdmissionRespondentNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantLipRequestJudgementByAdmissionApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantLipRequestJudgementByAdmissionRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3582

#3584 Feat/civ 9112 rpa mediation lip
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3584

#3224 CIV-10124 Update internal and public case name
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseNameUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseNameUtilsTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3224

#3519 CIV-10792 added handling for respondent 2 email, null safe
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanRespondentNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3519

#3296 CIV-10382 Case flags updates for new experts/witnesses
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/ManageContactInformationUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PartyUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsHearingsUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsInitialiserTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/ManageContactInformationUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3296

#3577 Civ 8938 claimant intent submit function change state to judicial referral
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3577

#3592 CIV-10382 Revert "Revert "CIV-10382 Case flags updates for new experts/witnesses""
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/ManageContactInformationUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PartyUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsHearingsUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsInitialiserTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/ManageContactInformationUtilsTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3592

#3605 CIV-000 CVE-2023-36052 fix
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3605

#3606 CIV-0000 - point ccdBranch back to master
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-service-pr-3606

#3421 CIV-8939 - Claimant Intent: Submit Function - Change state to ALL_FINAL_ORDERS_ISSUED
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/ClaimantLiPResponse.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3421

#3545 CIV-11073 Notify claimant HWF yes
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantClaimSubmitted.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantClaimSubmittedTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3545

#3349 CIV-10370 Add SDO claimant lip Notification
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDOApplicantsNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDOApplicantsNotificationHandlerTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3349

#3607 CIV-11582 pointing to already created DB15
  infrastructure/tf-kv-secrets-cmc.tf
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-3607

#3620 CIV-10543 civil service password creation
  infrastructure/tf-kv-secrets-cmc.tf
Labels: ns:civil, prd:civil, destroy, rel:civil-service-pr-3620

#3515 CIV-9065 PR to whitelist only the download document endpoint
  src/main/java/uk/gov/hmcts/reform/civil/config/SecurityConfiguration.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3515

#3614 CIV-10810 NoC/CoS toggle cleanup - again
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaCaseHandedOfflineConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/UnrepresentedOrUnregisteredScenario.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/enums/UnrepresentedOrUnregisteredScenarioTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilderSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilderUnspec.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineUnspecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3614

#3470 CIV-10568 Transfer WA task for GA
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/TriggerGenAppLocationUpdateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/TriggerGenAppLocationUpdateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3470

#3501 CIV-8147 Sign settlement agreement: Submit Function Back end
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefendantSignSettlementAgreementCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CaseDataLiP.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefendantSignSettlementAgreementCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3501

#3594 CIV-8324 Adding the new option to PersonalInjuryType. Occurs a error …
  src/main/java/uk/gov/hmcts/reform/civil/enums/PersonalInjuryType.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3594

#3618 CIV-11422 Make MCI event available for caseworkers in awaiting defendant acknowledgement state
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3618

#3608 CIV-11363 add option to retrigger cases
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/RetriggerCasesEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/RetriggerCasesTaskListener.java
  src/main/resources/caseIdForRetrigger.txt
Labels: ns:civil, prd:civil, destroy, rel:civil-service-pr-3608

#3538 CIV-11159 Update Hearing Notices
  docker/docmosis/templates/CV-UNS-HNO-ENG-01200.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01201.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01202.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01203.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01204.docx
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3538

#3520 CIV-8155 Enter flight details screen
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/AirlineEpimsId.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/FlightDelayDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/AirlineEpimsDataLoader.java
  src/main/java/uk/gov/hmcts/reform/civil/service/AirlineEpimsService.java
  src/main/resources/airline_ePimsID_csv/airline_ePimsID.csv
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/AirlineEpimsDataLoaderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/AirlineEpimsServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3520

#3418 CIV-8785 -Claimant Intent County Court Judgment requested
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/ChooseHowToProceed.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/ClaimantLiPResponse.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-3418

#3617 CIV-11647 Claimant list matcher
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
Labels: ns:civil, prd:civil, destroy, rel:civil-service-pr-3617

#3551 CIV-9927 Free form order uplift
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3551

#3633 CIV-11363 add trigger event
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/RetriggerCasesEventHandler.java
  src/main/resources/caseIdForRetrigger.txt
  src/test/java/uk/gov/hmcts/reform/civil/handler/RetriggerCasesEventHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3633

#3529 CIV-8241 Manual Determination - Lip Notifications
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseNotAgreedRepaymentRespondentNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseNotAgreedRepaymentRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-3529

#3550 CIV-10727 Assisted order uplift
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3550

#3646 CIV-11363 add caseId to caseIdForRetrigger.txt
  src/main/resources/caseIdForRetrigger.txt
Labels: ns:civil, prd:civil, rel:civil-service-pr-3646

#3616 CIV-11695 - Update ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
Labels: ns:civil, prd:civil, destroy, rel:civil-service-pr-3616

#3660 CIV-11363 Add caseId
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/resources/caseIdForRetrigger.txt
Labels: ns:civil, prd:civil, rel:civil-service-pr-3660

#3662 CIV-0000 remove CUI exclusion
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-service-pr-3662
