Repository hmcts/civil-service, pull requests merged in 2023-06, with the labels that each got.

#2684 CIV-8023 Order cases by created date
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimInfo.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/claimstore/ClaimStoreService.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/claimstore/ClaimStoreServiceTest.java
Labels: ns:civil, prd:civil, destroy, rel:civil-service-pr-2684

#2724 CIV-6787 noc hearing fee
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingFeeDueAfterNocNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingFeeDueAfterNocNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2724

#2652 CIV-8038 Clean up AssignCaseToUserForSpecHandler (4/4)
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserHandlerTest.java
Labels: ns:civil, prd:civil, destroy, rel:civil-service-pr-2652

#2735 CIV-8254 Unit Tests coverage and Refactor
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2735

#2747 CIV-8568 Code fix for NotSuitable_SDO camunda error
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2747

#2767 CIV-8130 Bilingual Notification
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseAgreedSettledPartAdmitDefendantLipNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseAgreedSettledPartAdmitDefendantLipNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2767

#2741 CIV-7358 - Mediation successful notifications
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/MediationSuccessfulCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/OrganisationDetailsService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2741

#2760 CIV-8638 added missing lists for evidence upload
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2760

#2790 CIV-0000 Remove log statement
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpec.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2790

#2738 CIV-7606 - Welsh - Bilingual language preference - Submit Notifications
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadTranslatedDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategy.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2738

#2796 CIV-8460 Judge receiving a callback error SDO
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2796

#2785 CIV-0000 Updating renovate config
  .github/renovate.json
Labels: ns:civil, prd:civil, rel:civil-service-pr-2785

#2768 CIV-8131 not suitable for sdo comment
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotSuitableSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/OtherDetails.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotSuitableSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2768

#2616 SNI-3442 Incorrect dates for SDO journey
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculatorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2616

#2675 CIV-7818 Removing email validation for RPA
  src/main/resources/schema/rpa-json-schema.json
Labels: ns:civil, prd:civil, rel:civil-service-pr-2675

#2710 CIV-7529 Manual Determination RPA
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2710

#2692 CIV-8124 manual determination welsh
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseNotAgreedRepaymentDefendantLipNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseNotAgreedRepaymentDefendantLipNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2692

#2808 CIV-0000 Update AddressLinesMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/AddressLinesMapper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2808

#2795 CIV-7995 Add hmc secret to civil vault
  charts/civil-service/Chart.yaml
  charts/civil-service/values.yaml
  infrastructure/main.tf
  infrastructure/service-bus.tf
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2795

#2700 CIV-6395 rpa dj lip
  charts/civil-service/Chart.yaml
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
  charts/civil-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/robotics/RoboticsEmailConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyDefaultJudgmentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/dto/RoboticsCaseDataDTO.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/params/RoboticsEmailParams.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyDefaultJudgmentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2700

#2754 CIV-8129 Bilingual SDO Notification
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractCreateSDORespondentNotificationSender.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent1NotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2754

#2820 CIV-7995 Add more config
  charts/civil-service/Chart.yaml
  charts/civil-service/values.yaml
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2820

#2800 CIV-8122 - Defendant Submission Notification - Welsh
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantLipResponseRespondentNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantLipResponseRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2800

#2815 CIV-7575 hardcode free GA fee
  src/main/java/uk/gov/hmcts/reform/civil/config/GeneralAppFeesConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2815

#2784 CIV-8125 Mediation Yes Welsh Notification
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantDefendantAgreedMediationRespondentNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantDefendantAgreedMediationRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2784

#2787 CIV-8639 - Any Document Upload API endpoint
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/DocumentManagementService.java
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/SecuredDocumentManagementService.java
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/UnsecuredDocumentManagementService.java
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/UploadedDocument.java
  commons-civil/src/test/java/uk/gov/hmcts/reform/civil/documentmanagement/SecuredDocumentManagementServiceTest.java
  commons-civil/src/test/java/uk/gov/hmcts/reform/civil/documentmanagement/UnsecuredDocumentManagementServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/DocumentControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/advice/ControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/DocumentController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/ClaimFormService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2787

#2777 CIV-8440 added applicant 2 data in document
  docker/docmosis/templates/CV-SPC-HRN-ENG-01280.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01281.docx
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2777

#2788 CIV-6295 fix potential null pointer
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/PayImmediatelyConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/PartialAdmitPayImmediatelyConfirmationText.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/CaseDataToTextGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2788

#2722 CIV-7979 Refactor hearing fee and due date
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HearingFeeUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HearingFeeUtilsTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2722

#2829 CIV-7995 Add spec service ID to topic filter
  infrastructure/service-bus.tf
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2829

#2827 CIV-0000 Fix the dashboard
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2827

#2814 CIV-7789 - RPA Mediation
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2814

#2625 CIV-7978 SDO Toggle Cleanup
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2625

#2776 CIV-7531 - Restrict access extend response deadline
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/responsedeadline/DeadlineExtensionCalculatorService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/responsedeadline/DeadlineExtensionCalculatorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2776

#2817 CIV-8127 Mediation Succesful NotifIcation Translation
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulRespondentNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2817

#2715 CIV-7994 Integrate with HMC API - Ticket 2
  commons-civil/src/main/java/uk/gov/hmcts/reform/hmc/client/HearingsApi.java
  commons-civil/src/main/java/uk/gov/hmcts/reform/hmc/model/unnotifiedhearings/PartiesNotified.java
  commons-civil/src/main/java/uk/gov/hmcts/reform/hmc/service/HearingsService.java
  commons-civil/src/test/java/uk/gov/hmcts/reform/hmc/service/HearingsServiceTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2715

#2789 CIV-8310 Draft application for scenario with and Without Notice
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  docker/docmosis/templates/CV-UNS-GAP-ENG-01077.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2789

#2728 CIV-0000 adding perftest to sync branches with master
  Jenkinsfile_CNP
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-2728

#2548 CIV-6855 Add listing comments
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2548

#2651 CIV-7847 case location added to sdo and dj templates
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/referencedata/LocationRefDataService.java
  docker/docmosis/templates/CV-UNS-DEC-ENG-01282.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-01285.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-01288.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-01293.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01263.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01264.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01265.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01294.docx
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dj/DefaultJudgmentSDOOrderForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormDisposal.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormFast.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormSmall.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocumentHearingLocationHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/LocationRefDataUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJCaseworkerReceivedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/LocationRefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/DocumentHearingLocationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/utils/LocationRefDataUtilTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/LocationRefDataUtilTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2651

#2798 CIV-8128 Translation Notification for Mediation Unsuccessful
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyMediationUnsuccessfulDefendantLiPHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyMediationUnsuccessfulDefendantLiPHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2798

#2761 CIV-6330 automated hearing notice scheduler
  commons-civil/src/main/java/uk/gov/hmcts/reform/hmc/client/HearingsApi.java
  commons-civil/src/main/java/uk/gov/hmcts/reform/hmc/model/hearing/HearingDaySchedule.java
  commons-civil/src/main/java/uk/gov/hmcts/reform/hmc/model/hearing/HearingResponse.java
  commons-civil/src/main/java/uk/gov/hmcts/reform/hmc/model/unnotifiedhearings/PartiesNotified.java
  commons-civil/src/main/java/uk/gov/hmcts/reform/hmc/model/unnotifiedhearings/PartiesNotifiedResponse.java
  commons-civil/src/main/java/uk/gov/hmcts/reform/hmc/model/unnotifiedhearings/PartiesNotifiedServiceData.java
  commons-civil/src/main/java/uk/gov/hmcts/reform/hmc/service/HearingsService.java
  commons-civil/src/test/java/uk/gov/hmcts/reform/hmc/service/HearingsServiceTest.java
  src/main/java/uk/gov/hmcts/reform/civil/Application.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/AutomatedHearingNoticeHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BaseExternalTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/variables/HearingNoticeMessageVars.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/variables/HearingNoticeSchedulerVars.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/HearingNoticeSchedulerExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/AutomatedHearingNoticeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2761

#2849 CIV-7936 sdo fast template fixed
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2849

#2807 CIV-6622 HNL LR toggle clean up
  docker/docmosis/templates/CV-SPC-HRN-ENG-01274.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01275.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-01172.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-01173.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-01176.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-01179.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2807

#2852 CIV-0000 logging retries for handleFailure
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BaseExternalTaskHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2852

#2813 CIV-8430 Rename Adjourn or vacate a hearing
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2813

#2841 CIV-8884 - CUI: create and link access roles
  bin/add-roles.sh
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/enums/CaseRole.java
  src/main/java/uk/gov/hmcts/reform/civil/service/pininpost/DefendantPinToPostLRspecService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DefendantPinToPostLRspecServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2841

#2848 CIV-7433 Add env vars for topic subscription
  charts/civil-service/Chart.yaml
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
  charts/civil-service/values.yaml
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2848

#2854 CIV-8460 Callback error for not suitable forSDO
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2854

#2812 CIV-7861 code for Part Admit Accept
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimInfo.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/claimstore/ClaimStoreService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoServiceTest.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2812

#2858 CIV-000 Update service request url
  charts/civil-service/Chart.yaml
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2858

#2779 CIV-8876 Fix bundle scheduler issue in demo
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BundleCreationTriggerHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/BundleCreationTriggerHandlerExternalTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/BundleCreationTriggerHandlerTest.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2779

#2861 CIV-0000 removing_NOC_toggle_from_DJ
  docker/docmosis/templates/CV-UNS-DEC-ENG-01293.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01294.docx
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGenerator.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2861

#2833 CIV-8601 move initial ga evidence doc to ga
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationServiceHelperTest.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2833

#2856 CIV-8071 New
  docker/docmosis/templates/CV-UNS-STD-ENG-01287.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01289.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormSmall.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SmallClaimsWitnessStatement.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2856

#2843 CIV-000 update hearing notice templates
  docker/docmosis/templates/CV-UNS-HNO-ENG-01196.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01197.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01198.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01199.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-2843

#2865 CIV-6804 throwing exception from complete task
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/CompleteTaskException.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BaseExternalTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/BundleCreationTriggerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ClaimDismissedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/DecisionOutcomeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/EvidenceUploadCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/HearingFeeDueHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PollingEventEmitterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/StartGeneralApplicationBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TakeCaseOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TrialReadyCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TrialReadyNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2865

#2791 CIV-8782 Fix NotSuitable_SDO journey for Default Judgement cases
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2791

#2866 CIV-6330 Hearing notice scheduler update
  commons-civil/src/main/java/uk/gov/hmcts/reform/hmc/model/hearing/HearingResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/AutomatedHearingNoticeHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/AutomatedHearingNoticeHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2866

#2837 CIV-5345 Full Admit + Pay Immediately
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/PayImmediatelyConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentDateService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/CaseDataToTextGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentDateServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2837

#2835 CIV-8420 Part admit pay immediately notification
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsNotToProceedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsNotToProceedRespondentNotificationHandlerLip.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsNotToProceedRespondentNotificationHandlerLipTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsNotToProceedRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2835

#2681 CIV-6279 Ref data for Hearing method (SDO and DJ screen) [1/2]
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/HearingMethod.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HearingMethodUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HearingMethodUtilsTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2681

#2874 CIV-0000 Fixing the 401
  build.gradle
  commons-civil/build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-2874

#2870 CIV-6632 ensure we continue retrieving claims when ocmc service is down
  src/main/java/uk/gov/hmcts/reform/civil/service/claimstore/ClaimStoreService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/claimstore/ClaimStoreServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2870

#2886 CIV-0000 Limit cases on CUI Dashboard
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2886
