Repository hmcts/civil-service, pull requests merged in 2023-01, with the labels that each got.

#2018 Change the logic on nextDeadline (4Months) calculation
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandlerTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2018

#2014 CIV-6538 changed "must uploaded" to "must upload"; changed "evidence …
  docker/docmosis/templates/CV-DAM-STD-ENG-00002-HNL.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00002.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2014

#2055 Civ 6359 1
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2055

#2058 CIV-6625 Update GA order template
  docker/docmosis/templates/CV-UNS-GAP-ENG-01067.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01068.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01069.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01070.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01071.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01072.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01073.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-2058

#2057 Supplementary data for spec claims
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserForSpecHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserForSpecHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2057

#1978 Feat/civ 6302 (1/2)
  docker/docmosis/templates/CV-DAM-STD-ENG-00002-HNL.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00002.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00003-HNL.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00003.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/DisposalHearingSchedulesOfLoss.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1978

#2025 Update audit.json to fix security scan in nightly
  audit.json
Labels: ns:civil, prd:civil, rel:civil-service-pr-2025

#2065 Suppression.xml
  audit.json
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2065

#1791 CIV-4181 & CIV-5608 Updating Models for Hearing Support Screen 2/2
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/HearingSupport.java
  src/test/java/uk/gov/hmcts/reform/civil/model/dq/DQTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1791

#2071 Suppressing CVE-2022-3064 and CVE-2021-4235
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2071

#1988 Fix/civ 6386 templates v10
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
  docker/docmosis/templates/CV-UNS-DEC-ENG-01132.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-01133.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-01200.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/DisposalHearingWitnessOfFactDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialHearingSchedulesOfLoss.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1988

#1953 Retrieve email address of NoC requester (2/2)
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplyNoticeOfChangeDecisionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/noc/ChangeOrganisationRequest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplyNoticeOfChangeDecisionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1953

#2020 Feat/civ 6500
  docker/docmosis/templates/CV-DAM-STD-ENG-00001.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00002-HNL.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00002.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00003-HNL.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00003.docx
  docker/docmosis/templates/CV-DAM-STD-ENG-00004.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2020

#2064 Confirmation summary amended.
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2064

#2027 Civ 6517 validate defendant2 date
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2027

#1847 CIV-3381 Response Deadline Extension
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ResponseDeadlineExtensionClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ResponseDeadlineExtensionDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ResponseDeadlineExtensionClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ResponseDeadlineExtensionDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1847

#2085 CIV-6409 Remove unused business process
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateReferToJudgeCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateReferToJudgeCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2085

#2077 CIV-5369: Legal Rep ITP - Full Admit Instalments - View and respond to defence
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/show/ResponseOneVOneShowTag.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2077

#1971 CIV-5843: Creating Case Flags Toggle
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1971

#2072 Civ 6055
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/PartyBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2072

#1944 CIV-6104 - clean up jenkins file and charts
  Jenkinsfile_CNP
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
  charts/civil-service/values.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-1944

#1980 Feat/civ 6141 reset pin
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResetPinCUICallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/pininpost/DefendantPinToPostLRspecService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResetPinCUICallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DefendantPinToPostLRspecServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1980

#2059 Civ 6515 untick statement of truth
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CertificateOfService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2059

#1854 CIV:4173 added additional fields to objects for docmosis and added new template
  docker/docmosis/templates/CV-SPC-HRN-ENG-01209.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1854

#2091 CIV:6703: Adding ACA URL for service
  charts/civil-service/values.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2091

#2015 Feat/civ 3800 noc for lip multiparty and spec
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2015

#2094 bump chart to apply ACA API URL
  charts/civil-service/Chart.yaml
  charts/civil-service/values.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2094

#2002 CIV-5707 - TF upgrade 0.12.x to 0.13.X
  infrastructure/.terraform-version
  infrastructure/variables.tf
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2002

#1951 CIV-5557: Docmosis Updates for Unspec DQs Claimant and Defendant
  docker/docmosis/templates/CV-UNS-HRN-ENG-01213.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-01217.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-01218.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-01219.docx
  src/main/java/uk/gov/hmcts/reform/civil/model/LitigationFriend.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/Party.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dq/DirectionsQuestionnaireForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/HearingSupport.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/PartyBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1951

#2095 CIV-5707 - Upgrade TF version 0.13.X to 0.14.X
  infrastructure/.terraform-version
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2095

#2113 CIV-6703: Adding NoC roles to call civil-service for aac
  src/main/java/uk/gov/hmcts/reform/civil/config/SecurityConfiguration.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2113

#2115 Change pinInPost to false - FeatureToggleService
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2115

#1928 Feat/civ 1620 trigger rpa for noc
  src/contractTest/java/uk/gov/hmcts/reform/civil/BaseRpaTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaCaseHandedOfflineConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/NoticeOfChange.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/RoboticsCaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/RoboticsCaseDataSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/JsonSchemaValidationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/utils/RoboticsDataUtil.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/OrgPolicyUtils.java
  src/main/resources/schema/rpa-json-schema-spec.json
  src/main/resources/schema/rpa-json-schema.json
  src/test/java/uk/gov/hmcts/reform/civil/assertion/RoboticsCaseDataAssert.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/utils/RoboticsDataUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/OrgPolicyUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1928

#2096 Civ 6767 untick box
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CertificateOfService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2096

#2121 CIV-5707 - Upgrade TF version 0.15.X to 1.3.X
  charts/civil-service/Chart.yaml
  infrastructure/.terraform-version
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2121

#1811 Feat/civ 6099 evidence upload main
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/EvidenceUploadExpert.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/EvidenceUploadTrial.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/EvidenceUploadWitness.java
  src/main/java/uk/gov/hmcts/reform/civil/event/EvidenceUploadNotificationEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/EvidenceUploadNotificationEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EvidenceUploadCheckHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/DocumentUploadTrial.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/UploadEvidenceDisclosure.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/UploadEvidenceExpert.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/UploadEvidenceWitness.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/EvidenceUploadApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/EvidenceUploadRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/EvidenceUploadNotificationSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/EvidenceUploadNotificationExternalTaskListener.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/EvidenceUploadNotificationEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/EvidenceUploadCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/EvidenceUploadApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/EvidenceUploadRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/EvidenceUploadNotificationSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1811

#1998 fix: CIV-6281, fixing the content of email for LR VS LIP
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonForSpecNotificationHandler.java
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-1998

#1995 CIV-6266
  src/main/java/uk/gov/hmcts/reform/civil/config/ClaimIssueConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-1995

#1937 feat/civ-5936 remove extra sentence
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, stale, add-or-update, rel:civil-service-pr-1937

#2125 Fixing scenerio for takenOfflineByStaffAfterClaimIssue predicate
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2125

#2131 Fix failing dependency for PR failures
  build.gradle
  src/test/java/uk/gov/hmcts/reform/civil/config/LaunchDarklyConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ApplicationClosedUpdateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ApplicationOfflineUpdateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/TriggerApplicationClosureCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/TriggerMoveApplicationOfflineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ValidateFeeForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AcknowledgementClaimApplicantForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BreathingSpaceEnterNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentPartyForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/FailedPaymentApplicantForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EnterBreathingSpaceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/LiftBreathingSpaceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/CaseDataToTextGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GenAppStateHelperServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormForSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/validation/interfaces/DefendantAddressValidatorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2131

#2060 Organisation information missing give null pointer exception
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeService.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2060

#1914 Feat/civ 6144
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaCaseHandedOfflineConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaContinuousFeedConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/utils/RoboticsDataUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/assertion/RoboticsCaseDataAssert.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnContinuousFeedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/migration/MigrateCaseDataCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataMaxEdgeCasesBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataMinEdgeCasesBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/LocationRefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1914

#2026 CIV-5337: Notification Email
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantPartyForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallBackHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantPartyForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
Labels: ns:civil, prd:civil, enableHelm, rel:civil-service-pr-2026

#2117 CIV-6806: PinInPost SecurityCode verification not working
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/dto/PinDto.java
Labels: ns:civil, prd:civil, enableHelm, add-or-update, rel:civil-service-pr-2117

#2142 CIV-2493 added sdo tests
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2142

#2153 Fix/civ 6144 build error fix
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2153

#1852 CIV-4519
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantForSpecHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1852

#2161 Clear pods always and enableHelm
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-service-pr-2161

#1894 civil-6050-order-event
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, enableHelm, rel:civil-service-pr-1894

#2098 Feat/civ 6404 evidence updates
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/EvidenceUploadTrial.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/UploadEvidenceDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/UploadEvidenceExpert.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2098

#2141 CIV-6711 Update DJ caseworker notification to include defendant details
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJCaseworkerReceivedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJCaseworkerReceivedNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2141

#2143 CIV-6651 - DJ screen update for Trial and Disposal
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2143

#2172 Feat/civ 6204
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2172

#2173 CIV-6924 - Update pipeline setup to talk to ccd / camunda branches
  Jenkinsfile_CNP
  bin/pull-latest-camunda-files.sh
  bin/pull-latest-ccd-files.sh
  charts/civil-service/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2173

#2175 Feat/civ 6204
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2175

#2176 re-added callbacks and changed version for spec cases
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2176

#2114 fix: CIV-6633, adding case note on LR claim
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2114

#2178 Feat/civ 6765 createddate
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/UploadEvidenceDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/UploadEvidenceExpert.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/UploadEvidenceWitness.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2178

#2078 Defendant info (Solicitor Name and email address) not carried over to Caseman
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2078

#1973 Feat/civil 6341 re listing hearing fee and due date
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/HearingFeeDueHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/HearingFeeDueSearchService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/HearingFeeDueSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1973

#1357 Feat/civ 1616 send notification noc
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/notification/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ChangeOfRepresentationNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplyNoticeOfChangeDecisionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/ChangeOfRepresentation.java
  src/main/java/uk/gov/hmcts/reform/civil/model/RecipientData.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NocNotificationUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ChangeOfRepresentationNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplyNoticeOfChangeDecisionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/NocNotificationUtilsTest.java
Labels: ns:civil, prd:civil, enableHelm, rel:civil-service-pr-1357

#2144 Feat/civ-6650
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2144
