Repository hmcts/civil-service, pull requests merged in 2023-12, with the labels that each got.

#3630 CIV-11722 Adding LiP check to eaCourtLocation
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3630

#3670 CIV-11363 add 25 caseId
  src/main/java/uk/gov/hmcts/reform/civil/handler/RetriggerCasesEventHandler.java
  src/main/resources/caseIdForRetrigger.txt
Labels: ns:civil, prd:civil, rel:civil-service-pr-3670

#3665 CIV-0000 - added new idam client for cmc pin verification
  charts/civil-service/Chart.yaml
  charts/civil-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/civil/config/CMCPinVerifyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/service/pininpost/CUIIdamClientService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/pininpost/DefendantPinToPostLRspecService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/service/CUIIdamClientServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DefendantPinToPostLRspecServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3665

#3672 CIV-0000 upgrade bouncy castle
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-3672

#3658 CIV-0000 removing bootstrap.yml
  charts/civil-service/Chart.yaml
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
  charts/civil-service/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/main/resources/caseIdForRetrigger.txt
Labels: ns:civil, prd:civil, rel:civil-service-pr-3658

#3679 CIV-0000 AppInsightsInstrumentationKey as name for vault
  charts/civil-service/Chart.yaml
  charts/civil-service/values.preview.template.yaml
  charts/civil-service/values.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3679

#3640 CIV-0000 Bulk tasks to Master
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseNotAgreedRepaymentRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestCUICallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/UpdateCaseManagementDetailsService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGenerator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseNotAgreedRepaymentRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestCUICallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3640

#3688 CIV-000 retriggering 101 to 200 For not suitable to SDO issue
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/responsedeadline/DeadlineExtensionCalculatorService.java
  src/main/resources/caseIdForRetrigger.txt
Labels: ns:civil, prd:civil, rel:civil-service-pr-3688

#3700 CIV-0000 retriggering 201 to 300 For not suitable to SDO issue
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/responsedeadline/DeadlineExtensionCalculatorService.java
  src/main/resources/caseIdForRetrigger.txt
Labels: ns:civil, prd:civil, rel:civil-service-pr-3700

#3706 CIV-0000 retrigger 301 to 400
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/responsedeadline/DeadlineExtensionCalculatorService.java
  src/main/resources/caseIdForRetrigger.txt
Labels: ns:civil, prd:civil, rel:civil-service-pr-3706

#3651 CIV-11494 flight delay combine screen
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, destroy, rel:civil-service-pr-3651

#3713 CIV-11874 Defendant response document
  config/owasp/suppressions.xml
  docker/docmosis/templates/CV-SPC-CLM-ENG-01065-LIP.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-3713

#3531 CIV-8997 Create Draft Claim form PDF
  docker/docmosis/templates/CV-SPC-CLM-ENG-00001-DRAFT.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDraftClaimFormCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/Timeline.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/draft/DraftClaimForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/draft/DraftClaimFormMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/lip/LipFormParty.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/lip/LipFormPartyDefence.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimLipResponseForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/draft/DraftClaimFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DateUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDraftClaimFormCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/docmosis/draft/DraftClaimFormMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/draft/DraftClaimFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3531

#3645 CIV-8337 Request for reconsideration initial commit
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestForReconsiderationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/ReasonForReconsideration.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestForReconsiderationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3645

#3714 CIV-0000 retrigger 401 to 500
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimCallbackHandler.java
  src/main/resources/caseIdForRetrigger.txt
Labels: ns:civil, prd:civil, rel:civil-service-pr-3714

#3695 CIV-0000 - Added new API to verify OCMC Pin
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/pininpost/CUIIdamClientService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/pininpost/DefendantPinToPostLRspecService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CUIIdamClientServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DefendantPinToPostLRspecServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3695

#3638 CIV-9024 Claimant Intent: Judgement by admission RPA
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/ClaimantLiPResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudgmentAdmissionUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/JudgmentAdmissionUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3638

#3654 CIV-11733 CCD translations for court calculator decision
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/ClaimantLiPResponse.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3654

#3728 CIV-0000 retriggering non suitable for sdo
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateAcknowledgementOfClaimCallbackHandler.java
  src/main/resources/caseIdForRetrigger.txt
Labels: ns:civil, prd:civil, rel:civil-service-pr-3728

#3588 CIV-8318 flight delay update location
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3588

#3661 CIV-8169 sign settlement agreement submit function notifications
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantSignSettlementAgreementNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CaseDataLiP.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantSignSettlementAgreementNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3661

#3647 CIV-11420 - Add new fees payment api
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/fees/FeesPaymentControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/fees/FeesPaymentController.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/PaymentsApiException.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/RetryablePaymentException.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CardPaymentStatusResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeesPaymentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentStatusService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeesPaymentServiceTest.java
Labels: ns:civil, prd:civil, pr-values:elasticsearch, enable_keep_helm, rel:civil-service-pr-3647

#3336 CIV-9675 - Applicant LiP trial readiness journey
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyNotifyOthersHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyRespondentNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyNotifyOthersHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3336

#3711 CIV-8791 Claimant notification
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimIssuedPaymentSuccessfulNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimIssuedPaymentSuccessfulNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3711

#3739 CIV-0000 - Updated Endpoint Name.
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentController.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3739

#3744 CIV-11933 added code for closing input stream
  src/main/java/uk/gov/hmcts/reform/civil/service/AirlineEpimsDataLoader.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3744

#3635 CIV-8315 task flight delay
  src/main/java/uk/gov/hmcts/reform/civil/enums/AllocatedTrack.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3635

#3740 CIV-11884 -- Move xbrowsertests to civil-ccd-def as they are ui tests
  Jenkinsfile_nightly
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-3740

#3731 CIV-8786 Claimant Intent Confirmation Screen County Court Judgement requested Reject plan
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/ClaimantLiPResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/dto/ClaimantResponseOnCourtDecisionType.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3731

#3745 CIV-0000 Update payment java client version
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/fees/FeesPaymentControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CardPaymentStatusResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeesPaymentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentStatusService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeesPaymentServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3745

#3758 CIV-11730 - Bump gradle wrapper and dependencyCheck
  README.md
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:civil, prd:civil, rel:civil-service-pr-3758

#3709 CIV-8903 dashboard settlement agreement
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/ClaimantResponse.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/FormaliseOption.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/Settlement.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefendantSignSettlementAgreementCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/cmc/model/CmcClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3709

#3687 CIV-11834 Adding address
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3687

#3764 CIV-11084 location change
  src/main/java/uk/gov/hmcts/reform/civil/helpers/LocationHelper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3764

#3684 CIV-11371 Auto HN Time Conversions
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3684

#3710 CIV-11728 RPA - CCJ to formalise payment after payment not made
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3710

#3770 CIV-0000 - bulk merge renovate PRs
  .github/workflows/stale.yml
  .nvmrc
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-3770

#3783 CIV-8903 dashboard settlement agreement-revert
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/ClaimantResponse.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/FormaliseOption.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/Settlement.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefendantSignSettlementAgreementCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/cmc/model/CmcClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3783

#3565 CIV-11416 li p claims to drop offline after 14 days if no c does not occur
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplyNoticeOfChangeDecisionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/TakeCaseOfflineEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/TakeCaseOfflineSearchService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/TakeCaseOfflineSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3565
