Repository hmcts/civil-service, pull requests merged in 2023-07, with the labels that each got.

#2863 CIV-9344 Automated hearing notice process
  commons-civil/src/main/java/uk/gov/hmcts/reform/hmc/model/hearing/HearingGetResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/automatedhearingnotice/UpdateCaseProgressHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/automatedhearingnotice/UpdateHmcPartiesNotifiedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationDefendantOfHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestAPIHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/StartHearingNoticeBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/data/ExternalTaskInput.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearingnotice/HearingDay.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearingnotice/HearingNoticeCamundaService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearingnotice/HearingNoticeVariables.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/StartHearingNoticeBusinessProcessExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NotificationUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/BaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/automatedhearingnotice/UpdateCaseProgressHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/automatedhearingnotice/UpdateHmcPartiesNotifiedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestAPIHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/StartHearingNoticeBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearingnotice/HearingNoticeCamundaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2863

#2900 CIV-0000 upgraded guava for CVE issue and added CVE to suppression for LD
  build.gradle
  commons-civil/build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2900

#2902 CIV-0000 Update Chart.yaml
  charts/civil-service/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2902

#2876 CIV-6380 RPA for ITP Additional Build
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseAgreedRepaymentRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/EventHistory.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/EventType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistorySequencer.java
  src/main/resources/schema/rpa-json-schema.json
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseAgreedRepaymentRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2876

#2720 CIV-6261 Hearing channels for HMC payload
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsHearingsUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DynamicListUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HearingMethodUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/DynamicListUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HearingMethodUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2720

#2880 CIV-9383 Import latest draft doc template
  docker/docmosis/templates/CV-UNS-GAP-ENG-01077.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-2880

#2904 CIV-9430 Part Admit - Full Admit status change when acceptint payment plan
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2904

#2909 CIV-9285 Update Jenkinsfile_CNP
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-service-pr-2909

#2894 CIV-9449 fix breathingSpaceMentalHealthEntered rpa event
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistorySequencer.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2894

#2830 CIV-8406 - SDO Bulk Print Defendant
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendSDOToLiPDefendantCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendSDOToLiPDefendantCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2830

#2847 CIV-5793 generate sealed response
  docker/docmosis/templates/CV-SPC-CLM-ENG-01064-LIP.docx
  docker/docmosis/templates/CV-SPC-CUI-ENG-01064.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/RespondentResponsePartAdmissionPaymentTimeLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/ChildrenByAgeGroupLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/EvidenceDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Party.java
  src/main/java/uk/gov/hmcts/reform/civil/model/RepaymentPlanLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CaseDataLiP.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/LipFormParty.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/AccommodationTemplate.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/AccountSimpleTemplateData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/DebtTemplateData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/EventTemplateData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/EvidenceTemplateData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/EvidenceType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/ReasonMoneyTemplateData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimLipResponseForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/HomeDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/RecurringExpenseLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/RecurringIncomeLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SystemGeneratedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimLipResponseFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/ChildrenByAgeGroupLRspecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/EvidenceDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/docmosis/common/AccommodationTemplateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/docmosis/common/EvidenceTemplateDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SystemGeneratedDocumentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimLipResponseFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2847

#2804 CIV-8462 Remove defence and counterclaim code (code 52) and code 66 from RPA JSON
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, destroy, rel:civil-service-pr-2804

#2875 CIV-8423 bulk scanned and emailed documents location
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimInfo.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/ManageDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/ManageDocumentType.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageDocumentsHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2875

#2890 CIV-8999 Change to SLA start date and screen flow
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/ScreenFlowMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/ServiceHearingsCaseLevelMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/ServiceHearingsCaseLevelMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2890

#2888 CIV-9480 HMC payload amends
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/UnavailabilityType.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/PartyDetailsModel.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2888

#2927 CIV-000 Add AHN email templates
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2927

#2925 CIV-9369 fix repayment plan bug
  src/main/java/uk/gov/hmcts/reform/civil/model/RepaymentPlanLRspec.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2925

#2935 CIV-0000 Fix for RPA json schema
  src/main/resources/schema/rpa-json-schema.json
Labels: ns:civil, prd:civil, rel:civil-service-pr-2935

#2775 CIV-7934 Additional directions for a trial in SDO
  src/main/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2775

#2897 CIV-9217 Create partyIds on the fly if missing
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/HearingValuesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/advice/ControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/hearings/HearingValuesController.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/PartyIdsUpdatedException.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2897

#2919 CIV-8405 Set Up Case Details Tab
  src/main/java/uk/gov/hmcts/reform/civil/enums/PaymentType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CaseDataLiP.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/RespondentLiPResponse.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2919

#2930 CIV-9383 refactor add doc from ga to civil
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2930

#2934 CIV-9513 updated for integrating CUI
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-service-pr-2934

#2893 CIV-7990 Populate Service Request HMC
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestAPIHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestAPIHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentsServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2893

#2933 CIV-9341 Add Defendant Defence file to LR response to claim
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategy.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategyTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2933

#2877 CIV-8582 Multilist
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/enums/dj/DisposalHearingBundleType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/DisposalHearingBundleDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/TrialHearingTrial.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2877

#2945 CIV-9642 Added Toggle Fast Track Uplifts
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2945

#2954 CIV-0000 Add retry on complete task failure for camunda
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/config/ExternalTaskListenerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/CompleteTaskException.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BaseExternalTaskHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2954

#2906 CIV-7965 Notify claimant of hearing HMC
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2906

#2944 CIV-6330 hearing notice scheduler update
  charts/civil-service/Chart.yaml
  charts/civil-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/civil/config/AsyncHandlerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/AsyncHandlerProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/event/HearingNoticeSchedulerTaskEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/HearingNoticeSchedulerEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/AutomatedHearingNoticeHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/config/AsyncHandlerConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/HearingNoticeSchedulerEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/AutomatedHearingNoticeHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2944

#2872 CIV-3861 judicial referral only when proceed
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2872

#2983 CIV-0000 Set Default Async Handler Values
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2983

#2979 CIV-9694 Add condition for iswithnotice field
  docker/docmosis/templates/CV-UNS-GAP-ENG-01077.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-2979

#2905 CIV-9354 Calllback error fixed for one claim which is throwing state…
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2905

#2839 CIV-7995 HMC Service bus subscription WIP V2
  build.gradle
  charts/civil-service/Chart.yaml
  charts/civil-service/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/ReviewHearingExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/ReviewHearingExceptionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2839

#2867 CIV-8460 adding PAST_APPLICANT_RESPONSE_DEADLINE_AWAITING_CAMUNDA to …
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2867

#2778 CIV-8643 Update CUI document download controller to use document ID
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/DocumentControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/DocumentController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/ClaimFormService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/DocumentDownloadService.java
  src/test/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorForSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/documentmanagement/DocumentDownloadServiceTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2778

#2994 CIV-0000 renovate p rs
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-2994

#2898 CIV-7154 mediation csv
  charts/civil-service/Chart.yaml
  charts/civil-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/properties/mediation/MediationCSVEmailConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CyaAgreedMediationNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Party.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DtoFieldFormat.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/MediationCSVService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CyaAgreedMediationNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/MediationCSVServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2898

#2932 CIV-8726 Remove duplicate text from DJ orders
  docker/docmosis/templates/CV-UNS-DEC-ENG-01297.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-01298.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2932

#2938 CIV-8957 lip dq
  docker/docmosis/templates/CV-SPC-HRN-ENG-LIP-01282.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DQExtraDetailsLip.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/ExpertLiP.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/HearingSupportLip.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/RepaymentPlanTemplateData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dq/DirectionsQuestionnaireForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dq/DisabilityRequirement.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dq/ExpertReportTemplate.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dq/HearingLipSupportRequirements.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dq/LipExperts.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dq/LipExtraDQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimLipResponseForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireLipGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/DQExtraDetailsLipTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireLipGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2938

#2951 CIV-9440 - CUI: SDO journey is not working when Defendant response is Part-Admit
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AcceptPartAdmitAndPaidConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AcceptPartAdmitAndPaidConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2951

#3018 CIV-0000 Update party details after def response
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3018

#2939 CIV-7897 - Update add-roles.sh
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-2939

#2949 CIV-9582 end point caseworker submission
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/advice/ControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/CaseDataInvalidException.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bulkclaims/CaseworkerSubmitEventDTo.java
  src/main/java/uk/gov/hmcts/reform/civil/service/bulkclaims/CaseworkerCaseEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/bulkclaims/CaseworkerEventSubmissionParams.java
  src/test/java/uk/gov/hmcts/reform/civil/service/bulkclaims/CaseworkerCaseEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2949

#2793 CIV-6241 p3 defendant dashboard status
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatusFactory.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/Settlement.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CmcClaimStatusDashboardFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoServiceTest.java
  src/test/java/uk/gov/hmcts/reform/cmc/model/CmcClaimTest.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2793

#2988 CIV-9640 Update List of Claims to show CCD claims first then OCMC claims
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardDefendantResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2988

#3029 CIV-8140 rename documents
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadHandlerBase.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3029

#3031 CIV-0000 merge dependencies
  .github/renovate.json
  .github/workflows/stale.yml
  Dockerfile
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-3031

#2943 CIV-9364 making camunda changes for Demages Multiclaims
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2943

#3037 CIV-9871 fix error when try to get defendant claims
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3037

#2989 CIV-9525 send mediation csv with lr details
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CyaAgreedMediationNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/OrganisationDetailsService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/MediationCSVService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/ApplicantContactDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/DefendantContactDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/LipContactDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/LipDefendantContactDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/LrApplicantContactDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/LrContactDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/LrDefendantContactDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLrvLipService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLrvLrService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCsvServiceFactory.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/MediationParams.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CyaAgreedMediationNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/MediationCSVServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLrvLipServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLrvLrServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVServiceFactoryTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2989

#3022 CIV-9807 - CUI Welsh Translation - Upload Translated Document requires new Document type
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocument.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3022

#2924 CIV-7989 Notify Defendant Hearing Listed HMC
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationDefendantOfHearingHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationDefendantOfHearingHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2924

#2980 CIV-9693 Fast Track DQ Uplift
  src/main/java/uk/gov/hmcts/reform/civil/enums/ComplexityBand.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Applicant1DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Applicant2DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/FixedRecoverableCosts.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent1DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent2DQ.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2980

#3052 CIV-0000 - supress CVE-2023-3635
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3052

#3011 CIV-9730 hearing process LR vs LIP
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationDefendantOfHearingHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationDefendantOfHearingHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3011

#3061 CIV-0000 - bug fix for FT failure.
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3061

#3064 CIV-9876 Cleanup CVE issues
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3064
