Repository hmcts/civil-service, pull requests merged in 2023-04, with the labels that each got.

#2371 CIV-7138 - Mediation - Update content to Mediation Screen
  src/main/java/uk/gov/hmcts/reform/civil/enums/MediationDecision.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/show/DefendantResponseShowTag.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CaseDataLiP.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/ClaimantMediationLip.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/RespondentMediationService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/RespondentMediationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2371

#2541 CIV-0000 fix audit.json
  audit.json
Labels: ns:civil, prd:civil, rel:civil-service-pr-2541

#2467 CIV-7030 build case name public
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/ServiceHearingsCaseLevelMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Party.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/CaseCategoriesService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseNameUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PartyUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/ServiceHearingsCaseLevelMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/PartyTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseNameUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/PartyUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2467

#2558 CIV-7880 Fix flow state issues for CLAIM_DISMISSED_HEARING_FEE_DUE_DEA…
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2558

#2560 CIV-000 Fix urgent flag issue
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateCaseFlagsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageCaseFlagsHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2560

#2539 CIV-7782 - Always set claimDetailsNotificationDate to current date
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimDetailsCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2539

#2567 CIV-7766 fix .docx
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2567

#2564 CIV-0000 updating owningCourtCode to 807
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/assertion/RoboticsCaseDataAssert.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2564

#2268 CIV-7130 - Adding claimNotificationDate date when its spec 1v2SS
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/ClaimProceedsInCasemanLR.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2268, destroy

#2521 CIV-7642 api test refactor evidence upload
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2521

#2551 CIV-7646 API Tests for Bundle Integration
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2551

#2570 Update multiple dependencies
  build.gradle
Labels: ns:civil, prd:civil, dependencies, rel:civil-service-pr-2570

#2571 Update multiple dependencies 2
  build.gradle
  commons-civil/build.gradle
  infrastructure/.terraform-version
Labels: ns:civil, prd:civil, dependencies, add-or-update, rel:civil-service-pr-2571

#2549 CIV-7539 Added Document template
  docker/docmosis/templates/CV-UNS-GAP-ENG-01076.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-2549

#2550 CIV-7492 Dismissed Issues NoC Spec
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2550

#2543 CIV-7863 LRvLiP Default Dudgement Change
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJRespondentReceivedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJRespondentReceivedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2543

#2510 CIV-7744 Add email and phone to experts/witness object (2/2)
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/PartyFlagStructure.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/CaseCategoriesService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagUtils.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2510

#2530 CIV-3107 free form docmosis
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  docker/docmosis/templates/CV-UNS-DEC-ENG-01099.docx
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/FinalOrderSelection.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/OrderOnCourtsList.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/casepogression/JudgeFinalOrderForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/TemplateDataGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGeneratorTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2530

#2536 CIV-5830 - CCD Translation for DQ SC/FT Screens.
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DQExtraDetailsLip.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/ExpertLiP.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/ExpertReportLiP.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2536

#2422 CIV-4305 Trial Ready Document
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  docker/docmosis/templates/CV-UNS-HRN-ENG-01247.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/HearingDuration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateTrialReadyFormHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyNotifyOthersHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadinessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/HearingOtherComments.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/RevisedHearingRequirements.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/trialready/TrialReadyForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/trialready/TrialReadyFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateTrialReadyFormHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyNotifyOthersHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadinessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/trialready/TrialReadyFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2422

#2534 CIV-0000 SNI 3489 repeated paragraph on credit hire
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/helpers/LocalDateTimeHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackSchedulesOfLoss.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SmallClaimsCreditHire.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2534

#2277 CIV-5011 keyword changes with feature flag
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/fees/client/FeesApi.java
  src/main/java/uk/gov/hmcts/reform/fees/client/FeesClient.java
  src/main/java/uk/gov/hmcts/reform/fees/client/config/FeesClientAutoConfiguration.java
  src/main/java/uk/gov/hmcts/reform/fees/client/health/FeesHealthIndicator.java
  src/main/java/uk/gov/hmcts/reform/fees/client/health/InternalHealth.java
  src/main/java/uk/gov/hmcts/reform/fees/client/model/ApplicantTypeDto.java
  src/main/java/uk/gov/hmcts/reform/fees/client/model/ChannelTypeDto.java
  src/main/java/uk/gov/hmcts/reform/fees/client/model/EventTypeDto.java
  src/main/java/uk/gov/hmcts/reform/fees/client/model/Fee2Dto.java
  src/main/java/uk/gov/hmcts/reform/fees/client/model/FeeLookupResponseDto.java
  src/main/java/uk/gov/hmcts/reform/fees/client/model/FeeVersionDto.java
  src/main/java/uk/gov/hmcts/reform/fees/client/model/FlatAmountDto.java
  src/main/java/uk/gov/hmcts/reform/fees/client/model/Jurisdiction1Dto.java
  src/main/java/uk/gov/hmcts/reform/fees/client/model/Jurisdiction2Dto.java
  src/main/java/uk/gov/hmcts/reform/fees/client/model/PercentageAmountDto.java
  src/main/java/uk/gov/hmcts/reform/fees/client/model/ServiceTypeDto.java
  src/main/java/uk/gov/hmcts/reform/fees/client/model/VolumeAmountDto.java
  src/test/java/uk/gov/hmcts/reform/fees/client/FeeClientTest.java
Labels: ns:civil, prd:civil, stale, destroy, rel:civil-service-pr-2277

#2600 CIV-0000 Security sh is no longer needed
  security.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-2600

#2126 CIV-6580 other party ready notification
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadinessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadinessCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2126

#2556 CIV-7520 Hearing in Welsh scenario
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2556

#2519 CIV-6387: Secure Doc for hearings payload
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsHearingsUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsHearingsUtilsTest.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2519

#2601 CIV-7977 Civils Launch Darkly Cleanup - Ticket 4
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2601

#2084 CIV-5746 Change RPA message
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2084

#2566 CIV-7534 rpa-defendant-response-manual-det-camunda-state-change
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2566

#2604 CIV-7876 add_the_Court_seal_to_the_Damages_Judgment_Order
  docker/docmosis/templates/CV-UNS-DEC-ENG-00829.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-01280.docx
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2604

#2590 CIV-7933 Update Disposal Hearing Bundle wording
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2590

#2610 CIV-6245 Allow Judges to see who has made the application
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationServiceHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2610

#2492 CIV-5708 - civil-service change from frozen lockfile to immutable for Yarn V3 compatability
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-2492

#2552 CIV-7589 - Welsh Translation Prevent Default Judgement
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/RespondentLiPResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/RespondentLiPResponseTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2552

#2483 CIV-7162 create toggle for RPA emails
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyDefaultJudgmentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnContinuousFeedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, stale, add-or-update, rel:civil-service-pr-2483

#2618 CIV-0000 def processor to latest
  bin/utils/process-definition.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-2618

#2368 CIV-5788 add CUI filed to case data
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/RespondentLiPResponse.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2368

#2631 CIV-0000 - Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2631

#2330 CIV-6915 Refactor respondent notifications in Hearing Notice
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationDefendantOfHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NotificationUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationDefendantOfHearingHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2330

#2626 CIV-0000 - fixed bug.
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2626

#2627 CIV-7360 - Mediation unsuccessful - State change
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/MediationUnsuccessfulHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/MediationUnsuccessfulHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2627

#2636 CIV-6915 restore test
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-2636

#2622 CIV-7519 LR Dropdown for Judgement by Admission
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CCJPaymentDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudgementService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2622

#2526 CIV-6293 orders journey assisted order
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/AppealList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/ApplicationAppealList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/AssistedCostTypesList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/FinalOrderRepresentationList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/FinalOrderToggle.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/FinalOrdersClaimantDefendantNotAttending.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/FinalOrdersClaimantRepresentationList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/FinalOrdersDefendantRepresentationList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/FinalOrdersJudgePapers.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/HearingLengthFinalOrderList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/OrderMadeOnTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/AppealGrantedRefused.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/AssistedOrderCostDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/AssistedOrderReasons.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/CaseHearingLengthElement.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/ClaimantAndDefendantHeard.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/FinalOrderAppeal.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/FinalOrderFurtherHearing.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/FinalOrderRecitalsRecorded.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/FinalOrderRepresentation.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/OrderMade.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/OrderMadeOnDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/OrderMadeOnDetailsOrderWithoutNotice.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/TrialNoticeProcedure.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2526

#2638 CIV-7849 sync demo with master
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-service-pr-2638

#2524 CIV-6888 Hearings Payload Specific Requirements
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/CaseFlagsToHearingValueMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/ServiceHearingsCaseLevelMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/HearingWindowModel.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagPredicates.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/ServiceHearingsCaseLevelMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagPredicatesTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsToHearingValueMapperTest.java
Labels: ns:civil, prd:civil, stale, add-or-update, rel:civil-service-pr-2524

#2401 CIV-7546 - Final Order - Judge issues Sanction/Adjourn Order
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  docker/docmosis/templates/CV-UNS-DEC-ENG-01099.docx
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/FinalOrderSelection.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/OrderOnCourtsList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/AppealList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/ApplicationAppealList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/AssistedCostTypesList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/FinalOrderRepresentationList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/FinalOrderToggle.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/FinalOrdersClaimantDefendantNotAttending.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/FinalOrdersClaimantRepresentationList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/FinalOrdersDefendantRepresentationList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/FinalOrdersJudgePapers.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/HearingLengthFinalOrderList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/OrderMadeOnTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/FreeFormOrderValues.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/casepogression/JudgeFinalOrderForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/AppealGrantedRefused.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/AssistedOrderCostDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/AssistedOrderReasons.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/CaseHearingLengthElement.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/ClaimantAndDefendantHeard.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/FinalOrderAppeal.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/FinalOrderFurtherHearing.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/FinalOrderRecitalsRecorded.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/FinalOrderRepresentation.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/OrderMade.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/OrderMadeOnDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/OrderMadeOnDetailsOrderWithoutNotice.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/TrialNoticeProcedure.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/TemplateDataGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2401

#2641 CIV-8075 duplicate documents
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2641

#2630 CIV-8062 code and name of court so it appears in the document
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJCaseworkerReceivedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2630

#2633 CIV-8003 remove sonar coverage exclusion class for Test
  build.gradle
  src/test/java/uk/gov/hmcts/reform/civil/validation/UnavailableDateValidatorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2633

#2650 CIV-0000 - Update HMC screen workflow to use region ID for wales
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/ScreenFlowMapper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2650

#2562 CIV-7137 Part Admit States Paid - CYA and Submit
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AcceptPartAdmitAndPaidConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/AcceptPartAdmitAndPaidConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToResponseConfirmationHeaderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToResponseConfirmationTextGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2562

#2643 CIV-8283 Regression bug locationName is not getting updated in GA after SDO
  src/main/java/uk/gov/hmcts/reform/civil/service/GenAppStateHelperService.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GenAppStateHelperServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2643

#2646 CIV-8004 - Improve Sonar Coverage for FlowPredicate, CreateClaim, AcknowledgeOfService and ProceedInCaseman Notification
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeOfServiceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2646

#2647 CIV-7811 Upgrade to OpenApi
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/civil/config/OpenAPIPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/config/SwaggerPublisherTest.java
  src/main/java/uk/gov/hmcts/reform/civil/config/OpenApiConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/DocumentController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/fees/FeesController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/fees/ServiceRequestUpdateCallbackController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/fees/ServiceRequestUpdateClaimIssuedCallbackController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/hearings/HearingValuesController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/locations/LocationController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/AssignCaseSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/UpdateCaseDataController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/UploadDocumentSupportController.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2647

#2635 CIV-7730 Added new dashboard status when hearing form is generated
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2635
