Repository hmcts/civil-service, pull requests merged in 2023-08, with the labels that each got.

#2895 CIV-7967 PUT request to HMC
  docker/docmosis/templates/CV-UNS-HNO-ENG-01200.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/automatedhearingnotice/UpdateHmcPartiesNotifiedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/hearing/HearingNoticeHmc.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearingnotice/HearingDay.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearingnotice/HearingNoticeVariables.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DateUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/automatedhearingnotice/UpdateHmcPartiesNotifiedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/HearingNoticeSchedulerEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearingnotice/HearingNoticeCamundaServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/DateUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2895

#3005 CIV-8200 CYA - Update content and Submit Function
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantPartyForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantPartyForSpecNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3005

#3039 CIV-9819 Handled extra spaces in postal addresses
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/AddressLinesMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/AddressLinesMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3039

#2978 CIV-9591 Adding other fields for Hearing Time
  src/main/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackHearingTime.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/TrialHearingTimeDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DocumentUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/DocumentUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2978

#2871 CIV-8879 Remove "correspondence address" from generated document
  docker/docmosis/templates/CV-SPC-HRN-ENG-01276-1.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01277-1.docx
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2871

#3038 CIV-9427 - Fixed bug seen during ClaimantLR journey.
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3038

#3035 CIV-9761 free form order output
  docker/docmosis/templates/CV-UNS-DEC-ENG-01099.docx
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/casepogression/JudgeFinalOrderForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3035

#3020 CIV-9772 Defendant Response PDF and Screen Display
  src/main/java/uk/gov/hmcts/reform/civil/model/RepaymentPlanLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/DebtTemplateData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/ReasonMoneyTemplateData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimLipResponseForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudgementService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3020

#3076 CIV-9876 Fix multiple CVEs
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3076

#3087 CIV-5339 - Release 2 - LIP v LIP Update Access Profile JSON
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-3087

#3072 CIV-9253 create claim request
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/MakeBulkClaimPaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Party.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PartyUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/MakeBulkClaimPaymentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineUnspecTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3072

#2986 CIV-8611 CIV-3662 and CIV-8610 CIV-3254
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Applicant1DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Applicant2DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/RemoteHearingLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent1DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent2DQ.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2986

#3118 CIV-0000 removing redundant secrets from aat yaml
  charts/civil-service/values.aat.template.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3118

#3080 CIV-9840 Fix CVE-2022-3064 [WIP]
  build.gradle
  config/owasp/suppressions.xml
  src/test/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/MakeBulkClaimPaymentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsForSpecHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3080

#3123 CIV-9835 Fixed CVE-2021-4235
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3123

#3057 CIV-9408 email notifications update sdo dj 28 jul
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-3057

#3120 CIV-0000 up version of common civil
  build.gradle
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3120

#3059 CIV-9123 - LiP defendant template for Trial Ready Notification
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyRespondentNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, stale, enableHelm, rel:civil-service-pr-3059

#2725 CIV-7733 Hearing Notice: Send notification to LIP when hearing notice created
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationDefendantOfHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NotificationUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationDefendantOfHearingHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2725

#3105 CIV-8432 Evidence Upload Options
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/BundleRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundlingCaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3105

#3049 CIV-7846 - Added Logic for Evidence Upload LiP notification
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/notification/EvidenceUploadApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/EvidenceUploadRespondentNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/notification/EvidenceUploadApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/EvidenceUploadRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-3049

#3067 CIV-9915 remove pin generation, deadline and claim issue date. These …
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallBackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3067

#2972 CIV-8067 Final Order Lip update notification
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GenerateOrderNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GenerateOrderNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2972

#3129 CIV-9362 Update Damages claimant email notification for full defence
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3129

#3132 CIV-9837 civil-service - Fix for CVE-2022-34305
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-3132

#3098 CIV-9968 - RPA BUG - missing 197 in Part admit CCJ to Formalise payment Submit
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3098

#3092 CIV-9924 Update confirmation header and summary for LR vs Lip Spec and UnSpec cases for PBAV3
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3092

#3148 CIV-00000 Changing naming pattern for branches
  .github/workflows/main.yml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3148

#3055 CIV-9645 SDO fast track uplifts
  docker/docmosis/templates/CV-UNS-STD-ENG-01308.docx
  src/main/java/uk/gov/hmcts/reform/civil/enums/ComplexityBand.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormFast.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/FastTrackAllocation.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3055

#3131 CIV-10104 fixed formatting issue.
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/cmc/model/CmcClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3131

#3099 CIV-9967 RPA Message Fix
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3099

#3101 CIV-9864 Change the court location names from long (court name) to short (venue name) for Orders
  docker/docmosis/templates/CV-UNS-DEC-ENG-01322.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-01323.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01324.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01325.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01326.docx
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3101

#3147 CIV-9398 Adding unavailable dates event - New
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddUnavailableDatesCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddUnavailableDatesCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3147

#3135 CIV-10029 Defendant dq by passing for full admit
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3135

#2952 CIV-7301 Strike out notification Lip
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingFeeUnpaidApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingFeeUnpaidRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HearingUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingFeeUnpaidApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingFeeUnpaidRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HearingUtilsTest.java
Labels: ns:civil, prd:civil, pr-values:elasticsearch, rel:civil-service-pr-2952

#2910 CIV-9230 inform agreed extension fixed date
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/DeadlineExtensionValidator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/validation/DeadlineExtensionValidatorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2910

#3162 CIV-0000 addrecipientsinsendletter
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentPartyForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentPartyForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3162

#3130 CIV-9940 fixing 999 code gets sent to RPA for Multi track
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3130

#3126 CIV-10028 - fixed dashboard status for claimant rejects payment plan scenario.
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/service/claimstore/ClaimStoreService.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CmcClaimStatusDashboardFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/cmc/model/CmcClaimTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-3126

#3155 CIV-0000 fix-tasklistener
  src/main/java/uk/gov/hmcts/reform/civil/config/ExternalTaskListenerConfiguration.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3155

#3142 CIV-9780 Extend experts and witness
  src/main/java/uk/gov/hmcts/reform/civil/enums/EventAddedEvents.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Expert.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Witness.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/ExpertUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/WitnessUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/ExpertUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/WitnessUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3142

#3151 CIV-10288 Set Up Email Subject Change for LR v LiP
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3151

#3071 CIV-9872 notify respondent solicitor 1 if is a 1v2SS
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent2LRNotificationSender.java
Labels: ns:civil, prd:civil, destroy, rel:civil-service-pr-3071

#3165 CIV-10175 - CUI - Email notification content needs to be updated for payment plan rejected
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseNotAgreedRepaymentDefendantLipNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseNotAgreedRepaymentRespondentNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseNotAgreedRepaymentDefendantLipNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseNotAgreedRepaymentRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3165

#3096 CIV-9932 Add 'other' option for hearing times on Disposal orders
  src/main/java/uk/gov/hmcts/reform/civil/enums/dj/DisposalHearingFinalDisposalHearingTimeEstimate.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/DisposalHearingFinalDisposalHearingTimeEstimate.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/DisposalHearingFinalDisposalHearingDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/DisposalHearingFinalDisposalHearingTimeDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/DisposalHearingHearingTime.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DocumentUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/DocumentUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3096

#3166 CIV-9256 synchronous response
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/bulkclaims/CaseWorkerSearchCaseParams.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/CaseSdtRequestSearchService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/CaseSdtRequestSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3166

#3068 CIV-9355 prevent judicial referral when shouldn't
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/StateFlowBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/grammar/Set.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/model/Transition.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/StateFlowBuilderTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3068

#3133 CIV-10109 Fix ambiguous state error
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3133

#3119 CIV-9667 bundle notification defendant lip
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BundleCreatedNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BundleCreatedNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3119

#3143 CIV-9701 Add unavailable dates screens with logic
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddUnavailableDatesCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/UnavailableDate.java
  src/main/java/uk/gov/hmcts/reform/civil/model/UpdateDetailsForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/UnavailabilityDatesUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/UnavailableDateValidator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddUnavailableDatesCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/UnavailabilityDatesUtilsTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-3143

#3158 CIV-10172 Remaining Day calculation
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimInfo.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/claimstore/ClaimStoreService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/claimstore/ClaimStoreServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3158

#3085 CIV-9399 Extend unavailable dates
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/UnavailabilityDatesUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/UnavailabilityDatesUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3085

#3086 CIV-9395 Add Update Contact Information Event
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3086

#3168 CIV-10356 create api in civil service to return user caserole
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/advice/ControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/UserNotFoundOnCaseException.java
  src/main/java/uk/gov/hmcts/reform/civil/service/user/UserInformationService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/user/UserInformationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3168
