Repository hmcts/civil-service, pull requests merged in 2023-09, with the labels that each got.

#3070 CIV-9125 Part Admit error showing when defence submits response- SPEC
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculatorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3070

#3184 CIV-0000 Fixing CVE-2023-41080
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3184

#3081 CIV-9868 SDO is failing when Claim dismissal deadline is passed
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3081

#3144 CIV-8878 Changing Legal Rep Heading
  docker/docmosis/templates/CV-SPC-CLM-ENG-01074.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01075.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01076.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01077.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01181.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01182.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01183.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01349.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01350.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01351.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01352.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01353.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01354.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-01355.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01356.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01357.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01358.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01359.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-01271.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-01273.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-01341.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-01342.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-01343.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-01344.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-01345.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-01346.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-01347.docx
  docker/docmosis/templates/CV-UNS-HRN-ENG-01348.docx
  src/main/java/uk/gov/hmcts/reform/civil/model/Party.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/Party.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/Representative.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/PartyBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3144

#3174 CIV-10126 Set Up Lip Claim Issue After Payment
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantChangeOfAddressApplicantForCuiNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseApplicantForCuiNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudgementService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantChangeOfAddressApplicantForCuiNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseApplicantForCuiNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3174

#3152 CIV-9992 - Manage contact info landing page
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/common/DynamicList.java
  src/main/java/uk/gov/hmcts/reform/civil/model/common/DynamicListElement.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/ManageContactInformationUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/UserRoleUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/ManageContactInformationUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/UserRoleUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3152

#3156 CIV-9912 unassign lip defendant noc
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/defendant/LipDefendantCaseAssignmentService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizen/defendant/LipDefendantCaseAssignmentServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3156

#3198 CIV-10456 point to correct aac pod
  Jenkinsfile_CNP
  charts/civil-service/values.aat.template.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3198

#3196 CIV-0000 - Update build.gradle.
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-3196

#3195 CIV-10444 RPA Fixed for Sequence
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3195

#3201 CIV-0000 Log HMCStatus
  src/main/java/uk/gov/hmcts/reform/civil/config/ServiceBusConfiguration.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3201

#3185 CIV-10411 pay by installments
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimLipResponseForm.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimLipResponseFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3185

#3161 Civ-9801 NEW claiamnt preferred court 24 aug
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateReferToJudgeCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/LocationHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateReferToJudgeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/LocationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3161

#3182 CIV-9729 claimant dashboard claim list
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3182

#3150 CIV-10125 update email notifications for LR
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3150

#3212 CIV-10518 fix status change
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3212

#3164 CIV-9750 copy respond doc to main case
  docker/docmosis/templates/CV-UNS-GAP-ENG-01077.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3164

#3009 CIV-9407 Trial Arrangements: Email Notification to Citizen on Completion of Trial Arrangements by the Defendant LiP
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyNotifyOthersHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadinessCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyNotifyOthersHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3009

#3134 CIV-7950 bundles new structure
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/BundleFileNameList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/TypeOfDocDocumentaryEvidenceOfTrial.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/BundleRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleFileNameHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundlingCaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/bundle/BundleCreationService.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/BundleRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleFileNameHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/bundle/BundleCreationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3134

#3218 CIV-9864 fixing rectangle coming before Judge name
  docker/docmosis/templates/CV-UNS-STD-ENG-01362.docx
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3218

#3206 CIV-10416 customer reference null fix
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/MakeBulkClaimPaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3206

#3209 CIV-6431 Debt Respite Translation
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EnterBreathingSpaceLipCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EnterBreathingSpaceLipCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3209

#2998 CIV-8201 Claim submission-HWF
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/RespondentLiPResponse.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantPartyForSpecNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2998

#3104 CIV-10003 Update auto hearing notice template wording
  docker/docmosis/templates/CV-UNS-HNO-ENG-01200.docx
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3104

#3222 CIV-8451 8818changes
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AmendPartyDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ChangeSolicitorEmailCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AmendPartyDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ChangeSolicitorEmailCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3222

#3202 CIV-10064 assisted order heard from
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/ClaimantAndDefendantHeard.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3202

#3249 CIV-0000 clear evidence selection lists on submission
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadHandlerBase.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3249

#3213 CIV-10381 - CUI LR V LR - Remove Mediation from Defendant No Mediation Confirmation Screen
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/FullAdmitSetDateConfirmationText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/PartialAdmitSetDateConfirmationText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/RepayPlanConfirmationText.java
Labels: ns:civil, prd:civil

#3251 CIV-8451 fixed postcode not caring about mandatory
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ChangeSolicitorEmailCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3251

#3227 CIV-9804 Added new Document type gaResp for uploading a document to Main case
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3227

#3258 CIV-000 Add missing config for staging
  charts/civil-service/values.aat.template.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3258

#3226 CIV-8821 - Claimant Intent: Generic notification to defendant
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3226

#3208 CIV-9960 exception happens on retrigger, possibly because org is alre…
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ClaimIssueCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ClaimIssueCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3208

#3257 CIV-TASK - get evidence upload documents to use same timezone
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/UploadEvidenceDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/UploadEvidenceExpert.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/UploadEvidenceWitness.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3257

#3215 CIV-10011 deal with feigned exception
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3215

#3261 CIV-000 Change aac service ingress
  Jenkinsfile_CNP
  charts/civil-service/values.aat.template.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3261

#3256 CIV-10672 RPA fix remove Part Admit 999 and Full Admit 999 from event history mapper from defendant response
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3256

#3187 CIV-10292 Judge is not able to run not suitable for SDO event on claims
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3187

#3221 CIV-10379 additional logs added
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Bundle.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/stitching/CivilDocumentStitchingService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/BundleTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/stitching/CivilDocumentStitchingServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3221

#3175 CIV-10117 Update wording of defendant confirmation when paying immediately
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/PartialAdmitPayImmediatelyConfirmationText.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3175

#3181 CIV-10296 wording fixed
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3181

#3270 CIV-0000 add notification template to application.yaml
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3270

#3277 CIV-0000 - Response date bug.
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/stitching/CivilDocumentStitchingService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3277

#3230 CIV-10378 response document
  docker/docmosis/templates/CV-SPC-CLM-ENG-01065-LIP.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01362.docx
  src/main/java/uk/gov/hmcts/reform/civil/model/RespondToClaim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/EventTemplateData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/EvidenceTemplateData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimLipResponseForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimResponseForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimResponseFormForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimLipResponseFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpecTest.java
Labels: ns:civil, prd:civil, stale, enable_keep_helm, rel:civil-service-pr-3230

#3252 CIV-9961 Exception handling for ClientAbortException
  src/main/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3252

#3265 CIV-10659 - ensure null pointer exception is not thrown when repaymen…
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3265

#3281 CIV-0000 move away from using docker.io images
  charts/civil-service/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3281

#3214 CIV-10070 Unavailable dates and case flags mini-migration
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/HearingValuesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/advice/ControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/MissingFieldsUpdatedException.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/PartyIdsUpdatedException.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsInitialiser.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/UnavailabilityDatesUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsInitialiserTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/UnavailabilityDatesUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3214

#3284 CIV-0000 Changing the parameters for sealedClaimFormWithLiPForm
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/stitching/CivilDocumentStitchingService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3284

#3272 CIV-9787 template change
  docker/docmosis/templates/CV-UNS-GAP-ENG-01075.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-3272

#3231 CIV-10529 - ADD NEW" button CCD Upload Translated Document
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategy.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CaseDataLiP.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SystemGeneratedDocumentService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadTranslatedDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategyTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SystemGeneratedDocumentServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3231

#3216 CIV-10512 - Add partyID to DQ witnesss and experts
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Expert.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/ExpertDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Witness.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PartyUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/PartyUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3216

#3275 CIV-10726 - Fixed LR vs LIP Dashboard to show claim in Claims made ag…
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3275

#3253 CIV-9763 assisted orders document update
  docker/docmosis/templates/CV-UNS-DEC-ENG-01283.docx
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/CostEnums.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/casepogression/JudgeFinalOrderForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/AssistedOrderCostDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/ClaimantAndDefendantHeard.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/DatesFinalOrders.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/FinalOrderAppeal.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/OrderMade.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/TrialNoticeProcedure.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3253

#3278 CIV-10674 - LR Case Progression - Mediation Unnsuccessful - Technical State Flow
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3278

#3279 CIV-10655 - Part admit journey allows events in JUDICIAL_REFERRAL & CASE_PROGRESSION
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3279

#3254 CIV-10534 Record judgment backend
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RecordJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/JudgmentInstalmentDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/JudgmentRTLStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/JudgmentRecordedReason.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/JudgmentStatusDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/JudgmentStatusType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/PaymentFrequency.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/PaymentPlanSelection.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RecordJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3254

#3255 CIV-9156 Claim intent claimant notification
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedApplicantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3255

#3305 CIV-0000 fix issue with lr v lr sealed response generator
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/ResponseRepaymentDetailsForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimLipResponseForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimResponseFormForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpec.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3305

#3290 CIV-0000 SNI-4710 fix hide cases before notify
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ClaimIssueCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ClaimIssueCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3290

#3264 CIV-10231 Update Application Type Name
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3264

#3266 CIV-6719 Notification Debt Respite Submit Function
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BreathingSpaceEnteredLIPNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BreathingSpaceEnteredLIPNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3266

#3283 CIV-10413 assisted order document update
  docker/docmosis/templates/CV-UNS-DEC-ENG-01283.docx
  src/main/java/uk/gov/hmcts/reform/civil/enums/finalorders/ApplicationAppealList.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/casepogression/JudgeFinalOrderForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/AppealGrantedRefused.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3283

#3145 CIV-8998 -Added notification event for create LiP claim flow
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantClaimSubmitted.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantClaimSubmittedTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3145

#3314 CIV-0000 Fixing_DQ_1v1_Doc
  docker/docmosis/templates/CV-UNS-HRN-ENG-01343.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-3314

#3313 CIV-10834 Update Fast track int SDO document
  docker/docmosis/templates/CV-UNS-STD-ENG-01308.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-3313
