Repository hmcts/civil-service, pull requests merged in 2023-03, with the labels that each got.

#2332 CIV-5160 RPA for DJ Changes #2292
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyDefaultJudgmentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/EventDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/EventHistory.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/EventType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistorySequencer.java
  src/main/resources/schema/rpa-json-schema.json
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyDefaultJudgmentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2332

#2365 CIV-0000 Temporary suppression
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2365

#2316 CIV-7223 Branch name conventions
  .git-config/hooks/pre-commit
Labels: ns:civil, prd:civil, rel:civil-service-pr-2316

#2358 CIV-7448 Enable dj api tests on civil service master pipeline
  Jenkinsfile_CNP
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-2358

#2353 CIV-7410 update unit tests, should be 100% method coverage now
  config/owasp/suppressions.xml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToUserHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDJFormHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2353

#2363 CIV-7321 Check if respondent is LiP before sending notification
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDismissedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NotificationUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDismissedRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2363

#2312 CIV-5829 CCD Translation
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CaseDataLiP.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/FinancialDetailsLiP.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/RespondentLiPResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent1DQ.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2312

#2337 CIV-7095 hide/display GA hearing notice
  docker/docmosis/templates/CV-UNS-GAP-ENG-01074.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2337

#2083 CIV-4968 create flags structures
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddDefendantLitigationFriendCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/LitigationFriend.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Party.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseflags/FlagDetail.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseflags/Flags.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsInitialiser.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PartyUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddDefendantLitigationFriendCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsInitialiserTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2083

#2273 CIV-6770 Add HMC Feature Toggle
  src/main/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/launchdarkly/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2273

#2357 CIV-7037 Removed PBA accounts when creating a general application
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAPbaDetails.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/LocationRefSampleDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2357

#2391 updated coverage
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/BundleRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Bundle.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/BundleRequestMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2391

#2369 CIV-6482 stateflowspec state transitions
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilderSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2369

#1686 CIV-5692 fix hearing due date
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorForSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1686

#2242 CIV-3419 add caseflags
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/PartyFlagStructure.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseflags/FlagDetail.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseflags/Flags.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Expert.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsInitialiser.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2242

#2311 CIV-5797 - Transform Mediation model - CCD
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/MediationLiP.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/RespondentLiPResponse.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2311

#2183 CIV-4306 Hearing Fee Payment
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestAPIHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestAPIHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2183

#2127 CIV-1916 extend response
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateForSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2127

#2402 CIV-0000 - bump civil-service chart version to 0.0.32
  charts/civil-service/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2402

#2403 CIV-6352 fix shortcircuiting issue
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/BundleRequestMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2403

#2261 CIV-6955 Remove PBA data collection
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestAPIHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-2261

#2346 CIV-0000 - Merge renovate PRs
  Dockerfile
  build.gradle
  charts/civil-service/Chart.yaml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/.terraform-version
  sendgrid-client/build.gradle
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2346

#2366 CIV-7170 Renovate Automerge
  .github/renovate.json
Labels: ns:civil, prd:civil, rel:civil-service-pr-2366

#2416 CIV-6955 Add removed pba flags
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2416

#2408 CIV-0000 update flow state allowing for STANDARD_DIRECTION_ORDER_DJ
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2408

#2441 CIV-0000 updates based on CIV-7564, adding TAKE_CASE_OFFLINE to same …
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2441

#2397 CIV-000 SNI-3295 Retriggering RPA event
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/ResendNotifyRPAEventsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/ResendNotifyRPAEventsTaskListener.java
  src/main/resources/caseIdForNotifyRpaOnCaseHandedOffline.txt
  src/main/resources/caseIdForNotifyRpaOnContinuousFeed.txt
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2397

#2373 CIV-7329 Add GA Fee Service for Vary appln
  src/main/java/uk/gov/hmcts/reform/civil/config/GeneralAppFeesConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2373

#2443 CIV-000 SNI-3295 Retriggering RPA event
  src/main/resources/caseIdForNotifyRpaOnCaseHandedOffline.txt
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2443

#1930 CIV-5989 - User not able to see 'Response document' on the claim document tab after responding
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-1930

#1931 CIV-6352 BundleIntegrationMain
  docker/docmosis/templates/CV-UNS-LET-ENG-01224.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/client/BundleApiClient.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/EvidenceUploadFiles.java
  src/main/java/uk/gov/hmcts/reform/civil/event/BundleCreationTriggerEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BundleCreationTriggerHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/BundleRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Bundle.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/Bundle.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundleCreateRequest.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundleCreateResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundleData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundleDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundlingCaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundlingCaseDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/BundlingRequestDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/DocumentLink.java
  src/main/java/uk/gov/hmcts/reform/civil/model/bundle/ServedDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/UploadDocumentOnly.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/UploadEvidenceDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/UploadEvidenceExpert.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseprogression/UploadEvidenceWitness.java
  src/main/java/uk/gov/hmcts/reform/civil/service/bundle/BundleCreationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/BundleCreationTriggerService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/BundleCreationTriggerHandlerExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/ElementUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/BundleCreationTriggerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/BundleRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/bundle/BundleCreationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/BundleCreationTriggerServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-1931

#2406 CIV-7409 Added UnitTests
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestUpdateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/HearingFeeUnpaidEventHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2406

#2370 CIV-7487 Fix CVE suppression
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2370

#2198 CIV-4969 enable citizen ui to download pdf without authentication
  src/main/java/uk/gov/hmcts/reform/civil/config/SecurityConfiguration.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2198

#2419 CIV-7382 added integration tests to callback controller and document controller
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/CallbackControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/callback/CallbackHandlerFactoryTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2419

#2449 CIV-000 SNI-3295 Retriggering RPA event
  src/main/java/uk/gov/hmcts/reform/civil/handler/ResendNotifyRPAEventsHandler.java
  src/main/resources/caseIdForNotifyRpaOnCaseHandedOffline.txt
  src/main/resources/caseIdForNotifyRpaOnContinuousFeed.txt
Labels: ns:civil, prd:civil, rel:civil-service-pr-2449

#2405 CIV-7322 Vary Judgment applications must be with notice
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2405

#2350 CIV-7422 preventing NullPointerException
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/AddressLinesMapper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2350

#2458 CIV-7643 unit-tests for #2454
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2458

#2320 CIV-7274 NoC API Tests
  Jenkinsfile_CNP
  build.gradle
  charts/civil-service/Chart.yaml
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
  charts/civil-service/values.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2320

#2360 CIV-7263 Stop swallowing exception silently
  src/integrationTest/java/uk/gov/hmcts/reform/civil/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/fees/ServiceRequestUpdateCallbackControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/fees/ServiceRequestUpdateClaimIssuedCallbackControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/fees/ServiceRequestUpdateCallbackController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/fees/ServiceRequestUpdateClaimIssuedCallbackController.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/InternalServerErrorException.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UserService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UserServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UserServiceImplTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2360

#2336 CIV-7300 fix for bugs found during UAT
  src/main/java/uk/gov/hmcts/reform/civil/config/DatabaseConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/config/MockDatabaseConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/repositories/HearingReferenceNumberRepository.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HearingReferenceNumber.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HearingUtils.java
  src/main/resources/db/migration/V2022_09_07_1557__hearing-reference-number.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HearingReferenceNumberTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HearingUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2336

#2423 CIV-4304 show condition update for spec claims
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2423

#2367 CIV-7381 Add Test coverage
  commons-civil/src/test/java/uk/gov/hmcts/reform/civil/notify/NotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/aos/AcknowledgementOfClaimGeneratorForSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/validation/UnavailableDateValidatorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2367

#2293 CIV-6145 defendant dashboard status
  src/main/java/uk/gov/hmcts/reform/civil/model/BusinessProcess.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/breathing/BreathingSpaceInfo.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimInfo.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatusFactory.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DtoFieldFormat.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/claimstore/ClaimStoreService.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/BreathingSpace.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/ClaimData.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/ClaimState.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/ClaimantResponse.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/ClaimantResponseType.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/PaymentIntention.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/PaymentOption.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/Response.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CmcClaimStatusDashboardFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/claimstore/ClaimStoreServiceTest.java
  src/test/java/uk/gov/hmcts/reform/cmc/model/CmcClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2293

#2393 CIV-7277 Create service hearing model
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/CategoryType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/DOWUnavailabilityType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/HMCLocationType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/MemberType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/PartyType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/RequirementType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/UnavailabilityType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/CaseCategoryDisplayModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/CaseCategoryModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/CaseFlags.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/HearingLocationModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/HearingWindowModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/IndividualDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/JudiciaryModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/NavigationModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/OrganisationDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/PanelComposition.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/PanelPreferenceModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/PanelRequirementsModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/PartyDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/PartyFlagsDisplayModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/PartyFlagsModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/RelatedPartiesModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/ScreenNavigationModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/ServiceHearingValuesModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/UnavailabilityDOWModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/UnavailabilityRangeModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/VocabularyModel.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2393

#2468 CIV-7682 Fix git convention enforcement for merge
  .git-config/hooks/commit-msg
  README.md
Labels: ns:civil, prd:civil, rel:civil-service-pr-2468

#2394 CIV-7379 mediation unsuccessful
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/MediationUnsuccessfulHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Mediation.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/MediationUnsuccessfulHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2394

#2372 CIV-5462 Propose Payment Plan Check your Answers and Confirmation Screen
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/JudgmentSubmittedConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/JudgmentSubmittedConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/ProposePaymentPlanConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/ProposePaymentPlanConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/PaymentBySetDate.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToResponseConfirmationHeaderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToResponseConfirmationTextGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2372

#2461 CIV-7644 Evidence upload event fails with 422 when defendant perform acknowledge claimAdded case events for acknowlege related events
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2461

#2390 CIV-6328 Create hearing values endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/HearingValuesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/advice/ControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/hearings/HearingValuesController.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/CaseNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/civil/model/HearingValuesRequest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/CaseLegacyReferenceSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/exceptions/SearchServiceCaseNotFoundException.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/CaseLegacyReferenceSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2390

#2454 CIV-7643 switched state change logic for Hearing Scheduled
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2454

#2481 CIV-0000 Update audit.json to fix nightly
  audit.json
Labels: ns:civil, prd:civil, rel:civil-service-pr-2481

#2491 CIV-7757 Fix noc tests
  charts/civil-service/Chart.yaml
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2491

#2495 CIV-0000 CVE suppression and chart upgrade
  charts/civil-service/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2495

#2404 CIV-6237 upload translated document
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadTranslatedDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CaseDataLiP.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadTranslatedDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2404

#2457 CIV-7491 remove former solicitor email after noc
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ChangeOfRepresentationNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/ChangeOfRepresentation.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NocNotificationUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ChangeOfRepresentationNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/NocNotificationUtilsTest.java
Labels: ns:civil, prd:civil, Testing, rel:civil-service-pr-2457

#2418 CIV-5944 - CCD field updates Ticket1
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/RespondentLiPResponse.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2418

#2338 CIV-6514 CCJ to Formalise payment Screen - Fixed Costs
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CCJPaymentDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2338

#2355 CIV-5789 - ccd translation for DQ common screens
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DQExtraDetailsLip.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/HearingSupportLip.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/RespondentLiPResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/RequirementsLip.java
Labels: ns:civil, prd:civil, Testing, rel:civil-service-pr-2355

#2523 CIV-6675 fixing day light saving change
  commons-civil/src/test/java/uk/gov/hmcts/reform/civil/helpers/LocalDateTimeHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2523

#2504 CIV-6892 Null pointer exception fix for case location
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaCaseHandedOfflineConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaContinuousFeedConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/LocationRefDataUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyDefaultJudgmentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnContinuousFeedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/utils/LocationRefDataUtilTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2504

#2359 CIV-7408 Refactor Service Request and test
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestAPIHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestAPIHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2359

#2490 CIV-0000 Better error for enableHelm
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, stale, pr-values: enableHelm, rel:civil-service-pr-2490

#2420 CIV-7380 CivilDocumentStitchingService: unit-tests
  src/main/java/uk/gov/hmcts/reform/civil/service/stitching/CivilDocumentStitchingService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/stitching/CivilDocumentStitchingServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2420

#2445 CIV-6778 Create hearings payload
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/HearingValuesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/config/ManageCaseBaseUrlConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/hearings/HearingValuesController.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/CategoryType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/HMCLocationType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/hearing/PartyRole.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/CaseFlagsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/ScreenFlowMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/ServiceHearingsCaseLevelMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/VocabularyMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/IndividualDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/OrganisationDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/PartyDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/ServiceHearingValuesModel.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/CaseCategoriesService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsHearingsUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CollectorUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HmctsServiceIDUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/CaseFlagsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/ServiceHearingsCaseLevelMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/CaseCategoriesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsHearingsUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CollectorUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HmctsServiceIDUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2445

#2266 CIV-7098 Java upgraded to version 17
  Dockerfile
  build.gradle
  charts/civil-service/Chart.yaml
  charts/civil-service/values.yaml
  commons-civil/src/main/java/uk/gov/hmcts/reform/civil/utils/CaseDataContentConverter.java
  config/checkstyle/checkstyle.xml
  gradle/wrapper/gradle-wrapper.properties
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/constants/SpecJourneyConstantLRSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/EventType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GenAppStateHelperService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/EvidenceUploadApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/EvidenceUploadRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2266, destroy

#2508 CIV-7538 freeform preview
  docker/docmosis/templates/CV-UNS-GAP-ENG-01075.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-2508

#2516 CIV-7784 urgentflag
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateCaseFlagsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageCaseFlagsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateCaseFlagsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageCaseFlagsHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2516

#2494 CIV-4995 Update CaseManagementLocation when main claim changes its location
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/TriggerGenAppLocationUpdateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GenAppStateHelperService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/TriggerGenAppLocationUpdateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GenAppStateHelperServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2494

#2362 CIV-4296 Case notes fix
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2362

#2532 CIV-TASK Support revert branch naming convention and CIV-TASK
  .git-config/hooks/pre-commit
  .github/workflows/main.yml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2532

#2301 CIV-6963 - fixed informed agreed extension date
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/DeadlineExtensionValidator.java
  src/test/java/uk/gov/hmcts/reform/civil/validation/DeadlineExtensionValidatorTest.java
Labels: ns:civil, prd:civil, Testing, rel:civil-service-pr-2301

#2533 CIV-0000 fix test asset download in pipelines
  bin/pull-latest-ccd-files.sh
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-2533

#2317 CIV-6215 screens when claimant does not agree with amount proposed by defendant
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/show/DefendantResponseShowTag.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, enableHelm, pr-values:elasticsearch, rel:civil-service-pr-2317

#2501 CIV-7492 NoC issues - spec
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2501

#2518 CIV-7788 Hearing fee look up
  commons-civil/src/main/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/civil/config/HearingFeeConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingFeesService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HearingUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingFeesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HearingUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-2518

#2440 CIV-6854 calculate sla start date
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/ServiceHearingsCaseLevelMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/ServiceHearingsCaseLevelMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-2440
