Repository hmcts/civil-service, pull requests merged in 2024-08, with the labels that each got.

#5092 CIV-14676 Add feature toggle Request for Reconsideration
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/SdoLegalAdviserClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/SdoLegalAdviserDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/OrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5092

#5213 DTSCCI-730 fix payment intention npe
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/cmc/model/CmcClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5213

#5173 CIV-13834 JBA submission message change
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/JudgmentByAdmissionConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/JudgmentByAdmissionConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudgementService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToResponseConfirmationHeaderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToResponseConfirmationTextGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5173

#5160 CIV-14585 - Amend restitch bundle event added
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AmendRestitchBundleCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/bundle/BundleCreationService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AmendRestitchBundleCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/bundle/BundleCreationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5160

#5198 CIV-14720 respondent access for general application
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationServiceHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5198

#5150 CIV-14593 Amend Restitch Bundle
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantAmendRestitchBundleHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantAmendRestitchBundleHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AmendRestitchBundleCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantAmendRestitchBundleHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantAmendRestitchBundleHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AmendRestitchBundleCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5150

#5179 CIV-14763 Response to the claim notification
  src/main/resources/db/migration/V2024_03_12_1216__CIV_12809_go_to_hearing_defendant_full_defence_claimant_rejects_mediation.sql
  src/main/resources/db/migration/V2024_03_13_1153__CIV-12811_full_defence_proceed_no_mediation.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5179

#5118 DTSCCI-570 adding case title om carm csv
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GenerateCsvAndTransferTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLipVLipServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLrvLipServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLrvLrServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5118

#5223 CIV-14678 Template update
  docker/docmosis/templates/CV-SPC-DEC-ENG-00911.docx
  docker/docmosis/templates/CV-SPC-DEC-ENG-00912.docx
  docker/docmosis/templates/CV-SPC-DEC-ENG-00915.docx
  docker/docmosis/templates/CV-SPC-DEC-ENG-00916.docx
  docker/docmosis/templates/CV-SPC-DEC-ENG-00981.docx
  docker/docmosis/templates/CV-SPC-DEC-ENG-00982.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-5223

#5189 CIV-14591 and 85 to 14587
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AmendRestitchBundleCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AmendRestitchBundleCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5189

#5200 CIV-14695 Common Party Validator
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/PartyValidator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/validation/PartyValidatorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5200

#5196 CIV-14594 Bundle Restitch LR Notification
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantAmendRestitchBundleHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantAmendRestitchBundleHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantAmendRestitchBundleHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantAmendRestitchBundleHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5196

#5058 DTSCCI-346 revert the changes to copy flags
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5058

#5192 DTSCCI-469 Remove Spring context
  src/main/java/uk/gov/hmcts/reform/civil/model/HearingSupportRequirementsDJ.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecAfterPaymentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateReferToJudgeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CuiUploadMediationDocumentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DecisionOutcomeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DismissClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EditJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadJudgeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5192

#5191 CIV-14536 - pact tests for payments
  src/contractTest/java/uk/gov/hmcts/reform/civil/PaymentsApiConsumerTest.java
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-5191

#5209 CIV-14595 Bundle Restitch Dashboard Notification
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/CaseEventsDashboardBaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/BundleUpdatedClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/BundleUpdatedDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEventsDashboardCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/BundleUpdatedClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/BundleUpdatedDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_07_31_1300__CIV-14595_bundle_restitch_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/BundleUpdatedClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/BundleUpdatedDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AmendRestitchBundleCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5209

#5195 DTSCCI-454 Remove spring context from unit tests
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationDefendantOfHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationForClaimantRepresentedTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationMediationUnsuccessfulClaimantLRHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationMediationUnsuccessfulDefendantLRHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyApplicant1GenericTemplateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantClaimSubmittedTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantJudgmentVariedDeterminationOfMeansNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantLipHelpWithFeesNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantJudgmentVariedDeterminationOfMeansNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantLipJudgmentVariedDeterminationOfMeansNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLIPDefendantClaimantSettleTheClaimTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyMediationUnsuccessfulDefendantLiPHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RecordJudgmentDeterminationMeansApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RecordJudgmentDeterminationMeansRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ResponseDeadlineExtensionClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ResponseDeadlineExtensionDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5195

#5184 DTSCCI-463 Remove-Spring-context
  src/main/java/uk/gov/hmcts/reform/civil/model/NextHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/UnavailableDate.java
  src/main/java/uk/gov/hmcts/reform/civil/model/caseflags/Flags.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Expert.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Witness.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/ResetRpaNotificationBusinessProcessHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/migration/MigrateCaseDataCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/BundleCreatedNotificationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ChangeSolicitorEmailCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateCaseFlagsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimAfterPaymentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/hearings/UpdateNextHearingDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategyTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5184

#5146 CIV-14526 Change category ID
  src/main/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5146

#5199 DTSCCI-473 Remove Spring context
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingFeePaidCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingFeeUnpaidCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationServiceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgeDecisionOnReconsiderationRequestCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgmentPaidInFullCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/LIPClaimSettledCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageCaseFlagsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/MediationSuccessfulCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/MediationUnsuccessfulHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoticeOfChangeRequestCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5199

#5237 CIV-14783 Full defence, full dispute: Claimant does not proceed with the claim
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantEndsClaimFullDefenceFullDisputeScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantEndsClaimFullDefenceFullDisputeDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsNotToProceedRespondentNotificationHandlerLip.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedLiPRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UpdateClaimStateService.java
  src/main/resources/db/migration/V2024_07_10_1109__CIV-14448-claimant-ends-claim-full-defence-full-dispute-claimant.sql
  src/main/resources/db/migration/V2024_07_10_1419__CIV-14448-claimant-ends-claim-full-defence-full-dispute-defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsNotToProceedRespondentNotificationHandlerLipTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedLiPRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UpdateClaimStateServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5237

#5247 CIV-14199 - CUI CP - Generic template case reference
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BundleCreatedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimReconsiderationUpheldClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimReconsiderationUpheldDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDOApplicantsNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GenerateOrderNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingFeeUnpaidApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingFeeUnpaidRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyApplicant1GenericTemplateHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyNotifyOthersHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyRespondentNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BundleCreatedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimReconsiderationUpheldClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimReconsiderationUpheldDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDOApplicantsNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GenerateOrderNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingFeeUnpaidApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingFeeUnpaidRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyApplicant1GenericTemplateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyNotifyOthersHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, pr-values:elasticsearch, enable_keep_helm, rel:civil-service-pr-5247

#5229 CIV-14725 AND 14726: Unspec update party validation to work with RTL
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5229

#5235 CIV-14723 and 14724 Update party validation for RTL compatibility
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5235

#5218 CIV-14718 ExUI changes for RTL compatibility specified claims Claimant 2
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5218

#5258 CIV-14722 ExUI changes for RTL compatibility specified claims Defendant 2
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5258

#5231 CIV-14808 JO Refactor
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/DefaultJudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/RecordJudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/JudgmentDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/JudgmentRTLStatus.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EditJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RecordJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/DefaultJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/EditJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/RecordJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5231

#5186 DTSCCI-612 - Implement commons methods in civil-service
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CourtOfficerOrderHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CaseNoteService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/defendant/LipDefendantCaseAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/RequestReconsiderationGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CourtOfficerOrderHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateReferToJudgeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotSuitableSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CaseNoteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizen/defendant/LipDefendantCaseAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentNonDivergentSpecPiPLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/RequestReconsiderationGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5186

#5274 DTSCCI-779 Switch on simple state flow engine by default
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-5274

#5227 CIV-13989 Welsh translations for Claimant and Defendant LiP dashboard notifications - Judgments Online 1
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantDefaultJudgementScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/NotifySetAsideJudgementErrorScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantDefaultJudgementScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/NotifySetAsideJudgementErrorScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/JudgementByAdmissionIssuedDefendantDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_05_06_0900__CIV-12893_default_judgement_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_05_07_0900__CIV-13546_default_judgement_issued_claimant_scenario.sql
  src/main/resources/db/migration/V2024_05_16_1230__CIV-13752.Claimant_LiP_set_aside_after_court_error.sql
  src/main/resources/db/migration/V2024_05_16_1600__CIV-13753.default_judgment_set_aside_defendant_scenario.sql
  src/main/resources/db/migration/V2024_05_24_1100__CIV-13792_judgment_by_admission_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_05_27_0900__CIV-13791_JudgmentOnlineRecordJudgmentDeterminationIssued.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/JudgementByAdmissionIssuedDefendantDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5227

#5226 CIV-14745 - Stay case
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5226

#5098 DTSCCI-313 check defendant is linked for civil claims
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/civil/model/DefendantLinkStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/service/pininpost/DefendantPinToPostLRspecService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DefendantPinToPostLRspecServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5098

#5260 CIV-14881 - added changes to send sdo letter to lip claimant.
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendSDOToLiPDefendantCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendSDOToLiPDefendantCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5260

#5289 DTSCCI-313 bring back deprecated endpoint for prod
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentController.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5289

#5278 CIV-14747 - Stay case confirmation screen
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StayCaseCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StayCaseCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5278

#5250 DTSCCI-575 text clean up
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5250

#5269 CIV-14813 Updated URL for general application response page in task list
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/GeneralAppCompleteScenarioTest.java
  src/main/resources/db/migration/V2024_06_10_1610__CIV-9441-general-application-submitted.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5269

#5299 CIV-0000 - Update GeneralAppCreatedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/GeneralAppCreatedScenarioTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5299

#5238 CIV-14817 AHN VP Document Template Updates
  docker/docmosis/templates/CV-UNS-HNO-ENG-01200.docx
  src/main/java/uk/gov/hmcts/reform/civil/enums/DocumentContext.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/DocumentHearingType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/hearing/HearingNoticeHmc.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/enums/DocumentHearingTypeTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/HearingIndividual.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5238

#5253 CIV-14660 -14579 - remove notifications
  src/main/resources/db/migration/V2024_05_17_1144__CIV-13698-sdo-legal-adviser-claimant.sql
  src/main/resources/db/migration/V2024_05_17_1145__CIV-13698-sdo-legal-adviser-defendant.sql
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-5253

#5281 CIV-14821 Check Respondent Assign for LIP
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5281

#5257 CIV-14880 update templates
  docker/docmosis/templates/CV-SPC-CLM-ENG-00001-DRAFT.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-CLAIMANT-CLAIM-FORM.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-DEFENDANT-CLAIM-FORM.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-5257

#5249 CIV-14274 Updating Court Seal on Request for Info Doc
  docker/docmosis/templates/CV-UNS-GAP-ENG-01072.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-5249

#5204 DTSCCI-727 - Add Uncaught Exception Handling
  src/main/java/uk/gov/hmcts/reform/civil/advice/UncaughtExceptionHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/advice/UncaughtExceptionHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5204

#5270 CIV-14878 Service PR - Create Judgments folder in Case File
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDJFormHandlerSpecNonDivergent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/claimantresponse/RequestJudgmentByAdmissionOrDeterminationResponseDocGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/JudgmentByDeterminationDocGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDJFormHandlerSpecNonDivergentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/claimantresponse/RequestJudgmentByAdmissionOrDeterminationResponseDocGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/JudgmentByDeterminationDocGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5270

#5271 CIV-14748 Generate Email Notification When Case Is Stayed
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractNotifyCaseStayedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantCaseStayedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantCaseStayedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StayCaseCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantCaseStayedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantCaseStayedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StayCaseCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5271

#5284 CIV-14934 no auto bundle minti
  src/main/java/uk/gov/hmcts/reform/civil/service/search/BundleCreationTriggerService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/BundleCreationTriggerServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5284

#5236 DTSCCI-694 add scripts to setup dev preview
  README.md
  bin/setup-devuser-preview-env.sh
  bin/variables/load-dev-user-preview-environment-variables.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-5236

#5042 CIV-14452 - Add claim fee to admission amount - Dashboard
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantRejectRepaymentPlanOrgLtdCoDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantRequestMoreTimeScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseFullAdmitPayImmediatelyClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponsePartFullAdmitInstallmentsOrgComClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/FullOrPartAdmitPayByDateOrgOrLtdCompanyFromDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/FullOrPartAdmitPayBySetDateFromDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitPayByInstalmentsScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CCJRequestedClaimantRejectsSettlementAgreementTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantRejectRepaymentPlanDefendantOrgLtdCoDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantAcceptSettlementAgreementDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseAdmitPayInstalmentCompanyDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseOrgORCompPayBySetDateScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponsePayBySetDateScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponsePayImmediatelyScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/MoreTimeRequestedScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/InterlocutoryJudgementDocMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/manualdetermination/ClaimantLipManualDeterminationFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/ClaimantResponseUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/model/docmosis/InterlocutoryJudgementDocMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/manualdetermination/ClaimantLipManualDeterminationFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/ClaimantResponseUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5042

#5292 CIV-14283 Add new court seal to document templates
  docker/docmosis/templates/CV-UNS-GAP-ENG-01070.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01071.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-5292

#5324 CIV-14869 CJES Service : RECORD_JUDGMENT
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/client/CjesApiClient.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/judgmentonline/SendJudgmentDetailsCjesHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/cjes/JudgementAddress.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/cjes/JudgmentDefendantDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/cjes/JudgmentDetailsCJES.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/cjes/RegistrationType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/judgments/CjesApiClientFallback.java
  src/main/java/uk/gov/hmcts/reform/civil/service/judgments/CjesMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/judgments/CjesService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/judgmentonline/SendJudgmentDetailsCjesHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/judgments/CjesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/judgments/CjesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5324

#5318 CIV-14824 to 27 and 28
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractCaseDismissNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseDismissClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseDismissDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DismissCaseCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseDismissClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseDismissDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DismissCaseCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5318

#5339 CIV-14804 Changes to call to CJES for Default Judgment update
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/judgmentonline/SendJudgmentDetailsCjesHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/DefaultJudgmentOnlineMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/judgmentonline/SendJudgmentDetailsCjesHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/DefaultJudgmentsOnlineMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5339

#5311 CIV-14895 WA task to take case offline after set aside in error or defence received
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5311

#5290 CIV-14894 - Change confirmation text for bundle restitch
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AmendRestitchBundleCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AmendRestitchBundleCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5290

#5327 CIV-14807 Add Camunda task: Judgment by Admission
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractCaseDismissNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseDismissClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseDismissDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DismissCaseCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/judgmentonline/SendJudgmentDetailsCjesHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseDismissClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseDismissDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DismissCaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5327

#5351 CIV-14895 WA task to take case offline after set aside in error or defence received
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5351

#5310 CIV-14579 - add notification removal to sdo
  src/main/resources/db/migration/V2024_04_05_0001__CIV-11305_upload_hearing_documents_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_09_0001__CIV-11306_upload_hearing_documents_defendant_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5310

#5265 CIV-14243 added hearing details in case of non urgency
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationServiceHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5265

#5348 CIV-0000 sprint branch for CJES services: CIV-14869, 14809, 14804, 14807
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/client/CjesApiClient.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/judgmentonline/SendJudgmentDetailsCjesHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/DefaultJudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/EditJudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/cjes/JudgementAddress.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/cjes/JudgmentDefendantDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/cjes/JudgmentDetailsCJES.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/cjes/RegistrationType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/judgments/CjesApiClientFallback.java
  src/main/java/uk/gov/hmcts/reform/civil/service/judgments/CjesMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/judgments/CjesService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/judgmentonline/SendJudgmentDetailsCjesHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/DefaultJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/EditJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/judgments/CjesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/judgments/CjesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5348

#5084 DTSCCI-492 Refactor defendant response - phase 1
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyDefaultJudgmentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnContinuousFeedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DirectionsQuestionnairePreparer.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/caseoffline/CaseHandledOfflineRecipient.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/caseoffline/applicant/CaseHandledOffLineApplicantSolicitorNotifierFactory.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/caseoffline/applicant/CaseHandledOfflineApplicantSolicitorNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/caseoffline/applicant/CaseHandledOfflineApplicantSolicitorSpecNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/caseoffline/applicant/CaseHandledOfflineApplicantSolicitorUnspecNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/caseoffline/respondent/CaseHandledOffLineRespondentSolicitorNotifierFactory.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/caseoffline/respondent/CaseHandledOfflineRespondentSolicitorNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/caseoffline/respondent/CaseHandledOfflineRespondentSolicitorSpecNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/caseoffline/respondent/CaseHandledOfflineRespondentSolicitorUnspecNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceApplicantSolicitorOneCCSpecNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceApplicantSolicitorOneCCUnspecNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceApplicantSolicitorOneSpecNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceApplicantSolicitorOneUnspecNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceNotificationType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceRespondentSolicitorOneCCSpecNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceRespondentSolicitorOneCCUnspecNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceRespondentSolicitorTwoCCSpecNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceRespondentSolicitorTwoCCUnspecNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceSolicitorCCSpecNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceSolicitorNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceSolicitorNotifierFactory.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceSolicitorUnspecNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/robotics/DefaultJudgmentRoboticsNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/robotics/RoboticsNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/TakeCaseOfflineSearchService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyDefaultJudgmentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnContinuousFeedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DirectionsQuestionnairePreparerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceApplicantSolicitorOneCCSpecNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceApplicantSolicitorOneCCUnspecNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceApplicantSolicitorOneSpecNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceApplicantSolicitorOneUnspecNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceRespondentSolicitorOneCCSpecNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceRespondentSolicitorOneCCUnspecNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceRespondentSolicitorTwoCCSpecNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceRespondentSolicitorTwoCCUnspecNotifierTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5084

#5356 CIV-15096 CIV-15097 FT and INT complexity band screens final order
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataCaseProgression.java
  src/main/java/uk/gov/hmcts/reform/civil/model/finalorders/FinalOrdersComplexityBand.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5356
