Repository hmcts/civil-service, pull requests merged in 2024-02, with the labels that each got.

#3962 CIV-0000 sprint branch
  docker/docmosis/templates/CV-UNS-DEC-ENG-00001.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForReconsiderationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/DesicionOnReconsiderationDocumentForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/JudgeDecisionOnReconRequest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/RequestReconsiderationGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForReconsiderationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgeDecisionOnReconsiderationRequestCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/RequestReconsiderationGeneratorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3962

#3946 CIV-12402 - CUI R2 - State change is not right after CCJ is requested
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-3946

#3966 CIV-12265 Email Notification to Claimant LiP in Bilingual Claim Issue
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimSubmissionLipClaimantNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimSubmissionLipClaimantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3966

#3979 CIV-12288 Translate Notification to Claimant: Claim submitted, but payment required
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantClaimSubmitted.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantClaimSubmittedTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3979

#3971 CIV-11085 CCJ Flows
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3971

#3954 CIV-11869 HMC non-early adopter Error message
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/NotEarlyAdopterCourtException.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3954

#3967 CIV-12364 - Notify LiP Claimant that Translated Docs are uploaded.
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedClaimantNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedClaimantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3967

#3956 CIV-5142 NPE removal, added test to check what happens on null
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormDisposal.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormFast.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormSmall.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3956

#3991 CIV-0000 Fix fortify
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  docker-pactbroker-compose.yml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3991

#3978 CIV-12285 Updated functionality for claim issue continuing on for bilingual claimant
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantPartyForSpecNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantPartyForSpecNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3978

#3985 CIV-12281 claimant intention translated doc notifications
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedApplicantNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedLiPRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3985

#3952 CIV-11831 Backend changes
  src/main/java/uk/gov/hmcts/reform/civil/constants/SdoR2UiConstantFastTrack.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/HearingLengthFinalOrderList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/IncludeInOrderToggle.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/PhysicalTrialBundleOptions.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/SdoR2FastTrackMethod.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/TrialOnRadioOptions.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2AddNewDirection.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2DisclosureOfDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2FastTrackAltDisputeResolution.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2RestrictNoOfPagesDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2RestrictNoOfWitnessDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2RestrictPages.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2RestrictWitness.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2ScheduleOfLoss.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2Settlement.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2Trial.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2TrialFirstOpenDateAfter.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2TrialHearingLengthOther.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2TrialWindow.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2VariationOfDirections.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2WitnessOfFact.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3952

#3998 CIV-00000 Add slack alerts
  infrastructure/alerts.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-3998

#3980 CIV-12195 Welsh Notification
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationForClaimantRepresented.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationForClaimantRepresentedTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3980

#3986 CIV-11545 - Add Welsh Flag to mediation CSV
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GenerateCsvAndTransferTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GenerateCsvAndTransferHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLipVLipServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLrvLipServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLrvLrServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3986

#3995 CIV-12316 Translate settlement agreement notification
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantSignSettlementAgreementNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantSignSettlementAgreementNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3995

#3964 CIV-12531 add new retrigger event
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/RetriggerCasesEventHandler.java
  src/main/resources/caseIdForRetrigger.txt
  src/test/java/uk/gov/hmcts/reform/civil/callback/CaseEventTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/RetriggerCasesEventHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3964

#4032 CIV-12503 adding 2 more case id with missing role category and work type
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/handler/RetriggerCasesEventHandler.java
  src/main/resources/caseIdForRetrigger.txt
Labels: ns:civil, prd:civil, rel:civil-service-pr-4032

#3999 CIV-12446 Stop judge from changing location where inappropriate
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotSuitableSDOCallbackHandler.java
Labels: ns:civil, prd:civil, destroy, rel:civil-service-pr-3999

#4038 CIV-0000 updated tarraform version
  infrastructure/.terraform-version
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-4038

#4006 CIV-12486 Add DJ flag
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4006

#4012 CIV-12408 DRH SDO
  src/main/java/uk/gov/hmcts/reform/civil/constants/SdoR2UiConstantSmallClaim.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/IncludeInOrderToggle.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/SmallClaimsSdoR2HearingMethod.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/SmallClaimsSdoR2PhysicalTrialBundleOptions.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/SmallClaimsSdoR2TimeEstimate.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/TrialOnRadioOptions.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/DesicionOnReconsiderationDocumentForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsHearing.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsHearingFirstOpenDateAfter.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsHearingLengthOther.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsHearingWindow.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsImpNotes.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsJudgesRecital.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsPPI.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsRestrictPages.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsRestrictWitness.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsUploadDoc.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsWitnessStatements.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/RequestReconsiderationGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4012

#4002 CIV-12045 wa enter judgment manually
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UpdateClaimStateService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudgmentAdmissionUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimantIntentionClaimStateCallbackHandlerTests.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/JudgmentAdmissionUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4002

#4035 CIV-12627 first case
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/resources/caseIdForRetrigger.txt
Labels: ns:civil, prd:civil, rel:civil-service-pr-4035

#4011 CIV-12643 Fix Generate hearing document spec
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4011

#4017 CIV-10058 caseworker for no remission hwf
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/NoRemissionDetailsSummary.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/HelpWithFeesDetails.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandlerTest.java
Labels: ns:civil, prd:civil, destroy, rel:civil-service-pr-4017

#4045 CIV-12627 other cases
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/resources/caseIdForRetrigger.txt
Labels: ns:civil, prd:civil, rel:civil-service-pr-4045

#4040 CIV-12204 update damages phone number in email notification
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-4040

#4013 CIV-12605 Gradle loader for env vars for local dev
  .gitignore
  README.md
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-4013

#4023 CIV-10057 HWF Caseworker - Partial Remission HWF - Granted
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/PartialRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/HelpWithFeesDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/PartialRemissionHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4023

#4030 CIV-10054 More Information Required HWF
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/HwFMoreInfoRequiredDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/MoreInformationHwfCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/HelpWithFeesMoreInformation.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/MoreInformationHwfCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/validation/DeadlineExtensionValidatorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4030

#3990 CIV-11807 - SDO DMN for Part Admit Journeys/ Defence journey - Release 2
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimStateAfterUploadingTranslatedDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimantIntentionClaimStateCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimStateAfterUploadingTranslatedDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimantIntentionClaimStateCallbackHandlerTests.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3990

#4022 CIV-10056 HWF Caseworker - Full Remission HWF - Granted
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FullRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/PartialRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/HelpWithFeesDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FullRemissionHWFCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4022

#4052 CIV-12793 add scenario table to create scenario config
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/controllers/DashboardController.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/data/Notification.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/data/NotificationAction.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/data/TaskList.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/data/TaskStatus.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/DashboardNotificationsEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/NotificationActionEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/NotificationTemplateEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/ScenarioEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/TaskListEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/repositories/DashboardNotificationsRepository.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/repositories/NotificationActionRepository.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/repositories/NotificationRepository.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/repositories/ScenarioRepository.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationService.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardScenariosService.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/TaskListService.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationServiceTest.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/DashboardScenariosServiceTest.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/utils/DashboardNotificationsTestUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/CreateDashboardScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/GetTaskListControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/RecordNotificationClickControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/RecordTaskItemClickControllerTest.java
  src/integrationTest/resources/scripts/dashboardNotifications/create_dashboard_scenarios.sql
  src/integrationTest/resources/scripts/dashboardNotifications/get_notifications_data.sql
  src/integrationTest/resources/scripts/dashboardNotifications/get_task_list.sql
  src/integrationTest/resources/scripts/dashboardNotifications/record_notifications_click.sql
  src/integrationTest/resources/scripts/dashboardNotifications/record_task_item_click.sql
  src/main/java/uk/gov/hmcts/reform/civil/client/DashboardApiClient.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V2018_06_06_1515__add-quartz-tables.sql
  src/main/resources/db/migration/V2018_08_01_1302__add-user-roles-tables.sql
  src/main/resources/db/migration/V2019_08_07_1430__migrate-claim-reference-number.sql
  src/main/resources/db/migration/V2022_05_26_1345__migrate_spec_legal_rep_reference_number_seq.sql
  src/main/resources/db/migration/V2024_02_02_12356_1__create_dashboard_notification_template_table.sql
  src/main/resources/db/migration/V2024_02_02_12356_2__create_dashboard_notification_table.sql
  src/main/resources/db/migration/V2024_02_02_12356_3__create_task_tables.sql
  src/main/resources/db/migration/V2024_02_02_12356_4__create_scenario_tables.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4052

#4049 CIV-12646 HWF - Pause service request
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4049

#4057 CIV-00000 Add testing support flow state endpoint to auth whitelist
  src/main/java/uk/gov/hmcts/reform/civil/config/SecurityConfiguration.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4057

#4065 CIV-12797 Record notification click in separate entities
  dashboard-notifications/build.gradle
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/controllers/DashboardController.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/NotificationActionEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/TaskItemTemplateEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/repositories/TaskItemTemplateRepository.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/repositories/TaskListRepository.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationService.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardScenariosService.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/TaskListService.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/controllers/DashboardControllerTest.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationServiceTest.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/DashboardScenariosServiceTest.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/TaskListServiceTest.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/utils/DashboardNotificationsTestUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/DeleteNotificationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/GetTaskListControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/NotificationTemplateControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/RecordNotificationClickControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/RecordTaskItemClickControllerTest.java
  src/integrationTest/resources/scripts/dashboardNotifications/create_dashboard_scenarios.sql
  src/integrationTest/resources/scripts/dashboardNotifications/delete_notification.sql
  src/integrationTest/resources/scripts/dashboardNotifications/get_task_list.sql
  src/integrationTest/resources/scripts/dashboardNotifications/record_notification_click.sql
  src/integrationTest/resources/scripts/dashboardNotifications/record_task_item_click.sql
  src/main/resources/db/migration/V2024_02_02_12356_2__create_dashboard_notification_table.sql
  src/main/resources/db/migration/V2024_02_02_12356_3__create_task_tables.sql
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-4065

#4064 CIV-00000 Bulk retrigger of cases
  src/main/java/uk/gov/hmcts/reform/civil/handler/RetriggerCasesEventHandler.java
  src/main/resources/caseIdForRetrigger.txt
  src/test/java/uk/gov/hmcts/reform/civil/handler/RetriggerCasesEventHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4064

#4026 CIV-10055 update hwf ref number
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UpdateHelpWithFeeRefNumberHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/HelpWithFeesDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UpdateHelpWithFeeRefNumberHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4026

#4075 CIV-12562 Part remission HwF - granted - Claimant notifications
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/PartialRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/HelpWithFeesDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/HWFFeePaymentOutcomeService.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/PartialRemissionHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/HWFFeePaymentOutcomeServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4075

#4070 CIV-12703 No remission notification Welsh
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4070

#4043 CIV-10059 - HWF Caseworker - Fee Payment Outcome
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/PartialRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/HearingFeeDueHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/FeePaymentOutcomeDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/HelpWithFees.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/HelpWithFeesDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/HWFFeePaymentOutcomeService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/PartialRemissionHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/HearingFeeDueHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/HWFFeePaymentOutcomeServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4043

#4029 CIV-10053 Invlaid HwF reference number
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InvalidHwFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InvalidHwFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4029

#4081 CIV-12567 Invalid HwF Reference
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InvalidHwFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InvalidHwFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4081

#4044 CIV-12577 Notification for HwF more infor need
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/MoreInformationHwfCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/MoreInformationHwfCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4044

#4089 CIV-0000 Add retries to failed AHN process
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/HearingNoticeSchedulerEventHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/HearingNoticeSchedulerEventHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4089

#4055 CIV-8308 Judge's Screen Order Details Flight Delay Section
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/SmallTrack.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SmallClaimsFlightDelay.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4055

#4094 CIV-0000 fix filghtdelay prod failure
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4094

#4092 CIV-12707 bilingual more info notification
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4092

#4095 CIV-00000 Remove alerts
  infrastructure/alerts.tf
Labels: ns:civil, prd:civil, destroy, rel:civil-service-pr-4095

#4096 CIV-12557 - Fee Payment Outcome event notification changes.
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-4096

#4100 CIV-12703 More information notification
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/MoreInformationHwfCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4100

#4071 CIV-12546 Map to dateTimeModified and dateTimeCreated
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/CaseFlagsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/PartyFlagsModel.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/CaseFlagsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsHearingsUtilsTest.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-4071

#4104 CIV-12577 Dashboard status
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4104

#4033 CIV-11848 NHD Scheduler Handler
  bin/add-roles.sh
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/hearings/UpdateNextHearingDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/NextHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/hearings/UpdateNextHearingDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4033

#4105 CIV-12906 Claim issue dashboard status
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4105

#4113 CIV-12703 Null check for helfwithfeesdetails
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4113

#4114 CIV-12577 Dashboard status
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4114

#4062 CIV-11837 NIHL SDO document
  docker/docmosis/templates/CV-UNS-STD-ENG-01387.docx
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/SdoR2FastTrackMethod.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormFastNihl.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-4062

#4118 CIV-12707 Bilingual documents
  src/main/java/uk/gov/hmcts/reform/civil/enums/HwFMoreInfoRequiredDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4118
