Repository hmcts/civil-service, pull requests merged in 2024-07, with the labels that each got.

#5009 DTSCCI-378 refactoring cmc consumer tests
  src/contractTest/java/uk/gov/hmcts/reform/civil/CaseAssignmentApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/CmcClaimsForClaimantApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/CmcClaimsForDefendantApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/CmcDefendantLinkedApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/NewBundleApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/StitchBundleApiConsumerTest.java
Labels: ns:civil, prd:civil, pr_ft_noc, rel:civil-service-pr-5009

#5008 DTSCCI-490 remove deprecated property volume lib
  build.gradle
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5008

#4966 CIV-13740 - hearing fee unpaid fix
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeUnpaidScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/HearingFeeUnpaidScenarioTest.java
  src/main/resources/db/migration/V2024_04_03_0934__CIV-11299_hearing_fee_unpaid_both_parties_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4966

#4978 CIV-14148 Claimant LR screen: Discontinuing against defendants 1v2 only
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DiscontinueClaimClaimantCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/DiscontinueClaimHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DiscontinueClaimClaimantCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/discontinue/DiscontinueClaimHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4978

#4963 CIV-13827 - Dashboard update for struck out cases
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4963

#5021 DTSCCI-378 refactoring consumer tests
  src/contractTest/java/uk/gov/hmcts/reform/civil/CmcClaimsForClaimantApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/CmcClaimsForDefendantApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/CmcConsumerTestUtil.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5021

#5010 CIV-14279 Refactoring - CCD event: Settle this claim - remove 1v2 same LR assumption
  src/main/java/uk/gov/hmcts/reform/civil/helpers/SettleClaimHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimMarkPaidFullCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/SettleClaimHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5010

#5001 DTSCCI-346 fix logging for respondent flags
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/defendant/LipDefendantCaseAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/events/CaseEventService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/service/citizen/defendant/LipDefendantCaseAssignmentServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5001

#5032 DTSCCI-508 adding state to consumer tests
  src/contractTest/java/uk/gov/hmcts/reform/civil/CmcClaimsForClaimantApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/CmcClaimsForDefendantApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/CmcConsumerTestUtil.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/CmcDefendantLinkedApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/FeesRangeGroupApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/NewBundleApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/StitchBundleApiConsumerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5032

#5018 CIV-14401 - CUI R2 - Previous notifications not removed after Claimant signed SSA
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/resources/db/migration/V2024_03_05_1154__CIV-12814_claimant_intent_sign_settlement_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5018

#4995 CIV-13840 Defendant notification is not correct when Claimant accept
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/PartAdmitImmediatelyClaimSettledScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4995

#4996 CIV-13841 LRvLip Defendant notification is not correct when Claimant accept repaymentplan
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/JudgementByAdmissionIssuedDefendantDashboardNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/JudgementByAdmissionIssuedDefendantDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4996

#5005 CIV-13747 JudgmentByAdmission Dashboard notifications are not correct…
  src/main/java/uk/gov/hmcts/reform/civil/service/search/FullAdmitPayImmediatelyNoPaymentFromDefendantSearchService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/FullAdmitPayImmediatelyNoPaymentFromDefendantSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5005

#5012 CIV-14147 added notification to delete after translated documents
  src/main/resources/db/migration/V2024_03_15_1445__CIV-13077_defendant_orgorltdcompany_admit_pay_by_date_scenario.sql
  src/main/resources/db/migration/V2024_03_15_1456__CIV-13115_defendant_response_admit_pay_immediately_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_18_1002__CIV-13116_defendant_response_part_admit_claimant.sql
  src/main/resources/db/migration/V2024_03_18_1456__CIV-13111_defendant_response_full_part_admit_installments_org_com_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_20_1231__CIV-13140_claimant_states_paid_in_full_scenario.sql
  src/main/resources/db/migration/V2024_03_21_1040__CIV-13162_defendant_response_part_admit_pay_already_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_21_1136__CIV-13164_claimant_full_defence_no_mediation.sql
  src/main/resources/db/migration/V2024_03_21_1145__CIV-13129_defendant_admit_pay_by_date_scenario.sql
  src/main/resources/db/migration/V2024_03_21_1157__CIV-13130_defendant_response_admit_pay_by_instalments_scenario.sql
  src/main/resources/db/migration/V2024_03_26_1145__CIV-13199_defendant_full_defence_full_dispute_mediation.sql
  src/main/resources/db/migration/V2024_03_27_1108__CIV-13165-full-defence-full-dispute-mediation-claimant.sql
  src/main/resources/db/migration/V2024_03_27_1420__CIV-13166-claimant_full_defence_fast_track.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5012

#5030 CIV-14449 Extra Dashboard notifications for Judgment Online journeys.
  src/main/resources/db/migration/V2024_05_06_0900__CIV-12893_default_judgement_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_05_07_0900__CIV-13546_default_judgement_issued_claimant_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5030

#5034 CIV-14343 Fix defendant CCJ dashboard status
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5034

#4969 CIV-14169 Upload hearing documents - Dashboard Task List
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/OrderMadeClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/UpdateDashboardTaskListClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/OrderMadeDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/UpdateDashboardTaskListDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantDecisionOutcomeDashboardHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantDecisionOutcomeDashboardHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DecisionOutcomeCallbackHandler.java
  src/main/resources/db/migration/V2024_06_20_1144__CIV-14169-defendant_decision_outcome_update_task_list_status.sql
  src/main/resources/db/migration/V2024_06_20_1145__CIV-14169-claimant_decision_outcome_update_task_list_status.sql
  src/main/resources/db/migration/V2024_06_21_1155__CIV-14169-update-claimant-task-list-final-orders-issued.sql
  src/main/resources/db/migration/V2024_06_21_1166__CIV-14169-update-defendant-task-list-final-orders-issued.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantDecisionOutcomeDashboardHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantDecisionOutcomeDashboardHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DecisionOutcomeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4969

#5023 CIV-14378 - CUI R2 - Claimant DQ form is generated when its not needed
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5023

#5020 CIV-14418 Removed Previous notification after Claim is settled & CIV-14420
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantResponseNotificationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/MediationScenarioTest.java
  src/main/resources/db/migration/V2024_03_05_1422__CIV-12789_mediation_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_05_1500__CIV-12753_creat_claimant_claim_settled_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5020

#4960 DTSCCI-335 Do not send NoC - Un-paid hearing fee notification email when no fee due
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingFeeDueAfterNocNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingFeeDueAfterNocNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4960

#4986 CIV-13849 using 13715 show review request comments in summary
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestForReconsiderationCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestForReconsiderationCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4986

#5054 CIV-13825 cml sdo legal advisor
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/LocationHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/LocationHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5054

#5019 CIV-14280 Refactoring - CCD event: Discontinue claim claimant - remove 1v2 same LR
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DiscontinueClaimClaimantCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/DiscontinueClaimHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DiscontinueClaimClaimantCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/discontinue/DiscontinueClaimHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5019

#5028 CIV-14292 Notice Of Change
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantNocScenarioTest.java
  src/main/resources/db/migration/V2024_06_18_1101__CIV-14091_claimant_notification_defendant_noc.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5028

#5053 CIV-0000 removed full stop from link in notification
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseFullDefenceFastTrackClaimantScenarioTest.java
  src/main/resources/db/migration/V2024_03_27_1420__CIV-13166-claimant_full_defence_fast_track.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5053

#4833 CIV-13626 urgent lip ga
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationServiceHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4833

#5017 CIV-14301 Notifications persisting for claimant after SDO
  src/main/resources/db/migration/V2024_04_05_0001__CIV-11305_upload_hearing_documents_claimant_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5017

#4997 CIV-14233 Validate discontinuance claim
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ValidateDiscontinueClaimClaimantCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ValidateDiscontinueClaimClaimantCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4997

#5022 CIV-13986 Settle Reason
  src/main/java/uk/gov/hmcts/reform/civil/enums/SettlementReason.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/settlediscontinue/MarkPaidConsentList.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5022

#5060 CIV-14515 Mediation CSV file
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GenerateCsvAndTransferTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5060

#5027 CIV-14310 Do not show time extension status if response exists
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5027

#5049 DTSCCI-536 increase char limit not suitable for sdo
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotSuitableSDOCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotSuitableSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5049

#5047 CIV-14376 Fix formatting in DQ template
  docker/docmosis/templates/CV-SPC-HRN-ENG-LIP-01283.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-5047

#5007 CIV-14124 - translated order notification
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedOrderNoticeUploadedClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedOrderNoticeUploadedDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategy.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedOrderNoticeUploadedClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedOrderNoticeUploadedDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategyTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5007

#5061 CIV-14528 CUI R2 - Claim Interest values are not captured properly on the Claim form
  docker/docmosis/templates/CV-SPC-CLM-ENG-00001-DRAFT.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-CLAIMANT-CLAIM-FORM.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-DEFENDANT-CLAIM-FORM.docx
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimFormMapper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5061

#5059 CIV-14281 - Adding summary to Noc taken offline
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5059

#5051 CIV-13828 remove previous notifications when struck out
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/controllers/DashboardController.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/repositories/DashboardNotificationsRepository.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationService.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationServiceTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/DashboardCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/client/DashboardApiClient.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingFeeUnpaidClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/HearingFeeUnpaidDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_04_03_0934__CIV-11299_hearing_fee_unpaid_both_parties_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingFeeUnpaidClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/HearingFeeUnpaidDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5051

#5043 CIV-14057 - CUI R2 - On Welsh translation, telephone number is not appearing in the notification
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CCJRequestedScenarioTest.java
  src/main/resources/db/migration/V2024_03_08_1630__CIV-12747_claimantIntent_ccj_requested_scenario.sql
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-5043

#5052 DTSCCI-428 Remove Spring context from Unit tests
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ApplicationClosedUpdateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ApplicationOfflineUpdateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/DefaultJudgementNonDivergentSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendFinalOrderToLiPCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendHearingToLiPCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/TriggerGenAppLocationUpdateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/TriggerMoveApplicationOfflineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ValidateFeeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ValidateFeeForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5052

#5050 CIV-14194 Claimant LR screen - CYA and Confirmation
  src/main/java/uk/gov/hmcts/reform/civil/enums/CaseState.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/settlediscontinue/DiscontinuanceTypeList.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DiscontinueClaimClaimantCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DiscontinueClaimClaimantCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5050

#4994 DTSCCI-403 Remove Spring context from unit tests
  src/main/java/uk/gov/hmcts/reform/civil/model/BusinessProcess.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/DispatchBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/StartBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToApplicantSolicitorCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToLipUserHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/EvidenceUploadApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/EvidenceUploadRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/DefaultJudgmentCoverLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/JudgmentByAdmissionPiPLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/RecordJudgmentDeterminationOfMeansLiPLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/SetAsideJudgmentInErrorLiPLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearingnotice/HearingNoticeCamundaServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4994

#5046 CIV-14390 Claimant status after CCJ requested
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5046

#5029 CIV-14236 Caseworker screens: Validate order information
  src/main/java/uk/gov/hmcts/reform/civil/enums/settlediscontinue/ConfirmOrderGivesPermission.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DiscontinueClaimClaimantCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimMarkPaidFullCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ValidateDiscontinueClaimClaimantCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/settlediscontinue/DiscontinueClaimHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/settlediscontinue/SettleClaimHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ValidateDiscontinueClaimClaimantCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/settlediscontinue/DiscontinueClaimHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/settlediscontinue/SettleClaimHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5029

#5063 CIV-14516 Add missing flowState to DQGenerator
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5063

#5039 CIV-14348 Add states offline notification
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/CaseProceedOfflineClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CaseProceedOfflineDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseProceedOfflineClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseProceedOfflineDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/resources/db/migration/V2024_05_08_0230__CIV-13495-case_proceed_offline_claimant.sql
  src/main/resources/db/migration/V2024_05_08_0231__CIV-13495-case_proceed_offline_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseProceedOfflineClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseProceedOfflineDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5039

#5062 CIV-12764 remove ga fee type
  src/main/java/uk/gov/hmcts/reform/civil/helpers/CaseDetailsConverter.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5062

#5067 CIV-14365 - SQL changes to find Comment on reconsideration request pages
  Changes_for_local.patch
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/RequestForReconsiderationRecipientClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/RequestForReconsiderationRecipientDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/RequestForReconsiderationRequestedByOtherPartyClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/RequestForReconsiderationRequestedByOtherPartyDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_06_12_1507__CIV-13715-request-for-reconsideration-requested-by-other-party-claimant.sql
  src/main/resources/db/migration/V2024_06_12_1517__CIV-13715-request-for-reconsideration-requested-by-other-party-defendant.sql
  src/main/resources/db/migration/V2024_06_20_0945__CIV-13862-request-for-reconsideration-commented-by-other-party.sql
  src/main/resources/db/migration/V2024_07_11_1039__CIV-14365-delete-reconsideration-comments-notification-LR.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/RequestForReconsiderationRequestedByOtherPartyClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/RequestForReconsiderationRequestedByOtherPartyDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5067

#5066 DTSCCI-548 make an order event
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5066

#5074 CIV-00000 Remove local patch file
  Changes_for_local.patch
Labels: ns:civil, prd:civil, rel:civil-service-pr-5074

#4967 CIV-14241 HMC EA whitelisting Hearings Tab
  src/main/java/uk/gov/hmcts/reform/civil/service/EarlyAdoptersService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/EarlyAdoptersServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4967

#5036 CIV-14435 - CUI R2 dashboard: Full dispute scenarios
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantFullDefenceFullDisputeMediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseFullDefenceMediationRefusedClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitFullDefenceFullPaidClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseFullDefenceFastTrackClaimantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5036

#5068 CIV-14557 Defendant response text is not aligned properly
  docker/docmosis/templates/CV-SPC-CLM-ENG-01065-LIP.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-5068

#5085 DTSCCI-490 Remove Props Volume lib as dependency
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-5085

#5109 CIV-14696 Prevent rounding in gov payment request
  src/main/java/uk/gov/hmcts/reform/civil/service/FeesPaymentService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeesPaymentServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5109

#5016 CIV-14271 - Create a hearing notice available in all states after JR
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5016

#5070 CIV-14491 Case Management Location for GA Lips changes
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5070

#5075 CIV-14295 Claimant LR Email notification: please resubmit discontinuance
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantLrValidationDiscontinuanceFailureHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/UpdateVisibilityNoticeOfDiscontinuanceHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ValidateDiscontinueClaimClaimantCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantLrValidationDiscontinuanceFailureHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/UpdateVisibilityNoticeOfDiscontinuanceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ValidateDiscontinueClaimClaimantCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5075

#5064 CIV-14244 LR Email notification Notice of Discontinuance
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDiscontinueClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantClaimDiscontinuedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendant2ClaimDiscontinuedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantClaimDiscontinuedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DiscontinueClaimClaimantCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDiscontinueClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantClaimDiscontinuedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendant2ClaimDiscontinuedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantClaimDiscontinuedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DiscontinueClaimClaimantCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5064

#5125 DTSCCI-593 adding fixed dates to consumer tests
  src/contractTest/java/uk/gov/hmcts/reform/civil/NewBundleApiConsumerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5125

#4983 CIV-14269 HMC Early Adopters
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataCaseSdo.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4983

#5096 DTSCCI-459 Remove Spring context
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/MakeBulkClaimPaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/DefaultJudgmentDefendantLrCoverLetterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimantLipManualDeterminationCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/StandardDirectionOrderDJClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/StandardDirectionOrderDJDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyNotifyOthersHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CitizenClaimIssueFeePaymentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CitizenHearingFeePaymentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/MakeBulkClaimPaymentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/PaymentsForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestAPIHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestCUICallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestUpdateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddOrAmendClaimDocumentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplyHelpWithHearingFeeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplyNoticeOfChangeDecisionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CaseProceedsInCasemanCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5096

#5128 DTSCCI-480 Remove Spring context
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/CaseDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/RespondToClaim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/ServedDocumentFiles.java
  src/main/java/uk/gov/hmcts/reform/civil/model/common/Element.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/DisclosureOfElectronicDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/DisclosureOfNonElectronicDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Experts.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/FileDirectionsQuestionnaire.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/FixedRecoverableCosts.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/FurtherInformation.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Hearing.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/HearingSupport.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/RequestedCourt.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/VulnerabilityQuestions.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/WelshLanguageRequirements.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Witnesses.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResubmitClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimMarkPaidFullCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TakeCaseOfflineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadinessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadyCheckCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadyNotificationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadMediationDocumentsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadTranslatedDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/WithdrawClaimCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5128

#5078 CIV-14259 Notice of Discontinuance
  docker/docmosis/templates/CV-CMC-GNO-ENG-SD0001.docx
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/DocCategory.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDiscontinueClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/UpdateVisibilityNoticeOfDiscontinuanceHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/settleanddiscontinue/NoticeOfDiscontinuanceForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/settlediscontinue/NoticeOfDiscontinuanceFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDiscontinueClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/UpdateVisibilityNoticeOfDiscontinuanceHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/settlediscontinue/NoticeOfDiscontinuanceFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5078

#5003 CIV-14395 No Field Found error in Hearings Tab
  src/main/java/uk/gov/hmcts/reform/civil/utils/PartyUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/PartyUtilsTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-5003

#5073 DTSCCI-429 Remove Spring context from unit test
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ClaimIssueCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ClaimIssueForSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ProceedOfflineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ProceedOfflineForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/RespondentResponseDeadlineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DefendantResponseDeadlineCheckCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5073

#5090 CIV-14617 Set applicant and respondent name upon Type
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-5090

#5093 CIV-14614 Fix Defendant Dashboard Status
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5093

#5123 CIV-14710 - CUI R1 - View Your Response link is not working from the Dashboard notification
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/GoToHearingDefendantFullDefenceClaimantRejectsMediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CCJRequestedClaimantRejectsSettlementAgreementTest.java
  src/main/resources/db/migration/V2024_03_12_1216__CIV_12809_go_to_hearing_defendant_full_defence_claimant_rejects_mediation.sql
  src/main/resources/db/migration/V2024_04_05_0928__CIV-13076-ccj-settlement-agreement-defendant-scenario.sql
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5123

#5116 CIV-14385 Bulk print Lip - Notice of Discontinue
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/PostNoticeOfDiscontinuanceLetterLiPDefendant1Handler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/settlediscontinue/NoticeOfDiscontinuanceLiPLetterGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/PostNoticeOfDiscontinuanceLetterLiPDefendant1HandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/settlediscontinue/NoticeOfDiscontinuanceLiPLetterGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5116

#4867 CIV-14009 Defendant LiP Claim Paid in Full Letter
  docker/docmosis/templates/CV-CMC-LET-ENG-LIP-SD0002.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/SettleClaimMarkedPaidInFullLiPDefendant1LetterHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/settleanddiscontinue/SettleClaimMarkedPaidInFullDefendantLiPLetter.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/settleanddiscontinue/SettleClaimMarkedPaidInFullDefendantLiPLetterGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/SettleClaimMarkedPaidInFullLiPDefendant1LetterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/settleanddiscontinue/SettleClaimMarkedPaidInFullDefendantLiPLetterGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4867

#5143 DTSCCI-483 Remove Spring context
  src/main/java/uk/gov/hmcts/reform/civil/model/ContactDetailsUpdatedEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/data/ExternalTaskInput.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/HmcMessageHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/ContactInformationUpdatedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/DefendantResponseDeadlineCheckEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/StitchingCompleteCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/TakeCaseOfflineEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/TrialReadyCheckEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ContactInformationUpdatedTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/EndBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GenerateCsvAndTransferHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GenerateMediationJsonAndTransferHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5143

#5110 CIV-13440 Changing Trial Arrangements Date To 4 weeks Before The Hearing
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantTrialArrangementsNotificationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantTrialArrangementsNotificationScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-5110

#5157 DTSCCI-439 Remove Spring context
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BreathingSpaceLiftedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BundleCreatedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanApplicantNotificationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineForSpecApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ChangeOfRepresentationNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantDefendantAgreedMediationApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantDefendantAgreedMediationRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantLipRequestJudgementByAdmissionApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantLipRequestJudgementByAdmissionRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseAgreedRepaymentRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseAgreedSettledPartAdmitDefendantLipNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsNotToProceedRespondentNotificationHandlerLipTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsNotToProceedRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedLiPRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5157

#5129 CIV-14703 Dashboard notification and status accept FullAdmit PayBySetDate
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5129

#5126 CIV-13836 - Delete previous HwF notification
  src/main/resources/db/migration/V2024_04_15_1355__CIV-11953_hearing_fee_partial_remission_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1424__CIV_11954_hearing_fee_full_remission_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1435__CIV_11955_hearing_fee_info_required_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1441__CIV-11956_hearing_fee_invalid_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1453__CIV-11957_hearing_fee_num_updated_hwf_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5126

#5114 CIV-14675 Incorrect claim list status
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5114

#5161 DTSCCI-444 Remove Spring context
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentPartyForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDJNonDivergentClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDJNonDivergentDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimReconsiderationUpheldClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimReconsiderationUpheldDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimSetAsideJudgmentClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimSetAsideJudgmentDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseNotAgreedRepaymentDefendantLipNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseNotAgreedRepaymentRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDOApplicantsNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent1NotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent2NotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantChangeOfAddressApplicantForCuiNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5161

#5044 CIV-14451 claim status on the landing page is not updated after raise dj
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimInfo.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5044

#5101 DTSCCI-434 Remove Spring context from unit test
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/CaseDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/PartyFlagStructure.java
  src/main/java/uk/gov/hmcts/reform/civil/model/ServedDocumentFiles.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/DisclosureOfNonElectronicDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Experts.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/FileDirectionsQuestionnaire.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/FurtherInformation.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Hearing.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/HearingSupport.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/RequestedCourt.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/VulnerabilityQuestions.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/WelshLanguageRequirements.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Witnesses.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDJFormHandlerSpecNonDivergentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDJFormHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingFormHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateSettlementAgreementFormCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateTrialReadyFormHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/JudgmentByAdmissionPinInPostLiPDefendant1LetterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/PostDJNonDivergentPinInLetterLiPDefendant1HandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/RecordJudgementDeterminationOfMeansLiPDefendant1LetterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/SetAsideJudgementInErrorLiPDefendant1LetterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AcknowledgeClaimApplicantForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AcknowledgeClaimApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AcknowledgementClaimApplicantForSpecHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5101

#4973 CIV-14238 Assign System User Hearing Roles
  build.gradle
  charts/civil-service/Chart.yaml
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
  charts/civil-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/civil/service/roleassignment/RoleAssignmentInitialisationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/service/userroleassignment/RoleInitialisationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4973

#5137 CIV-14591 - add Amend Restitch Bundle Event
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5137

#5134 CIV-14709 Add (opens in a new tab) to notifications links
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantMediationSuccessfulDashboardNotificationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantAcceptsSettlementClaimantNotificationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/GoToHearingDefendantFullDefenceClaimantRejectsMediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimFullDefenceProceedDefendantNoMediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimIntentMediationSuccessfulDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimRejectedNotPaidScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantIntentMediationUnsuccesfulDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantAcceptSettlementAgreementDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/GoToHearingDefendantPartAdmitScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/JudicialReferralFullDefencePartAdmitPaidPartialScenarioTest.java
  src/main/resources/db/migration/V2024_03_08_1415__CIV-12805_go_to_hearing_defendant_partadmit_scenario.sql
  src/main/resources/db/migration/V2024_03_08_1658__CIV-12806-go-to-hearing-paid-partial-defendant-scenario.sql
  src/main/resources/db/migration/V2024_03_12_1216__CIV_12809_go_to_hearing_defendant_full_defence_claimant_rejects_mediation.sql
  src/main/resources/db/migration/V2024_03_13_1153__CIV-12811_full_defence_proceed_no_mediation.sql
  src/main/resources/db/migration/V2024_03_13_1342__CIV-12808_claim_reject_not_paid_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_13_1608__CIV-12898_defendant_accepts_settlement_claimant.sql
  src/main/resources/db/migration/V2024_03_14_1530__CIV-12897_defendant_settlement_agreement_defendant_accept_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_21_1415__CIV-12812_mediation_unsuccessful_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_05_1207__CIV-13307_claimant_intent_mediation_successful.sql
  src/main/resources/db/migration/V2024_04_05_1614__CIV-13308-mediation-successful-defendant.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5134

#5170 DTSCCI-449 Remove-Spring-context
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJApplicantReceivedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJCaseworkerReceivedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJRespondentReceivedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantClaimDetailsNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantLipResponseRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseApplicantForCuiNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/FailedPaymentApplicantForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/FailedPaymentApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GenerateOrderNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingFeeDueAfterNocNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingFeeUnpaidApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingFeeUnpaidRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/InterimJudgmentClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/InterimJudgmentDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/LitigationFriendAddedApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/LitigationFriendAddedRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulApplicantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5170

#5171 CIV-14735 Fixed bug for LRVLIP reject repayment plan dashboard notification
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_04_09_1130__CIV-13353_claimant_intent_rejectsplan_defendant_orgltdco_defendant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5171

#5080 CIV-14273 Transfer CaseOffline HMC EA
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5080

#5142 DTSCCI-610 Update SimpleStateFlow with latest logic
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/AllResponsesReceivedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/AwaitingResponsesFullDefenceReceivedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/AwaitingResponsesNotFullDefenceReceivedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimDetailsNotifiedTimeExtensionTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimDetailsNotifiedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimDismissedPastClaimDetailsNotifcationDeadlineTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimDismissedPastClaimNotificationDeadlineTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimIssuedPaymentFailedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimIssuedPaymentSuccessfulTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimIssuedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimNotifiedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimSubmittedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ContactDetailsChangeTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullAdmissionTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullAdmitAgreeRepaymentTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullDefenceProceedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullDefenceTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/InMediationTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/MediationUnsuccessfulProceedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/NotificationAcknowledgedTimeExtensionTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/NotificationAcknowledgedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PartAdmissionTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PartAdmitAgreeRepaymentTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PartAdmitNotSettleNoMediationTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PastApplicantResponseDeadlineAwaitingCamundaTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PastClaimDetailsNotificationDeadlineAwaitingCamundaTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PastClaimDismissedDeadlineAwaitingCamundaTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PastClaimNotificationDeadlineAwaitingCamundaTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PendingClaimIssuedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PendingClaimIssuedUnregisteredDefendantTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PendingClaimIssuedUnrepresentedDefendantOneVOneSpecTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PendingClaimIssuedUnrepresentedDefendantTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PendingClaimIssuedUnrepresentedUnregisteredDefendantTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/RespondentResponseLanguageIsBilingualTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/SignSettlementAgreementTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/SpecDefendantNocTransitionBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/SimpleStateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimSubmittedTransitionBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/SpecDefendantNocTransitionBuilderTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5142

#5169 CIV-14711 Dashboard notification when claim is ended
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsNotToProceedRespondentNotificationHandlerLip.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsNotToProceedRespondentNotificationHandlerLipTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5169

#5127 CIV-14300 And CIV-14210 Bug Fixes
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/EvidenceUploadedClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/TrialArrangementsNotifyOtherPartyScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/EvidenceUploadedDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/TrialArrangementsNotifyOtherPartyNotificationHandler.java
  src/main/resources/db/migration/V2024_04_02_1500__CIV-11302_trial_arrangements_notify_other_party_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_04_1500__CIV-13259_trial_arrangements_notify_other_party_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_04_1632__CIV-11303_bundle_created_scenario.sql
  src/main/resources/db/migration/V2024_05_15_1300__CIV-11832_hearing_documents_uploaded_scenario.sql
  src/main/resources/db/migration/V2024_07_26_1100__CIV-14300_trial_arrangements_required_remove_when_LR_is_invlolved_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/TrialArrangementsNotifyOtherPartyNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5127

#5139 CIV-14127 Court Response Document - Without notice becomes with notice
  docker/docmosis/templates/CV-SPC-GAP-ENG-SEND-TO-OTHER-PARTY.docx
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5139

#5151 CIV-14440 Validate Task
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DiscontinueClaimClaimantCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ValidateDiscontinueClaimClaimantCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ValidateDiscontinueClaimClaimantCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5151

#5178 CIV-14211 Bug Fix
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BundleCreatedNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BundleCreatedNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5178

#5176 CIV-14784 Update notification Lip template for claim discontinued
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantClaimDiscontinuedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantClaimDiscontinuedNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5176
