Repository hmcts/civil-service, pull requests merged in 2024-10, with the labels that each got.

#5503 CIV-15062 - ctsc roles added
  bin/add-roles.sh
  src/cftlib/java/uk/gov/hmcts/reform/civil/CftLibConfig.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5503

#5464 DTSCCI-686 refactor respond to defence spec callback handler
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/CaseTask.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/AboutToSubmitRespondToDefenceTask.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/BuildConfirmationTask.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/DetermineNextState.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/PopulateCaseDataTask.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/AboutToSubmitRespondToDefenceTaskTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/BuildConfirmationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/DetermineNextStateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/PopulateCaseDataTaskTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5464

#5502 CIV-15074 CIV-15073-Sprint branch for CosC
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5502

#5465 CIV-15319 hmcEa blocked for LiP
  src/main/java/uk/gov/hmcts/reform/civil/advice/ControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/IncludesLitigantInPersonException.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5465

#5480 CIV-15204 - Add feature toggle for Amend Bundle
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/BundleUpdatedClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/BundleUpdatedDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/BundleUpdatedClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/BundleUpdatedDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AmendRestitchBundleCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/BundleCreatedNotificationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/StitchingCompleteCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/BundleUpdatedClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/BundleUpdatedDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AmendRestitchBundleCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/BundleCreatedNotificationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/StitchingCompleteCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, aat/no-changes, prod/no-changes, rel:civil-service-pr-5480

#5533 DTSCCI-313 revert
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/civil/model/DefendantLinkStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/service/pininpost/DefendantPinToPostLRspecService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DefendantPinToPostLRspecServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5533

#5553 CIV-15484 - Fix to prevent interest from incorrectly accumulating once claim is submitted
  src/main/java/uk/gov/hmcts/reform/civil/utils/InterestCalculator.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/InterestCalculatorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5553

#5555 CIV-0000 fix for ga flag selction based on claim
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5555

#5562 CIV-0000 fix for GA flag selection
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilderTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5562

#5567 DTSCCI-976 fix npe
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationForDefendantRepresented.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5567

#5396 CIV-15042 CLAIMANT_RESPONSE_SPEC modify and use already created Camunda BPMN LR vs LR
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/DetermineNextState.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5396

#5576 CIV-15174 Implement notification deadlines- Revert
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/data/Notification.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/DashboardNotificationsEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/NotificationTemplateEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardScenariosService.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/DashboardScenariosServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/GetNotificationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_09_27_1617__CIV-15174_add_deadline_to_notifications.sql
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5576

#5317 CIV-14191 - Notifications of Hearing HMC LiP
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingScheduledClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/HearingScheduledDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingScheduledClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationDefendantOfHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingScheduledClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationDefendantOfHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5317

#5428 CIV-15221 Changes To AHN Handler To Update The Hearing Fee Object
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandlerTest.java
Labels: ns:civil, prd:civil, aat/no-changes, prod/no-changes, rel:civil-service-pr-5428

#5535 CIV-14753 Manage Stay - Lift stay Request Update
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageStayCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageStayCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5535

#5588 DTSCCI-990 replace deprecated class to avoid deadlock
  src/main/java/uk/gov/hmcts/reform/civil/model/Fee2Dto.java
  src/main/java/uk/gov/hmcts/reform/civil/model/FeeLookupResponseDto.java
  src/main/java/uk/gov/hmcts/reform/civil/model/FeeVersionDto.java
  src/main/java/uk/gov/hmcts/reform/civil/model/FlatAmountDto.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Jurisdiction1Dto.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Jurisdiction2Dto.java
  src/main/java/uk/gov/hmcts/reform/civil/model/PercentageAmountDto.java
  src/main/java/uk/gov/hmcts/reform/civil/model/VolumeAmountDto.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/BreathingSpace.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5588

#5589 CIV-15390 Revert Add GA LIP fields
  src/main/java/uk/gov/hmcts/reform/civil/enums/DebtPaymentOptions.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypes.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/dq/GeneralApplicationTypesLR.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/GATypeHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CertOfSC.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DebtPaymentEvidence.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GAApplicationTypeLR.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/GATypeHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5589

#5540 CIV-15303 case stayed or dismissed
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DismissCaseCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StayCaseCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DismissCaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StayCaseCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5540

#5591 DTSCCI-0000 Fix Bug Payment Callback
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5591

#5558 CIV-13793 LiP dashboard notification JBA issued
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/JudgementByAdmissionIssuedClaimantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/JudgementByAdmissionIssuedClaimantDashboardNotificationHandler.java
  src/main/resources/db/migration/V2024_10_04_1300__CIV-13793_judgment_by_admission_issued_claimant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/JudgementByAdmissionIssuedClaimantDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5558

#5549 CIV-15078 CoSc check your answer screen
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5549

#5580 CIV-15087 - COSC Application Processor Scheduler
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/event/CoscApplicationProcessorEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ProcessCoscApplicationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/CoscApplicationProcessorEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CoscApplicationProcessorHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/CoscApplicationSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/CoscApplicationProcessorExternalTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ProcessCoscApplicationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/CoscApplicationProcessorEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CoscApplicationProcessorHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/CoscApplicationSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5580

#5579 CIV-15174 Order dashboard notifications
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/data/Notification.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/DashboardNotificationsEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/NotificationTemplateEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardScenariosService.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/DashboardScenariosServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/GetNotificationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_10_09_1200__CIV-15174_add_deadline_to_notifications.sql
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5579

#5545 CIV-15227 Stay lifted notification
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractNotifyStayLiftedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantStayLiftedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantStayLiftedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageStayCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantStayLiftedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantStayLiftedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageStayCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StayCaseCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5545

#5604 CIV-0000 script name update
  src/main/resources/db/migration/V2024_10_11_1047__CIV-13793_judgment_by_admission_issued_claimant_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5604

#5484 DTSCCI-919 Refactor JudgeFinalOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeOrderDownloadGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/builders/ClaimantAttendsOrRepresentedTextBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/builders/DefendantAttendsOrRepresentedTextBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/helpers/AppealInitiativePopulator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/helpers/AttendeesRepresentationPopulator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/helpers/CaseInfoPopulator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/helpers/CostDetailsPopulator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/helpers/HearingDetailsPopulator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/helpers/JudgeCourtDetailsPopulator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/helpers/JudgeFinalOrderFormPopulator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/helpers/OrderDetailsPopulator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/builders/ClaimantAttendsOrRepresentedTextBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/builders/DefendantAttendsOrRepresentedTextBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/helpers/AppealInitiativeGroupTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/helpers/AttendeesRepresentationGroupTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/helpers/CaseInfoGroupTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/helpers/CostsDetailsGroupTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/helpers/HearingDetailsGroupTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/helpers/JudgeCourtDetailsGroupTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/helpers/JudgeFinalOrderFormPopulatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/helpers/OrderDetailsGroupTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5484

#5584 CIV-15475 Update HMC Hearing Notice Generator
  docker/docmosis/templates/CV-UNS-HNO-ENG-01200.docx
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/hearing/HearingNoticeHmc.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5584

#5548 DTSCCI-966 Update-ccd-import-files
  bin/pull-latest-ccd-files.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-5548

#5622 DTSCCI-813 amending config for definitions caseType id extension
  bin/utils/process-definition.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-5622

#5534 DTSCCI-923 Concurrency violations refactoring
  src/main/java/uk/gov/hmcts/reform/civil/callback/CallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/RetriggerCasesEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/AutomatedHearingNoticeHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BaseExternalTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BundleCreationTriggerHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/ClaimDismissedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/ContactInformationUpdatedTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CvpJoinLinkSchedulerHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/DecisionOutcomeHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/DefendantResponseDeadlineCheckHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EndBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EvidenceUploadCheckHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/FullAdmitPayImmediatelyNoPaymentFromDefendantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GenerateCsvAndTransferTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GenerateMediationJsonAndTransferTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/HearingFeeDueHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/PollingEventEmitterHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/RequestForReconsiderationNotificationDeadlineHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/SettlementNoResponseFromDefendantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/StartBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/StartGeneralApplicationBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/StartHearingNoticeBusinessProcessTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/TakeCaseOfflineHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/TrialReadyCheckHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/TrialReadyNotificationCheckHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/ExternalTaskData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DocmosisTemplateDataUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/AutomatedHearingNoticeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ClaimDismissedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CvpJoinLinkSchedulerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/DecisionOutcomeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/DefendantResponseDeadlineCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/HearingFeeDueHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PollingEventEmitterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/StartBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/StartGeneralApplicationBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/StartHearingNoticeBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TakeCaseOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TrialReadyCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TrialReadyNotificationHandlerTest.java
Labels: ns:civil, prd:civil, aat/no-changes, prod/no-changes, rel:civil-service-pr-5534

#5519 DTSCCI-918 Refactor SealedClaimResponseFormGeneratorForSpec
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/helpers/ReferenceNumberAndCourtDetailsPopulator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/helpers/StatementOfTruthPopulator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/helpers/ReferenceNumberAndCourtDetailsPopulatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/helpers/StatementOfTruthPopulatorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5519

#5630 CIV-12317 Add annotation
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/EvidenceConfirmDetails.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5630

#5467 CIV-15258 fix bug
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/OrderMadeClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/OrderMadeDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_09_25_1040__CIV-15258-update-claimant-task-list-final-orders-issued.sql
  src/main/resources/db/migration/V2024_09_25_1042__CIV-15258-update-defendant-task-list-final-orders-issued.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5467

#5621 CIV-15230 LR notification stay update requested
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractNotifyManageStayClaimantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractNotifyManageStayDefendantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractNotifyManageStayHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantStayLiftedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantStayUpdateRequestedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantStayLiftedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantStayUpdateRequestedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageStayCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantStayUpdateRequestedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantStayUpdateRequestedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageStayCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5621

#5601 CIV-15174 Order dashboard notifications
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/data/Notification.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/DashboardNotificationsEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/NotificationTemplateEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardScenariosService.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/DashboardScenariosServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/GetNotificationControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_10_09_1200__CIV-15174_add_deadline_to_notifications.sql
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5601

#5515 DTSCCI-836 - Applicant Response Deadline is always 28 days
  src/main/java/uk/gov/hmcts/reform/civil/enums/AllocatedTrack.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculatorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5515

#5656 CIV-15575 - SDO Work Allocation Location - CTSC/CNBC
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallBackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5656

#5599 CIV-15531 Bulk sp5
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/data/Notification.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/DashboardNotificationsEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/NotificationTemplateEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardScenariosService.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/DashboardScenariosServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/GetNotificationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/applicant/GaProcessedApplicantNotificationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationProceedOfflineClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/respondent/GeneralApplicationProceedOfflineDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/respondent/GaProcessedRespondentNotificationTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/generalapplications/ApplicationsProceedOfflineNotificationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_10_16_1006__CIV-15174_add_deadline_to_notifications.sql
  src/main/resources/db/migration/V2024_10_16_1007__CIV-14425_general_application_proceed_offline_applicant.sql
  src/main/resources/db/migration/V2024_10_16_1008__CIV-14425_general_application_proceed_offline_respondent.sql
  src/main/resources/db/migration/V2024_10_16_2009__CIV-14405_general_application_processed_dashboard_notification_respondent.sql
  src/main/resources/db/migration/V2024_10_16_2010__CIV-14405_general_application_processed_dashboard_notification_applicant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/generalapplications/ApplicationsProceedOfflineNotificationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5599

#5675 CIV-15619 - Caseworker unable to add case note
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5675

#5510 CIV-15201 - Add missing documents to bundle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateLipClaimFormCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateLipClaimFormCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestMapperTest.java
Labels: ns:civil, prd:civil, aat/no-changes, prod/no-changes, rel:civil-service-pr-5510

#5611 CIV-15087 - (COSC) Mark Case as Paid
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/cosc/CheckAndMarkDefendantPaidInFullCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentPaidInFullOnlineMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/cosc/CheckAndMarkDefendantPaidInFullCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentPaidInFullOnlineMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5611

#5636 CIV-15577 Remove requirement for request CCJ field
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5636

#5623 CIV-15561 Add claimant docs to folders
  src/main/java/uk/gov/hmcts/reform/civil/enums/DocCategory.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateLipClaimFormCallBackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateLipClaimFormCallBackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5623

#5690 CIV-15577 Remove requirement for request CCJ field
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5690

#5696 CIV-15561 Display docs in correct category
  src/main/java/uk/gov/hmcts/reform/civil/enums/DocCategory.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateLipClaimFormCallBackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateLipClaimFormCallBackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5696

#5705 CIV-15655 - add asyncStitchComplete + amendBundle to flowstate event allowed
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5705

#5423 CIV-15152 removed ambiguity on some states
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatusFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoServiceTest.java
Labels: ns:civil, prd:civil, aat/no-changes, prod/no-changes, rel:civil-service-pr-5423

#5682 DTSCCI-717 - delete old state flow engine
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/SimpleStateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/StateFlowBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimSubmittedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullDefenceTransitionBuilder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/aspect/EventAllowedAspectTest.java
  src/test/java/uk/gov/hmcts/reform/civil/aspect/NoOngoingBusinessProcessAspectTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/StartGeneralApplicationBusinessProcessCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDismissedApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDismissedRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyDefaultJudgmentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnCaseHandedOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsOnContinuousFeedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddDefendantLitigationFriendCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateForSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CoscApplicationAfterPaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/StartBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/StartGeneralApplicationBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/StartHearingNoticeBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionQuestionnaireLipResponseGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireLipGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/SimpleStateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineUnspecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/StateFlowBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PendingClaimIssuedUnrepresentedDefendantTransitionBuilderTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5682

#5634 CIV-15084 COSC document
  docker/docmosis/templates/CV-SPC-STD-ENG-N441A.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCoscDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/cosc/CertificateOfDebtForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/cosc/CertificateOfDebtGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCoscDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/CertificateOfDebtGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5634

#5627 CIV-15228 Stay Lifted LIP Email Notification
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractNotifyManageStayClaimantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractNotifyManageStayDefendantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractNotifyManageStayHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantStayLiftedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageStayCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantStayLiftedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantStayUpdateRequestedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantStayLiftedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantStayUpdateRequestedHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5627

#5659 CIV-15081 Dashboard Notification Certificate Generated COSC
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CoScNotificationForCasePaidInFullGenerateCertificateDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CoscCertificateGeneratedDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_10_24_1030__CIV-15081_cosc_generate_certificate_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CoscCertificateGeneratedDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5659

#5658 CIV-15231 Lip notification stay requires update
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantStayUpdateRequestedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantStayUpdateRequestedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantStayUpdateRequestedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantStayUpdateRequestedHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5658

#5700 CIV-15448 CoSC - Add guidelines link
  src/main/resources/db/migration/V2024_10_24_1545__CIV-15448_update_judgment_by_admission_claimant_task_item.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5700

#5646 CIV-15559 moved code into else block to avoid duplicates
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5646

#5531 CIV-14567 Docmosis template for Ga judge order with cover letter
  docker/docmosis/templates/CV-UNS-GAP-ENG-01080.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01081.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01082.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01083.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01084.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01085.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01086.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01087.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01088.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01089.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01090.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-5531

#5577 CIV-14864 - anyRepresented variable to simplify EventEnablingCondition
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/createclaim/SubmitClaimTask.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/createclaim/SubmitClaimTaskTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5577

#5610 DTSCCI-920 RefactorDirectionsQuestionnaireGenerator
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionQuestionnaireLipResponseGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireLipGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/builders/DQGeneratorFormBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/helpers/GetRespondentsForDQGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/helpers/RespondentTemplateForDQGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/helpers/SetApplicantsForDQGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionQuestionnaireLipResponseGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireLipGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/builders/DQGeneratorFormBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/helpers/GetRespondentsForDQGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/helpers/RespondentTemplateForDQGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/helpers/SetApplicantsForDQGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5610

#5707 CIV-15452 refactor lip ga urgency flag
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationServiceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5707

#5648 CIV-15108 Migration script for new notifications
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationTranslatedDocUploadedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/respondent/GeneralApplicationTranslatedDocUploadedScenarioTest.java
  src/main/resources/db/migration/V2024_10_24_1215__CIV-15108_general_application_upload_translated_document.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5648

#5715 DTSCCI-823 Investigate CVEs identified in the HoSE report
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-5715

#5647 CIV-15311 fix cui applicant select empty court location
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-5647

#5649 CIV-15301 Deleting All The Previous Notifications When Case Goes Offline
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseProceedOfflineClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantNocDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseProceedOfflineDefendantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseProceedOfflineClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantNocDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseProceedOfflineDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5649

#5673 CIV-15268 hearing documents on further hearing
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/UploadHearingDocumentsClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/UploadHearingDocumentsDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/UploadHearingDocumentsClaimantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/UploadHearingDocumentsDefendantHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/UploadHearingDocumentsClaimantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/UploadHearingDocumentsDefendantHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5673

#5651 DTSCCI-546 pip letter wording change and passing ccd ref
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/pip/PiPLetter.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/pip/PiPLetterGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/pip/PiPLetterGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5651

#5755 DTSCCI-1093 adding log messages
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandler.java
Labels: ns:civil, prd:civil, pr_ft_carm, rel:civil-service-pr-5755
