Repository hmcts/civil-service, pull requests merged in 2024-12, with the labels that each got.

#5859 DTSCCI-1248 - Fix Offline Cases NPE
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineForSpecApplicantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseTakenOfflineForSpecApplicantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5859

#5827 DTSCCI-1157 replace em stitch with civil stitch
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/pip/PiPLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/stitch/PdfMergeException.java
  src/main/java/uk/gov/hmcts/reform/civil/stitch/PdfMerger.java
  src/main/java/uk/gov/hmcts/reform/civil/stitch/service/CivilStitchService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/pip/PiPLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stitch/PdfMergerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stitch/service/CivilStitchServiceTest.java
  src/test/resources/stitch-documents/merged.pdf
  src/test/resources/stitch-documents/test1.pdf
  src/test/resources/stitch-documents/test2.pdf
Labels: ns:civil, prd:civil, rel:civil-service-pr-5827

#5851 CIV-15947 Relist Hearing Fix
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingScheduledClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/HearingScheduledDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingScheduledClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/TrialArrangementsClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/HearingScheduledDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/TrialArrangementsDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyNotifyOthersHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/HearingScheduledHandler.java
  src/main/resources/db/migration/V2024_11_27_1500__CIV-15947_trial_arrangements_relist_hearing_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingScheduledClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/TrialArrangementsClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/HearingScheduledDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/TrialArrangementsDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyNotifyOthersHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5851

#5831 DTSCCI-1092 - Add Hmc Support Controller
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/HmcSupportController.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5831

#5849 DTSCCI-1234 - Fix Take Case Offline Npe
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanRespondentNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5849

#5841 CIV-15892 Confirmation page update for Full Admit / PAY Immed
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/JudgmentByAdmissionConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/JudgmentByAdmissionConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/BuildConfirmationTask.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToResponseConfirmationHeaderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/BuildConfirmationTaskTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5841

#5867 DTSCCI-1199 Add logging
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CvpJoinLinkSchedulerHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5867

#5854 DTSCCI-1005 fix fee register pact
  src/contractTest/java/uk/gov/hmcts/reform/civil/BaseContractTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/CaseAssignmentApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/CmcClaimsForClaimantApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/CmcClaimsForDefendantApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/CmcDefendantLinkedApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/DocmosisApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/FeesLookupApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/FeesRangeGroupApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/LocationReferenceDataApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/NewBundleApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/PaymentsApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/StitchBundleApiConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/model/FeeVersionDto.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentsServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5854

#5768 CIV-15551 - Lift Stayed Case Dashboard Task Status (V2)
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/StayLiftedClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/StayLiftedDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/DashboardCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/StayLiftedClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/StayLiftedDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/resources/db/migration/V2024_12_04_1200__CIV-15551_stay_lifted_hearing_reset_tasks.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/StayLiftedClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/StayLiftedDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5768

#5312 DTSCCI-313 search ocmc cases when checking for linking
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/pininpost/DefendantPinToPostLRspecService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/CaseLegacyReferenceSearchService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DefendantPinToPostLRspecServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/CaseLegacyReferenceSearchServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, aat/no-changes, prod/no-changes, rel:civil-service-pr-5312

#5858 DTSCCI-1163 - Fix NPE With Email Notifications
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5858

#5874 DTSCCI-1273 lip response form null check
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/DebtTemplateData.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5874

#5852 CIV-15392 - Reply to message
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/YesOrNo.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sendandreply/RecipientOption.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sendandreply/RolePool.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sendandreply/SendAndReplyOption.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sendandreply/SubjectOption.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SendAndReplyCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sendandreply/Message.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sendandreply/MessageReply.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sendandreply/SendMessageMetadata.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendAndReplyMessageService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/TableMarkupService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SendAndReplyCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendAndReplyMessageServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/TableMarkupServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5852

#5786 CIV-15113 Add cover letter template
  docker/docmosis/templates/CV-UNS-GAP-ENG-0110.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-5786

#5863 CIV-15997 Set Aside-Add Application Date
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RecordJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/SetAsideJudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/JudgmentDetails.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/SetAsideJudgmentsOnlineMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5863

#5869 DTSCCI-1245 enable cdam in preview
  Jenkinsfile_CNP
  charts/civil-service/Chart.yaml
  charts/civil-service/values.preview.template.yaml
  charts/civil-service/values.yaml
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5869

#5883 DTSCCI-1282 LocationHelper updateCaseManagementLocation Change log level
  src/main/java/uk/gov/hmcts/reform/civil/helpers/LocationHelper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5883

#5881 CIV-16041 Set with notice vary judgment for LR app
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5881

#5894 DTSCCI-0000: Allow colon in PR title
  .github/workflows/main.yml
Labels: ns:civil, prd:civil, rel:civil-service-pr-5894

#5877 CIV-15995 JbA Live Feed LipvLip
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5877

#5903 DTSCCI-1256: MediationLiPCarm object null check
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/helpers/UnrepresentedLitigantPopulator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/helpers/UnrepresentedLitigantPopulatorTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5903

#5860 CIV-15975 Include all unavailable dates in doc template
  docker/docmosis/templates/CV-UNS-GAP-ENG-01077.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-5860

#5836 CIV-15759 CIV-16208 Add new rpa event: 600 COSC
  file.pdf
  src/main/java/uk/gov/hmcts/reform/civil/enums/cosc/CoscApplicationStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/cosc/CoscRPAStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/cosc/CheckAndMarkDefendantPaidInFullCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCoscDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CheckCoscMarkPaidCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CaseProceedsInCasemanCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgmentPaidInFullCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/EventDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/EventHistory.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/EventType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistorySequencer.java
  src/main/resources/schema/rpa-json-schema.json
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/cosc/CheckAndMarkDefendantPaidInFullCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CheckCoscMarkPaidCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CaseProceedsInCasemanCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgmentPaidInFullCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5836

#5875 CIV-16269 - Defendant party PCQ questions are not being invoked
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5875

#5873 CIV-15926 clear other notices and tasks when case settled
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5873

#5864 DTSCCI-1156 sepc claim form generation with civil stitch service
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DocumentConversionService.java
  src/main/java/uk/gov/hmcts/reform/civil/stitch/service/CivilStitchService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DocumentConversionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stitch/service/CivilStitchServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5864

#5895 CIV-16279 Update doc collections if with notice
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5895

#5920 DTSCCI-1182: default judgement cover letter - amend stitch process
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/DefaultJudgmentCoverLetterGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/DefaultJudgmentCoverLetterGeneratorTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5920

#5879 CIV-15576 General Application LiPs - Early adopter courts
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5879

#5897 CIV-15868 COR all order issued screen
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ConfirmOrderReviewCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ConfirmOrderReviewCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5897

#5840 CIV-15612 Obligation journey fields
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/ObligationReason.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateConfirmOrderReviewCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ConfirmOrderReviewCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/ConfirmOrderReviewTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/ObligationData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/ConfirmOrderReviewTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateConfirmOrderReviewCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ConfirmOrderReviewCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ConfirmOrderReviewTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5840

#5926 DTSCCI-1353: fix flow-state to allow median un-successful
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5926

#5932 DTSCCI-1355: fix npe on defendent response cui
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5932

#5878 CIV-15393 - Civil service changes for Send and Reply WA
  src/main/java/uk/gov/hmcts/reform/civil/enums/AllocatedTrack.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SendAndReplyCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HearingFeeUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SendAndReplyCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5878

#5889 CIV-15766 Set Aside Judgment RPA
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/SetAsideApplicantTypeForRPA.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/SetAsideResultTypeForRPA.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/EventDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/EventHistory.java
  src/main/java/uk/gov/hmcts/reform/civil/model/robotics/EventType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistorySequencer.java
  src/main/resources/schema/rpa-json-schema.json
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5889

#5908 CIV-16312 - Added update script to delete the notification.
  src/main/resources/db/migration/V2024_12_11_1205__CIV-16312-update_respondent_response_submit_delete_list_1.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5908

#5917 DTSCCI-1183: cover letter - amend stitch process
  src/main/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/CoverLetterAppendService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/CoverLetterAppendServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5917

#5938 DTSCCI-1183: cover letter - amend stitch process - revert
  src/main/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/CoverLetterAppendService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/CoverLetterAppendServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5938

#5939 DTSCCI-1183 amend stitch process in cover letter
  src/main/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/CoverLetterAppendService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/CoverLetterAppendServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5939

#5891 DTSCCI-1184 response cui form stitching improvement
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5891

#5915 DTSCCI-1185: response sealed spec form - amend stitch process
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpecTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5915

#5929 CIV-15576 General Application LiPs - Early adopter courts
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5929

#5923 CIV-15956 Add flag for defendant noc online
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimSubmittedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/SpecDefendantNocTransitionBuilder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/SimpleStateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimSubmittedTransitionBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/SpecDefendantNocTransitionBuilderTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5923
