Repository hmcts/civil-service, pull requests merged in 2024-09, with the labels that each got.

#5359 CIV-15098 CIV-15099 Final order options and select template screen
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/FinalOrderDownloadTemplateOptions.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/FinalOrderSelection.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataCaseProgression.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5359

#5362 DTSCCI-845 migrate jcenter references
  build.gradle
  dashboard-notifications/build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-5362

#5333 DTSCCI-819 restore respondent1 flag
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5333

#5344 DTSCCI-763 amending script
  bin/setup-devuser-preview-env.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-5344

#5182 DTSCCI-611 remove claim process
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5182

#5279 CIV-14276 provide more information template
  docker/docmosis/templates/CV-UNS-GAP-ENG-01079.docx
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-5279

#5350 CIV-14919 Displaying applications time
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5350

#5325 CIV-14664 Service PR to update Judgments Tab in ExUI
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EditJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgmentPaidInFullCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RecordJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/DefaultJudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/EditJudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentPaidInFullOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/RecordJudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/JudgmentDetails.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgmentPaidInFullCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/DefaultJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/EditJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentPaidOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/RecordJudgmentsOnlineMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5325

#5307 CIV-14353 Added New docmosis template for Respond to Written representations
  docker/docmosis/templates/CV-SPC-GAP-ENG-01080.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-5307

#5357 CIV-15114 Fixed caseflags going missing on discontinue_claim
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DiscontinueClaimClaimantCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DiscontinueClaimClaimantCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5357

#5381 CIV-15198 Civil service changes for dashboard new end point
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/controllers/DashboardController.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationService.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/controllers/DashboardControllerTest.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5381

#5390 CIV-14588 bundle restitch WA task changes
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AmendRestitchBundleCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/BundleCreatedNotificationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/StitchingCompleteCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/BundleCreatedNotificationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/BundleCreationTriggerEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/StitchingCompleteCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5390

#5382 CIV-15069 Claim Dismissed Dashboard Status
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatusFactoryTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5382

#5384 CIV-15142 CIV-15143 Download link for uploaded order and storage
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5384

#5358 CIV-14811 Add Camunda task JUDGMENT_PAID_IN_FULL
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgmentPaidInFullCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentPaidInFullOnlineMapper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5358

#5322 CIV-15058 Fix Hearing Scheduler
  src/main/java/uk/gov/hmcts/reform/civil/config/AsyncHandlerConfiguration.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5322

#5372 CIV-14046 Dashboard Notification - GA for LiPs - Pay application fee
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralAppIssuePaymentRequiredTest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_08_23_1042__CIV-14406-general-application-issued_payment_required_applicant.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5372

#5393 CIV-14985 15003 Bug Fix
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantNocScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantNocDashboardNotificationHandler.java
  src/main/resources/db/migration/V2024_06_18_1101__CIV-14091_claimant_notification_defendant_noc.sql
  src/main/resources/db/migration/V2024_09_06_1101__CIV-14985_claimant_notification_defendant_noc_task_list_update.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantNocDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5393

#5385 CIV-15040 LipvLip - Update JBA to RTL through CJES Service
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UpdateClaimStateService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UpdateClaimStateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineUnspecTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5385

#5417 DTSCCI-694 upgrading scripts for dev env
  README.md
  bin/setup-devuser-preview-env.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-5417

#5394 CIV-14991 - Add trial ready scenario to decision outcome
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/UpdateDashboardTaskListClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/UpdateDashboardTaskListDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantDecisionOutcomeDashboardHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantDecisionOutcomeDashboardHandler.java
  src/main/resources/db/migration/V2024_06_20_1144__CIV-14169-defendant_decision_outcome_update_task_list_status.sql
  src/main/resources/db/migration/V2024_06_20_1145__CIV-14169-claimant_decision_outcome_update_task_list_status.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantDecisionOutcomeDashboardHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantDecisionOutcomeDashboardHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5394

#5375 CIV-14421 - Dashboard Notification - GA for LiPs - request more info
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationMoreInfoRequiredScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/respondent/GeneralApplicationMoreInfoRequiredScenarioTest.java
  src/main/resources/db/migration/V2024_09_02_1230__CIV_14421_general_application_moreInfo_required_applicant.sql
  src/main/resources/db/migration/V2024_09_02_1301__CIV_14421_general_application_moreInfo_required_respondent.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5375

#5386 CIV-14404 Dashboard Notification - GA for LiPs - Application is being processed (after payment/HwF)
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/applicant/GeneralAppSubmittedScenarioTest.java
  src/main/resources/db/migration/V2024_09_04_1610__CIV-14404-general-application-submitted.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5386

#5408 CIV-14412 Adding respondent notification when judge uncloaks application
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/respondent/ApplicationUncloakedOrderMadeRespondentScenarioTest.java
  src/main/resources/db/migration/V2024_09_05_1523__CIV-14412_general_application_judge_uncloak_respondent.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5408

#5425 CIV-0000 Bulk cui sprint branch
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/applicant/GeneralAppSubmittedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationMoreInfoRequiredScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/respondent/ApplicationUncloakedOrderMadeRespondentScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/respondent/GeneralApplicationMoreInfoRequiredScenarioTest.java
  src/main/resources/db/migration/V2024_09_02_1230__CIV_14421_general_application_moreInfo_required_applicant.sql
  src/main/resources/db/migration/V2024_09_02_1301__CIV_14421_general_application_moreInfo_required_respondent.sql
  src/main/resources/db/migration/V2024_09_04_1610__CIV-14404-general-application-submitted.sql
  src/main/resources/db/migration/V2024_09_05_1523__CIV-14412_general_application_judge_uncloak_respondent.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5425

#5389 CIV-14422 Dashboard Notification - GA for LiPs - other party uploads …
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/OtherPartyUploadedDocumentTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/respondent/OtherPartyUploadedDocumentTest.java
  src/main/resources/db/migration/V2024_09_05_1130__CIV-14422_other_party_uploaded_doc_applicant.sql
  src/main/resources/db/migration/V2024_09_05_1330__CIV-14422_other_party_uploaded_doc_respondent.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5389

#5404 CIV-15193 Hearing notices updates for AHN
  docker/docmosis/templates/CV-UNS-HNO-ENG-01196.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01197.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01198.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01199.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01201.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01202.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01203.docx
  docker/docmosis/templates/CV-UNS-HNO-ENG-01204.docx
  src/main/java/uk/gov/hmcts/reform/civil/utils/HearingUtils.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5404

#5449 DTSCCI-0000 Log exception
  src/main/java/uk/gov/hmcts/reform/civil/advice/UncaughtExceptionHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5449

#5429 CIV-15298 Update notifications with new text
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimSettledScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantSettledTheClaimScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimSettledScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/TellUsSettledDefendantScenarioTest.java
  src/main/resources/db/migration/V2024_03_05_1500__CIV-12753_creat_claimant_claim_settled_scenario.sql
  src/main/resources/db/migration/V2024_03_05_1713__CIV-12758_claim_settled_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_18_1315__CIV-12942_claim_settled_scenario.sql
  src/main/resources/db/migration/V2024_03_19_1608__CIV-12943_claimant_uses_tell_us_settled_defendant.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5429

#5440 CIV-15324 Update tell us it's paid link text
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseFullAdmitPayImmediatelyClaimantScenarioTest.java
  src/main/resources/db/migration/V2024_03_15_1456__CIV-13115_defendant_response_admit_pay_immediately_claimant_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5440

#5397 CIV-14408 CIV-14407 Respondent notification
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/respondent/NonUrgentApplicatioUncloakedRespondentScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/respondent/NonUrgentApplicationSubmittedRespondentScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/respondent/UrgentApplicationSubmittedRespondentScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/respondent/UrgentApplicationUncloakedRespondentScenarioTest.java
  src/main/resources/db/migration/V2024_09_03_1650__CIV-14407-urgent-application-submitted-respondent.sql
  src/main/resources/db/migration/V2024_09_05_0923__CIV_14408_nonurgent_general_application_submitted_repondent_scenario.sql
  src/main/resources/db/migration/V2024_09_06_1724__CIV-14407-delete-application-submitted-respondent.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5397

#5405 CIV-14413 Add GA Hearing scheduled dashboard
  src/main/resources/db/migration/V2024_09_09_1614__CIV_14413_general_application_moreInfo_required_respondent.sql
  src/main/resources/db/migration/V2024_09_09_1645__CIV_14413_general_application_moreInfo_required_applicant.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5405

#5453 DTSCCI-911 protect against null pointer exception
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimLipResponseForm.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5453

#5411 CIV-14694 CJES Service data
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/DefaultJudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/RecordJudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/JudgmentAddress.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/JudgmentDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/cjes/JudgmentDefendantDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/judgments/CjesMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EditJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RecordJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/DefaultJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/EditJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentPaidOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/RecordJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/SetAsideJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/judgments/CjesMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5411

#5400 DTSCCI-247 fixing LocalDateTime check against LocalDate
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5400

#5435 CIV-11691 Adding Role Specific Access to APIs
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/DocumentControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/config/SecurityConfiguration.java
Labels: ns:civil, prd:civil, pr-values:elasticsearch, enable_keep_helm, rel:civil-service-pr-5435

#5450 CIV-15360 Welsh Amends
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/mock/MockTaskList.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantTrialArrangementsNotificationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/GoToHearingDefendantFullDefenceClaimantRejectsMediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingScheduledClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/RequestForReconsiderationRecipientClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/UploadHearingDocumentsClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimFullDefenceProceedDefendantNoMediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimRejectedNotPaidScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantTrialArrangementsNotificationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/GoToHearingDefendantPartAdmitScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/JudicialReferralFullDefencePartAdmitPaidPartialScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/RequestForReconsiderationRecipientDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/UploadHearingDocumentsDefendantScenarioTest.java
  src/main/resources/db/migration/V2024_02_18_1546__CIV-12653_create_draft_claim_scenario.sql
  src/main/resources/db/migration/V2024_02_20_1020__CIV-12654-claim-fee-required-scenario.sql
  src/main/resources/db/migration/V2024_02_22_1135__CIV_12693_claim_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_01_1222__CIV-12657-claim-submitted-hwf-scenario.sql
  src/main/resources/db/migration/V2024_03_08_1415__CIV-12805_go_to_hearing_defendant_partadmit_scenario.sql
  src/main/resources/db/migration/V2024_03_08_1658__CIV-12806-go-to-hearing-paid-partial-defendant-scenario.sql
  src/main/resources/db/migration/V2024_03_12_1216__CIV_12809_go_to_hearing_defendant_full_defence_claimant_rejects_mediation.sql
  src/main/resources/db/migration/V2024_03_13_1153__CIV-12811_full_defence_proceed_no_mediation.sql
  src/main/resources/db/migration/V2024_03_13_1342__CIV-12808_claim_reject_not_paid_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_01_1647__CIV-11301_trial_arrangements_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_01_1648__CIV-11301_trial_arrangements_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_05_0001__CIV-11305_upload_hearing_documents_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_08_1430__CIV-13260_hearing_fee_required_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_09_0001__CIV-11306_upload_hearing_documents_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_11_1400__CIV-13182_View_mediation_settlement_agreement_claimant.sql
  src/main/resources/db/migration/V2024_04_11_1401__CIV-13182_View_mediation_settlement_agreement_defendant.sql
  src/main/resources/db/migration/V2024_04_15_1209__CIV-11952-hearing_fee_rejection_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1355__CIV-11953_hearing_fee_partial_remission_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1435__CIV_11955_hearing_fee_info_required_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1441__CIV-11956_hearing_fee_invalid_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1453__CIV-11957_hearing_fee_num_updated_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_17_0854__CIV-13408_claimant_help_with_fees_in_review_scenario.sql
  src/main/resources/db/migration/V2024_05_24_1100__CIV-13792_judgment_by_admission_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_06_12_1507__CIV-13715-request-for-reconsideration-requested-by-other-party-claimant.sql
  src/main/resources/db/migration/V2024_06_12_1517__CIV-13715-request-for-reconsideration-requested-by-other-party-defendant.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5450

#5460 DTSCCI-194 Check and remove unused handler - no task found in camunda
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RaisingClaimAgainstLitigantInPersonNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5460

#5441 DTSCCI-872 remove unsecure doc api call references
  charts/civil-service/Chart.yaml
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
  charts/civil-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/civil/constants/DocumentManagementConstants.java
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/SecuredDocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/UnsecuredDocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/stitching/CivilDocumentStitchingService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/documentmanagement/SecuredDocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/documentmanagement/UnsecuredDocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/aos/AcknowledgementOfClaimGeneratorForSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/aos/AcknowledgementOfClaimGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/CourtOfficerOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/claimantresponse/RequestJudgmentByAdmissionOrDeterminationResponseDocGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentNonDivergentSpecPiPLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireLipGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/JudgmentByAdmissionPiPLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/JudgmentByDeterminationDocGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/LiPRequestReconsiderationGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/RequestReconsiderationGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/LitigantInPersonFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/trialready/TrialReadyFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5441

#5409 CIV-0000 MCI unavailable dates update toggle
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PartyUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/PartyUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5409

#5433 CIV-14430 Dashboard notification for GA Lip Hwf
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationHwfRejectedScenarioTest.java
  src/main/resources/db/migration/V2024_09_13_1058__CIV-14430_general_application_hwf_rejected_applicant.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5433

#5454 CIV-15004 - create testing endpoint for trial arrangements notifications
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5454

#5399 CIV-15165 Block progress able tasks from dashboard by making them inac…
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/controllers/DashboardController.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/repositories/TaskListRepository.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/TaskListService.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/utilities/StringUtility.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/controllers/DashboardControllerTest.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/TaskListServiceTest.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/utilities/StringUtilityTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/CaseDismissScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CaseDismissScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/client/DashboardApiClient.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractCaseDismissDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseDismissClaimantDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseDismissDefendantDashboardNotificationHandler.java
  src/main/resources/db/migration/V2024_08_23_1530__CIV-14829_dismiss_case.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseDismissClaimantDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseDismissDefendantDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5399

#5354 DTSCCI-788 add camename in ga for manage case
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddDefendantLitigationFriendCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddDefendantLitigationFriendCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5354

#5452 DTSCCI-683 Refactor ManageContactInformationCallbackHandler in civil-service
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/managecontactinformation/PrepareEventTask.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/managecontactinformation/ShowWarningTask.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/managecontactinformation/SubmitChangesTask.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/managecontactinformation/ValidateExpertsTask.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/managecontactinformation/ValidateWitnessesTask.java
  src/main/java/uk/gov/hmcts/reform/civil/model/UpdatePartyDetailsForm.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/managecontactinformation/PrepareEventTaskTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/managecontactinformation/ShowWarningTaskTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/managecontactinformation/SubmitChangesTaskTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/managecontactinformation/ValidateExpertsTaskTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/managecontactinformation/ValidateWitnessesTaskTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5452

#5475 DTSCCI-000 updating readme for the dev preview setup
  README.md
Labels: ns:civil, prd:civil, rel:civil-service-pr-5475

#5415 CIV-13693 - Migrations script bugs
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingScheduledClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/HearingScheduledDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingScheduledClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/HearingScheduledDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_04_04_1632__CIV-11303_bundle_created_scenario.sql
  src/main/resources/db/migration/V2024_04_15_2100__CIV-13268_hearing_fee_paid_claimant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingScheduledClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/HearingScheduledDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5415

#5466 CIV-0000 hearing fee toggle updates
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/HearingFeeDueHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/HearingFeeDueHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5466

#5456 CIV-15365 Use takenOfflineDate
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/CCJRequestedScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CCJRequestedDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoService.java
  src/main/resources/db/migration/V2024_03_01_1630__CIV-12742_claimant_Intent_ccj_requested_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CCJRequestedDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/DashboardClaimInfoServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5456

#5477 CIV-15072 Add Confirm paid a judgment debt link
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/mock/MockTaskList.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimIssuedScenarioTest.java
  src/main/resources/db/migration/V2024_02_22_1135__CIV_12693_claim_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_11_1401__CIV-13182_View_mediation_settlement_agreement_defendant.sql
  src/main/resources/db/migration/V2024_05_06_0900__CIV-12893_default_judgement_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_05_16_1600__CIV-13753.default_judgment_set_aside_defendant_scenario.sql
  src/main/resources/db/migration/V2024_05_24_1100__CIV-13792_judgment_by_admission_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_05_27_0900__CIV-13791_JudgmentOnlineRecordJudgmentDeterminationIssued.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5477

#5424 CIV-15043 JBA LipvLip defendant dashboard notification
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/JudgementByAdmissionIssuedDefendantDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/JudgementByAdmissionIssuedDefendantDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5424

#5380 CIV-15070 Docmosis template update to extract application fee/s
  docker/docmosis/templates/CV-CMC-LET-ENG-LIP-JO0003.docx
  docker/docmosis/templates/CV-CMC-LET-ENG-LIP-JO0004.docx
  docker/docmosis/templates/CV-CMC-LET-ENG-PIP-0002.docx
  src/main/java/uk/gov/hmcts/reform/civil/config/GeneralAppFeesConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgmentonline/DefaultJudgmentNonDivergentSpecLipDefendantLetter.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgmentonline/JudgmentByAdmissionLiPDefendantLetter.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgmentonline/RecordJudgmentDeterminationOfMeansLiPDefendantLetter.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentNonDivergentSpecPiPLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/RecordJudgmentDeterminationOfMeansPiPLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/JudgmentByAdmissionPiPLetterGenerator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentNonDivergentSpecPiPLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/JudgmentByAdmissionPiPLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/RecordJudgmentDeterminationOfMeansPiPLetterGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5380

#5474 CIV-15142 CIV-15143 Download link for uploaded order and storage
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5474

#5487 CIV-15389 - DJ RPA for LiP v LiP
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5487

#5426 CIV-15074 CoSC: Select application screen - add option
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5426

#5481 CIV-15381 Update Contact Court Welsh Text
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantNocScenarioTest.java
  src/main/resources/db/migration/V2024_09_24_1500__CIV-15381_contact_court_welsh_amends.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5481

#5412 CIV-13712 Add claimant not represented check on LR v Lip
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/CCJRequestedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimSettledScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantEndsClaimFullDefenceFullDisputeScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantMediationSuccessfulDashboardNotificationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantRejectRepaymentPlanOrgLtdCoDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantRequestedJudgeToMakeNewPlanScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantRequestedJudgmentByAdmissionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantResponseNotificationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantSettledTheClaimScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantSettlementAgreementScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantRequestMoreTimeScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/GoToHearingScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/MediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitAcceptedClaimantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CCJRequestedDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimSettledDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantCCJResponseNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantMediationSuccessfulDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingScheduledClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ResponseDeadlineExtendedDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/MoreTimeRequestedDashboardNotificationDefendantHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CCJRequestedDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimSettledDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantCCJResponseNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantMediationSuccessfulDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ResponseDeadlineExtendedDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/MoreTimeRequestedDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5412

#5463 CIV-15222 Update View Bundle and Trial Arrangements task List when Bundle is Restitched
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/BundleUpdatedClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/BundleUpdatedDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/BundleUpdatedClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/BundleUpdatedDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_09_20_1100__CIV-15222_bundle_restitch_task_list_scenario.sql
  src/main/resources/db/migration/V2024_09_23_1200__CIV-15382_bundle_restitch_remove_full_stop.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/BundleUpdatedClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/BundleUpdatedDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5463

#5446 CIV-14423 Notification for written representations required
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralAppSwitchWrittenRepresentationsRequestedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralAppWrittenRepresentationsRequestedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/respondent/GeneralAppWrittenRepresentationsRequestedScenarioTest.java
  src/main/resources/db/migration/V2024_09_16_1049__CIV-14423_written_representations_requested.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5446

#5494 DTSCCI-291 transient awaiting claim notification
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/createclaim/SubmitClaimTask.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5494

#5499 CIV-0000 pointing to terraform azurm 2.53 version
  infrastructure/state.tf
Labels: ns:civil, prd:civil, aat/no-changes, prod/no-changes, rel:civil-service-pr-5499

#5371 CIV-15169 API tests for AHN
  Jenkinsfile_CNP
  charts/civil-service/Chart.yaml
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
  charts/civil-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/CamundaRestEngineClient.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/model/TestCamundaProcess.java
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-5371

#5490 CIV-0000 Bulk sp4 to master
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralAppSwitchWrittenRepresentationsRequestedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralAppWrittenRepresentationsRequestedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationApplicantRequestsHwfScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationHwfFeePaidTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationHwfInvalidReferenceScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationHwfMoreInfoScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationHwfPartialRemittanceScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationPayAdditionalFeeScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralAppsJudgeMadeAnOrderScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/respondent/GeneralAppWrittenRepresentationsRequestedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/respondent/GeneralAppsJudgeMadeAnOrderScenarioTest.java
  src/main/resources/db/migration/V2024_09_03_1145__CIV-14409_ga_pay_additional_fee_applicant_scenario.sql
  src/main/resources/db/migration/V2024_09_13_1046__CIV-14429_general_application_hwf_requested_applicant.sql
  src/main/resources/db/migration/V2024_09_13_1240__CIV_14410-general-application-order-made-scenario.sql
  src/main/resources/db/migration/V2024_09_14_1132__CIV-14431_general_application_hwf_partRemissionGranted_applicant.sql
  src/main/resources/db/migration/V2024_09_16_1049__CIV-14423_written_representations_requested.sql
  src/main/resources/db/migration/V2024_09_17_1140__CIV-14432_general_application_hwf_invalid_reference_applicant.sql
  src/main/resources/db/migration/V2024_09_17_1513__CIV-14430_general_application_hwf_fee_paid_applicant.sql
  src/main/resources/db/migration/V2024_09_18_1651__CIV-14436_general_application_hwf_more_info_applicant.sql
  src/main/resources/db/migration/V2024_09_19_1240__CIV-14437_general_application_hwf_fee_remission_applicant.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5490

#5439 CIV-15317 Added JO_ONLINE_LIVE_ENABLED flag in new state flow engine
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/SimpleStateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilderTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5439

#5471 DTSCCI-916 Reduce Application Insights
  lib/applicationinsights.json
Labels: ns:civil, prd:civil, rel:civil-service-pr-5471

#5501 CIV-0000 sprint branch JO CIV-15070,CIV-15043
  docker/docmosis/templates/CV-CMC-LET-ENG-LIP-JO0003.docx
  docker/docmosis/templates/CV-CMC-LET-ENG-LIP-JO0004.docx
  docker/docmosis/templates/CV-CMC-LET-ENG-PIP-0002.docx
  src/main/java/uk/gov/hmcts/reform/civil/config/GeneralAppFeesConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/JudgementByAdmissionIssuedDefendantDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgmentonline/DefaultJudgmentNonDivergentSpecLipDefendantLetter.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgmentonline/JudgmentByAdmissionLiPDefendantLetter.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgmentonline/RecordJudgmentDeterminationOfMeansLiPDefendantLetter.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentNonDivergentSpecPiPLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/RecordJudgmentDeterminationOfMeansPiPLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/JudgmentByAdmissionPiPLetterGenerator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/JudgementByAdmissionIssuedDefendantDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentNonDivergentSpecPiPLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/JudgmentByAdmissionPiPLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/RecordJudgmentDeterminationOfMeansPiPLetterGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5501

#5498 CIV-15312 removing previous hwf notifications
  src/main/resources/db/migration/V2024_09_27_1030__CIV-15312_update_hwf_notifications.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5498
