Repository hmcts/civil-service, pull requests merged in 2024-03, with the labels that each got.

#4111 CIV-12691 Create Dashboard Notifications for claimant on claim issue
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/data/TaskList.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/TaskListService.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/DraftClaimScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/IssueClaimScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CreateClaimIssueNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DateUtils.java
  src/main/resources/db/migration/V2024_02_29_1207__CIV-12653_create_claimant_claim_iussed_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CreateClaimIssueNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4111

#4110 CIV-12693 dashboard notification fee paid
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardScenariosService.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DraftClaimScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimIssuedScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimIssueNotificationsHandler.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V2024_02_22_1135__CIV_12693_create_scenario_for_claim_issue_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimIssueNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/DateUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4110

#4074 CIV-0000 HWF Bulk Branch
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/FeeType.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/HwFMoreInfoRequiredDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/NoRemissionDetailsSummary.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InvalidHwFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/MoreInformationHwfCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/PartialRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UpdateHelpWithFeeRefNumberHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/HelpWithFeesDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InvalidHwFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/MoreInformationHwfCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/PartialRemissionHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UpdateHelpWithFeeRefNumberHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-4074

#4010 CIV-12060 Prevent creation of Default Judgment Spec form in LR V LiP claims
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDJFormHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDJFormHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4010

#4079 CIV-12640 Fix experts section DQ form
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/DirectionsQuestionnaireGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4079

#4135 CIV-6508 Resolve CVE-2021-37533
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-4135

#3724 CIV-11521 Prepopulated dates on SDO/DJ order screens must not fall on non working days
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3724

#4136 CIV-12757 Dashboard Notification HWF
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/DashboardNotificationsEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/TaskListEntity.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimFeeRequiredScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HwfRequestedScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/GenerateDashboardNotificationHwfHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_03_01_1222__CIV-12657-claim-issue-hwf-scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/GenerateDashboardNotificationHwfHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4136

#4141 CIV-12956 - populate field for notification action created at
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationService.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4141

#4099 CIV-8312 DRH document generation
  docker/docmosis/templates/CV-UNS-STD-ENG-01389.docx
  src/main/java/uk/gov/hmcts/reform/civil/constants/SdoR2UiConstantSmallClaim.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormSmallDrh.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsAddNewDirection.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorServiceTest.java
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-4099

#4139 CIV-12784 Dashboard Notification - HwF - When Case worker selects "Invalid HwF Number"
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimIssueHwfInvalidRefScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HwFDashboardNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_02_02_12356_1__create_dashboard_notification_template_table.sql
  src/main/resources/db/migration/V2024_02_02_12356_2__create_dashboard_notification_table.sql
  src/main/resources/db/migration/V2024_02_29_1420__CIV-12784_claim_issue_invalid_hwf_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HwFDashboardNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4139

#4133 CIV-12988 default judgment claim fee fix
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4133

#4152 CIV-11905 SDO docmosis changes for CARM
  docker/docmosis/templates/CV-UNS-STD-ENG-01382.docx
  src/main/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormSmall.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorServiceTest.java
Labels: ns:civil, prd:civil, Testing, enable_keep_helm, rel:civil-service-pr-4152

#4147 CIV-12785 HWF Dashboard Notification - More Information Required
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimIssueHwfInfoRequiredScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HwFDashboardNotificationsHandler.java
  src/main/resources/db/migration/V2024_03_04_0910__CIV_12785_claim_issue_info_required_hwf_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HwFDashboardNotificationsHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4147

#4153 CIV-12752 - recarted PR for civ-12752.
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FullRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudgementService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FullRemissionHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4153

#4142 CIV-12823 Dashboard notification - update hwf number
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimIssueHwfNumUpdatedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HwfRequestedScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HwFDashboardNotificationsHandler.java
  src/main/resources/db/migration/V2024_02_22_1135__CIV_12693_claim_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_02_29_1207__CIV-12653_claim_issued_claimant_scenario.sql
  src/main/resources/db/migration/V2024_02_29_1420__CIV-12784_claim_submitted_invalid_hwf_scenario.sql
  src/main/resources/db/migration/V2024_03_01_1222__CIV-12657-claim-submitted-hwf-scenario.sql
  src/main/resources/db/migration/V2024_03_04_0910__CIV_12785_claim_submitted_info_required_hwf_scenario.sql
  src/main/resources/db/migration/V2024_03_04_1154__CIV-12823_claim_submitted_hwf_num_updated_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HwFDashboardNotificationsHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4142

#4108 CIV-8314 Small Track SDO Flight Delay paragraph
  docker/docmosis/templates/CV-UNS-STD-ENG-01388.docx
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormSmall.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4108

#4102 CIV-12702 HwF section in Claim Details Tab
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplyHelpWithHearingFeeCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FullRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/PartialRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/UpdateHelpWithFeeRefNumberHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CaseDataLiP.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/HelpWithFeesForTab.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/HWFFeePaymentOutcomeService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/HelpWithFeesForTabService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplyHelpWithHearingFeeCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FullRemissionHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NoRemissionHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/PartialRemissionHWFCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UpdateHelpWithFeeRefNumberHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/HWFFeePaymentOutcomeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/HelpWithFeesForTabServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4102

#4186 CIV-0000 Test api threads
  Jenkinsfile_CNP
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-4186

#4004 CIV-0000 nihl sdo feature
  docker/docmosis/templates/CV-UNS-STD-ENG-01387.docx
  src/main/java/uk/gov/hmcts/reform/civil/constants/SdoR2UiConstantFastTrack.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/HearingLengthFinalOrderList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/IncludeInOrderToggle.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/PhysicalTrialBundleOptions.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/SdoR2FastTrackMethod.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/TrialOnRadioOptions.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormFastNihl.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2AddNewDirection.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2AddendumReport.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2ApplicationToRelyOnFurther.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2ApplicationToRelyOnFurtherDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2DisclosureOfDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2EvidenceAcousticEngineer.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2ExpertEvidence.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2FastTrackAltDisputeResolution.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2FurtherAudiogram.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2PermissionToRelyOnExpert.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2QuestionsClaimantExpert.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2QuestionsToEntExpert.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2RestrictNoOfPagesDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2RestrictNoOfWitnessDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2RestrictPages.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2RestrictWitness.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2ScheduleOfLoss.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2Settlement.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2Trial.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2TrialFirstOpenDateAfter.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2TrialHearingLengthOther.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2TrialWindow.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2UploadOfDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2VariationOfDirections.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2WitnessOfFact.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HearingUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4004

#4171 CIV-13012 and CIV-13013 settlement agreement
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimStateAfterUploadingTranslatedDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimantIntentionClaimStateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefendantSignSettlementAgreementCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UpdateClaimStateService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimStateAfterUploadingTranslatedDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimantIntentionClaimStateCallbackHandlerTests.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefendantSignSettlementAgreementCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UpdateClaimStateServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4171

#4126 CIV-12869 Merge bulk branch
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4126

#4144 CIV-12782 dashboard notification
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/PartAdmitImmediatelyClaimSettledScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/utils/ClaimantResponseUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/AmountFormatter.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DateUtils.java
  src/main/resources/db/migration/V2024_03_08_0916__CIV_12782_create_pay_immediately_accepted_for_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/AmountFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/DateUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4144

#4195 DTSCCI-00000 Update PR naming rules
  .github/workflows/main.yml
Labels: ns:civil, prd:civil, rel:civil-service-pr-4195

#4143 CIV-12792 go to hearing
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/GoToHearingScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandler.java
  src/main/resources/db/migration/V2024_03_01_1442__CIV-12792_go_to_hearing_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4143

#4098 CIV-12868 - Mapping hearing attendees for Orgs
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PartyUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/PartyUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4098

#4145 CIV-12800 dashboard notification part remission
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimIssueHwFPartRemissionGrantedScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HwFDashboardNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_03_01_1637__CIV-12800_partial_remission_hwf_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HwFDashboardNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4145

#4159 CIV-12753 claim settled claimant
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimSettledScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/resources/db/migration/V2024_03_05_1500__CIV-12753_creat_claimant_claim_settled_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4159

#4124 CIV-12776 Camunda error during claimant intention
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4124

#4138 CIV-12801 No remission dashboard notification
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/IssueClaimScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/NoRemissionHwFScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimIssuedScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HwFDashboardNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_02_22_1135__CIV_12693_claim_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_02_29_1207__CIV-12653_claim_issued_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_01_1442__CIV-12792_claimant_intent_go_to_hearing_scenario.sql
  src/main/resources/db/migration/V2024_03_01_1630__CIV-12742_claimant_Intent_ccj_requested_scenario.sql
  src/main/resources/db/migration/V2024_03_01_1637__CIV-12800_claim_submitted_partial_remission_hwf_scenario.sql
  src/main/resources/db/migration/V2024_03_04_1227__CIV-12801_claim_submitted_no_remission_hwf_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HwFDashboardNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4138

#4137 CIV-12121 Add Judgment 'Issued' back end CCD field
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RecordJudgmentCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RecordJudgmentCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4137

#4164 CIV-12819 update timeframe for mark Judgment as Paid in Full
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgmentPaidInFullCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgmentPaidInFullCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4164

#4176 CIV-12284 2v1 Unsuccessful Mediation Notifications
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationMediationUnsuccessfulClaimantLRHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4176

#4204 Revert "CIV-12776 Camunda error during claimant intention"
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4204

#4140 CIV-12810 Added 1v2ss and 2v1 copy expert/witnesses functionality
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4140

#4180 CIV-12813 Add full admit pay immediately no payment from defendant handler and notification
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/FullAdmitPayImmediatelyNoPaymentFromDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/event/FullAdmitPayImmediatelyNoPaymentFromDefendantEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/FullAdmitPayImmediatelyNoPaymentFromDefendantEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/FullAdmitPayImmediatelyNoPaymentFromDefendantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/FullAdmitPayImmediatelyNoPaymentFromDefendantSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/FullAdmitPayImmediatelyNoPaymentFromDefendantExternalTaskListener.java
  src/main/resources/db/migration/V2024_03_08_1456__CIV-12813_full_admit_pay_immediately_no_payment_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/FullAdmitPayImmediatelyNoPaymentFromDefendantEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/FullAdmitPayImmediatelyNoPaymentFromDefendantSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4180

#4168 CIV-12789 Dashboard notification - Mediation (Claimant)
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimSettledScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/MediationScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/AmountFormatter.java
  src/main/resources/db/migration/V2024_03_05_1422__CIV-12789_mediation_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_05_1500__CIV-12753_creat_claimant_claim_settled_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4168

#4206 CIV-12776 Camunda error during claimant intention - Required for Dashboard notification - Functional tests to be fixed later
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4206

#4179 CIV-12831 defendant dashboard sign settlement
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimSettledScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CourtFavoursClaimantSettlementAgreementScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DateUtils.java
  src/main/resources/db/migration/V2024_03_05_1713__CIV-12758_claim_settled_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_06_1631__CIV-12831-settlement-agreement-defendant-scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4179

#4157 CIV-12758 Dashboard notification - Claim settled (Defendant)
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimSettledScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimSettledScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CourtFavoursClaimantSettlementAgreementScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DateUtils.java
  src/main/resources/db/migration/V2024_03_05_1500__CIV-12753_creat_claimant_claim_settled_scenario.sql
  src/main/resources/db/migration/V2024_03_05_1713__CIV-12758_claim_settled_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_06_1631__CIV-12831-settlement-agreement-defendant-scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4157

#4187 CIV-12891 Add camunda message handler and dashboard notification
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/SettlementNoResponseFromDefendantTest.java
  src/main/java/uk/gov/hmcts/reform/civil/event/SettlementNoResponseFromDefendantEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/SettlementNoResponseFromDefendantEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/SettlementNoResponseFromDefendantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/SettlementNoResponseFromDefendantSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/SettlementNoResponseFromDefendantExternalTaskListener.java
  src/main/resources/db/migration/V2024_03_11_1608__CIV-12891_settlement_no_response_from_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/SettlementNoResponseFromDefendantEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/SettlementNoResponseFromDefendantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/SettlementNoResponseFromDefendantSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4187

#4182 CIV-12821 Claimant accept defendant repayment plan - Settlement Agreement
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantAcceptDefendantSettlementAgreementScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CourtFavoursClaimantSettlementAgreementScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_03_06_1631__CIV-12831-settlement-agreement-defendant-scenario.sql
  src/main/resources/db/migration/V2024_03_07_1035__CIV_12821_ask_sign_settlement_agreement_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4182

#4191 CIV-12805 Dashboard notification - Defendant part admit hearing
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/GoToHearingDefendantPartAdmitScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_03_08_1415__CIV-12805_go_to_hearing_defendant_partadmit_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4191

#4194 CIV-0000 NIHL sdo feature
  docker/docmosis/templates/CV-UNS-STD-ENG-01387.docx
  src/main/java/uk/gov/hmcts/reform/civil/constants/SdoR2UiConstantFastTrack.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/HearingLengthFinalOrderList.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/IncludeInOrderToggle.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/PhysicalTrialBundleOptions.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/SdoR2FastTrackMethod.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/TrialOnRadioOptions.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormFastNihl.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2AddNewDirection.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2AddendumReport.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2ApplicationToRelyOnFurther.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2ApplicationToRelyOnFurtherDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2DisclosureOfDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2EvidenceAcousticEngineer.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2ExpertEvidence.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2FastTrackAltDisputeResolution.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2FurtherAudiogram.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2PermissionToRelyOnExpert.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2QuestionsClaimantExpert.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2QuestionsToEntExpert.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2RestrictNoOfPagesDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2RestrictNoOfWitnessDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2RestrictPages.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2RestrictWitness.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2ScheduleOfLoss.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2Settlement.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2Trial.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2TrialFirstOpenDateAfter.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2TrialHearingLengthOther.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2TrialWindow.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2UploadOfDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2VariationOfDirections.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2WitnessOfFact.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HearingUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4194

#4177 CIV-12959 - Added timeToLive & updated notificationAction mapping on notification
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/data/Notification.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/utils/DashboardNotificationsTestUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/GetNotificationControllerTest.java
  src/integrationTest/resources/scripts/dashboardNotifications/get_notifications_data.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4177

#4123 CIV-12643 Fix Hearing Notices not generating
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestAPIHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestAPIHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4123

#4119 CIV-12950 Missing party titles in hearing service values api response
  src/main/java/uk/gov/hmcts/reform/civil/advice/ControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/FeatureNotActiveException.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4119

#4199 CIV-12046 - updated allowed event list.
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4199

#4178 CIV-12777 Part Admit Claimant Dashboard
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimFeeRequiredScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/FullAdmitPayImmediatelyNoPaymentFromDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitAcceptedClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/PartAdmitImmediatelyClaimSettledScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/InterlocutoryJudgementDocMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/manualdetermination/ClaimantLipManualDeterminationFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/ClaimantResponseUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DateUtils.java
  src/main/resources/db/migration/V2024_02_20_1020__CIV-12654-claim-fee-required-scenario.sql
  src/main/resources/db/migration/V2024_03_06_1422__CIV-12777_part_admit_accepted_claimant.sql
  src/main/resources/db/migration/V2024_03_08_0916__CIV_12782_create_pay_immediately_accepted_for_defendant.sql
  src/main/resources/db/migration/V2024_03_08_1456__CIV-12813_full_admit_pay_immediately_no_payment_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/docmosis/InterlocutoryJudgementDocMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/ClaimantResponseUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/DateUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4178

#4190 CIV-12747 defendant default judgment requested
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CCJRequestedScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CCJRequestedDashboardNotificationDefendantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_03_08_1630__CIV-12747_claimantIntent_ccj_requested_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CCJRequestedDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4190

#4174 CIV-12814 Dashboard notification - claimant asks defendant to sign a settlement
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantSettlementAgreementScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_03_05_1154__CIV-12814_claimant_intent_sign_settlement_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4174

#4210 CIV-12811 - Defendant no mediation, full defence, claimant proceed Dashboard
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimFullDefenceProceedDefendantNoMediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/GoToHearingDefendantPartAdmitScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_03_08_1415__CIV-12805_go_to_hearing_defendant_partadmit_scenario.sql
  src/main/resources/db/migration/V2024_03_13_1153__CIV-12811_full_defence_proceed_no_mediation.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4210

#4224 CIV-00000 Add handler based integration tests
  src/integrationTest/java/uk/gov/hmcts/reform/civil/config/FeignRequestUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/config/MockMvcFeignClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/DashboardBaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/CCJRequestedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CCJRequestedScenarioTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4224

#4039 CIV-0000 drh sdo feature
  docker/docmosis/templates/CV-UNS-STD-ENG-01389.docx
  src/main/java/uk/gov/hmcts/reform/civil/constants/SdoR2UiConstantSmallClaim.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/HearingOnRadioOptions.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/SmallClaimsSdoR2HearingMethod.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/SmallClaimsSdoR2PhysicalTrialBundleOptions.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/SmallClaimsSdoR2TimeEstimate.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/DesicionOnReconsiderationDocumentForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormSmallDrh.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsAddNewDirection.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsBundleOfDocs.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsHearing.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsHearingFirstOpenDateAfter.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsHearingLengthOther.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsHearingWindow.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsImpNotes.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsJudgesRecital.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsPPI.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsRestrictPages.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsRestrictWitness.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsUploadDoc.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2SmallClaimsWitnessStatements.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/RequestReconsiderationGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HearingUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4039

#4228 CIV-12950 Revert "Missing party titles in hearing service values api response"
  src/main/java/uk/gov/hmcts/reform/civil/advice/ControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/FeatureNotActiveException.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-4228

#4198 CIV-12806 Go to hearing defendant
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/GoToHearingScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/JudicialReferralFullDefencePartAdmitPaidPartialScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_03_01_1442__CIV-12792_claimant_intent_go_to_hearing_scenario.sql
  src/main/resources/db/migration/V2024_03_08_1658__CIV-12806-go-to-hearing-paid-partial-defendant-scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4198

#4184 CIV-12886 settlement court decides in favour of defendant
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimSettledCourtDecisionInFavorOfDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/PartAdmitImmediatelyClaimSettledScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/ClaimantLiPResponse.java
  src/main/resources/db/migration/V2024_02_02_12356_3__create_task_tables.sql
  src/main/resources/db/migration/V2024_03_08_1116__CIV_12886_court_agreed_with_defendant_for_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4184

#4222 CIV-12799 Add delete scenarios for Claimant after HWF Payment Outcome
  src/main/resources/db/migration/V2024_02_29_1207__CIV-12653_claim_issued_claimant_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4222

#4120 CIV-12072 Update the LR defendant response form for Part Admit Journeys
  docker/docmosis/templates/CV-SPC-HRN-ENG-01360.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01361.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01362.docx
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/ResponseRepaymentDetailsForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimLipResponseFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4120

#4216 CIV-12808 Dashboard notification Defendant states paid - claimant rejects
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimRejectedNotPaidScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/resources/db/migration/V2024_03_13_1342__CIV-12808_claim_reject_not_paid_defendant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4216

#4221 CIV-12798 - Dashboard Notification - When HWF Full remission is granted (Claimant)
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimIssueHwfFullRemissionGrantedScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HwFDashboardNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FullRemissionHWFCallbackHandler.java
  src/main/resources/db/migration/V2024_03_15_0858__CIV_12798_claim_submitted_hwf_full_remission_granted.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HwFDashboardNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FullRemissionHWFCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4221

#4209 CIV-12896 dashboard notification settlement
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantRejectedSettlementAgreementDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DefendantSignSettlementAgreementDashboardNotificationHandler.java
  src/main/resources/db/migration/V2024_03_13_1311__CIV_12896_defendant_rejects_settlement_agreement_for_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DefendantSignSettlementAgreementDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4209

#4241 CIV-12776 fix
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4241

#4212 CIV-00000 adding p to scripts
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/DashboardBaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/CCJRequestedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimFeeRequiredScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimIssueHwFPartRemissionGrantedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimIssueHwfInfoRequiredScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimIssueHwfInvalidRefScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimIssueHwfNumUpdatedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DraftClaimScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/GoToHearingScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HwfRequestedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/IssueClaimScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimIssuedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimSettledCourtDecisionInFavorOfDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/PartAdmitImmediatelyClaimSettledScenarioTest.java
  src/main/resources/db/migration/V2024_02_18_1546__CIV-12653_create_draft_claim_scenario.sql
  src/main/resources/db/migration/V2024_02_20_1020__CIV-12654-claim-fee-required-scenario.sql
  src/main/resources/db/migration/V2024_02_22_1135__CIV_12693_claim_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_02_29_1207__CIV-12653_claim_issued_claimant_scenario.sql
  src/main/resources/db/migration/V2024_02_29_1420__CIV-12784_claim_submitted_invalid_hwf_scenario.sql
  src/main/resources/db/migration/V2024_03_01_1222__CIV-12657-claim-submitted-hwf-scenario.sql
  src/main/resources/db/migration/V2024_03_01_1442__CIV-12792_claimant_intent_go_to_hearing_scenario.sql
  src/main/resources/db/migration/V2024_03_01_1630__CIV-12742_claimant_Intent_ccj_requested_scenario.sql
  src/main/resources/db/migration/V2024_03_01_1637__CIV-12800_claim_submitted_partial_remission_hwf_scenario.sql
  src/main/resources/db/migration/V2024_03_04_0910__CIV_12785_claim_submitted_info_required_hwf_scenario.sql
  src/main/resources/db/migration/V2024_03_04_1154__CIV-12823_claim_submitted_hwf_num_updated_scenario.sql
  src/main/resources/db/migration/V2024_03_08_0916__CIV_12782_create_pay_immediately_accepted_for_defendant.sql
  src/main/resources/db/migration/V2024_03_08_1116__CIV_12886_court_agreed_with_defendant_for_defendant.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4212

#4201 CIV-12904 Set aside Judgment
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RecordJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/JudgmentSetAsideOrderType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/JudgmentSetAsideReason.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4201

#4247 CIV-12791 - In Mediation Dashboard Scenario
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/InMediationScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_03_19_1057__CIV-12791_claimant_intent_mediation_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4247

#4181 CIV-00000 SNI-5386: Defendant "not authorised" error when submitting security c…
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/RetryablePinException.java
  src/main/java/uk/gov/hmcts/reform/civil/service/pininpost/CUIIdamClientService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DefendantPinToPostLRspecServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-4181

#4158 CIV-12957 new feature toggle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CreateClaimIssueNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/GenerateDashboardNotificationClaimFeeRequiredHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/GenerateDashboardNotificationHwfHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimIssueNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CreateClaimIssueNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/GenerateDashboardNotificationClaimFeeRequiredHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/GenerateDashboardNotificationHwfHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimIssueNotificationsHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4158

#4267 CIV-00000 Resolve memory heap issue and clean data from integration
  build.gradle
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/DashboardNotificationsEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/NotificationActionEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationService.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/DashboardBaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/RecordNotificationClickControllerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4267

#4260 DTSCCI-00000 Add support for setting case data when retriggering events
  src/main/java/uk/gov/hmcts/reform/civil/handler/RetriggerCasesEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/RetriggerCasesEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4260

#4253 CIV-12999 Add caseworker-civil-staff for MCI
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandler.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-4253

#4229 CIV-13119 - Dashboard Defendant response Part admit Pay Immediately
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/CCJRequestedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitAcceptedClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponsePayImmediatelyScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/GoToHearingDefendantPartAdmitScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/PartAdmitImmediatelyClaimSettledScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_03_06_1422__CIV-12777_part_admit_accepted_claimant.sql
  src/main/resources/db/migration/V2024_03_08_0916__CIV_12782_create_pay_immediately_accepted_for_defendant.sql
  src/main/resources/db/migration/V2024_03_08_1415__CIV-12805_go_to_hearing_defendant_partadmit_scenario.sql
  src/main/resources/db/migration/V2024_03_15_1247__CIV-13119_defendant_response_admit_pay_immediately_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4229

#4239 CIV-12942 - Dashboard Notification - claimant uses tell us you've ended the claim (claimant)
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantSettledTheClaimScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimSettledDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CaseDataLiP.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_03_18_1315__CIV-12942_claim_settled_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimSettledDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4239

#4245 CIV-00000 publish openapi spec
  .github/workflows/publish-openapi.yaml
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-4245

#4246 CIV-13077 Claimant dashboard notification - defendant orgOrltdcompany with pay by set date
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/FullOrPartAdmitPayByDateOrgOrLtdCompanyFromDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/main/resources/db/migration/V2024_03_15_1445__CIV-13077_defendant_orgorltdcompany_admit_pay_by_date_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4246

#4280 CIV-13298 Camunda error during ClaimantIntention Full defence DisputetAll
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4280

#4264 CIV-13163 Defendant already paid notification
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/AlreadyPaidFullDefencePartAdmitScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_03_21_1216__CIV-13163-defendant-states-paid-scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4264

#4233 CIV-12897 Dashboard defendant accepts settlement - defendant
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantAcceptSettlementAgreementDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DefendantSignSettlementAgreementDashboardNotificationHandler.java
  src/main/resources/db/migration/V2024_03_14_1530__CIV-12897_defendant_settlement_agreement_defendant_accept_defendant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DefendantSignSettlementAgreementDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4233

#4283 CIV-0000 DTSCCI-78 Update renovate config
  .github/renovate.json
Labels: ns:civil, prd:civil, rel:civil-service-pr-4283

#4289 DTSCCI-028 Default Hearing Method
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4289

#4242 CIV-13072 dr more time requested
  build.gradle
  dashboard-notifications/build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/MoreTimeRequestedScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/MoreTimeRequestedDashboardNotificationDefendantHandler.java
  src/main/resources/db/migration/V2024_03_18_1016__CIV-13072_defendant_response_more_time_requested_scenario.sql
  src/main/resources/db/migration/V2024_03_18_1315__CIV-12942_claim_settled_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/MoreTimeRequestedDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4242

#4269 CIV-13162 Dashboard notification for defendant partial paid claimant
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitFullDefencePaidAlreadyPartialClaimantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/resources/db/migration/V2024_03_21_1040__CIV-13162_defendant_response_part_admit_pay_already_claimant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4269

#4258 CIV-13130 Pay By Installments
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitPayByInstalmentsScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/PaymentFrequencyLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_03_21_1157__CIV-13130_defendant_response_admit_pay_by_instalments_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4258

#4266 CIV-13134 Record judgment notification
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RecordJudgmentDeterminationMeansApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RecordJudgmentDeterminationMeansRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RecordJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NotificationUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RecordJudgmentDeterminationMeansApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RecordJudgmentDeterminationMeansRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4266

#4244 CIV-13071 Claimant dashboard notification defendant requests more time
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantRequestMoreTimeScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ResponseDeadlineExtendedDashboardNotificationHandler.java
  src/main/resources/db/migration/V2024_03_18_0902__CIV-13071_defendant_more_time_requested_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ResponseDeadlineExtendedDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, stale

#4265 CIV-13129 Dashboard Notification - Defendant FullOrPart admit pay by set date
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/FullOrPartAdmitPayBySetDateFromDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/main/resources/db/migration/V2024_03_21_1145__CIV-13129_defendant_admit_pay_by_date_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4265

#4262 CIV-12943 claim settled defendant notification
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/TellUsSettledDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimSettledDefendantDashboardNotificationHandler.java
  src/main/resources/db/migration/V2024_03_19_1608__CIV-12943_claimant_uses_tell_us_settled_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimSettledDefendantDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4262

#4220 CIV-12898 Settlement agreement - defendants accepts settlement (claimant)
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantAcceptsSettlementClaimantNotificationTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DefendantSignSettlementAgreementDashboardNotificationHandler.java
  src/main/resources/db/migration/V2024_03_13_1608__CIV-12898_defendant_accepts_settlement_claimant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DefendantSignSettlementAgreementDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4220

#4243 CIV-13149 mediation successful notification
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/DashboardBaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantMediationSuccessfulDashboardNotificationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantMediationSuccessfulDashboardNotificationScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantMediationSuccessfulDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantMediationSuccessfulDashboardNotificationHandler.java
  src/main/resources/db/migration/V2024_03_15_1300__CIV-13149_Notice.AAA6_Mediation_Successful_CARM.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantMediationSuccessfulDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantMediationSuccessfulDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4243

#4234 CIV-13115 Dashboard Notification - Defendant Full admit pay immediately (Claimant)
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseFullAdmitPayImmediatelyClaimantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/main/resources/db/migration/V2024_03_15_1456__CIV-13115_defendant_response_admit_pay_immediately_claimant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4234

#4256 CIV-13136 Dashboard notification - Defendant response Pay by instalments (Org/Company)
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseAdmitPayInstalmentCompanyDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_03_19_1441__CIV-13136_defendant_response_full_admit_instalment_company_defendant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4256

#4306 DTSCCI-0000 Ignore renovate files from CODEOWNERS rules
  .github/CODEOWNERS
Labels: ns:civil, prd:civil, rel:civil-service-pr-4306

#4272 CIV-13132 - Dashboard Defendant Response Full/Part Admit pay by set date scenario
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponsePayBySetDateScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_03_20_1712__CIV-13132_defendant_response_admit_pay_by_set_date_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4272

#4275 CIV-13167 Defendant response full defence no mediation
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseFullDefenceNoMediationScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_03_32_1247__CIV-13167_defendant_response_full_defence_no_mediation_defendant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4275

#4237 CIV-13109 Email notifications: Claimant/Defendant LR - set aside Judgment made in error
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimSetAsideJudgmentClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimSetAsideJudgmentDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimSetAsideJudgmentClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimSetAsideJudgmentDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/NotificationUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4237

#4319 DTSCCI-051 Add retry for import
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-service-pr-4319

#4295 CIV-13070 claimant has accepted the repayment plan ccj
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantAcceptsRepaymentPlanCCJDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantCCJResponseNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantCCJResponseDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_03_25_1625__CIV_13070_claimant_accepts_repayment_plan_ccj_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantCCJResponseNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantCCJResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4295

#4292 CIV-13073 Dashboard notification - Judgment Requested (where court agrees with claimant) (By Admission -Defendant)
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CCJRequestedCourtAgreedWithClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantAcceptsRepaymentPlanCCJDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantCCJResponseDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_03_25_1247__CIV-13073_claimant_response_ccj_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_25_1625__CIV_13070_claimant_accepts_repayment_plan_ccj_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantCCJResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4292

#4257 CIV-13116 DN Defendant response part admit
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponsePartAdmitPayImmediatelyClaimantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/main/resources/db/migration/V2024_03_18_1002__CIV-13116_defendant_response_part_admit_claimant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4257

#4248 CIV-13111 Dashboard notification - Defendant response - Part/Full Admit , Pay by instalments (Org/Company)(Claimant)
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponsePartFullAdmitInstallmentsOrgComClaimantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_03_18_1456__CIV-13111_defendant_response_full_part_admit_installments_org_com_claimant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4248

#4293 CIV-13135 Lip notification record judgment
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RecordJudgmentDeterminationMeansApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RecordJudgmentDeterminationMeansRespondentNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RecordJudgmentDeterminationMeansApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RecordJudgmentDeterminationMeansRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4293

#4298 CIV-13201 - Add Dashboard for Defendant Response Deadline Check
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseDeadlineScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/event/DefendantResponseDeadlineCheckEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DefendantResponseDeadlineCheckCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseDeadlineDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/DefendantResponseDeadlineCheckEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/DefendantResponseDeadlineCheckHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/DefendantResponseDeadlineCheckSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/DefendantResponseDeadlineCheckExternalTaskListener.java
  src/main/resources/db/migration/V2024_03_25_1606__CIV-13201_response_deadline_not_responded.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DefendantResponseDeadlineCheckCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseDeadlineDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/DefendantResponseDeadlineCheckEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/DefendantResponseDeadlineCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/DefendantResponseDeadlineCheckSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4298

#4327 DTSCCI-0000 Fix retrigger case data
  src/main/java/uk/gov/hmcts/reform/civil/handler/RetriggerCasesEventHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/RetriggerCasesEventHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4327

#4299 CIV-13202 Defendant Response Deadline Passed
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseDeadlinePassedScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDeadlinePassedNotificationHandler.java
  src/main/resources/db/migration/V2024_03_26_1400__CIV-13202_response_deadline_not_responded_defendant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDeadlinePassedNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4299

#4254 CIV-13171 Email notifications Judgment varied following Determination of Means
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantJudgmentVariedDeterminationOfMeansNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantJudgmentVariedDeterminationOfMeansNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EditJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NotificationUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantJudgmentVariedDeterminationOfMeansNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantJudgmentVariedDeterminationOfMeansNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4254

#4294 CIV-13074 Defendant dashboard - Claimant accepts court decision
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CCJRequestedClaimantAcceptsCourtDecisionTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantCCJResponseDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_03_25_1611__CIV-13074-court-rejects-claimant-plan-claimant-accepts-defendant-scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantCCJResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4294

#4309 CIV-13199 Dashboard notification - Defendant response full defence with mediation
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantFullDefenceFullDisputeWithMediationScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_03_26_1145__CIV-13199_defendant_full_defence_full_dispute_mediation.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4309

#4290 CIV-13164 Defendant response Full Defence Mediation refused
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseFullDefenceMediationRefusedClaimantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_03_21_1136__CIV-13164_claimant_full_defence_no_mediation.sql
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4290

#4328 DTSCCI-0000 Add more logging to the retrigger
  src/main/java/uk/gov/hmcts/reform/civil/handler/RetriggerCasesEventHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4328

#4259 CIV-13133 Defendant Response - Full/part admit pay by instalments (De…
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseFullOrPartAdmitInstallmentsScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_03_20_1347__CIV-13133_defendant_response_full_part_admit_pay_installment_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4259

#4312 CIV-13306 Mediation Notification for Lip
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationMediationUnsuccessfulClaimantLRHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationMediationUnsuccessfulClaimantLRHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4312
