Repository hmcts/civil-service, pull requests merged in 2024-11, with the labels that each got.

#5727 CIV-15279 trigger the new email notification to Claimant cosc
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CoscPaidInFullApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CheckCoscMarkPaidCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CoscApplicationAfterPaymentTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CoscPaidInFullApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/CheckCoscMarkPaidCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CoscApplicationAfterPaymentTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5727

#5710 CIV-15229 Dashboard notification Stay Lifted
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/StayLiftedClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/StayLiftedDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/StayLiftedClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/StayLiftedDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_10_24_1240__CIV-15229_stay_lifted.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/StayLiftedClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/StayLiftedDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5710

#5758 DTSCCI-1093 adding log messages v3
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BaseExternalTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimLipResponseFormGenerator.java
Labels: ns:civil, prd:civil, pr_ft_carm, rel:civil-service-pr-5758

#5674 CIV-15532 Fix event not allowed when defendant bilingual
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5674

#5751 DTSCCI-1075 Fix concurrency issue
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/SimpleStateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/simplegrammar/MoveTo.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/simplegrammar/OnlyWhen.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/simplegrammar/Set.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/simplegrammar/SimpleStateFlowBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/AllResponsesReceivedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/AwaitingResponsesFullDefenceReceivedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/AwaitingResponsesNotFullDefenceReceivedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimDetailsNotifiedTimeExtensionTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimDetailsNotifiedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimDismissedPastClaimDetailsNotifcationDeadlineTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimDismissedPastClaimNotificationDeadlineTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimIssuedPaymentFailedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimIssuedPaymentSuccessfulTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimIssuedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimNotifiedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimSubmittedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ContactDetailsChangeTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullAdmissionTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullAdmitAgreeRepaymentTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullDefenceProceedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullDefenceTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/InMediationTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/MediationUnsuccessfulProceedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/NotificationAcknowledgedTimeExtensionTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/NotificationAcknowledgedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PartAdmissionTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PartAdmitAgreeRepaymentTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PartAdmitNotSettleNoMediationTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PastApplicantResponseDeadlineAwaitingCamundaTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PastClaimDetailsNotificationDeadlineAwaitingCamundaTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PastClaimDismissedDeadlineAwaitingCamundaTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PastClaimNotificationDeadlineAwaitingCamundaTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PendingClaimIssuedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PendingClaimIssuedUnregisteredDefendantTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PendingClaimIssuedUnrepresentedDefendantOneVOneSpecTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PendingClaimIssuedUnrepresentedDefendantTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PendingClaimIssuedUnrepresentedUnregisteredDefendantTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/RespondentResponseLanguageIsBilingualTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/SignSettlementAgreementTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/SpecDefendantNocTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/TransitionBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5751

#5594 CIV-15509 free cui ga
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationServiceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-5594

#5769 DTSCCI-1093 fix for debit data null check
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/DebtTemplateData.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5769

#5759 CIV-15651 - remove duplicate entry for LiP DQ in bundles
  src/main/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5759

#5741 CIV-14890 Reset Docs Uploaded After Bundle Once Bundle Is Created
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/StitchingCompleteCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/StitchingCompleteCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5741

#5776 DTSCCI-1085 add response form to system generated documents
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5776

#5777 DTSCCI-1085 typo correction in method name
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5777

#5746 CIV-15454 Amend Success Text
  src/main/java/uk/gov/hmcts/reform/civil/callback/OrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgeDecisionOnReconsiderationRequestCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/resources/db/migration/V2024_10_25_1700__CIV-15281-update_order_made_delete_list.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgeDecisionOnReconsiderationRequestCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5746

#5766 DTSCCI-1098 - Prevent ILA Misuse from Blocking Notice Gen
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5766

#5733 CIV-14568 Migration script and additional GA details field
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/GeneralAppActionNeededScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/GeneralAppAvailableScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/GeneralAppInProgressScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/GeneralAppActionNeededScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/GeneralAppAvailableScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/GeneralAppInProgressScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GADetailsRespondentSol.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplicationsDetails.java
  src/main/resources/db/migration/V2024_10_25_1701__CIV-14568-general-application-view-application-statuses.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5733

#5708 CIV-15357 welsh translation part 9
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantNocScenarioTest.java
  src/main/resources/db/migration/V2024_10_25_1702__CIV-15357_contact_court_welsh_amends.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5708

#5750 CIV-15654 CoSc- View application
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5750

#5770 CIV-15267 update Scenario DecisionOutcome
  src/main/resources/db/migration/V2024_11_05_1414__CIV-15267_update_hearingTaskListOrder.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5770

#5737 CIV-15278 CoSc- Dashboard task status update
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CaseProceedOfflineDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseProceedOfflineDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CaseProceedsInCasemanCallbackHandler.java
  src/main/resources/db/migration/V2024_11_07_1645__CIV-15278_update_case_proceed_offline_defendant_task_item.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseProceedOfflineDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CaseProceedsInCasemanCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5737

#5709 CIV-15571 remove notification and task list to inactive when the case go to dec…
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantDecisionOutcomeDashboardHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantDecisionOutcomeDashboardHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantDecisionOutcomeDashboardHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantDecisionOutcomeDashboardHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5709

#5618 DTSCCI-847 - Prevent Ambiguous Flowstate error when moving offline
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullAdmissionTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullDefenceTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PartAdmissionTransitionBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-5618

#5582 DTSCCI-781 Update email notification when a court order is made
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractCreateSDORespondentNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDOApplicantsNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDOApplicantsNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent1NotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent2NotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5582

#5763 CIV-15300 - case offline script without task changes
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/TaskListService.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/TaskListServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/CaseProceedOfflineClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CaseProceedOfflineDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseProceedOfflineClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseProceedOfflineDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_11_08_1200__CIV-15300_case_proceed_in_caseman_cp.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseProceedOfflineClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseProceedOfflineDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5763

#5754 CIV-15700 - Create Cover Letter append service
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/CoverLetter.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/CoverLetterAppendService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/CoverLetterAppendServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5754

#5744 CIV-14986 Case stayed not close GA task
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/controllers/DashboardController.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/repositories/TaskItemTemplateRepository.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/repositories/TaskListRepository.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/TaskListService.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/controllers/DashboardControllerTest.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/TaskListServiceTest.java
  src/main/java/uk/gov/hmcts/reform/civil/client/DashboardApiClient.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/StayCaseClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/StayCaseDefendantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/StayCaseClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/StayCaseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5744

#5793 DTSCCI-1147 judge unable to do sdo task
  src/main/java/uk/gov/hmcts/reform/civil/service/UpdateClaimStateService.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5793

#5757 DTSCCI-957 BundleRequestMapperClassRefactoring
  src/main/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleDocumentsRetrieval.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleFileNameHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestDocsOrganizer.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/bundle/ConversionToBundleRequestDocs.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/bundle/PartyType.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleDocumentsRetrievalTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleFileNameHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestDocsOrganizerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/bundle/ConversionToBundleRequestDocsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5757

#5794 DTSCCI-1149 Add logging
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5794

#5778 CIV-15592 - Hearings tab ILA NRO - V2
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5778

#5782 CIV-15696 2v1 Spec claimant response journey - vulnerability qn not asked
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5782

#5788 DTSCCI-1137 Protect against NPE
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/ReasonMoneyTemplateData.java
  src/test/java/uk/gov/hmcts/reform/civil/model/docmosis/common/ReasonMoneyTemplateDataTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5788

#5644 DTSCCI-684 RespondToClaimCallbackHandlerRefactoring
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertasks/AssembleDocumentsForDeadlineResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertasks/PopulateRespondentCopyObjects.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertasks/SetApplicantResponseDeadline.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertasks/UpdateDataRespondentDeadlineResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertasks/ValidateRespondentExperts.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertasks/ValidateRespondentWitnesses.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertasks/ValidateUnavailableDates.java
  src/main/java/uk/gov/hmcts/reform/civil/validation/UnavailableDateValidator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertaskstest/PopulateRespondentCopyObjectsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertaskstest/SetApplicantResponseDeadlineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertaskstest/ValidateRespondentExpertsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertaskstest/ValidateRespondentWitnessesTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertaskstest/ValidateUnavailableDatesTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5644

#5792 CIV-15702 Case states - Ga for LiPs - CASE-SETTLED
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimSettledDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimSettledDefendantDashboardNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimSettledDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimSettledDefendantDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5792

#5787 CIV-15310 - update Hearing list for dashboard notification
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingScheduledClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/HearingScheduledDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingScheduledClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/HearingScheduledDefendantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingScheduledClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/HearingScheduledDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5787

#5804 DTSCCI-000 - Make nightly tests run first in civil-service nightly
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-5804

#5803 DTSCCI-1149 Refine logging
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5803

#5791 CIV-15647 Filter CUI Cases Allocated To EA Courts Before Moving To CP
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/OrderMadeClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/SdoLegalAdviserClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/UploadHearingDocumentsClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/OrderMadeDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/SdoLegalAdviserDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/UploadHearingDocumentsDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/OrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/UploadHearingDocumentsClaimantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/UploadHearingDocumentsDefendantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractCreateSDORespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractCreateSDORespondentNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V2024_11_11_1500__CIV-15647-update_order_made_delete_list_1.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/UploadHearingDocumentsClaimantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/UploadHearingDocumentsDefendantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent1NotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent2NotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatusFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5791

#5807 CIV-15462 Fee Payment Outcome Notification
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationHwfFeePaidTest.java
  src/main/resources/db/migration/V2024_11_14_0949__CIV-15462_update_ga_hwf_fee_paid_applicant.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5807

#5816 CIV-15503 Updating Pay Application Fee Notification
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralAppIssuePaymentRequiredTest.java
  src/main/resources/db/migration/V2024_11_18_1039__CIV-15503_update_general_application_payment_required_applicant.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5816

#5809 CIV-15505 add confirm order review
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ConfirmOrderReviewCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ConfirmOrderReviewCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5809

#5817 CIV-15720 Delete Notifications When Case Is Stayed
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/StayCaseClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/StayCaseDefendantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/StayCaseClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/StayCaseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5817

#5835 DTSCCI-1202 fix def res deadline check
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DefendantResponseDeadlineCheckCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DefendantResponseDeadlineCheckCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5835

#5833 DTSCCI-1201 adding document conversion service
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/config/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/config/DocumentGeneratorApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/config/HttpConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/DocumentConversionException.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DocumentConversionService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DocumentConversionServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5833

#5797 CIV-15697 Missing Organization name on sealed form fix
  docker/docmosis/templates/CV-UNS-CLM-ENG-01125.docx
  docker/docmosis/templates/CV-UNS-CLM-ENG-01126.docx
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5797

#5798 CIV-15743 2v1 Both claimant's showing same address on defendant DQ
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/helpers/SetApplicantsForDQGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/helpers/SetApplicantsForDQGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5798

#5688 CIV-15226 Manage Stay WA Task Scheduler
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/event/ManageStayWATaskEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageStayCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageStayWATaskCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/ManageStayWATaskEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/ManageStayWATaskSchedulerHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/ManageStayUpdateRequestedSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/ManageStayWATaskSchedulerExternalTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageStayWATaskCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/MangeStayWAEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ManageStayWATaskSchedulerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/ManageStayUpdateRequestedSearchServiceTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-5688

#5838 CIV-15899 Fix Formatting for Notifications
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/applicant/GeneralAppSubmittedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationPayAdditionalFeeScenarioTest.java
  src/main/resources/db/migration/V2024_11_22_1348__CIV-15899_update_ga_pay_additional_fee_scenario.sql
  src/main/resources/db/migration/V2024_11_22_1500__CIV-15899_update_general_application_submitted.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5838

#5799 CIV-15770 - remove Do you want the hearing held at a specific court from documents
  docker/docmosis/templates/CV-SPC-HRN-ENG-01356.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01357.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-LIP-01282.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-LIP-01283.docx
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-5799

#5824 CIV-15637 Hearing Fee Notification And Hearing Notice Changes
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingScheduledClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingScheduledClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5824

#5813 CIV-15788 - Removing Hearings toggles
  src/main/java/uk/gov/hmcts/reform/civil/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddDefendantLitigationFriendCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/createclaim/SubmitClaimTask.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertasks/SetApplicantResponseDeadline.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/AboutToSubmitRespondToDefenceTask.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/AutomatedHearingNoticeHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CvpJoinLinkSchedulerHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsInitialiser.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/AboutToSubmitRespondToDefenceTaskTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/HearingNoticeSchedulerEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/AutomatedHearingNoticeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CvpJoinLinkSchedulerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/JudgeFinalOrderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsInitialiserTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5813

#5818 CIV-15746 RPA changes JO live DJ
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/SimpleStateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineUnspecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilderTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5818

#5783 DTSCCI-1088 Ambiguous transitions CLAIM_DETAILS_NOTIFIED
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimDetailsNotifiedTransitionBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5783

#5834 CIV-15611 - no obligation journey for confirm order review
  src/main/java/uk/gov/hmcts/reform/civil/enums/CourtStaffNextSteps.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ConfirmOrderReviewCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ConfirmOrderReviewCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5834

#5850 DTSCCI-683 Update refactor ManageContactInformationCallbackHandler
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5850

#5805 DTSCCI-1000 Fix Ambiguous transitions MAIN.NOTIFICATION_ACKNOWLEDGED
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/NotificationAcknowledgedTransitionBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/NotificationAcknowledgedTransitionBuilderTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5805

#5828 CIV-15748 RPA changes - JBA live feed
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5828

#5789 DTSCCI-1021 amending logic for variation order fee
  src/contractTest/java/uk/gov/hmcts/reform/civil/FeesLookupApiConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5789

#5853 DTSCCI-801 fix document category id for particular of claim documents
  src/main/java/uk/gov/hmcts/reform/civil/enums/DocCategory.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecHandlerTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5853

#5855 CIV-15958 DEFENDANT_NOC_ONLINE
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimSubmittedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/SpecDefendantNocTransitionBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/SimpleStateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineUnspecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimSubmittedTransitionBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/SpecDefendantNocTransitionBuilderTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5855

#5857 DTSCCI-947 Add logging
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BundleCreationTriggerHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5857
