Repository hmcts/civil-service, pull requests merged in 2024-06, with the labels that each got.

#4570 CIV-13125 Update caseManagementLocation for flight delay claims
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/AirlineEpimsService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/UpdateCaseManagementDetailsService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/AirlineEpimsServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4570

#4821 DTSCCI-334 adding time to live to poller
  charts/civil-service/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/DispatchBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/PollingEventEmitterHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/EventEmitterService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/ElasticSearchService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/EventEmitterServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-4821

#4671 CIV-13463 Update set Aside Judgment
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4671

#4788 CIV-13698 SDO Legal Adviser
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/SdoLegalAdviserClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/SdoLegalAdviserDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/OrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/event/RequestForReconsiderationNotificationDeadlineEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestForReconsiderationNotificationDeadlineCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/RequestForReconsiderationNotificationEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/RequestForReconsiderationNotificationDeadlineHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/RequestForReconsiderationNotificationDeadlineSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/RequestForReconsiderationNotificationDeadlineExternalTaskListener.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/main/resources/db/migration/V2024_05_17_1144__CIV-13698-sdo-legal-adviser-claimant.sql
  src/main/resources/db/migration/V2024_05_17_1145__CIV-13698-sdo-legal-adviser-defendant.sql
  src/main/resources/db/migration/V2024_05_30_1138__CIV-13698-sdo-legal-adviser-delete.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestForReconsiderationNotificationDeadlineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/event/RequestForReconsiderationNotificationEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/RequestForReconsiderationNotificationDeadlineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/RequestForReconsiderationNotificationDeadlineSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4788

#4750 CIV-13703 Stitch DQ and defendant response doc
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandlerTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-4750

#4805 CIV-14054 line breaks batch 1
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimIssueHwFPartRemissionGrantedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimIssueHwfFullRemissionGrantedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimIssueHwfInfoRequiredScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimIssueHwfInvalidRefScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DraftClaimScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponsePayImmediatelyScenarioTest.java
  src/main/resources/db/migration/V2024_02_18_1546__CIV-12653_create_draft_claim_scenario.sql
  src/main/resources/db/migration/V2024_02_29_1420__CIV-12784_claim_submitted_invalid_hwf_scenario.sql
  src/main/resources/db/migration/V2024_03_01_1637__CIV-12800_claim_submitted_partial_remission_hwf_scenario.sql
  src/main/resources/db/migration/V2024_03_04_0910__CIV_12785_claim_submitted_info_required_hwf_scenario.sql
  src/main/resources/db/migration/V2024_03_15_0858__CIV_12798_claim_submitted_hwf_full_remission_granted.sql
  src/main/resources/db/migration/V2024_03_15_1247__CIV-13119_defendant_response_admit_pay_immediately_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4805

#4781 CIV-13537 LR vs Lip GA withnotice
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationServiceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4781

#4803 CIV-13792 Defendant LiP dashboard notifications: judgment by admission issued
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantJudgementByAdmissionIssuedScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/JudgementByAdmissionIssuedDefendantDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_05_24_1100__CIV-13792_judgment_by_admission_issued_defendant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/JudgementByAdmissionIssuedDefendantDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4803

#4786 CIV-12870 Service PR - Docmosis template for Defendant LiP PIN in Post Letter - Judgment by admission
  build.gradle
  docker/docmosis/templates/CV-CMC-LET-ENG-PIP-0002.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateJudgmentByAdmissionDocHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/JudgmentByAdmissionPinInPostLiPDefendant1LetterHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgmentonline/JudgmentByAdmissionLiPDefendantLetter.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/JudgmentByAdmissionPiPLetterGenerator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateJudgmentByAdmissionDocHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/JudgmentByAdmissionPinInPostLiPDefendant1LetterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/JudgmentByAdmissionPiPLetterGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4786

#4738 CIV-8351 Flight Delay Info in Claim Form Documents
  docker/docmosis/templates/CV-SPC-CLM-ENG-00001-DRAFT.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-CLAIMANT-CLAIM-FORM.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-DEFENDANT-CLAIM-FORM.docx
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimFormMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimFormMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4738

#4853 CIV-14083 Add ask for costs field
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceHelper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4853

#4630 CIV-0000 updated allowed event
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4630

#4868 DTSCCI-297 Update README to include details about functional test l…
  README.md
Labels: ns:civil, prd:civil, rel:civil-service-pr-4868

#4773 CIV-13987 Welsh Translation issues for defendant 2c instalment and more time requested
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponsePartFullAdmitInstallmentsOrgComClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitPayByInstalmentsScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseAdmitPayInstalmentCompanyDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseFullOrPartAdmitInstallmentsScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/MoreTimeRequestedScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/PaymentFrequencyLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_03_18_1016__CIV-13072_defendant_response_more_time_requested_scenario.sql
  src/main/resources/db/migration/V2024_03_18_1456__CIV-13111_defendant_response_full_part_admit_installments_org_com_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_19_1441__CIV-13136_defendant_response_full_admit_instalment_company_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_20_1347__CIV-13133_defendant_response_full_part_admit_pay_installment_scenario.sql
  src/main/resources/db/migration/V2024_03_21_1157__CIV-13130_defendant_response_admit_pay_by_instalments_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4773

#4832 CIV-14038 Remove previous notification when Defendant reject the SSA
  src/main/resources/db/migration/V2024_03_13_1630__CIV-12895_defendant_settlement_agreement_reject_claimant_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4832

#4789 CIV-14026 Fixed HWF functional test failing due to CIV-13731
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4789

#4854 CIV-14098 - HMC Mapping LR Attendees Case Flags
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsHearingsUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsHearingsUtilsTest.java
Labels: ns:civil, prd:civil, pr-values:elasticsearch, enable_keep_helm, rel:civil-service-pr-4854

#3959 CIV-11851 Next Hearing Details Handler
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/hearings/UpdateNextHearingDetailsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/hearings/UpdateNextHearingDetailsCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3959

#4858 CIV-13813 - hearing notice email in Welsh
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimantIntentionClaimStateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantPartyForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentPartyForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedLiPRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJApplicantReceivedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantSignSettlementAgreementNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationDefendantOfHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationForClaimantRepresented.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationForDefendantRepresented.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationMediationUnsuccessfulClaimantLRHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyApplicant1GenericTemplateHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantClaimSubmitted.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetSettlementAgreementDeadlineCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeesPaymentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationDefendantOfHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4858

#4882 CIV-14022 Removed preview notifications when case settled
  src/main/resources/db/migration/V2024_03_05_1500__CIV-12753_creat_claimant_claim_settled_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4882

#4872 CIV-13851 - Evidence upload email in Welsh
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/notification/EvidenceUploadApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/EvidenceUploadRespondentNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/notification/EvidenceUploadApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/EvidenceUploadRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4872

#4883 CIV-13856 - Welsh notification HwF
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantLipHelpWithFeesNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantLipHelpWithFeesNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4883

#4834 CIV-12857 Judgment by admission docs
  build.gradle
  docker/docmosis/templates/CV-SPC-DEC-ENG-00915.docx
  docker/docmosis/templates/CV-SPC-DEC-ENG-00916.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateJudgmentByAdmissionDocHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateJudgmentByAdmissionSpecNonDivergentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimantresponse/JudgmentByAdmissionOrDetermination.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimantresponse/JudgmentByAdmissionOrDeterminationMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/claimantresponse/RequestJudgmentByAdmissionOrDeterminationResponseDocGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudgmentOnlineUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateJudgmentByAdmissionDocHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateJudgmentByAdmissionSpecNonDivergentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/claimantresponse/RequestJudgmentByAdmissionOrDeterminationResponseDocGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4834

#4848 CIV-13821 Service PR - Claimant LR confirmation screen EXUI changes for Default Judgment requested LR v LiP
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4848

#4881 CIV-14025 Caseworker screen: Settle this claim
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/SettleClaimHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/SettleClaimHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4881

#4889 DTSCCI-376 replace local apis with client provided
  Jenkinsfile_CNP
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/CamundaRestEngineApi.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/CamundaRestEngineClient.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/CaseAssignmentSupportService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/camunda/CamundaRuntimeApi.java
  src/main/java/uk/gov/hmcts/reform/civil/service/camunda/CamundaRuntimeClient.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearingnotice/HearingNoticeCamundaService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationServiceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/camunda/CamundaRuntimeClientTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearingnotice/HearingNoticeCamundaServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-4889

#4904 CIV-14144 - Make a Changes in WA task 'TakeCaseOffline' when SDO is submitted for pre-CP release.
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4904

#4905 CIV-13766 Claimant LR screen Options for settlement Mark claim as paid in full
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimMarkPaidFullCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimMarkPaidFullCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4905

#4902 CIV-0000 ga_lip_bulk to master
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4902

#4888 CIV-13924 - Remove Lip Breathing space changes
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BreathingSpaceEnteredLIPNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BreathingSpaceLiftedLIPNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EnterBreathingSpaceLipCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/LiftBreathingSpaceLipCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BreathingSpaceEnteredLIPNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BreathingSpaceLiftedLIPNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EnterBreathingSpaceLipCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/LiftBreathingSpaceLipCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4888

#4922 CIV-0000 gitignore mirrord directory
  .gitignore
Labels: ns:civil, prd:civil, rel:civil-service-pr-4922

#4927 DTSCCI-376 replace local apis with client provided
  src/main/java/uk/gov/hmcts/reform/civil/service/camunda/CamundaRuntimeApi.java
  src/main/java/uk/gov/hmcts/reform/civil/service/camunda/CamundaRuntimeClient.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearingnotice/HearingNoticeCamundaService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/camunda/CamundaRuntimeClientTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearingnotice/HearingNoticeCamundaServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4927

#4945 CIV-0000 increase xui memory
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-4945

#4919 CIV-13919 Dashboard status update
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseProceedOfflineClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseProceedOfflineDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseProceedOfflineClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseProceedOfflineDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4919

#4899 CIV-14040 Claim status is not correct after CCJ is requested
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4899

#4887 CIV-14023 Fix partAdmit - Immediately dashboard notifications
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitAcceptedClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/PartAdmitImmediatelyClaimSettledScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4887

#4944 CIV-0000 Move env variables into before smoketest
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-4944

#4863 DTSCCI-271 fix using correct field for claimDismissalOutOfTime check.
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-4863

#4954 DTSCCI-374 fixing loc ref data api client
  src/main/java/uk/gov/hmcts/reform/civil/client/FeesApiClient.java
  src/main/java/uk/gov/hmcts/reform/civil/client/LocationReferenceDataApiClient.java
  src/main/java/uk/gov/hmcts/reform/civil/config/FeesClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingFeesService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/referencedata/LocationReferenceDataService.java
  src/main/java/uk/gov/hmcts/reform/fees/client/health/FeesHealthIndicator.java
  src/main/java/uk/gov/hmcts/reform/fees/client/health/InternalHealth.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingFeesServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-4954

#4886 CIV-14010 Service PR for Email notification: Defendant LR Claim Paid in Full
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantSettleClaimMarkedPaidInFullNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimMarkPaidFullCallbackHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantSettleClaimMarkedPaidInFullNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4886

#4893 DTSCCI-248 use external short name rather than court venue name
  build.gradle
  docker/docmosis/templates/CV-UNS-DEC-ENG-00001.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-01329.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-01331.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-01376.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-01379.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01307.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01308.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01308_10335.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01324.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01324_10335.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01325.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01325_10335.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01326.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01362.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01363.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01365.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01367.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01368.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01370.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01377.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01378.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01378_13066.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01379.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01380.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01380_13066.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01381.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01382.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01383.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01384.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01385.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01386.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01387.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01388.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01389.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01390.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-4893

#4949 CIV-14091 NoC (LiP vs LR) - dashboard notification for claimant LiP
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantNocScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantNocDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/resources/db/migration/V2024_06_18_1101__CIV-14091_claimant_notification_defendant_noc.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantNocDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4949

#4920 CIV-14132 Refactoring - CCD event: Settle this claim
  src/main/java/uk/gov/hmcts/reform/civil/helpers/SettleClaimHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimMarkPaidFullCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/SettleClaimHelperTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-4920

#4843 CIV-14058 batch 4
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/CCJRequestedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantRejectRepaymentPlanOrgLtdCoDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantRequestedJudgmentByAdmissionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeUnpaidScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/TrialArrangementsNotifyOtherPartyScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CCJRequestForBrokenSettlementAgreementScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CCJRequestedClaimantRejectsSettlementAgreementTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantRejectsRepaymentCourtPlanDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/HearingFeeUnpaidScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/TrialArrangementsNotifyOtherPartyDefendantScenarioTest.java
  src/main/resources/db/migration/V2024_04_02_1130__CIV-12989_claimant_intent_orgltdco_defendant_reject_repayment_scenario.sql
  src/main/resources/db/migration/V2024_04_02_1429__CIV-13035-claimant-requested-judgment-by-admission.sql
  src/main/resources/db/migration/V2024_04_02_1500__CIV-11302_trial_arrangements_notify_other_party_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_02_1625__CIV_13075_claimant_rejects_repayment_and_court_plan_defendant.sql
  src/main/resources/db/migration/V2024_04_03_0934__CIV-11299_hearing_fee_unpaid_both_parties_scenario.sql
  src/main/resources/db/migration/V2024_04_04_1500__CIV-13259_trial_arrangements_notify_other_party_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_04_1625__CIV_13256_defendant_broken_settlement_agreement_defendant.sql
  src/main/resources/db/migration/V2024_04_05_0928__CIV-13076-ccj-settlement-agreement-defendant-scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4843

#4910 CIV-14112 CCD Event: Discontinue this claim
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DiscontinueClaimClaimantCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DiscontinueClaimClaimantCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4910

#4916 CIV-9441 Add create application task item
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimFeeRequiredScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DraftClaimScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/GeneralAppCompleteScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/GeneralAppCreatedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HwfRequestedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimIssuedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/GeneralAppCompleteScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/GeneralAppCreatedScenarioTest.java
  src/main/resources/db/migration/V2024_02_18_1546__CIV-12653_create_draft_claim_scenario.sql
  src/main/resources/db/migration/V2024_02_20_1020__CIV-12654-claim-fee-required-scenario.sql
  src/main/resources/db/migration/V2024_02_22_1135__CIV_12693_claim_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_02_29_1207__CIV-12653_claim_issued_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_01_1222__CIV-12657-claim-submitted-hwf-scenario.sql
  src/main/resources/db/migration/V2024_06_10_1610__CIV-9441-general-application-submitted.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4916

#4947 CIV-14215 - CUI Dashboard (old vs new)
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/DashboardBaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeHwfFullRemissionGrantedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeHwfInfoRequiredScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeHwfInvalidReferenceScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeHwfNumberUpdatedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeHwfPartialRemissionGrantedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeHwfRejectedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeUnpaidScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingScheduledClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/HearingScheduledDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/DashboardCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/DashboardWithParamsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DefendantResponseDeadlineCheckCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DefendantSignSettlementAgreementDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CaseProceedsInCasemanCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DefendantResponseDeadlineCheckCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DefendantSignSettlementAgreementDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CCJRequestedDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseProceedOfflineClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimSettledDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantCCJResponseNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantIntentMediationUnsuccessfulHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantMediationSuccessfulDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CreateClaimIssueNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantNocDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseDeadlineDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseWelshClaimantDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/EvidenceUploadedClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/GenerateDashboardNotificationClaimFeeRequiredHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/GenerateDashboardNotificationHwfHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HwFDashboardNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ResponseDeadlineExtendedDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CCJRequestedDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseProceedOfflineDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimIssueNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimSettledDefendantDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantCCJResponseDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantMediationSuccessfulDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDeadlinePassedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/EvidenceUploadedDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/MediationUnsuccessfulDashboardNotificationDefendantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/MoreTimeRequestedDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CaseProceedsInCasemanCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4947

#4956 CIV-14092 Claim update for claimant after Noc
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4956

#4890 CIV-13814 bilingual templates
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BundleCreatedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDOApplicantsNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GenerateOrderNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingFeeUnpaidApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/HearingFeeUnpaidRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyApplicant1GenericTemplateHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantJudgmentVariedDeterminationOfMeansNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantLipJudgmentVariedDeterminationOfMeansNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RecordJudgmentDeterminationMeansApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RecordJudgmentDeterminationMeansRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyNotifyOthersHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/BundleCreatedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDOApplicantsNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GenerateOrderNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyApplicant1GenericTemplateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyNotifyOthersHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentOnlineMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4890

#4964 DTSCCI-378 add contract tests
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/civil/BaseContractTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/BaseRpaTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/CaseAssignmentApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/CmcClaimsForClaimantApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/CmcClaimsForDefendantApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/CmcDefendantLinkedApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/DocmosisApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/FeesLookupApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/FeesRangeGroupApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/IdamConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/LocationReferenceDataApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/NewBundleApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaCaseHandedOfflineConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/RpaContinuousFeedConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/StitchBundleApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/config/ContractTestsConfiguration.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/matcher/IsValidJson.java
  src/contractTest/resources/TEST_DOCUMENT_1.pdf
  src/contractTest/resources/logback-test.xml
  src/main/java/uk/gov/hmcts/reform/civil/service/FeesClientService.java
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-4964

#4962 CIV-14220 Fast Track SDO document changes
  docker/docmosis/templates/CV-UNS-STD-ENG-01378_13066.docx
  src/main/java/uk/gov/hmcts/reform/civil/constants/SdoR2UiConstantFastTrack.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, pr_ft_prod, rel:civil-service-pr-4962

#4961 CIV-14204 SDO Post Release Rework: Poor spacing and formatting on NIHL/DRH document output.
  docker/docmosis/templates/CV-UNS-STD-ENG-01387.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01388.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01389.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-4961

#4876 CIV-12881 Email notifications Judgment by admission
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantJudgmentByAdmissionNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantJudgmentByAdmissionNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantJudgmentByAdmissionNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantJudgmentByAdmissionNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4876

#4897 CIV-13858 Update integrated hearing notice to use external short name
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4897

#4968 DTSCCI-346 respondent flags logs
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/defendant/LipDefendantCaseAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/events/CaseEventService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizen/defendant/LipDefendantCaseAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/CaseEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4968

#4903 CIV-10580 Judgment by determination docs
  docker/docmosis/templates/CV-SPC-DEC-ENG-00981.docx
  docker/docmosis/templates/CV-SPC-DEC-ENG-00982.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateJudgmentByDeterminationFormHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimantresponse/JudgmentByAdmissionOrDeterminationMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgmentonline/JudgmentByDeterminationDocForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/JudgmentByDeterminationDocGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudgmentOnlineUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateJudgmentByDeterminationFormHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/JudgmentByDeterminationDocGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/JudgmentOnlineUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4903

#4930 CIV-14016 Work allocation: Claim Paid in Full Divergence - Take Case Offline
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimMarkPaidFullCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimMarkPaidFullCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4930

#4754 DTSCCI-016 Cftlib fix
  README.md
  bin/add-services.sh
  bin/build-civil-xlsx-definitions.sh
  bin/import-bpmn-diagram-cftlib.sh
  bin/utils/idam-lease-service-token-cftlib.sh
  build.gradle
  charts/civil-service/Chart.yaml
  charts/civil-service/values.preview.template.yaml
  charts/civil-service/values.yaml
  settings.gradle
  src/cftlib/java/uk/gov/hmcts/reform/civil/CftLibConfig.java
  src/cftlib/resources/docker/cftlib-additional-services.yml
  src/cftlib/resources/mocks/wiremock/__files/payment/accountOnHoldResponse.json
  src/cftlib/resources/mocks/wiremock/__files/payment/successResponse.json
  src/cftlib/resources/mocks/wiremock/__files/payment/successResponseOcmc.json
  src/cftlib/resources/mocks/wiremock/__files/payments-waystopay/paymentGroupNotPaid.json
  src/cftlib/resources/mocks/wiremock/__files/payments-waystopay/pbaAccountsAll.json
  src/cftlib/resources/mocks/wiremock/__files/payments-waystopay/serviceRequestPBAPaidSuccess.json
  src/cftlib/resources/mocks/wiremock/__files/payments-waystopay/successResponse.json
  src/cftlib/resources/mocks/wiremock/mappings/payments-waystopay/payment-group-reference.json
  src/cftlib/resources/mocks/wiremock/mappings/payments-waystopay/pba-accounts.json
  src/cftlib/resources/mocks/wiremock/mappings/payments-waystopay/serviceRequestPBAPaymentSuccess.json
  src/cftlib/resources/mocks/wiremock/mappings/payments-waystopay/serviceRequestSuccess.json
  src/cftlib/resources/mocks/wiremock/mappings/payments/duplicatePayment.json
  src/cftlib/resources/mocks/wiremock/mappings/payments/failedNotFound.json
  src/cftlib/resources/mocks/wiremock/mappings/payments/failedOnHold.json
  src/cftlib/resources/mocks/wiremock/mappings/payments/feePayment.json
  src/cftlib/resources/mocks/wiremock/mappings/payments/health.json
  src/cftlib/resources/mocks/wiremock/mappings/payments/successful.json
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/BundlingApiMockController.java
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-4754

#4988 DTSCCI-378 removing unused keyword
  src/contractTest/java/uk/gov/hmcts/reform/civil/FeesLookupApiConsumerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4988

#4977 CIV-14145 Claimant LR screen Permission from the court
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DiscontinueClaimClaimantCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/DiscontinueClaimHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DiscontinueClaimClaimantCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/discontinue/DiscontinueClaimHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4977

#4992 DTSCCI-378 revert removing unused keyword
  src/contractTest/java/uk/gov/hmcts/reform/civil/FeesLookupApiConsumerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4992

#4975 DTSCCI-381 Remove Spring contexts from Unit tests
  src/main/java/uk/gov/hmcts/reform/civil/security/JwtGrantedAuthoritiesConverter.java
  src/test/java/uk/gov/hmcts/reform/civil/aspect/EventAllowedAspectTest.java
  src/test/java/uk/gov/hmcts/reform/civil/aspect/EventEmitterAspectTest.java
  src/test/java/uk/gov/hmcts/reform/civil/aspect/NoOngoingBusinessProcessAspectTest.java
  src/test/java/uk/gov/hmcts/reform/civil/security/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CaseNoteServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DefendantPinToPostLRspecServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/EventEmitterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/ExitSurveyContentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UpdatePaymentStatusServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/camunda/CamundaRuntimeClientTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/RepresentativeServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/pip/PiPLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLipVLipServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLrvLipServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLrvLrServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4975

#4952 CIV-13715 RfR notification
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/RequestForReconsiderationRecipientClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/RequestForReconsiderationRecipientDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/OrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/RequestForReconsiderationRequestedByOtherPartyClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/RequestForReconsiderationRequestedByOtherPartyDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestForReconsiderationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataCaseProgression.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CaseDataLiP.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/LiPRequestReconsiderationGeneratorService.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/main/resources/db/migration/V2024_05_30_1138__CIV-13698-sdo-legal-adviser-delete.sql
  src/main/resources/db/migration/V2024_06_12_1507__CIV-13715-request-for-reconsideration-requested-by-other-party-claimant.sql
  src/main/resources/db/migration/V2024_06_12_1517__CIV-13715-request-for-reconsideration-requested-by-other-party-defendant.sql
  src/main/resources/db/migration/V2024_06_12_1520__CIV-13715-request-for-reconsideration-requested-by-other-party-delete.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/RequestForReconsiderationRequestedByOtherPartyClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/RequestForReconsiderationRequestedByOtherPartyDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestForReconsiderationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4952

#4987 CIV-13735 - Incorrect Notification
  src/main/resources/db/migration/V2024_03_15_1456__CIV-13115_defendant_response_admit_pay_immediately_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_18_1002__CIV-13116_defendant_response_part_admit_claimant.sql
  src/main/resources/db/migration/V2024_03_21_1145__CIV-13129_defendant_admit_pay_by_date_scenario.sql
  src/main/resources/db/migration/V2024_03_21_1157__CIV-13130_defendant_response_admit_pay_by_instalments_scenario.sql
  src/main/resources/db/migration/V2024_03_21_1216__CIV-13163-defendant-states-paid-scenario.sql
  src/main/resources/db/migration/V2024_03_25_1606__CIV-13201_response_deadline_not_responded.sql
  src/main/resources/db/migration/V2024_03_26_1145__CIV-13199_defendant_full_defence_full_dispute_mediation.sql
  src/main/resources/db/migration/V2024_03_26_1400__CIV-13202_response_deadline_not_responded_defendant_scenario.sql
  src/main/resources/db/migration/V2024_05_09_1531__CIV-13498.defendant_response_bilingual_claimant.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4987

#4959 CIV-13717 - decision on reconsideration request
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantDecisionReconsiderationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantDecisionReconsiderationScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DecisionOnRequestForReconsiderationClaimantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DecisionOnRequestForReconsiderationDefendantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimReconsiderationUpheldClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimReconsiderationUpheldDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/main/resources/db/migration/V2024_06_18_1616__CIV-13717-decision-on-request-for-reconsideration.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DecisionOnRequestForReconsiderationClaimantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DecisionOnRequestForReconsiderationDefendantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimReconsiderationUpheldClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimReconsiderationUpheldDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4959

#4972 CIV-13862 requires 13715
  src/main/java/uk/gov/hmcts/reform/civil/callback/OrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/RequestForReconsiderationRequestedByOtherPartyClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/RequestForReconsiderationRequestedByOtherPartyDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataCaseProgression.java
  src/main/resources/db/migration/V2024_06_12_1507__CIV-13715-request-for-reconsideration-requested-by-other-party-claimant.sql
  src/main/resources/db/migration/V2024_06_12_1517__CIV-13715-request-for-reconsideration-requested-by-other-party-defendant.sql
  src/main/resources/db/migration/V2024_06_20_0945__CIV-13862-request-for-reconsideration-commented-by-other-party.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/RequestForReconsiderationRequestedByOtherPartyClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/RequestForReconsiderationRequestedByOtherPartyDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4972

#4981 CIV-14116 - Generate Order Notification bilingual
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GenerateOrderNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GenerateOrderNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4981

#4628 DTSCCI-202 Add upload timestamp to Document object
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/Document.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadJudgeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/DefaultJudgmentCoverLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/SetAsideJudgmentInErrorLiPLetterGeneratorTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-4628

#4999 DTSCCI-378 refactoring fees consumer tests
  src/contractTest/java/uk/gov/hmcts/reform/civil/FeesLookupApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/FeesRangeGroupApiConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeesService.java
Labels: ns:civil, prd:civil, pr_ft_noc, rel:civil-service-pr-4999

#4865 CIV-14121 batch 5
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantIntentMediationUnsuccessfulScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/GoToHearingScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeHwfInfoRequiredScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeHwfInvalidReferenceScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeHwfRejectedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingScheduledClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/OrderMadeClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitAcceptedClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/AlreadyPaidFullDefencePartAdmitScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CCJRequestedClaimantAcceptsCourtDecisionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CCJRequestedCourtAgreedWithClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimIssuedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantAcceptDefendantSettlementAgreementScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantAcceptsRepaymentPlanCCJDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantIntentMediationUnsuccesfulDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantRejectRepaymentPlanDefendantOrgLtdCoDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantDefaultJudgementScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseFullDefenceNoMediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/HearingScheduledDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/OrderMadeDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/PartAdmitImmediatelyClaimSettledScenarioTest.java
  src/main/resources/db/migration/V2024_02_22_1135__CIV_12693_claim_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_01_1442__CIV-12792_claimant_intent_go_to_hearing_scenario.sql
  src/main/resources/db/migration/V2024_03_06_1422__CIV-12777_part_admit_accepted_claimant.sql
  src/main/resources/db/migration/V2024_03_07_1035__CIV_12821_ask_sign_settlement_agreement_defendant.sql
  src/main/resources/db/migration/V2024_03_08_0916__CIV_12782_create_pay_immediately_accepted_for_defendant.sql
  src/main/resources/db/migration/V2024_03_21_1216__CIV-13163-defendant-states-paid-scenario.sql
  src/main/resources/db/migration/V2024_03_25_1247__CIV-13073_claimant_response_ccj_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_25_1611__CIV-13074-court-rejects-claimant-plan-claimant-accepts-defendant-scenario.sql
  src/main/resources/db/migration/V2024_03_25_1625__CIV_13070_claimant_accepts_repayment_plan_ccj_defendant.sql
  src/main/resources/db/migration/V2024_03_32_1247__CIV-13167_defendant_response_full_defence_no_mediation_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_01_1240__CIV-11300_hearing_scheduled_scenario.sql
  src/main/resources/db/migration/V2024_04_08_1220__CIV-11304-order_made_claimant.sql
  src/main/resources/db/migration/V2024_04_08_1221__CIV-11304-order_made_defendant.sql
  src/main/resources/db/migration/V2024_04_09_1130__CIV-13353_claimant_intent_rejectsplan_defendant_orgltdco_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1209__CIV-11952-hearing_fee_rejection_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1435__CIV_11955_hearing_fee_info_required_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1441__CIV-11956_hearing_fee_invalid_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_17_1030__CIV-13157_mediation_unsuccessful_claimant_nonattendance_carm.sql
  src/main/resources/db/migration/V2024_05_06_0900__CIV-12893_default_judgement_issued_defendant_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4865
