Repository hmcts/civil-service, pull requests merged in 2024-01, with the labels that each got.

#3780 CIV-8334 fast track noise induced hearing
  src/main/java/uk/gov/hmcts/reform/civil/enums/AllocatedTrack.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudicialReferralUtils.java
  src/main/java/uk/gov/hmcts/reform/fees/client/FeesClient.java
  src/test/java/uk/gov/hmcts/reform/civil/enums/AllocatedTrackTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3780

#3720 CIV-11603 Fast Track Claimant Intent
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3720

#3790 CIV-8336 Judge decision to reconsider request changes
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/DecisionOnRequestReconsiderationOptions.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgeDecisionOnReconsiderationRequestCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/UpholdingPreviousOrderReason.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgeDecisionOnReconsiderationRequestCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3790

#3811 CIV-11980 Investigation : Claims missing tasks/role categories
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TakeCaseOfflineCallbackHandler.java
  src/main/resources/caseIdForRetrigger.txt
Labels: ns:civil, prd:civil, rel:civil-service-pr-3811

#3822 CIV-8336 fix sonar issue
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgeDecisionOnReconsiderationRequestCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3822

#3762 CIV-11862 Remove Damages form from LR vs LiP claim forms
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecHandlerTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3762

#3736 CIV-11467 Paragraph 4.1 for claimant LR
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-3736

#3427 CIV-10782 Bulk print hearing
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendFinalOrderToLiPCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendHearingToLiPCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendFinalOrderToLiPCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendHearingToLiPCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3427

#3830 CIV-0000 - DTSPO-15909 - migrating app insights
  infrastructure/tf-app-insights.tf
Labels: ns:civil, prd:civil, add-or-update, rel:civil-service-pr-3830

#3804 CIV-12028 : Stitching PiP Letter
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentPartyForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/pip/PiPLetterGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentPartyForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/pip/PiPLetterGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3804

#3840 CIV-12104 remove case data logs
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3840

#3796 CIV-11999 - persist data thats going missing in claimant response
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PersistDataUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/AddressBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/PersistDataUtilsTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3796

#3801 CIV-8327 NIHL option for Fast Track and Small Claims
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/FastTrack.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3801

#3827 CIV-12086 - CUI - Enabling R2 feature toggle on LD makes the R1 FTs failing in the PR
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/AssignCaseSupportController.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3827

#3583 CIV-11293 Manage contact information for LR
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3583

#3787 CIV-8903 dashboard settlement agreement
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/ClaimantResponse.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/FormaliseOption.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/Settlement.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefendantSignSettlementAgreementCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/cmc/model/CmcClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3787

#3834 CIV-11523 claimant lip notice of change and revoking access to claim for claimant lip after noc approved and representative assigned
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplyNoticeOfChangeDecisionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplyNoticeOfChangeDecisionCallbackHandlerTest.java
Labels: ns:civil, prd:civil, destroy, rel:civil-service-pr-3834

#3781 CIV-11542 Bilingual claim creation
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3781

#3690 CIV-11820 Part Admit Immediately Flow have incorrect states
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil

#3763 CIV-11213 Settlement Agreement Document
  build.gradle
  docker/docmosis/templates/CV-SPC-CLM-ENG-00001-SETTLEMENT.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateSettlementAgreementFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Party.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/settlementagreement/SettlementAgreementForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/settlementagreement/SettlementAgreementFormMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/settlementagreement/SettlementAgreementFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateSettlementAgreementFormCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/docmosis/settlementagreement/SettlementAgreementFormMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/settlementagreement/SettlementAgreementFormGeneratorTest.java
Labels: ns:civil, prd:civil, pr-values:elasticsearch, rel:civil-service-pr-3763

#3829 CIV-11209 Help with hearing fee Reference Number
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantLipHelpWithFeesNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplyHelpWithHearingFeeCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyClaimantLipHelpWithFeesNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplyHelpWithHearingFeeCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3829

#3852 CIV-0000 Sprint pi32 s5 t4 to master
  build.gradle
  docker/docmosis/templates/CV-SPC-CLM-ENG-00001-LIP-MD.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-00001-SETTLEMENT.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimantLipManualDeterminationCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateSettlementAgreementFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplyNoticeOfChangeDecisionCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Party.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/manualdetermination/ClaimantLipManualDeterminationForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/settlementagreement/SettlementAgreementForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/settlementagreement/SettlementAgreementFormMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/manualdetermination/ClaimantLipManualDeterminationFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/settlementagreement/SettlementAgreementFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/utils/ClaimantResponseUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowLipPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/ClaimantResponse.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/FormaliseOption.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/Settlement.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimantLipManualDeterminationCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateSettlementAgreementFormCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplyNoticeOfChangeDecisionCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefendantSignSettlementAgreementCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/docmosis/settlementagreement/SettlementAgreementFormMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/manualdetermination/ClaimantLipManualDeterminationFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/settlementagreement/SettlementAgreementFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/utils/ClaimantResponseUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/cmc/model/CmcClaimTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3852

#3826 CIV-11178 Update telephone number on all Damages notifications
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3826

#3788 CIV-10341 Add respond deadline on claim form for LR vs LiP claims
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorForSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineApplicantForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorForSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3788

#3838 CIV-11697 Notify Defendant LiP claimant is now represented
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationForClaimantRepresented.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationForClaimantRepresentedTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3838

#3844 CIV-12068 CYABug
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3844

#3685 CIV-10543 civil-service_to_v15
  charts/civil-service/Chart.yaml
  charts/civil-service/values.preview.template.yaml
  charts/civil-service/values.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-3685

#3890 CIV-12020 Change state to ALL_FINAL_ORDERS_ISSUED
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3890

#3881 CIV-11310 - Claim Issue: Case Flags
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsInitialiser.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3881

#3846 CIV-11840 Request for reconsideration based on solicitor roles
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgeDecisionOnReconsiderationRequestCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestForReconsiderationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/ReasonForReconsideration.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgeDecisionOnReconsiderationRequestCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestForReconsiderationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3846

#3853 CIV-11838 Internal Case Name Refactor
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddDefendantLitigationFriendCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/ServiceHearingsCaseLevelMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseNameUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddDefendantLitigationFriendCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseNameUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3853

#3818 CIV-9939 Payment details
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestCUICallbackHandler.java
Labels: ns:civil, prd:civil, destroy, rel:civil-service-pr-3818

#3821 CIV-11038 LipvsLip mediation csv
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/LipApplicantContactDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLipVLipService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCsvServiceFactory.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLipVLipServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVServiceFactoryTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3821

#3741 CIV-7829 Notify successful payment claimant Lip
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyApplicant1GenericTemplateHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestUpdateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyApplicant1GenericTemplateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/PaymentRequestUpdateCallbackServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3741

#3898 CIV-0000 Sprint to master
  build.gradle
  docker/docmosis/templates/CV-SPC-CLM-ENG-INTERLOCUTORY-JUDGEMENT.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateInterlocutoryJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationForClaimantRepresented.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/ClaimantLiPResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/InterlocutoryJudgementDoc.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/InterlocutoryJudgementDocMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/repaymentplan/RepaymentPlanDecisionCalculator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/claimantresponse/InterlocutoryJudgementDocGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/utils/ClaimantResponseUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsInitialiser.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateInterlocutoryJudgementHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationForClaimantRepresentedTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/docmosis/InterlocutoryJudgementDocMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/claimantresponse/InterlocutoryJudgementDocGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/utils/ClaimantResponseUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3898

#3405 CIV-10787 update COS notify screen add date deemed served
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CertificateOfService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/NotifyClaimCallbackHandlerTest.java
Labels: ns:civil, prd:civil, destroy, rel:civil-service-pr-3405

#3880 CIV-11541 Check blingual flag on claimant response
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimStateAfterUploadingTranslatedDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimantIntentionClaimStateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedLiPRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UpdateClaimStateService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimStateAfterUploadingTranslatedDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimantIntentionClaimStateCallbackHandlerTests.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UpdateClaimStateServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3880

#3778 CIV-5304 Claimant Copy and sealed claim form PDF
  build.gradle
  docker/docmosis/templates/CV-SPC-CLM-ENG-00001-DRAFT.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-CLAIMANT-CLAIM-FORM.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-DEFENDANT-CLAIM-FORM.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDraftClaimFormCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateLipClaimFormCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimFormMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/claimform/ClaimFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/draft/DraftClaimFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDraftClaimFormCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateLipClaimFormCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimFormMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/claimform/ClaimFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/draft/DraftClaimFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3778

#3939 CIV-0000 allow toc
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3939

#3843 CIV-10909 request for reconsideration notification
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimReconsiderationUpheldClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimReconsiderationUpheldDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgeDecisionOnReconsiderationRequestCallbackHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimReconsiderationUpheldClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimReconsiderationUpheldDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3843

#3942 CIV-0000 allowtoc in other state
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3942

#3947 CIV-12378 Retrigger Cases
  src/main/java/uk/gov/hmcts/reform/civil/handler/RetriggerCasesEventHandler.java
  src/main/resources/caseIdForRetrigger.txt
Labels: ns:civil, prd:civil, rel:civil-service-pr-3947

#3868 CIV-11243 SDO-Clear-data
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3868

#3933 CIV-0000 CUI Bulk branch
  docker/docmosis/templates/CV-SPC-CLM-ENG-00001-DRAFT.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-CLAIMANT-CLAIM-FORM.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-DEFENDANT-CLAIM-FORM.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimStateAfterUploadingTranslatedDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimantIntentionClaimStateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDraftClaimFormCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateLipClaimFormCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedLiPRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestCUICallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimFormMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UpdateClaimStateService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/claimform/ClaimFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/draft/DraftClaimFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/LipApplicantContactDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLipVLipService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCsvServiceFactory.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimStateAfterUploadingTranslatedDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimantIntentionClaimStateCallbackHandlerTests.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDraftClaimFormCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateLipClaimFormCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimFormMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UpdateClaimStateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/claimform/ClaimFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/draft/DraftClaimFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLipVLipServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVServiceFactoryTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3933

#3833 CIV-9947 Manage Contact Information History
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/ContactInformationUpdatedCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/ContactInformationUpdatedTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/BusinessProcess.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/ContactDetailsUpdatedEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/PartyDetailsChange.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/ContactInformationUpdatedTaskListener.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/AddressUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PartyDetailsChangedUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/ContactInformationUpdatedCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ContactInformationUpdatedTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/AddressUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/PartyDetailsChangedUtilTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-3833

#3910 CIV-12289 - Populate case name public spec
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3910

#3791 CIV-11800 Hide flight delay for Unspec
  src/main/java/uk/gov/hmcts/reform/civil/enums/ClaimTypeUnspec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/ClaimTypeHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/ClaimTypeHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3791

#3913 CIV-12235 assign case categories lip documents
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/trialready/TrialReadyFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/trialready/TrialReadyFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3913

#3893 CIV-11985 compare with 5pm to allow for scheduler
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3893

#3807 CIV-11119 generate judgment by admission
  build.gradle
  docker/docmosis/templates/CV-SPC-CLM-ENG-00001-JBA-JBD.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDocForReqJudgmentByAdmissionOrDetermination.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimantresponse/ApplicantResponsePaymentPlan.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimantresponse/JudgmentByAdmissionOrDetermination.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimantresponse/JudgmentByAdmissionOrDeterminationMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudgementService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/TemplateDataGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/claimantresponse/RequestJudgmentByAdmissionOrDeterminationResponseDocGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudgmentAdmissionUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDocForReqJudgmentByAdmissionOrDeterminationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/claimantresponse/RequestJudgmentByAdmissionOrDeterminationResponseDocGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3807

#3924 CIV-11546 - CIV-11548 Claim Issue Journey Changes for Bilingual Claim Issue Language
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimStateAfterUploadingTranslatedDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentPartyForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategy.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SystemGeneratedDocumentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimStateAfterUploadingTranslatedDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimContinuingOnlineRespondentPartyForSpecNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadTranslatedDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategyTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3924

#3926 CIV-7996 add otherReasonableAdjusmentsDetails for case flags
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/CaseFlagsToHearingValueMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/hearingvalues/IndividualDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagPredicates.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsToHearingValueMapperTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3926

#3865 CIV-11835 No fee for disposal hearings
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/automatedhearingnotice/UpdateCaseProgressHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestAPIHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearingnotice/HearingNoticeVariables.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HearingUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/automatedhearingnotice/UpdateCaseProgressHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestAPIHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HearingUtilsTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-3865

#3950 CIV-12112 do not allow event when claim amout is greater than 1000
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestForReconsiderationCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestForReconsiderationCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3950

#3915 CIV-12078 Defendant email mediation CUI
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantDefendantAgreedMediationRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GenerateCsvAndTransferTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3915

#3637 CIV-11256 claimant dashboard status
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CmcClaimStatusDashboardFactoryTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3637

#3963 CIV-8306 Dispute Resolution Hearing Small Track SDO
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/SmallTrack.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3963

#3877 CIV-12023 Defendant sign settlement
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefendantSignSettlementAgreementCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefendantSignSettlementAgreementCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-3877
