Repository hmcts/civil-service, pull requests merged in 2024-05, with the labels that each got.

#4574 DTSCCI-186 add callback successive event handling
  src/main/java/uk/gov/hmcts/reform/civil/callback/CallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToApplicantSolicitorCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ApplicationClosedUpdateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/ProceedOfflineCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanApplicantNotificationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EndBusinessProcessTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToApplicantSolicitorCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanApplicantNotificationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/EndBusinessProcessTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4574

#4626 CIV-13639 CIV 13640 Bug fixes for documents
  docker/docmosis/templates/CV-UNS-STD-ENG-01387.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01389.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-4626

#4550 DTSCCI-040 Remove mediation question
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/RespondentMediationService.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/RespondentMediationServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-4550

#4638 CIV-13575 Batch 1 Welsh Translations
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantTrialArrangementsNotificationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeUnpaidScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingScheduledClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/OrderMadeClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/TrialArrangementsNotifyOtherPartyScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/UploadHearingDocumentsClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantTrialArrangementsNotificationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/HearingFeeUnpaidScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/HearingScheduledDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/OrderMadeDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/TrialArrangementsNotifyOtherPartyDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/UploadHearingDocumentsDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_04_01_1240__CIV-11300_hearing_scheduled_scenario.sql
  src/main/resources/db/migration/V2024_04_01_1647__CIV-11301_trial_arrangements_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_01_1648__CIV-11301_trial_arrangements_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_02_1500__CIV-11302_trial_arrangements_notify_other_party_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_03_0934__CIV-11299_hearing_fee_unpaid_both_parties_scenario.sql
  src/main/resources/db/migration/V2024_04_04_1500__CIV-13259_trial_arrangements_notify_other_party_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_04_1632__CIV-11303_bundle_created_scenario.sql
  src/main/resources/db/migration/V2024_04_05_0001__CIV-11305_upload_hearing_documents_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_08_1220__CIV-11304-order_made_claimant.sql
  src/main/resources/db/migration/V2024_04_08_1221__CIV-11304-order_made_defendant.sql
  src/main/resources/db/migration/V2024_04_08_1430__CIV-13260_hearing_fee_required_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_09_0001__CIV-11306_upload_hearing_documents_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_15_2100__CIV-13268_hearing_fee_paid_claimant_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4638

#4598 CIV-10579 Service PR - Email notifications for Default judgment Non-Divergent Spec Claims
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDJNonDivergentClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDJNonDivergentDefendantNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDJNonDivergentClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDJNonDivergentDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4598

#4545 CIV-13091 new claim tracks
  src/main/java/uk/gov/hmcts/reform/civil/enums/AllocatedTrack.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/enums/AllocatedTrackTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4545

#4610 CIV-13572 Use claimant plan for CCJ calculation
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4610

#4625 CIV-12875 V2 Defendant LiP PIN in Post Letter Judgment recorded following Determination of Means
  build.gradle
  docker/docmosis/templates/CV-CMC-LET-ENG-LIP-JO0003.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/RecordJudgmentDeterminationOfMeansLiPDefendant1LetterHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgmentonline/RecordJudgmentDeterminationOfMeansLiPDefendantLetter.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/RecordJudgmentDeterminationOfMeansPiPLetterGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/RecordJudgementDeterminationOfMeansLiPDefendant1LetterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/RecordJudgmentDeterminationOfMeansLiPLetterGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4625

#4619 CIV-00000 dashboard mapper
  src/main/java/uk/gov/hmcts/reform/civil/callback/OrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4619

#4639 CIV-13643 - Extra Dashboard notifications
  src/main/resources/db/migration/V2024_03_01_1442__CIV-12792_claimant_intent_go_to_hearing_scenario.sql
  src/main/resources/db/migration/V2024_03_05_1713__CIV-12758_claim_settled_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_13_1153__CIV-12811_full_defence_proceed_no_mediation.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4639

#4569 CIV-13263 Updated validation logic for applicant 1 representative respondent 1 representative email address.
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AmendPartyDetailsCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4569

#4634 CIV-13628 fix claimtype issue
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4634

#4588 CIV-13305 - LF warning for 1v2 and 2v1
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandlerTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-4588

#4629 CIV-13656 MMT Json fixes
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/MediationJsonService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/MediationUnavailability.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationJsonServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-4629

#4655 DTSCCI-241 fix for ambigiuous flow state
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4655

#4660 CIV-13275 Physical Hearing bundle section (Cosmetic change)
  src/main/java/uk/gov/hmcts/reform/civil/constants/SdoR2UiConstantFastTrack.java
  src/main/java/uk/gov/hmcts/reform/civil/constants/SdoR2UiConstantSmallClaim.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4660

#4646 CIV-13645 - HwF calculation for claim fee to be updated in documents
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimantresponse/JudgmentByAdmissionOrDeterminationMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimFormMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4646

#4438 CIV-13312 Add Welsh mediation notification lip v lip
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationMediationUnsuccessfulClaimantLRHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationMediationUnsuccessfulClaimantLRHandlerTest.java
Labels: ns:civil, prd:civil, pr-values:enableWA, rel:civil-service-pr-4438

#4686 DTSCCI-267 not suitable for sdo predicate
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4686

#4688 CIV-13759 update NiHL template
  docker/docmosis/templates/CV-UNS-STD-ENG-01387.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-4688

#4499 CIV-13493 2v1 Hearing Notice Generator Fix
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4499

#4632 CIV-13467 bug
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/BundleCreationClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimFeeRequiredScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantTrialArrangementsNotificationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeUnpaidScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HwfRequestedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/BundleCreationDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimIssuedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantTrialArrangementsNotificationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/HearingFeeUnpaidScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/DashboardCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/BundleCreationClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/GenerateDashboardNotificationClaimFeeRequiredHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/GenerateDashboardNotificationHwfHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingFeeUnpaidClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/TrialArrangementsClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/BundleCreationDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimIssueNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/HearingFeeUnpaidDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/TrialArrangementsDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_02_20_1020__CIV-12654-claim-fee-required-scenario.sql
  src/main/resources/db/migration/V2024_02_22_1135__CIV_12693_claim_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_01_1222__CIV-12657-claim-submitted-hwf-scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/BundleCreationClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/GenerateDashboardNotificationClaimFeeRequiredHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/GenerateDashboardNotificationHwfHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingFeeUnpaidClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingScheduledClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/TrialArrangementsClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/BundleCreationDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimIssueNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/HearingFeeUnpaidDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/TrialArrangementsDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4632

#4656 CIV-13634 HWF -Previous notifications removed
  src/main/resources/db/migration/V2024_03_18_0902__CIV-13071_defendant_more_time_requested_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4656

#4678 CIV-13728 Add document generation before CYA
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForReconsiderationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgeDecisionOnReconsiderationRequestCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/RequestReconsiderationGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForReconsiderationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgeDecisionOnReconsiderationRequestCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/RequestReconsiderationGeneratorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4678

#4668 CIV-13576 notification translation
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeHwfFullRemissionGrantedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeHwfInfoRequiredScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeHwfInvalidReferenceScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeHwfNumberUpdatedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeHwfPartialRemissionGrantedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeHwfRejectedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HelpWithFeeDashboardNoticeHandlerIntegrationTest.java
  src/main/resources/db/migration/V2024_04_15_1209__CIV-11952-hearing_fee_rejection_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1355__CIV-11953_hearing_fee_partial_remission_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1424__CIV_11954_hearing_fee_full_remission_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1435__CIV_11955_hearing_fee_info_required_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1441__CIV-11956_hearing_fee_invalid_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1453__CIV-11957_hearing_fee_num_updated_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_17_0854__CIV-13408_claimant_help_with_fees_in_review_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4668

#4689 CIV-13769 Align Mediation CSV to Production
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/GenerateCsvAndTransferTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GenerateCsvAndTransferHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLipVLipServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLrvLipServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/mediation/MediationCSVLrvLrServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4689

#4604 CIV-13438 status for 13154 and 13155
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/mock/MockTaskList.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantIntentMediationUnsuccessfulScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantIntentMediationUnsuccesfulDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantIntentMediationUnsuccessfulHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/MediationUnsuccessfulDashboardNotificationDefendantHandler.java
  src/main/resources/db/migration/V2024_04_25_1000__CIV-13438.AAA6.MediationUnsuccessful.NOTClaimant1NonContactable.sql
  src/main/resources/db/migration/V2024_05_08_1000__CIV-13438.AAA6.MediationUnsuccessful.WhenOnePartyisNonContactable.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4604

#4648 DTSCCI-254 Set up github action for integration tests
  .github/workflows/ci.yml
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/DashboardBaseIntegrationTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4648

#4694 CIV-13483 added changes for Judgement by Admission requested
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantRequestedJudgeToMakeNewPlanScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandler.java
  src/main/resources/db/migration/V2024_05_09_1429__CIV-13483-claimant-requested-judge-to-make-new-plan.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4694

#4697 CIV-13650 - updated sql files for Dashboard consistency
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimFeeRequiredScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DraftClaimScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeUnpaidScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingScheduledClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HwfRequestedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimIssuedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/HearingScheduledDefendantScenarioTest.java
  src/main/resources/db/migration/V2024_02_18_1546__CIV-12653_create_draft_claim_scenario.sql
  src/main/resources/db/migration/V2024_02_20_1020__CIV-12654-claim-fee-required-scenario.sql
  src/main/resources/db/migration/V2024_02_22_1135__CIV_12693_claim_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_02_29_1207__CIV-12653_claim_issued_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_01_1222__CIV-12657-claim-submitted-hwf-scenario.sql
  src/main/resources/db/migration/V2024_03_01_1630__CIV-12742_claimant_Intent_ccj_requested_scenario.sql
  src/main/resources/db/migration/V2024_04_01_1240__CIV-11300_hearing_scheduled_scenario.sql
  src/main/resources/db/migration/V2024_04_01_1647__CIV-11301_trial_arrangements_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_01_1648__CIV-11301_trial_arrangements_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_02_1500__CIV-11302_trial_arrangements_notify_other_party_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_03_0934__CIV-11299_hearing_fee_unpaid_both_parties_scenario.sql
  src/main/resources/db/migration/V2024_04_04_1500__CIV-13259_trial_arrangements_notify_other_party_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_04_1632__CIV-11303_bundle_created_scenario.sql
  src/main/resources/db/migration/V2024_04_05_0001__CIV-11305_upload_hearing_documents_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_08_1430__CIV-13260_hearing_fee_required_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_09_0001__CIV-11306_upload_hearing_documents_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1209__CIV-11952-hearing_fee_rejection_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1355__CIV-11953_hearing_fee_partial_remission_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1424__CIV_11954_hearing_fee_full_remission_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1435__CIV_11955_hearing_fee_info_required_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1441__CIV-11956_hearing_fee_invalid_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1453__CIV-11957_hearing_fee_num_updated_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_2100__CIV-13268_hearing_fee_paid_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_17_0854__CIV-13408_claimant_help_with_fees_in_review_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4697

#4560 CIV-13475 Refactor Initiate GA handler to support GA for LIP
  bin/add-roles.sh
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/genapplication/GeneralApplication.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceHelper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationServiceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4560

#4679 DTSCCI-264 Improve performance of SmokeTest phase
  Jenkinsfile_CNP
Labels: ns:civil, prd:civil, rel:civil-service-pr-4679

#4713 CIV-13765 reduce refdata calls
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4713

#4693 DTSCCI-266 adding config to pull github label
  Jenkinsfile_CNP
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-4693

#4669 CIV-0000 Fix hearing notices not generating
  src/main/java/uk/gov/hmcts/reform/civil/service/camunda/CamundaRuntimeApi.java
  src/main/java/uk/gov/hmcts/reform/civil/service/camunda/CamundaRuntimeClient.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearingnotice/HearingNoticeCamundaService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/camunda/CamundaRuntimeClientTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearingnotice/HearingNoticeCamundaServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4669

#4685 CIV-13490 and civ-13491 intermediate DQs
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Applicant1DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/FixedRecoverableCosts.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent1DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent2DQ.java
Labels: ns:civil, prd:civil, Testing, enable_keep_helm, rel:civil-service-pr-4685

#4597 CIV-8737 Judgment Online Data model changes
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EditJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgmentPaidInFullCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RecordJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/EditJudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentPaidInFullOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/RecordJudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/SetAsideJudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/JudgmentDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/JudgmentInstalmentDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/JudgmentPaymentPlan.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/JudgmentState.java
  src/main/java/uk/gov/hmcts/reform/civil/model/judgmentonline/JudgmentType.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EditJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgmentPaidInFullCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RecordJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/EditJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentPaidOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/RecordJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/SetAsideJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4597

#4558 CIV-12873 Defendant LR Cover Letter - Default Judgment
  build.gradle
  docker/docmosis/templates/CV-CMC-LET-ENG-LR-JO0002.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/DefaultJudgmentDefendantLrCoverLetterHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgmentonline/DefaultJudgmentDefendantLrCoverLetter.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/DefaultJudgmentCoverLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudgmentOnlineUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/DefaultJudgmentDefendantLrCoverLetterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/DefaultJudgmentCoverLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/JudgmentOnlineUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4558

#4704 CIV-13498 Defendant submits in Welsh Dashboard for Claimant
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseWelshTranslationScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseWelshClaimantDashboardNotificationHandler.java
  src/main/resources/db/migration/V2024_05_09_1531__CIV-13498.defendant_response_bilingual_claimant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseWelshClaimantDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4704

#4696 CIV-13431 Delete scenarios for CARM notifications & CIV-13490 and civ-13491 intermediate DQs
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Applicant1DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/FixedRecoverableCosts.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent1DQ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/dq/Respondent2DQ.java
  src/main/resources/db/migration/V2024_03_18_1315__CIV-12942_claim_settled_scenario.sql
  src/main/resources/db/migration/V2024_03_19_1608__CIV-12943_claimant_uses_tell_us_settled_defendant.sql
  src/main/resources/db/migration/V2024_04_12_1532__CIV-11625_claimant_intent_mediation_carm.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulApplicantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4696

#4677 CIV-13311 Create View orders and notices page
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4677

#4730 CIV-13882 Decisions of Request for reconsideration document update.
  docker/docmosis/templates/CV-UNS-DEC-ENG-00001.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-4730

#4559 CIV-13448 content changes
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantResponseDefendantNotificationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/GoToHearingDefendantFullDefenceClaimantRejectsMediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CCJRequestForBrokenSettlementAgreementScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CCJRequestedClaimantAcceptsCourtDecisionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CCJRequestedClaimantRejectsSettlementAgreementTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CCJRequestedCourtAgreedWithClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CCJRequestedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimFullDefenceProceedDefendantNoMediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimIntentMediationSuccessfulDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimRejectedNotPaidScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimSettledCourtDecisionInFavorOfDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimSettledScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantAcceptDefendantSettlementAgreementScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantAcceptsRepaymentPlanCCJDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantRejectsRepaymentCourtPlanDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CourtFavoursClaimantSettlementAgreementScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantRejectedSettlementAgreementDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/GoToHearingDefendantPartAdmitScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/InMediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/JudicialReferralFullDefencePartAdmitPaidPartialScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/PartAdmitImmediatelyClaimSettledScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/TellUsSettledDefendantScenarioTest.java
  src/main/resources/db/migration/V2024_03_05_1713__CIV-12758_claim_settled_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_06_1631__CIV-12831-settlement-agreement-defendant-scenario.sql
  src/main/resources/db/migration/V2024_03_07_1035__CIV_12821_ask_sign_settlement_agreement_defendant.sql
  src/main/resources/db/migration/V2024_03_08_0916__CIV_12782_create_pay_immediately_accepted_for_defendant.sql
  src/main/resources/db/migration/V2024_03_08_1116__CIV_12886_court_agreed_with_defendant_for_defendant.sql
  src/main/resources/db/migration/V2024_03_08_1415__CIV-12805_go_to_hearing_defendant_partadmit_scenario.sql
  src/main/resources/db/migration/V2024_03_08_1630__CIV-12747_claimantIntent_ccj_requested_scenario.sql
  src/main/resources/db/migration/V2024_03_08_1658__CIV-12806-go-to-hearing-paid-partial-defendant-scenario.sql
  src/main/resources/db/migration/V2024_03_12_1216__CIV_12809_go_to_hearing_defendant_full_defence_claimant_rejects_mediation.sql
  src/main/resources/db/migration/V2024_03_13_1153__CIV-12811_full_defence_proceed_no_mediation.sql
  src/main/resources/db/migration/V2024_03_13_1311__CIV_12896_defendant_rejects_settlement_agreement_for_defendant.sql
  src/main/resources/db/migration/V2024_03_13_1342__CIV-12808_claim_reject_not_paid_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_19_1057__CIV-12791_claimant_intent_mediation_defendant.sql
  src/main/resources/db/migration/V2024_03_19_1608__CIV-12943_claimant_uses_tell_us_settled_defendant.sql
  src/main/resources/db/migration/V2024_03_25_1247__CIV-13073_claimant_response_ccj_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_25_1611__CIV-13074-court-rejects-claimant-plan-claimant-accepts-defendant-scenario.sql
  src/main/resources/db/migration/V2024_03_25_1625__CIV_13070_claimant_accepts_repayment_plan_ccj_defendant.sql
  src/main/resources/db/migration/V2024_04_02_1625__CIV_13075_claimant_rejects_repayment_and_court_plan_defendant.sql
  src/main/resources/db/migration/V2024_04_04_1625__CIV_13256_defendant_broken_settlement_agreement_defendant.sql
  src/main/resources/db/migration/V2024_04_05_0928__CIV-13076-ccj-settlement-agreement-defendant-scenario.sql
  src/main/resources/db/migration/V2024_04_05_1614__CIV-13308-mediation-successful-defendant.sql
Labels: ns:civil, prd:civil, aat/no-changes, rel:civil-service-pr-4559

#4690 CIV-13417 Welsh translations
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/data/TaskStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/mock/MockTaskList.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/FullOrPartAdmitPayByDateOrgOrLtdCompanyFromDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/FullOrPartAdmitPayBySetDateFromDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeePaidClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingScheduledClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/TrialArrangementsNotifyOtherPartyScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantFullDefenceFullDisputeWithMediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/HearingScheduledDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/TrialArrangementsNotifyOtherPartyDefendantScenarioTest.java
  src/main/resources/db/migration/V2024_02_18_1546__CIV-12653_create_draft_claim_scenario.sql
  src/main/resources/db/migration/V2024_02_20_1020__CIV-12654-claim-fee-required-scenario.sql
  src/main/resources/db/migration/V2024_02_22_1135__CIV_12693_claim_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_02_29_1207__CIV-12653_claim_issued_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_01_1222__CIV-12657-claim-submitted-hwf-scenario.sql
  src/main/resources/db/migration/V2024_03_01_1630__CIV-12742_claimant_Intent_ccj_requested_scenario.sql
  src/main/resources/db/migration/V2024_03_15_1247__CIV-13119_defendant_response_admit_pay_immediately_scenario.sql
  src/main/resources/db/migration/V2024_03_15_1445__CIV-13077_defendant_orgorltdcompany_admit_pay_by_date_scenario.sql
  src/main/resources/db/migration/V2024_03_15_1456__CIV-13115_defendant_response_admit_pay_immediately_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_18_1002__CIV-13116_defendant_response_part_admit_claimant.sql
  src/main/resources/db/migration/V2024_03_18_1105__CIV-13126_defendant_response_set_date_org_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_18_1456__CIV-13111_defendant_response_full_part_admit_installments_org_com_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_19_1441__CIV-13136_defendant_response_full_admit_instalment_company_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_20_1231__CIV-13140_claimant_states_paid_in_full_scenario.sql
  src/main/resources/db/migration/V2024_03_20_1347__CIV-13133_defendant_response_full_part_admit_pay_installment_scenario.sql
  src/main/resources/db/migration/V2024_03_20_1712__CIV-13132_defendant_response_admit_pay_by_set_date_scenario.sql
  src/main/resources/db/migration/V2024_03_21_1040__CIV-13162_defendant_response_part_admit_pay_already_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_21_1136__CIV-13164_claimant_full_defence_no_mediation.sql
  src/main/resources/db/migration/V2024_03_21_1145__CIV-13129_defendant_admit_pay_by_date_scenario.sql
  src/main/resources/db/migration/V2024_03_21_1157__CIV-13130_defendant_response_admit_pay_by_instalments_scenario.sql
  src/main/resources/db/migration/V2024_03_21_1216__CIV-13163-defendant-states-paid-scenario.sql
  src/main/resources/db/migration/V2024_03_26_1145__CIV-13199_defendant_full_defence_full_dispute_mediation.sql
  src/main/resources/db/migration/V2024_03_27_1108__CIV-13165-full-defence-full-dispute-mediation-claimant.sql
  src/main/resources/db/migration/V2024_03_27_1420__CIV-13166-claimant_full_defence_fast_track.sql
  src/main/resources/db/migration/V2024_03_32_1247__CIV-13167_defendant_response_full_defence_no_mediation_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_01_1240__CIV-11300_hearing_scheduled_scenario.sql
  src/main/resources/db/migration/V2024_04_01_1647__CIV-11301_trial_arrangements_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_01_1648__CIV-11301_trial_arrangements_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_02_1123__CIV-13200-full-defence-fast-track-defendant-scenario.sql
  src/main/resources/db/migration/V2024_04_02_1500__CIV-11302_trial_arrangements_notify_other_party_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_03_0934__CIV-11299_hearing_fee_unpaid_both_parties_scenario.sql
  src/main/resources/db/migration/V2024_04_04_1500__CIV-13259_trial_arrangements_notify_other_party_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_04_1632__CIV-11303_bundle_created_scenario.sql
  src/main/resources/db/migration/V2024_04_05_0001__CIV-11305_upload_hearing_documents_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_08_1430__CIV-13260_hearing_fee_required_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_09_0001__CIV-11306_upload_hearing_documents_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_11_1400__CIV-13182_View_mediation_settlement_agreement_claimant.sql
  src/main/resources/db/migration/V2024_04_11_1401__CIV-13182_View_mediation_settlement_agreement_defendant.sql
  src/main/resources/db/migration/V2024_04_15_1209__CIV-11952-hearing_fee_rejection_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1355__CIV-11953_hearing_fee_partial_remission_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1424__CIV_11954_hearing_fee_full_remission_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1435__CIV_11955_hearing_fee_info_required_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1441__CIV-11956_hearing_fee_invalid_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_1453__CIV-11957_hearing_fee_num_updated_hwf_scenario.sql
  src/main/resources/db/migration/V2024_04_15_2100__CIV-13268_hearing_fee_paid_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_17_0854__CIV-13408_claimant_help_with_fees_in_review_scenario.sql
  src/main/resources/db/migration/V2024_04_22_1145__CIV-13434-13436_defendant_respose_fulldefence_fulldispute_carm_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4690

#4705 CIV-13495 Dashboard notification - Case proceeds offline
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationService.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/CaseProceedOfflineClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantFeePayOutcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingScheduledClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CaseProceedOfflineDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseProceedOfflineClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseProceedOfflineDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanApplicantNotificationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CaseProceedsInCasemanCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/resources/db/migration/V2024_05_08_0230__CIV-13495-case_proceed_offline_claimant.sql
  src/main/resources/db/migration/V2024_05_08_0231__CIV-13495-case_proceed_offline_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseProceedOfflineClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseProceedOfflineDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanApplicantNotificationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CaseProceedsInCasemanCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4705

#4652 DTSCCI-150 exception when in case of LIP cases ACK effecting RPA feed
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-4652

#4711 CIV-9442 Add general app fees service for CUI
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/fees/FeesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/fees/FeesController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4711

#4608 CIV-0000 DTSCCI-208: Multiple Incidents: Defendant Can't link claim
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/claimstore/ClaimStoreService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/pininpost/DefendantPinToPostLRspecService.java
  src/main/java/uk/gov/hmcts/reform/cmc/client/ClaimStoreApi.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/DefendantLinkStatus.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DefendantPinToPostLRspecServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/claimstore/ClaimStoreServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4608

#4712 CIV-13707 Missing email and telephone validation - MCI
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/UpdateDetailsForm.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/ManageContactInformationUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/ManageContactInformationUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4712

#4631 DTSCCI-145 Claim documents duplicating on claim documents tab
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandlerTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-4631

#4746 CIV-13699 fix welsh task items
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/CCJRequestedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseFullAdmitPayImmediatelyClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/IssueClaimScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitFullDefencePaidAlreadyPartialClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimIssuedScenarioTest.java
  src/main/resources/db/migration/V2024_02_22_1135__CIV_12693_claim_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_02_29_1207__CIV-12653_claim_issued_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_01_1630__CIV-12742_claimant_Intent_ccj_requested_scenario.sql
  src/main/resources/db/migration/V2024_03_15_1456__CIV-13115_defendant_response_admit_pay_immediately_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_18_1456__CIV-13111_defendant_response_full_part_admit_installments_org_com_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_21_1040__CIV-13162_defendant_response_part_admit_pay_already_claimant_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4746

#4682 CIV-13420 Dashboard - Welsh translations - Batch 2C (defendant response)
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantFullDefenceFullDisputeMediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantRequestMoreTimeScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseDeadlineScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseFullAdmitPayImmediatelyClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseFullDefenceMediationRefusedClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponsePartAdmitPayImmediatelyClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponsePartFullAdmitInstallmentsOrgComClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/FullOrPartAdmitPayByDateOrgOrLtdCompanyFromDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/FullOrPartAdmitPayBySetDateFromDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitFullDefenceFullPaidClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitFullDefencePaidAlreadyPartialClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitPayByInstalmentsScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/AlreadyPaidFullDefencePartAdmitScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantFullDefenceFullDisputeWithMediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseAdmitPayInstalmentCompanyDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseDeadlinePassedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseFullDefenceFastTrackClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseFullDefenceFullDisputeFastTrackScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseFullDefenceNoMediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseFullOrPartAdmitInstallmentsScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseOrgORCompPayBySetDateScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponsePayBySetDateScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponsePayImmediatelyScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/MoreTimeRequestedScenarioTest.java
  src/main/resources/db/migration/V2024_03_05_1500__CIV-12753_creat_claimant_claim_settled_scenario.sql
  src/main/resources/db/migration/V2024_03_15_1247__CIV-13119_defendant_response_admit_pay_immediately_scenario.sql
  src/main/resources/db/migration/V2024_03_15_1445__CIV-13077_defendant_orgorltdcompany_admit_pay_by_date_scenario.sql
  src/main/resources/db/migration/V2024_03_15_1456__CIV-13115_defendant_response_admit_pay_immediately_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_18_0902__CIV-13071_defendant_more_time_requested_scenario.sql
  src/main/resources/db/migration/V2024_03_18_1002__CIV-13116_defendant_response_part_admit_claimant.sql
  src/main/resources/db/migration/V2024_03_18_1016__CIV-13072_defendant_response_more_time_requested_scenario.sql
  src/main/resources/db/migration/V2024_03_18_1105__CIV-13126_defendant_response_set_date_org_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_18_1315__CIV-12942_claim_settled_scenario.sql
  src/main/resources/db/migration/V2024_03_18_1456__CIV-13111_defendant_response_full_part_admit_installments_org_com_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_19_1441__CIV-13136_defendant_response_full_admit_instalment_company_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_19_1608__CIV-12943_claimant_uses_tell_us_settled_defendant.sql
  src/main/resources/db/migration/V2024_03_20_1231__CIV-13140_claimant_states_paid_in_full_scenario.sql
  src/main/resources/db/migration/V2024_03_20_1347__CIV-13133_defendant_response_full_part_admit_pay_installment_scenario.sql
  src/main/resources/db/migration/V2024_03_20_1712__CIV-13132_defendant_response_admit_pay_by_set_date_scenario.sql
  src/main/resources/db/migration/V2024_03_21_1040__CIV-13162_defendant_response_part_admit_pay_already_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_21_1136__CIV-13164_claimant_full_defence_no_mediation.sql
  src/main/resources/db/migration/V2024_03_21_1145__CIV-13129_defendant_admit_pay_by_date_scenario.sql
  src/main/resources/db/migration/V2024_03_21_1157__CIV-13130_defendant_response_admit_pay_by_instalments_scenario.sql
  src/main/resources/db/migration/V2024_03_21_1216__CIV-13163-defendant-states-paid-scenario.sql
  src/main/resources/db/migration/V2024_03_25_1606__CIV-13201_response_deadline_not_responded.sql
  src/main/resources/db/migration/V2024_03_26_1145__CIV-13199_defendant_full_defence_full_dispute_mediation.sql
  src/main/resources/db/migration/V2024_03_26_1400__CIV-13202_response_deadline_not_responded_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_27_1108__CIV-13165-full-defence-full-dispute-mediation-claimant.sql
  src/main/resources/db/migration/V2024_03_27_1420__CIV-13166-claimant_full_defence_fast_track.sql
  src/main/resources/db/migration/V2024_03_32_1247__CIV-13167_defendant_response_full_defence_no_mediation_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_02_1123__CIV-13200-full-defence-fast-track-defendant-scenario.sql
  src/main/resources/db/migration/V2024_04_04_1625__CIV_13256_defendant_broken_settlement_agreement_defendant.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4682

#4762 CIV-0000 Whitelist ADD_CASE_NOTE for MEDIATION_UNSUCCESSFUL_PROCEED
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4762

#4770 CIV-13475 Set ga for lip flag is feature flag is ON
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4770

#4732 CIV-11832 Enabling View Documents Task List After Evidence Upload
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/EvidenceUploadedClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/EvidenceUploadedDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/EvidenceUploadedClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/EvidenceUploadedDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadHandlerBase.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandler.java
  src/main/resources/db/migration/V2024_05_15_1300__CIV-11832_hearing_documents_uploaded_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/EvidenceUploadedClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/EvidenceUploadedDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadApplicantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EvidenceUploadRespondentHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4732

#4765 DTSCCI-151 use released version of fix
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-4765

#4687 CIV-12893 Defendant LiP dashboard notifications: Default judgment issued
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantDefaultJudgementScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/DashboardJudgementOnlineCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefaultJudgementIssuedDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_05_06_0900__CIV-12893_default_judgement_issued_defendant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefaultJudgementIssuedDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4687

#4557 CIV-13492 LIP unavailable dates not showing in hearing notes tab
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4557

#4764 CIV-13731 Fixed Dashboard status when respondent deadline is passed
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4764

#4637 DTSCCI-000 fix npe in pip letter generator
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/RetryableStitchingException.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/StitchingFailedException.java
  src/main/java/uk/gov/hmcts/reform/civil/service/stitching/BundleRequestExecutor.java
  src/main/java/uk/gov/hmcts/reform/civil/service/stitching/CivilDocumentStitchingService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/stitching/BundleRequestExecutorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/stitching/CivilDocumentStitchingServiceTest.java
Labels: ns:civil, prd:civil, pr-values:elasticsearch, enable_keep_helm, rel:civil-service-pr-4637

#4744 DTSCCI-279 Allow ADD_CASE_NOTE from MAIN.PAST_CLAIM_DISMISSED_DEADLINE_AWAITING_CAMUNDA state
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, pr-values:elasticsearch, enable_keep_helm, rel:civil-service-pr-4744

#4621 CIV-13272 Stop RPA for Judgment by Admission against Defendant LR/LIP
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4621

#4745 DTSCCI-206 passing authtoken to ref data location service api call
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyDefaultJudgmentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyRoboticsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyDefaultJudgmentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4745

#4753 CIV-13653 update dj template for payment plan
  docker/docmosis/templates/CV-SPC-DEC-ENG-00911.docx
  docker/docmosis/templates/CV-SPC-DEC-ENG-00912.docx
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dj/DefaultJudgmentForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4753

#4758 CIV-13683 SSA Deadline date update
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetSettlementAgreementDeadlineCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetSettlementAgreementDeadlineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculatorTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-4758

#4116 CIV-11104 Auth vulnerability assigning cases
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CaseAssignmentController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/AssignCaseSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/defendant/LipDefendantCaseAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/pininpost/DefendantPinToPostLRspecService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DefendantPinToPostLRspecServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizen/defendant/LipDefendantCaseAssignmentServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4116

#4749 CIV-13839 Service PR - Stop RPA for Judgment by Admission: Payment Plan & By Set Date
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4749

#4763 CIV-13752 Claimant LiP dashboard notifications: set aside after court error
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/NotifySetAsideJudgementErrorScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/NotifySetAsideJudgementDashboardNotificationHandler.java
  src/main/resources/db/migration/V2024_05_16_1230__CIV-13752.Claimant_LiP_set_aside_after_court_error.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/NotifySetAsideJudgementDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4763

#4722 CIV-13546 Claimant LiP dashboard notifications Default judgment issued
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantDefaultJudgementScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantDefaultJudgementScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefaultJudgementIssuedClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_05_07_0900__CIV-13546_default_judgement_issued_claimant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefaultJudgementIssuedClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4722

#4797 DTSCCI-333 fix npe
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4797

#4726 CIV-8154 flight delay controller
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/airlines/FlightControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/airlines/FlightController.java
  src/test/java/uk/gov/hmcts/reform/civil/controllers/FlightControllerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4726

#4719 CIV-13484 - Dashboard notification - SDO drawn (claimant + defendant)
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/OrderMadeClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/UploadHearingDocumentsClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/OrderMadeDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/UploadHearingDocumentsDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/UploadHearingDocumentsClaimantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/UploadHearingDocumentsDefendantHandler.java
  src/main/resources/db/migration/V2024_05_13_1415__CIV-13484_sdo_drawn_pre_caseProgression_claimant_scenario.sql
  src/main/resources/db/migration/V2024_05_13_1430__CIV-13484_sdo_drawn_pre_caseProgression_defendant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/UploadHearingDocumentsClaimantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/UploadHearingDocumentsDefendantHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4719

#4810 DTSCCI-337 interim judgement lip respondent org null check
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/InterimJudgmentDefendantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/InterimJudgmentDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4810

#4804 CIV-13967 added service to support multiple application types
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/fees/FeesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/fees/FeesController.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/GeneralApplicationFeeRequest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4804

#4806 CIV-13753 Set Aside Error DashboardNotification Defendant LIP
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/NotifySetAsideJudgementErrorScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantNotifySetAsideJudgementDashboardNotificationHandler.java
  src/main/resources/db/migration/V2024_05_16_1600__CIV-13753.default_judgment_set_aside_defendant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantNotifySetAsideJudgementDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4806

#4820 DTSCCI-340 case note null check
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4820

#4800 CIV-13278 Judgment Online Service
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EditJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgmentPaidInFullCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RecordJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/DefaultJudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/EditJudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentPaidInFullOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/RecordJudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EditJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgmentPaidInFullCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RecordJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/DefaultJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/EditJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentPaidOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/SetAsideJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4800

#4779 DTSCCI-269 Remove code smell
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/data/ScenarioRequestParams.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationService.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardScenariosService.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/TaskListService.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/controllers/DashboardControllerTest.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/TaskListServiceTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/DashboardCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/DashboardWithParamsCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/client/DashboardApiClient.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/cases/DocumentController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/CaseAssignmentSupportService.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/AllocatedTrack.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/EvidenceUploadFiles.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/TypeOfDocDocumentaryEvidenceOfTrial.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/businessprocess/StartBusinessProcessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/GenerateDashboardNotificationClaimFeeRequiredHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/GenerateDashboardNotificationHwfHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimIssueNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDJFormHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDJFormHandlerSpecNonDivergent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionsQuestionnaireCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateLipClaimFormCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractCreateSDORespondentLRNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanApplicantNotificationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ChangeOfRepresentationNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDismissedApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimDismissedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimIssuedPaymentSuccessfulNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseAgreedRepaymentRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateSDORespondent2NotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJApplicantReceivedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJRespondentReceivedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantChangeOfAddressApplicantForCuiNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/GenerateOrderNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/MakeBulkClaimPaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddUnavailableDatesCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CaseProceedsInCasemanCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateCaseFlagsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimAfterPaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecAfterPaymentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateReferToJudgeCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/PartialAdmitPayImmediatelyConfirmationText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/PartialAdmitSetDateConfirmationText.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculator.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4779

#4825 CIV-0000 Bulk branch s2 to master
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateSettlementAgreementFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/citizen/UpdateCaseManagementDetailsService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateSettlementAgreementFormCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4825
