Repository hmcts/civil-service, pull requests merged in 2024-04, with the labels that each got.

#4338 CIV-0000 Fix tests
  src/main/resources/db/migration/V2024_03_20_1347__CIV-13133_defendant_response_full_part_admit_pay_installment_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4338

#4314 CIV-13165 Full dispute with mediation notification claimant
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantFullDefenceFullDisputeMediationScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_03_27_1108__CIV-13165-full-defence-full-dispute-mediation-claimant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4314

#4341 CIV-0000 revert 13306
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationMediationUnsuccessfulClaimantLRHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationMediationUnsuccessfulClaimantLRHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4341

#4407 DTSCCI-0000 upgrade all jackson deps together
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/model/Address.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDetailsBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4407

#4414 DTSCCI-0000 switch to yq
  bin/pull-latest-release-asset.sh
  bin/utils/idam-lease-user-token.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-4414

#4321 DTSCCI-051 remove Jacksonized annotation from base class
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4321

#4251 CIV-12377 Support DRH Hearing type
  src/main/java/uk/gov/hmcts/reform/civil/enums/DocumentHearingType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/automatedhearingnotice/UpdateCaseProgressHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestAPIHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HearingUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/enums/DocumentHearingTypeTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/automatedhearingnotice/UpdateCaseProgressHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/payment/ServiceRequestAPIHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HearingUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4251

#4287 CIV-12887 Set Aside Letter
  build.gradle
  docker/docmosis/templates/CV-CMC-LET-ENG-LIP-JO0001.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/SetAsideJudgementInErrorLiPDefendant1LetterHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgmentonline/SetAsideJudgmentInErrorLiPDefendantLetter.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/SetAsideJudgmentInErrorLiPLetterGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/SetAsideJudgementInErrorLiPDefendant1LetterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/SetAsideJudgmentInErrorLiPLetterGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4287

#4406 CIV-12989 Dashboard notification- Claimant rejects repayment plan
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantRejectRepaymentPlanOrgLtdCoDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_04_02_1130__CIV-12989_claimant_intent_orgltdco_defendant_reject_repayment_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4406

#4316 CIV-13110 Set aside notification LiP
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimSetAsideJudgmentClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimSetAsideJudgmentDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NotificationUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimSetAsideJudgmentClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimSetAsideJudgmentDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EditJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RecordJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/NotificationUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4316

#4156 CIV-0000 - Update hearing process logging
  charts/civil-service/Chart.yaml
  charts/civil-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/StartHearingNoticeBusinessProcessTaskHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4156

#4402 CIV-13306 Mediation Notification Lip v Lip
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationMediationUnsuccessfulClaimantLRHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationMediationUnsuccessfulClaimantLRHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4402

#4263 DTSCCI-022 1v2ds bug
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/ResponseRepaymentDetailsForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimLipResponseFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4263

#4335 CIV-13166 Dashboard notification - Fast Track
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseFullDefenceFastTrackClaimantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/main/resources/db/migration/V2024_03_27_1420__CIV-13166-claimant_full_defence_fast_track.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4335, aat/no-changes

#4405 CIV-13075 where claimant disagrees with court plan
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantRejectsRepaymentCourtPlanDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_04_02_1625__CIV_13075_claimant_rejects_repayment_and_court_plan_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4405

#4146 CIV-12781 Updated hearing notice templates
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-4146

#4423 CIV-13066 Service changes for Amend written expert evidence paragraph in Fast Track order
  docker/docmosis/templates/CV-UNS-STD-ENG-01378_13066.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01380_13066.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4423

#4417 CIV-13256 judgment requested SA terms broken
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CCJRequestForBrokenSettlementAgreementScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CCJRequestedDashboardNotificationDefendantHandler.java
  src/main/resources/db/migration/V2024_04_04_1625__CIV_13256_defendant_broken_settlement_agreement_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CCJRequestedDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4417

#4404 CIV-13161 Go to hearing- FT - defendant
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_03_08_1658__CIV-12806-go-to-hearing-paid-partial-defendant-scenario.sql
  src/main/resources/db/migration/V2024_03_13_1342__CIV-12808_claim_reject_not_paid_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_20_1347__CIV-13133_defendant_response_full_part_admit_pay_installment_scenario.sql
  src/main/resources/db/migration/V2024_04_02_1625__CIV_13075_claimant_rejects_repayment_and_court_plan_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4404

#4425 CIV-13259 Notify Defendent Trial Ready
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/NotificationActionEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationService.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/TrialArrangementsNotifyOtherPartyScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/TrialArrangementsNotifyOtherPartyDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/TrialArrangementsNotifyOtherPartyNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/TrialArrangementsNotifyOtherPartyDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_04_02_1500__CIV-11302_trial_arrangements_notify_other_party_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_04_1500__CIV-13259_trial_arrangements_notify_other_party_defendant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/TrialArrangementsNotifyOtherPartyNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/TrialArrangementsNotifyOtherPartyDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4425

#4313 CIV-13291 Raising CCJ after defendant rejects the settlement agreemen…
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
Labels: ns:civil, prd:civil

#4185 CIV-11402 Defendant response case flags
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagsInitialiser.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4185

#4430 CIV-13076 CCJ requested def rejects settlement agreement
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeUnpaidScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CCJRequestedClaimantRejectsSettlementAgreementTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/HearingFeeUnpaidScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CCJRequestedDashboardNotificationDefendantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_04_05_0928__CIV-13076-ccj-settlement-agreement-defendant-scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CCJRequestedDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4430

#4452 CIV-13353 Dashboard Defendant notification- Claimant rejects repayment plan
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantRejectRepaymentPlanDefendantOrgLtdCoDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_04_09_1130__CIV-13353_claimant_intent_rejectsplan_defendant_orgltdco_defendant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4452

#4435 CIV-13307 Dashboard Notifications : Mediation Successful (Claimant)
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantMediationSuccessfulDashboardNotificationScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantMediationSuccessfulDashboardNotificationHandler.java
  src/main/resources/db/migration/V2024_04_05_1207__CIV-13307_claimant_intent_mediation_successful.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantMediationSuccessfulDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4435

#4442 CIV-0000 mediation unsuccessful tasks
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/CCJRequestedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantIntentMediationUnsuccessfulScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseDeadlineScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantIntentMediationUnsuccesfulDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponsePayImmediatelyScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantIntentMediationUnsuccessfulHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/MediationUnsuccessfulDashboardNotificationDefendantHandler.java
  src/main/resources/db/migration/V2024_03_21_1415__CIV-12812_mediation_unsuccessful_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_22_0715__CIV-13028_claimant_intent_mediation_unsuccessful_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantIntentMediationUnsuccessfulHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/MediationUnsuccessfulDashboardNotificationDefendantHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4442

#4436 CIV-11698 Notify Claimant LiP Solicitor
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationForClaimantRepresented.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationForClaimantRepresentedTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4436

#4455 CIV-13426 adding version checks on import ccd
  bin/import-bpmn-diagram.sh
  bin/utils/ccd-import-definition.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-4455

#4432 CIV-11300 Dashboard Notification Hearing Scheduled
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingScheduledClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/HearingScheduledDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingScheduledClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/HearingScheduledDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HearingUtils.java
  src/main/resources/db/migration/V2024_04_01_1240__CIV-11300_hearing_scheduled_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingScheduledClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/HearingScheduledDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4432

#4450 CIV-13260 Hearing Fee Required
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationService.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingScheduledClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/TrialArrangementsNotifyOtherPartyDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingScheduledClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/TrialArrangementsNotifyOtherPartyDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_04_08_1430__CIV-13260_hearing_fee_required_claimant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingScheduledClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/TrialArrangementsNotifyOtherPartyDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4450

#4420 CIV-11301 dashboard notification trial arrangements
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantTrialArrangementsNotificationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantTrialArrangementsNotificationScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/TrialArrangementsClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/TrialArrangementsDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_04_01_1647__CIV-11301_trial_arrangements_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_01_1648__CIV-11301_trial_arrangements_defendant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/TrialArrangementsClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/TrialArrangementsDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4420

#4457 DTSCCI-077 Add case reference to log messages
  build.gradle
  charts/civil-service/Chart.yaml
  charts/civil-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/civil/config/MvcConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/CallbackController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/RequestInterceptor.java
  src/test/java/uk/gov/hmcts/reform/civil/config/MvcConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/controllers/RequestInterceptorTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-4457

#4446 CIV-11475 Add Welsh Paragraph
  docker/docmosis/templates/CV-UNS-DEC-ENG-01331.docx
  docker/docmosis/templates/CV-UNS-DEC-ENG-01378.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01378_13066.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01380_13066.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01387.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01388.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01389.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01390.docx
  src/main/java/uk/gov/hmcts/reform/civil/constants/SdoR2UiConstantFastTrack.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dj/DefaultJudgmentSDOOrderForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormDisposal.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormFast.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormFastNihl.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormSmall.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormSmallDrh.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2WelshLanguageUsage.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4446

#4475 CIV-13428 Generate partyID for R2 claim creation
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallBackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4475

#4479 CIV-13124 Update DRH template
  docker/docmosis/templates/CV-UNS-STD-ENG-01389.docx
Labels: ns:civil, prd:civil, aat/add-or-update, rel:civil-service-pr-4479

#4492 DTSCCI-000 re-add kotlin deps
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-4492

#4326 CIV-12929 Claim status is not correct when claim is waiting for Case…
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-4326

#4297 CIV-13283 Dashboard feature toggle
  src/main/java/uk/gov/hmcts/reform/civil/callback/DashboardCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DefendantResponseDeadlineCheckCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CreateClaimIssueNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseDeadlineDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/GenerateDashboardNotificationHwfHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HwFDashboardNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ResponseDeadlineExtendedDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimIssueNotificationsHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimSettledDefendantDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantCCJResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDeadlinePassedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DefendantResponseDeadlineCheckCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CreateClaimIssueNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HwFDashboardNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ResponseDeadlineExtendedDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimIssueNotificationsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimSettledDefendantDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineUnspecTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4297, aat/add-or-update

#4437 DTSCCI-0000 version camunda deps together
  build.gradle
  charts/civil-service/Chart.yaml
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
  charts/civil-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/civil/Application.java
  src/main/java/uk/gov/hmcts/reform/civil/config/ExternalTaskListenerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/fees/FeesPaymentController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/fees/ServiceRequestUpdateCallbackController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/fees/ServiceRequestUpdateClaimIssuedCallbackController.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/testingsupport/CamundaRestEngineApi.java
  src/main/java/uk/gov/hmcts/reform/civil/service/EventEmitterService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/user/UserInformationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ClaimDismissedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CvpJoinLinkSchedulerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/DecisionOutcomeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/EvidenceUploadCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TakeCaseOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TrialReadyCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/EventEmitterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
Labels: ns:civil, prd:civil, dependencies, rel:civil-service-pr-4437

#4467 DTSCCI-060 Reducing CVEs
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-4467, aat/add-or-update

#4506 DTSCCI-051 Add wait for definition store in pipeline
  Jenkinsfile_CNP
  bin/wait-for.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-4506

#4484 DTSCCI-017 fixing the retry process
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BaseExternalTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/BundleCreationTriggerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ClaimDismissedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CvpJoinLinkSchedulerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/DecisionOutcomeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/EvidenceUploadCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/HearingFeeDueHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PollingEventEmitterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TakeCaseOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TrialReadyCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TrialReadyNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4484

#4524 DTSCCI-017 fixing lock time and number of tasks fetched per client
  src/main/java/uk/gov/hmcts/reform/civil/config/ExternalTaskListenerConfiguration.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4524

#4532 CIV-0000 Revert Update plugin au.com.dius.pact to v4.6.9
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-4532

#4276 DTSCCI-026 Multi track claims not showing as offline on CCD history tab
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, aat/add-or-update, rel:civil-service-pr-4276

#4474 CIV-13381 MCI exclude LR individual option for LIP
  src/main/java/uk/gov/hmcts/reform/civil/utils/ManageContactInformationUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageContactInformationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/ManageContactInformationUtilsTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-4474

#4424 CIV-13253 Update LRIndividuals hearing values mapping
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapperTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-4424

#4533 DTSCCI-181 sync camunda activity id with bpmn diagram
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CreateClaimRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4533

#4496 CIV-13268 Hearing Fee Paid
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeePaidClaimantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingFeePaidClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyApplicant1GenericTemplateHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/resources/db/migration/V2024_04_15_2100__CIV-13268_hearing_fee_paid_claimant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingFeePaidClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyApplicant1GenericTemplateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FeePaymentOutcomeHWFCallBackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4496

#4495 CIV-13127 NIHL direction order output - Text updates
  docker/docmosis/templates/CV-UNS-STD-ENG-01387.docx
  src/main/java/uk/gov/hmcts/reform/civil/constants/SdoR2UiConstantFastTrack.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormFastNihl.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4495

#4431 CIV-13068 optional witness section
  docker/docmosis/templates/CV-UNS-STD-ENG-01378_13066.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01380_13066.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01388.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormFast.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormSmall.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4431

#4497 CIV-13368 Claim status - determination where defendant is individual/sole trader
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4497

#4572 CIV-13127 NIHL direction order output - Text updates
  docker/docmosis/templates/CV-UNS-STD-ENG-01387.docx
  src/main/java/uk/gov/hmcts/reform/civil/constants/SdoR2UiConstantFastTrack.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormFastNihl.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/sdo/SdoHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4572

#4575 CIV-13068 optional witness section
  docker/docmosis/templates/CV-UNS-STD-ENG-01378_13066.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01380_13066.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01388.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormFast.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormSmall.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4575

#4509 CIV-13187 Notification for notice of change defendant side
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationForDefendantRepresented.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplyNoticeOfChangeDecisionCallbackHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationForDefendantRepresentedTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ApplyNoticeOfChangeDecisionCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4509

#4531 CIV-13403 Dashboard-Batch 2C-content changes
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantFullDefenceFullDisputeMediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantRequestMoreTimeScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseDeadlineScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseFullAdmitPayImmediatelyClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseFullDefenceMediationRefusedClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponsePartAdmitPayImmediatelyClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponsePartFullAdmitInstallmentsOrgComClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/FullOrPartAdmitPayByDateOrgOrLtdCompanyFromDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/FullOrPartAdmitPayBySetDateFromDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitPayByInstalmentsScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantFullDefenceFullDisputeWithMediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseAdmitPayInstalmentCompanyDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseDeadlinePassedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseFullDefenceFastTrackClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseFullOrPartAdmitInstallmentsScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseOrgORCompPayBySetDateScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponsePayBySetDateScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponsePayImmediatelyScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/MoreTimeRequestedScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/main/resources/db/migration/V2024_03_15_1247__CIV-13119_defendant_response_admit_pay_immediately_scenario.sql
  src/main/resources/db/migration/V2024_03_15_1445__CIV-13077_defendant_orgorltdcompany_admit_pay_by_date_scenario.sql
  src/main/resources/db/migration/V2024_03_15_1456__CIV-13115_defendant_response_admit_pay_immediately_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_18_0902__CIV-13071_defendant_more_time_requested_scenario.sql
  src/main/resources/db/migration/V2024_03_18_1002__CIV-13116_defendant_response_part_admit_claimant.sql
  src/main/resources/db/migration/V2024_03_18_1016__CIV-13072_defendant_response_more_time_requested_scenario.sql
  src/main/resources/db/migration/V2024_03_18_1105__CIV-13126_defendant_response_set_date_org_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_18_1315__CIV-12942_claim_settled_scenario.sql
  src/main/resources/db/migration/V2024_03_18_1456__CIV-13111_defendant_response_full_part_admit_installments_org_com_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_19_1441__CIV-13136_defendant_response_full_admit_instalment_company_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_20_1347__CIV-13133_defendant_response_full_part_admit_pay_installment_scenario.sql
  src/main/resources/db/migration/V2024_03_20_1712__CIV-13132_defendant_response_admit_pay_by_set_date_scenario.sql
  src/main/resources/db/migration/V2024_03_21_1136__CIV-13164_claimant_full_defence_no_mediation.sql
  src/main/resources/db/migration/V2024_03_21_1145__CIV-13129_defendant_admit_pay_by_date_scenario.sql
  src/main/resources/db/migration/V2024_03_21_1157__CIV-13130_defendant_response_admit_pay_by_instalments_scenario.sql
  src/main/resources/db/migration/V2024_03_25_1606__CIV-13201_response_deadline_not_responded.sql
  src/main/resources/db/migration/V2024_03_26_1145__CIV-13199_defendant_full_defence_full_dispute_mediation.sql
  src/main/resources/db/migration/V2024_03_26_1400__CIV-13202_response_deadline_not_responded_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_27_1108__CIV-13165-full-defence-full-dispute-mediation-claimant.sql
  src/main/resources/db/migration/V2024_03_27_1420__CIV-13166-claimant_full_defence_fast_track.sql
Labels: ns:civil, prd:civil, aat/no-changes, rel:civil-service-pr-4531

#4498 CIV-12908 Payments claimant dashboard status
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/FullRemissionHWFCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/FullRemissionHWFCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4498

#4520 DTSCCI-017 fixing retry mechanism - client settings and retry logic
  .gitignore
  src/main/java/uk/gov/hmcts/reform/civil/config/ExternalTaskListenerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BaseExternalTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/BundleCreationTriggerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ClaimDismissedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CvpJoinLinkSchedulerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/DecisionOutcomeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/DefendantResponseDeadlineCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/EndBusinessProcessTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/EvidenceUploadCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GenerateCsvAndTransferHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/GenerateMediationJsonAndTransferHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/HearingFeeDueHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PollingEventEmitterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/SettlementNoResponseFromDefendantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TakeCaseOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TrialReadyCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TrialReadyNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4520

#4527 CIV-8734 Stop RPA for Default Judgment against Defendant LR/LIP
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/DefaultJudgementNonDivergentSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/DefaultJudgementNonDivergentSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4527

#4453 CIV-13269 SDO Docmosis changes for CARM
  docker/docmosis/templates/CV-UNS-STD-ENG-01388.docx
Labels: ns:civil, prd:civil, aat/no-changes, rel:civil-service-pr-4453

#4586 CIV-13439 Added caseManagement location to LIP vs LIP claim
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallBackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4586

#4546 CIV-11355 Trial Arrangements TaskList
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/BundleCreationClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/BundleCreationDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/BundleCreationClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingFeeUnpaidClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/BundleCreationDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/HearingFeeUnpaidDefendantNotificationHandler.java
  src/main/resources/db/migration/V2024_02_18_1546__CIV-12653_create_draft_claim_scenario.sql
  src/main/resources/db/migration/V2024_02_20_1020__CIV-12654-claim-fee-required-scenario.sql
  src/main/resources/db/migration/V2024_02_22_1135__CIV_12693_claim_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_03_01_1222__CIV-12657-claim-submitted-hwf-scenario.sql
  src/main/resources/db/migration/V2024_04_01_1240__CIV-11300_hearing_scheduled_scenario.sql
  src/main/resources/db/migration/V2024_04_02_1500__CIV-11302_trial_arrangements_notify_other_party_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_03_0934__CIV-11299_hearing_fee_unpaid_both_parties_scenario.sql
  src/main/resources/db/migration/V2024_04_04_1500__CIV-13259_trial_arrangements_notify_other_party_defendant_scenario.sql
  src/main/resources/db/migration/V2024_04_04_1632__CIV-11303_bundle_created_scenario.sql
  src/main/resources/db/migration/V2024_04_08_1430__CIV-13260_hearing_fee_required_claimant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/BundleCreationClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/BundleCreationDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4546

#4456 CIV-11304 Order Made
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/data/Notification.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/repositories/NotificationActionRepository.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationService.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardScenariosService.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/OrderMadeClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/OrderMadeDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/OrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/StandardDirectionOrderDJClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/StandardDirectionOrderDJDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGenerator.java
  src/main/resources/db/migration/V2024_04_08_1220__CIV-11304-order_made_claimant.sql
  src/main/resources/db/migration/V2024_04_08_1221__CIV-11304-order_made_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4456, aat/add-or-update

#4476 CIV-13347 Updated docmosis templates with seal and coat of arms
  docker/docmosis/templates/CV-SPC-CLM-ENG-01065-LIP.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-CLAIMANT-CLAIM-FORM.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-DEFENDANT-CLAIM-FORM.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-LIP-01283.docx
Labels: ns:civil, prd:civil, stale, enable_keep_helm, rel:civil-service-pr-4476

#4593 CIV-13374 add welsh translations
  src/integrationTest/resources/scripts/dashboardNotifications/create_dashboard_scenarios.sql
  src/main/resources/db/migration/V2024_02_18_1546__CIV-12653_create_draft_claim_scenario.sql
  src/main/resources/db/migration/V2024_02_20_1020__CIV-12654-claim-fee-required-scenario.sql
  src/main/resources/db/migration/V2024_02_22_1135__CIV_12693_claim_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_02_29_1207__CIV-12653_claim_issued_claimant_scenario.sql
Labels: ns:civil, prd:civil

#4600 CIV-0000 Stop RPA for default Judgment
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4600

#4530 CIV-13444 content changes
  docker/docmosis/templates/CV-SPC-CLM-ENG-01065-LIP.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-CLAIMANT-CLAIM-FORM.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-DEFENDANT-CLAIM-FORM.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-LIP-01283.docx
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimSettledScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantMediationSuccessfulDashboardNotificationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantRequestedJudgmentByAdmissionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantResponseNotificationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantSettledTheClaimScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantSettlementAgreementScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantAcceptsSettlementClaimantNotificationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseFullDefenceMediationRefusedClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponsePartAdmitPayImmediatelyClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/FullAdmitPayImmediatelyNoPaymentFromDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/GoToHearingScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/MediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitAcceptedClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/SettlementNoResponseFromDefendantTest.java
  src/integrationTest/resources/scripts/dashboardNotifications/create_dashboard_scenarios.sql
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/resources/db/migration/V2024_02_18_1546__CIV-12653_create_draft_claim_scenario.sql
  src/main/resources/db/migration/V2024_02_20_1020__CIV-12654-claim-fee-required-scenario.sql
  src/main/resources/db/migration/V2024_02_22_1135__CIV_12693_claim_issued_defendant_scenario.sql
  src/main/resources/db/migration/V2024_02_29_1207__CIV-12653_claim_issued_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_01_1442__CIV-12792_claimant_intent_go_to_hearing_scenario.sql
  src/main/resources/db/migration/V2024_03_05_1154__CIV-12814_claimant_intent_sign_settlement_scenario.sql
  src/main/resources/db/migration/V2024_03_05_1422__CIV-12789_mediation_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_05_1500__CIV-12753_creat_claimant_claim_settled_scenario.sql
  src/main/resources/db/migration/V2024_03_06_1422__CIV-12777_part_admit_accepted_claimant.sql
  src/main/resources/db/migration/V2024_03_08_1456__CIV-12813_full_admit_pay_immediately_no_payment_scenario.sql
  src/main/resources/db/migration/V2024_03_11_1608__CIV-12891_settlement_no_response_from_defendant.sql
  src/main/resources/db/migration/V2024_03_13_1608__CIV-12898_defendant_accepts_settlement_claimant.sql
  src/main/resources/db/migration/V2024_03_18_1315__CIV-12942_claim_settled_scenario.sql
  src/main/resources/db/migration/V2024_04_02_1429__CIV-13035-claimant-requested-judgment-by-admission.sql
  src/main/resources/db/migration/V2024_04_05_1207__CIV-13307_claimant_intent_mediation_successful.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4530

#4529 CIV-13408 notification for help with fees in review
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HelpWithFeeDashboardNoticeHandlerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HelpWithFeeDashboardNoticeHandler.java
  src/main/resources/db/migration/V2024_04_17_0854__CIV-13408_claimant_help_with_fees_in_review_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HelpWithFeeDashboardNoticeHandlerTest.java
Labels: ns:civil, prd:civil, aat/no-changes, rel:civil-service-pr-4529

#4605 CIV-0000 Fix CUI APi test error
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4605

#4439 CIV-11306 Upload documents
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/data/ScenarioRequestParams.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/UploadHearingDocumentsClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/UploadHearingDocumentsDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/DashboardCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/UploadHearingDocumentsClaimantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/UploadHearingDocumentsDefendantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_04_05_0001__CIV-11305_upload_hearing_documents_claimant_scenario.sql
  src/main/resources/db/migration/V2024_04_09_0001__CIV-11306_upload_hearing_documents_defendant_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/UploadHearingDocumentsClaimantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/UploadHearingDocumentsDefendantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4439, aat/add-or-update

#4568 CIV-13424 View and response link to wrong page
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponsePartFullAdmitInstallmentsOrgComClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitFullDefenceFullPaidClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitFullDefencePaidAlreadyPartialClaimantScenarioTest.java
  src/main/resources/db/migration/V2024_03_18_1456__CIV-13111_defendant_response_full_part_admit_installments_org_com_claimant_scenario.sql
  src/main/resources/db/migration/V2024_03_20_1231__CIV-13140_claimant_states_paid_in_full_scenario.sql
  src/main/resources/db/migration/V2024_03_21_1040__CIV-13162_defendant_response_part_admit_pay_already_claimant_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4568

#4611 CIV-13238 Fix govuk-link
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantAcceptDefendantSettlementAgreementScenarioTest.java
  src/main/resources/db/migration/V2024_03_07_1035__CIV_12821_ask_sign_settlement_agreement_defendant.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-4611

#4617 DTSCCI-017 reenable polling emitter
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4617

#4594 CIV-13436 CIV-13434 CIV-13157 CIV-13159
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/mock/MockTaskList.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantIntentMediationUnsuccessfulScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantFullDefenceFullDisputeClaimantCarmScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimantIntentMediationUnsuccesfulDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseFullDefenceDisputeAllCarmScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantIntentMediationUnsuccessfulHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/MediationUnsuccessfulDashboardNotificationDefendantHandler.java
  src/main/resources/db/migration/V2024_04_17_1030__CIV-13157_mediation_unsuccessful_claimant_nonattendance_carm.sql
  src/main/resources/db/migration/V2024_04_22_1145__CIV-13434-13436_defendant_respose_fulldefence_fulldispute_carm_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantIntentMediationUnsuccessfulHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/MediationUnsuccessfulDashboardNotificationDefendantHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4594

#4612 CIV-13621 - Bug fix for 13621 & 13625
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/CCJRequestedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseDeadlineScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CCJRequestedDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CCJRequestedDashboardNotificationDefendantHandler.java
  src/main/resources/db/migration/V2024_03_11_1608__CIV-12891_settlement_no_response_from_defendant.sql
  src/main/resources/db/migration/V2024_03_25_1606__CIV-13201_response_deadline_not_responded.sql
  src/main/resources/db/migration/V2024_04_02_1429__CIV-13035-claimant-requested-judgment-by-admission.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CCJRequestedDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CCJRequestedDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4612

#4602 CIV-0000 Feature branch - team 2A
  docker/docmosis/templates/CV-UNS-DEC-ENG-01379.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01378_13066.docx
  docker/docmosis/templates/CV-UNS-STD-ENG-01380_13066.docx
  src/main/java/uk/gov/hmcts/reform/civil/enums/sdo/AddOrRemoveToggle.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataCaseSdo.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/SdoDJR2TrialCreditHire.java
  src/main/java/uk/gov/hmcts/reform/civil/model/defaultjudgment/SdoDJR2TrialCreditHireDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dj/DefaultJudgmentSDOOrderForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoDocumentFormFast.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2FastTrackCreditHire.java
  src/main/java/uk/gov/hmcts/reform/civil/model/sdo/SdoR2FastTrackCreditHireDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentOrderFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4602

#4573 CIV-13261 Settlement agreement displaying inconsistent dates
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/ClaimantLiPResponse.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4573

#4510 CIV-9120 Add dashboard statuses
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CaseDataLiP.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/ResponseRepaymentDetailsForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4510

#4627 DTSCCI-066 Ambiguous State Errors
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngine.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4627

#4585 CIV-13574 added config for welsh value for payment service
  src/main/java/uk/gov/hmcts/reform/civil/service/FeesPaymentService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-4585
