Repository hmcts/civil-service, pull requests merged in 2025-05, with the labels that each got.

#6474 DTSCCI-2066 further changes
  src/main/java/uk/gov/hmcts/reform/civil/config/SecurityConfiguration.java
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, enable_keep_helm, pr_ft_dj, rel:civil-service-pr-6474

#6478 DTSCCI-2066 Custom Auth Filter for Health endpoints
  src/main/java/uk/gov/hmcts/reform/civil/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/filters/CustomAuthCheckerUserOnlyFilter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/filters/CustomAuthCheckerUserOnlyFilterTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-6478

#6496 DTSCCI-1850: adding logs to trace resp1 response deadline
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorForSpec.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6496

#6497 CIV-17039 Common properties changes
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/AppSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/ClaimantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/DefendantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/EmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/RespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/RespSolTwoEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/TemplateCommonPropertiesHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/adddefendantlitigantfriend/AddDefLitFriendAppSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/adddefendantlitigantfriend/AddDefLitFriendRespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/adddefendantlitigantfriend/AddDefLitFriendRespSolTwoEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimdismissed/ClaimDismissedAppSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimdismissed/ClaimDismissedRespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimdismissed/ClaimDismissedRespSolTwoEmailDTOGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/AppSolOneEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/EmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/RespSolOneEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/RespSolTwoEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/TemplateCommonPropertiesHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6497

#6463 CIV-16888 - check for english to welsh flowflags
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6463

#6479 CIV-17119 updated script translated document for applicant dashboard …
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationTranslatedDocUploadedScenarioTest.java
  src/main/resources/db/migration/V2025_05_01_1348__CIV-17119_update_ga_transalated_doc_url_for_applicant.sql
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-6479

#6439 CIV-17033 - Add data for claim list columns
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/RespondentResponseDeadlineCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/createclaim/SubmitClaimTask.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/AboutToSubmitRespondToDefenceTask.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseListSolicitorReferenceUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/RespondentResponseDeadlineCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateForSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/createclaim/SubmitClaimTaskTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/AboutToSubmitRespondToDefenceTaskTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseListSolicitorReferenceUtilsTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-6439

#6441 CIV-17028 fix bug instalments amount
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimantresponse/JudgmentByAdmissionOrDeterminationMapper.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-6441

#6498 DTSCCI-1886: applicant user null fix
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationForClaimantRepresented.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationForClaimantRepresentedTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-6498

#6477 CIV-16892 Claimant Response - Show document following translation upload
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategy.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/UploadTranslatedDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategyTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6477

#6468 CIV-17074 LR Defendent Response confirmation screen link removal
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/RepayPlanConfirmationText.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6468

#6411 CIV-16980 Fix SOT on LIP Claim issue when Organization/Company
  docker/docmosis/templates/CV-SPC-CLM-ENG-01065-LIP.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-CLAIMANT-CLAIM-FORM.docx
  docker/docmosis/templates/CV-SPC-CLM-ENG-DEFENDANT-CLAIM-FORM.docx
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimFormMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimLipResponseForm.java
  src/test/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimFormMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimLipResponseFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6411

#6396 DTSCCI-1908: include other documents in bundle
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/BundleFileNameList.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestMapperTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-6396

#6450 DTSCCI-2045: Refactor generate_order.bpmn and court_officer_order.bpmn with generic notify_event
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/AllLegalRepsEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/AllPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/CamundaProcessIdentifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/EmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/LRvLipEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/LipvLREmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/LipvLipEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/Notifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/PartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generateordercourtofficerorder/CourtOfficerOrderNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generateordercourtofficerorder/GenerateOrderCOOAllPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generateordercourtofficerorder/GenerateOrderCOOAppSolEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generateordercourtofficerorder/GenerateOrderCOOClaimantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generateordercourtofficerorder/GenerateOrderCOODefendantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generateordercourtofficerorder/GenerateOrderCOOResp1EmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generateordercourtofficerorder/GenerateOrderCOOResp2EmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generateordercourtofficerorder/GeneratorOrderNotifier.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/AllLegalRepsEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/AllPartiesEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/EmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/LRvLipEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/LipvLREmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/LipvLipEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/NotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generateordercourtofficerorder/CourtOfficerOrderNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generateordercourtofficerorder/GenerateOrderCOOAppSolEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generateordercourtofficerorder/GenerateOrderCOOClaimantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generateordercourtofficerorder/GenerateOrderCOODefendantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generateordercourtofficerorder/GenerateOrderCOOResp1EmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generateordercourtofficerorder/GenerateOrderCOOResp2EmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generateordercourtofficerorder/GenerateOrderNotifierTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6450

#6495 CIV-16861 Hide/show interlocutory judgment document
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateInterlocutoryJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategy.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/welshenhancements/PreTranslationDocumentType.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateInterlocutoryJudgementHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategyTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6495

#6398 DTSCCI-1526 Refactored acknowledge claim unspec notifications into one file
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/AppSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/CamundaProcessIdentifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecAllLegalRepsEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecAppSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecRespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecRespSolTwoEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PartyUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecAppSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecRespSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecRespSolTwoEmailDTOGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6398

#6476 CIV-17075 - populate field totalClaimAmountPlusInterest
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6476, civilDefinitionBranch:feat/CIV-17075

#6536 DTSCCI-2198 Dashboard notification flag should be enabled only if it is spec case
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6536

#6327 DTSCCI-1074 - Document Removal Implementation - minor modifications
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/documentremoval/DocumentRemovalHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documentremoval/DocumentToKeep.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentremoval/DocumentRemovalCaseDataDTO.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentremoval/DocumentRemovalService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/documentremoval/DocumentRemovalHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/documentremoval/DocumentRemovalServiceTest.java
Labels: ns:civil, prd:civil, pr-values:elasticsearch, enable_keep_helm, pr_ft_dj, aat/destroy, prod/destroy, rel:civil-service-pr-6327

#6531 CIV-17083 Update language preference after NoC
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6531

#6532 CIV-17167 - Fix Query Document Message Dates
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateQueryDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/querymanagement/DocumentQueryMessage.java
  src/main/java/uk/gov/hmcts/reform/civil/model/querymanagement/CaseMessage.java
  src/main/java/uk/gov/hmcts/reform/civil/service/QueryDocumentGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateQueryDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyOtherPartyQueryHasResponseNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/QueryResponseSolicitorNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RaiseQueryCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/docmosis/querymanagement/DocumentQueryMessageTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/docmosis/querymanagement/QueryDocumentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/querymanagement/CaseQueriesCollectionTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/QueryDocumentGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseQueriesUtilTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6532, civilDefinitionBranch:feat/civ17167

#6535 DTSCCI-2144: Simplify AllPartiesEmailGenerator
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/AllPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecAllLegalRepsEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecAppSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/adddefendantlitigantfriend/AddDefLitFriendAllLegalRepsEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimdismissed/ClaimDismissedAllLegalRepsEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimdismissed/ClaimDismissedRespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimdismissed/ClaimDismissedRespSolTwoEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generateordercourtofficerorder/GenerateOrderCOOAllPartiesEmailGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/AllLegalRepsEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/AllPartiesEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/NotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecAppSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecRespSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecRespSolTwoEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/claimdismissed/ClaimDismissedAllLegalRepsEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/claimdismissed/ClaimDismissedAppSolOneEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/claimdismissed/ClaimDismissedRespSolOneEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/claimdismissed/ClaimDismissedRespSolTwoEmailGeneratorTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, pr_ft_dj, rel:civil-service-pr-6535

#6511 CIV-16865 Hide/unhide settlement agreement
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateSettlementAgreementFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategy.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocumentType.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateSettlementAgreementFormCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategyTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6511

#6274 DTSCCI-1700 migrate case location epim id
  src/main/java/uk/gov/hmcts/reform/civil/handler/RetriggerUpdateLocationDataHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/RetriggerUpdateLocationCasesTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/RetriggerUpdateLocationDataHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataServiceV2Test.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6274

#6491 CIV-17077 defendant LR FullAdmit response sealed form update
  docker/docmosis/templates/CV-SPC-HRN-ENG-01363.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01364.docx
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/ResponseRepaymentDetailsForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimLipResponseForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6491

#6521 CIV-17104 LR Part Admit Def Response admission amount screen
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6521, civilDefinitionBranch:feat/CIV-17104

#6473 CIV-16857 Send bulk print depending on language preference
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6473

#6544 DTSCCI-2199: fix respondend1 dealine calculation
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorForSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimFormForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DeadlinesCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorForSpecTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-6544

#6514 DTSCCI-2135: Reset notifier pin refactor
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResetPinCUICallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/DefendantPinToPostLRspec.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/BaseNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/Notifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/resetpin/ResetPinDefendantLipEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/resetpin/ResetPinDefendantLipEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/resetpin/ResetPinDefendantLipNotifier.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResetPinCUICallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/BaseNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/resetpin/ResetPinDefendantLipEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/resetpin/ResetPinDefendantLipEmailGeneratorTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, pr_ft_dj, rel:civil-service-pr-6514

#6506 DTSCCI-2024: add caseman number in free and assisted form
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/casepogression/JudgeFinalOrderForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/caseprogression/helpers/CaseInfoPopulator.java
Labels: ns:civil, prd:civil, stale, enable_keep_helm, pr_ft_cos, rel:civil-service-pr-6506

#6504 DTSCCI-1064: Amend the logic for spec claims
  src/main/java/uk/gov/hmcts/reform/civil/helpers/LocationHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/LocationService.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/LocationHelperTest.java
Labels: ns:civil, prd:civil, stale, enable_keep_helm, rel:civil-service-pr-6504

#6567 DTSCCI-2144 DTSCCI-2145 Refactor notify claim.bpmn and notify claim details bpmn to use generic notify event
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/CamundaProcessIdentifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/RespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/RespSolTwoEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/caseproceedsoffline/CaseProceedOfflineAllPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/caseproceedsoffline/CaseProceedOfflineAllPartiesNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/caseproceedsoffline/CaseProceedOfflineAppSolEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaim/NotifyClaimAllPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaim/NotifyClaimAllPartiesNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaim/NotifyClaimAppSolEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaim/NotifyClaimHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaim/NotifyClaimRespOneSolEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaim/NotifyClaimRespSolTwoEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaimdetails/NotifyClaimDetailsAllPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaimdetails/NotifyClaimDetailsAllPartiesNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaimdetails/NotifyClaimDetailsAppSolEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaimdetails/NotifyClaimDetailsHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaimdetails/NotifyClaimDetailsRespOneSolEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaimdetails/NotifyClaimDetailsRespSolTwoEmailDTOGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/caseproceedsoffline/CaseProceedOfflineAllPartiesNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/caseproceedsoffline/CaseProceedOfflineAppSolEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaim/NotifyClaimAllPartiesNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaim/NotifyClaimAppSolEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaim/NotifyClaimHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaim/NotifyClaimRespOneSolEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaim/NotifyClaimRespSolTwoEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaimdetails/NotifyClaimDetailsAllPartiesNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaimdetails/NotifyClaimDetailsAppSolEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaimdetails/NotifyClaimDetailsHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaimdetails/NotifyClaimDetailsRespOneSolEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyclaimandclaimdetails/notifyunspecclaimdetails/NotifyClaimDetailsRespSolTwoEmailDTOGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6567

#6573 DTSCCI-2243 Implement failed tests in PR
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  bin/run-api-tests.sh
  bin/run-nightly-api-tests.sh
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6573

#6570 CIV-17201 - Update address + seals on discontinuance
  docker/docmosis/templates/CV-SPC-GNO-ENG-SD0001.docx
  docker/docmosis/templates/CV-SPC-GNO-WEL-SD0001.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDiscontinueClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/settlediscontinue/NoticeOfDiscontinuanceFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDiscontinueClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/settlediscontinue/NoticeOfDiscontinuanceFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6570

#6553 CIV-16880 Hide/unhide court officer order
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CourtOfficerOrderHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategy.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataCaseProgression.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SystemGeneratedDocumentService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CourtOfficerOrderHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategyTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SystemGeneratedDocumentServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6553
