Repository hmcts/civil-service, pull requests merged in 2025-03, with the labels that each got.

#6033 DTSCCI-1478: fix claim type in rpa json for damage claim
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/main/resources/schema/rpa-json-schema.json
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6033

#6104 DTSCCI-1362 Add 16 digit ccd claim reference number to claim form
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimFormMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimFormForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimLipResponseForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimResponseFormForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/LitigantInPersonFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/helpers/ReferenceNumberAndCourtDetailsPopulator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DocmosisTemplateDataUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimFormMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimLipResponseFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/helpers/ReferenceNumberAndCourtDetailsPopulatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/DocmosisTemplateDataUtilsTest.java
Labels: ns:civil, prd:civil, pr-values:elasticsearch, enable_keep_helm, rel:civil-service-pr-6104

#6204 DTSCCI-1691 Bump deprecated java chart
  charts/civil-service/Chart.yaml
Labels: ns:civil, prd:civil, pr_ft_spec-cui, rel:civil-service-pr-6204

#6191 CIV-16638 Added new event to trigger main case from ga
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/ProcessGaCaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/ProcessGaCaseEventExternalTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ProcessGaCaseEventTaskHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6191

#6147 DTSCCI-1579 Revisit Suppression Vulnerabilities - NVD Checker PR Merge Issue
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, pr_ft_spec-cui, rel:civil-service-pr-6147

#6127 CIV-16601 Paid in full queens court seal
  docker/docmosis/templates/CV-SPC-GNO-ENG-SD0001.docx
  docker/docmosis/templates/CV-SPC-GNO-ENG-SD0002.docx
  docker/docmosis/templates/CV-SPC-GNO-WEL-SD0001.docx
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-6127

#6199 CIV-15988 full admit states paid for lrs
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/show/DefendantResponseShowTag.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6199

#6165 CIV-15994 - LR full admissions confirmation screens where claimant is LiP
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/FullAdmitSetDateConfirmationText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/PartialAdmitPayImmediatelyConfirmationText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/RepayPlanConfirmationText.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToClaimConfirmationTextSpecGeneratorTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-6165

#6188 CIV-16607 amendments to Welsh translations for ga CUI
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationApplicantRequestsHwfScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationHwfFeePaidTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationHwfInvalidReferenceScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationHwfMoreInfoScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationHwfPartialRemittanceScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationHwfRejectedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationPayAdditionalFeeScenarioTest.java
  src/main/resources/db/migration/V2025_02_25_1300__CIV-16607_update_welsh.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-6188

#6228 CIV-16409 should throw error for claimant response
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/LIPClaimSettledCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/LIPClaimSettledCallBackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6228

#6217 CIV-16472 added changed to allow application
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6217

#6206 CIV-16675 remove caseworker events feature toggle
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/CaseEventsDashboardBaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/CaseDismissScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/CourtOfficerOrderClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/StayCaseClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/StayLiftedClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CaseDismissScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CourtOfficerOrderDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/StayCaseDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/StayLiftedDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEventsDashboardCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ConfirmOrderReviewNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseDismissClaimantDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CourtOfficerOrderClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/StayCaseClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/StayLiftedClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseDismissDefendantDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CourtOfficerOrderDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/StayCaseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/StayLiftedDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractCaseDismissDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ConfirmOrderReviewCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CourtOfficerOrderHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DismissCaseCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageStayCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/OrderReviewObligationCheckCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StayCaseCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/createclaim/SubmitClaimTask.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/ManageStayWATaskSchedulerHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/OrderReviewObligationCheckHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseDismissClaimantDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ConfirmOrderReviewClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CourtOfficerOrderClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/StayCaseClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/StayLiftedClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseDismissDefendantDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ConfirmOrderReviewDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CourtOfficerOrderDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/StayCaseDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/StayLiftedDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ConfirmOrderReviewCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CourtOfficerOrderHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DismissCaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageStayCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/OrderReviewObligationCheckCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StayCaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/createclaim/SubmitClaimTaskTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ManageStayWATaskSchedulerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/OrderReviewObligationCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6206

#6232 CIV-16746 Make address fit in window
  docker/docmosis/templates/CV-UNS-GAP-ENG-01080.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01081.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01082.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01083.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01084.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01085.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01086.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01087.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01088.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01089.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01090.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-0110.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-6232

#6210 CIV-16691 Dashboard notifications for proceeds online
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationProceedOfflineClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/respondent/GeneralApplicationProceedOfflineDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/generalapplications/ApplicationsProceedOfflineNotificationCallbackHandler.java
  src/main/resources/db/migration/V2025_02_27_1007__CIV_16691_update_general_application_proceed_offline_applicant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/generalapplications/ApplicationsProceedOfflineNotificationCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6210

#6226 CIV-16476 - Lip v LR - After Default Judgment, two Judgment tab appears in XUI
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6226

#6216 CIV-16009 New text for docs being translated
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/Claim.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatus.java
  src/main/java/uk/gov/hmcts/reform/cmc/model/CmcClaim.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6216

#6214 CIV-16008 Allow pause after claimant intention for Welsh LiP v LR
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategy.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimSubmittedTransitionBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategyTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimSubmittedTransitionBuilderTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6214

#6143 CIV-16544 Storing documents in CFV
  src/main/java/uk/gov/hmcts/reform/civil/enums/DocCategory.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RaiseQueryCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondQueryCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/querymanagement/CaseMessage.java
  src/main/java/uk/gov/hmcts/reform/civil/model/querymanagement/LatestQuery.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseQueriesUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RaiseQueryCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseQueriesUtilTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6143

#6241 CIV-16567 added code to allow ga application for lipvslr
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6241

#6182 CIV-16634 Query attachments CFV subfolders
  src/main/java/uk/gov/hmcts/reform/civil/enums/DocCategory.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RaiseQueryCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondQueryCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseQueriesUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RaiseQueryCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseQueriesUtilTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6182

#6215 DTSCCI-1699 fix assign events with wrong processing callback stage
  Jenkinsfile_CNP
  README.md
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToApplicantSolicitorCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToLipUserHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToApplicantSolicitorCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToLipUserHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6215, civilDefinitionBranch:DTSCCI-1699

#5997 DTSCCI-1074 Document Removal functionality
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/SecuredDocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/CaseDocumentToKeep.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/documentremoval/DocumentRemovalHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documentremoval/DocumentToKeep.java
  src/main/java/uk/gov/hmcts/reform/civil/model/documentremoval/DocumentToKeepCollection.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentremoval/DocumentDeleteException.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentremoval/DocumentRemovalService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/documentmanagement/SecuredDocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/documentremoval/DocumentRemovalHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/documentremoval/DocumentRemovalServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, aat/no-changes, prod/no-changes, pr_ft_dj, rel:civil-service-pr-5997

#6293 DTSCCI-1699 Fix sup data
  bin/add-roles.sh
  bin/utils/ccd-import-definition.sh
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToApplicantSolicitorCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToApplicantSolicitorCallbackHandlerTest.java
Labels: ns:civil, prd:civil, civilDefinitionBranch:DTSCCI-1699, rel:civil-service-pr-6293

#6279 CIV-16766 Set eaCourtLocation to YES when LiP v LR
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6279

#6295 DTSCCI-1699 adding sup data to submitted
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToApplicantSolicitorCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToApplicantSolicitorCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6295, civilDefinitionBranch:DTSCCI-1699-fix_submitted

#6297 DTSCCI-1699 revert
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToLipUserHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseassignment/AssignCaseToLipUserHandlerTest.java
Labels: ns:civil, prd:civil, civilDefinitionBranch:DTSCCI-1699, rel:civil-service-pr-6297

#6303 DTSCCI-0000 Improve error message
  src/main/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtils.java
Labels: ns:civil, prd:civil, pr_ft_spec-cui, rel:civil-service-pr-6303

#6249 CIV-16219 settle claim LR notification email
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantsClaimantSettleTheClaim.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantsClaimantSettleTheClaimTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLIPDefendantClaimantSettleTheClaimTest.java
Labels: ns:civil, prd:civil, aat/no-changes, prod/no-changes, rel:civil-service-pr-6249

#6250 CIV-16753 Judgment Tab fix
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/DetermineNextState.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentOnlineMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetAsideJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/DetermineNextStateTest.java
Labels: ns:civil, prd:civil, aat/no-changes, prod/no-changes, rel:civil-service-pr-6250

#6168 CIV-16255 claimant is not proceeding
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedLiPRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullDefenceTransitionBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedLiPRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6168

#6267 CIV-16586 added code changes for claimant lip email notifications
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseProceedOfflineClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanApplicantNotificationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanRespondentNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CaseProceedsInCasemanCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseProceedOfflineClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/CaseProceedsInCasemanApplicantNotificationCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6267

#6320 CIV-16843 updated flow state condition to fix ambiguous error
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullDefenceTransitionBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6320

#6205 CIV-16672 GA in settle/discontinue states
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimStateAfterUploadingTranslatedDocuments.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimantIntentionClaimStateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DiscontinueClaimClaimantCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/AboutToSubmitRespondToDefenceTask.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/LocationService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/LocationServiceTest.java
Labels: ns:civil, prd:civil, aat/no-changes, prod/no-changes, rel:civil-service-pr-6205

#6291 CIV-16782 add CCJ defendant not paid check
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/JudgmentSubmittedConfHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/JudgmentSubmittedConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6291

#6116 DTSCCI-1496 calculate claim interest endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/fees/FeesControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/fees/FeesController.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimFormMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimFormMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6116

#6334 CIV-16911 - CUI GA - Error when submitting event INITIATE_GENERAL_APPLICATION
  bin/add-roles.sh
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TakeCaseOfflineCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6334

#6196 CIV-16321 add lipvLR sdo
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandler.java
Labels: ns:civil, prd:civil, aat/no-changes, prod/no-changes, rel:civil-service-pr-6196

#6333 CIV-16842 - add allocated-judge to prevent error for CJ
  src/main/java/uk/gov/hmcts/reform/civil/service/SendAndReplyMessageService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6333

#6302 CIV-16397 - Defendant LR event history/Prevent Defendant LR access to the claimant's claim form
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandlerTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-6302

#6317 CIV-16779 CoSC page accessible when Welsh flag applied
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6317

#6331 CIV-16904 - add rather than replace systemGeneratedDocuments
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCoscDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCoscDocumentHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6331

#5980 DTSCCI-985 - Integrate with ccd event message queue
  build.gradle
  charts/civil-service/Chart.yaml
  charts/civil-service/values.preview.template.yaml
  charts/civil-service/values.yaml
  infrastructure/ccd-event-service-bus.tf
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/civil/client/CcdCaseEventsConsumer.java
  src/main/java/uk/gov/hmcts/reform/civil/config/CcdEventServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/config/ExecutorServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddCaseNoteCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/message/AddCaseNoteMessageHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/message/CcdEventMessageHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/Result.java
  src/main/java/uk/gov/hmcts/reform/civil/model/message/AdditionalData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/message/CcdEventMessage.java
  src/main/java/uk/gov/hmcts/reform/civil/model/message/CcdServiceBusMessage.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CaseTaskTrackingService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/servicebus/CcdCaseEventsExecutor.java
  src/main/java/uk/gov/hmcts/reform/civil/service/servicebus/CcdEventMessageReceiverService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/client/CcdCaseEventsConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/AddCaseNoteCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/message/AddCaseNoteMessageHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CaseTaskTrackingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/servicebus/CcdEventMessageReceiverServiceTest.java
Labels: ns:civil, prd:civil, aat/add-or-update, prod/add-or-update, rel:civil-service-pr-5980

#6120 CIV-16581 Cosc Welsh Doc
  docker/docmosis/templates/CV-SPC-STD-ENG-N441A.docx
  docker/docmosis/templates/CV-SPC-STD-WEL-N441A.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCoscDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/cosc/CertificateOfDebtForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/claimantresponse/RequestJudgmentByAdmissionOrDeterminationResponseDocGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/cosc/CertificateOfDebtGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCoscDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/CertificateOfDebtGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6120

#6362 DTSCCI-1887 delete dashboard api client
  src/main/java/uk/gov/hmcts/reform/civil/client/DashboardApiClient.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6362

#6363 DTSCCI-1796 Logging
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
Labels: ns:civil, prd:civil, pr-values:elasticsearch, enable_keep_helm, rel:civil-service-pr-6363

#6343 CIV-16935 Enable the CW 'Settle this claim' event for LiP claims
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6343

#6367 DTSCCI-1892 reduce em log
  charts/civil-service/Chart.yaml
  charts/civil-service/values.preview.template.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-6367

#6348 CIV-16943 - Pass supported roles to roleLabels call
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/service/SendAndReplyMessageService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendAndReplyMessageServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6348

#6345 DTSCCI-1712 Mediation Unsuccessful dashboard
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6345
