Repository hmcts/civil-service, pull requests merged in 2025-01, with the labels that each got.

#5947 CIV-16291 Notify defendant Lip - marked as paid in full
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/SettleClaimMarkedPaidInFullDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/SettleClaimPaidInFullDefendantDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/resources/db/migration/V2024_12_19_1625__CIV_16291_settle_claim_paid_in_full_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/SettleClaimPaidInFullDefendantDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5947

#5901 CIV-15754 LR JbA Live Feed
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/DetermineNextState.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/DetermineNextStateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5901

#5925 CIV-16292 Defendant Lip Dashboard Notification-discontinued
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantNoticeOfDiscontinuanceScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantNotifyDiscontinuanceDashboardNotificationHandler.java
  src/main/resources/db/migration/V2024_12_20_1125__CIV_16292_notice_of_discontinue_issued_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantNotifyDiscontinuanceDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5925

#5921 CIV-15959 - Defendant Notice of Change submission - Check case state
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/SimpleStateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineUnspecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilderTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5921

#5948 CIV-15998 - Check defendant LR response upon submission of defendant response to claimant LiP
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5948

#5966 DTSCCI-1350: remove old service
  src/main/java/uk/gov/hmcts/reform/civil/service/stitching/CivilDocumentStitchingService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/stitching/CivilDocumentStitchingServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5966

#5964 CIV-16333 welsh translation
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/applicant/GaProcessedApplicantNotificationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationApplicantRequestsHwfScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationHwfPartialRemittanceScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/generalapplication/applicant/GeneralApplicationPayAdditionalFeeScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/respondent/GaProcessedRespondentNotificationTest.java
  src/main/resources/db/migration/V2025_01_02_1300__CIV-16316_update_welsh_translations.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-5964

#5936 DTSCCI-1364: chart upgrade
  charts/civil-service/Chart.yaml
  charts/civil-service/values.preview.template.yaml
Labels: ns:civil, prd:civil, stale, enable_keep_helm, rel:civil-service-pr-5936

#5974 DTSCCI-1364: ccd chart upgrade
  charts/civil-service/values.aat.template.yaml
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5974

#5887 CIV-15265 Order Review Obligation Check
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/event/OrderReviewObligationCheckEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ConfirmOrderReviewCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/OrderReviewObligationCheckCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/event/OrderReviewObligationCheckEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/OrderReviewObligationCheckHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/ObligationData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/OrderReviewObligationSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/OrderReviewObligationCheckExternalTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/OrderReviewObligationCheckCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/OrderReviewObligationCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/OrderReviewObligationSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5887

#5919 CIV-15613 Order Review Obligation Changes
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageStayCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/OrderReviewObligationCheckCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/ObligationWAFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/OrderReviewObligationSearchService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ManageStayCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/OrderReviewObligationCheckCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/OrderReviewObligationSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5919

#5930 CIV-15614 - add obligations to notes tab
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ConfirmOrderReviewCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/ConfirmOrderReviewTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/StoredObligationData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ConfirmOrderReviewCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/OrderReviewObligationCheckCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ConfirmOrderReviewTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/OrderReviewObligationCheckHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5930

#5951 CIV-16289 Add welsh notice of discontinuance
  docker/docmosis/templates/CV-SPC-GNO-ENG-SD0002.docx
  docker/docmosis/templates/CV-SPC-GNO-WEL-SD0001.docx
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/settleanddiscontinue/NoticeOfDiscontinuanceForm.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/settlediscontinue/NoticeOfDiscontinuanceFormGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/settlediscontinue/NoticeOfDiscontinuanceFormGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5951

#5922 CIV-15869 leave state make and order
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5922

#5986 DTSCCI-1380: npe fix in sdo event
  src/main/java/uk/gov/hmcts/reform/civil/utils/MediationUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/MediationUtilsTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5986

#5944 CIV-16286 Order Made Dashboard Status
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/DashboardClaimStatusFactoryTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5944

#5865 CIV-15646 coo dashboard notification
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/CourtOfficerOrderClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/CourtOfficerOrderDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CourtOfficerOrderClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingScheduledClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CourtOfficerOrderDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/HearingScheduledDefendantNotificationHandler.java
  src/main/resources/db/migration/V2025_01_08_1200__CIV-15646-court_officer_order_claimant.sql
  src/main/resources/db/migration/V2025_01_08_1205__CIV-15646-court_officer_order_defendant.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CourtOfficerOrderClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/HearingScheduledClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CourtOfficerOrderDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/HearingScheduledDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5865

#5994 DTSCCI-1430: Evidence not pulling through to claim form
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimFormMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimFormMapperTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5994

#5975 CIV-15966 - Update claimant LiP 'View info about the defendant' screen with defendant LR details.
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/RespondentSolicitorDetails.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5975

#5880 CIV-15789 Cleanup MCI Toggle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertasks/SetApplicantResponseDeadline.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/AboutToSubmitRespondToDefenceTask.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/UnavailabilityDatesUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/AboutToSubmitRespondToDefenceTaskTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingsPartyMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/UnavailabilityDatesUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5880

#5982 CIV-16063 - Default Judgment : No document generation for LiP vs LR claims
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CCJRequestedDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDJFormHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CCJRequestedDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDJFormHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5982

#5990 DTSCCI-1379 DEFENDANT_RESPONSE_DEADLINE_CHECK event not checking if there is an ongoing process
  src/main/java/uk/gov/hmcts/reform/civil/service/search/DefendantResponseDeadlineCheckSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/ElasticSearchService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/DefendantResponseDeadlineCheckSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5990

#5984 DTSCCI-1053 aspect for logging
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/advice/ControllerExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/advice/UncaughtExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/config/AsyncHandlerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/config/MvcConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/filters/RequestFilter.java
  src/main/java/uk/gov/hmcts/reform/civil/interceptors/RequestInterceptor.java
  src/main/java/uk/gov/hmcts/reform/civil/request/CacheAwareRequestData.java
  src/main/java/uk/gov/hmcts/reform/civil/request/RequestData.java
  src/main/java/uk/gov/hmcts/reform/civil/request/RequestDataCache.java
  src/main/java/uk/gov/hmcts/reform/civil/request/SimpleCallbackRequest.java
  src/main/java/uk/gov/hmcts/reform/civil/request/SimpleCaseDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/request/SimpleRequestData.java
  src/main/java/uk/gov/hmcts/reform/civil/request/servlet/CachedBodyHttpServletRequest.java
  src/main/java/uk/gov/hmcts/reform/civil/request/servlet/CachedBodyServletInputStream.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/ContentCachingRequestWrapperUtil.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JsonUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/advice/ResourceExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/advice/UncaughtExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/config/MvcConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/civil/controllers/RequestInterceptorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/request/RequestDataTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5984

#5945 CIV-15871 Confirm order review update tasklist
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ConfirmOrderReviewClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ConfirmOrderReviewDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ConfirmOrderReviewCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ConfirmOrderReviewClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ConfirmOrderReviewDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5945

#5989 CIV-15999 Send generic email to claimant LiP when defendant LR submits full defence response to the claim
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceApplicantSolicitorOneSpecNotifier.java
  src/test/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/fulldefence/FullDefenceApplicantSolicitorOneSpecNotifierTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5989

#6006 CIV-16263 Update full stop
  src/main/resources/db/migration/V2025_01_13_1643__CIV-16263-update-description.sql
Labels: ns:civil, prd:civil

#6007 CIV-16216 updated the font
  docker/docmosis/templates/CV-UNS-GAP-ENG-01077.docx
Labels: ns:civil, prd:civil

#5992 CIV-16345 Defendant Lip - Dashboard notification for View and Respond to pay immediately
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantResponseDefendantNotificationScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5992

#5970 CIV-16351 Update on Event Code 240
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/DetermineNextState.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/DetermineNextStateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5970

#6012 CIV-16432 Update delete list for addl fee required
  src/main/resources/db/migration/V2025_01_14_1239__CIV-16432-update_additional_fee_required_delete_list.sql
Labels: ns:civil, prd:civil

#5988 CIV-15956 Fix specResponseTimelineDocumentFiles field type
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimResponseFormGeneratorForSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5988

#5987 CIV-16244 - Dashboard status for CUI AHN
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5987

#6015 CIV-16259 respondent judgement notification
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJRespondentReceivedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJRespondentReceivedNotificationHandlerTest.java
Labels: ns:civil, prd:civil

#6000 CIV-15962 Dashboard notification for defendant noc
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantNocScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseFullPartAdmitAfterNocClaimantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantNocDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/main/resources/db/migration/V2025_01_15_1107__CIV-15962_defendant_noc_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantNocDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandlerTest.java
Labels: ns:civil, prd:civil

#6019 DTSCCI-1463 Add logging
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationService.java
Labels: ns:civil, prd:civil

#6029 DTSCCI-1475: Callback url logged
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
Labels: ns:civil, prd:civil

#6030 DTSCCI-1471: allow citizen claim issue payment on given flowstate
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil

#6017 CIV-12065 DefendantLip response form - added amount they owe
  docker/docmosis/templates/CV-SPC-CLM-ENG-01065-LIP.docx
Labels: ns:civil, prd:civil

#5977 CIV-15753 Judgment by Admission - modify Submission screen
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/PayImmediatelyConfText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/PayImmediatelyHeader.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/AboutToSubmitRespondToDefenceTask.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/DetermineNextState.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullAdmissionTransitionBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToResponseConfirmationHeaderGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/RespondToResponseConfirmationTextGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/AboutToSubmitRespondToDefenceTaskTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/DetermineNextStateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5977

#6011 CIV-16392 Lip Stitch cover letter with SDO doc
  docker/docmosis/templates/CV-SPC-STD-ENG-COVER-LETTER.docx
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sdo/SdoCoverLetter.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoCoverLetterAppendService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoCoverLetterAppendServiceTest.java
Labels: ns:civil, prd:civil

#5525 DTSCCI-949 fix interest calculator
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDJFormHandlerSpecNonDivergent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/createclaim/SubmitClaimTask.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimantresponse/JudgmentByAdmissionOrDeterminationMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimFormMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dj/DefaultJudgmentForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/sealedclaim/SealedClaimFormForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentFormBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentFormBuilderBase.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/JudgmentAmountsCalculator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/NonImmediatePaymentTypeDefaultJudgmentFormBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/StandardDefaultJudgmentBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/nondivergent/NonDivergentSpecDefaultJudgementFormBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/nondivergent/NonDivergentSpecDefaultJudgmentFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorForSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/AddressUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DefaultJudgmentUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/InterestCalculator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudgmentOnlineUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDJFormHandlerSpecNonDivergentTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DJCaseworkerReceivedNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/createclaim/SubmitClaimTaskTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/DefaultJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/EditJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentPaidOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/docmosis/claimform/ClaimFormMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentFormBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/JudgmentAmountsCalculatorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/NonImmediatePaymentTypeDefaultJudgmentFormBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/nondivergent/NonDivergentSpecDefaultJudgmentFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorForSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/AddressUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/DefaultJudgmentUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/InterestCalculatorTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, pr_ft_spec-full-defence

#6039 CIV-16244 - dashboard status update for AHN case
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
Labels: ns:civil, prd:civil

#5998 CIV-16387 - use finalOrderFutureHearingToggle for assisted order
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/BaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5998

#6021 CIV-15898 - Changes to GA journey where Bilingual Flag on case - Response to change in practice direction
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
Labels: ns:civil, prd:civil

#5963 CIV-15686 Query Management
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RaiseQueryCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondQueryCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/querymanagement/CaseMessage.java
  src/main/java/uk/gov/hmcts/reform/civil/model/querymanagement/CaseQueriesCollection.java
  src/main/java/uk/gov/hmcts/reform/civil/model/querymanagement/LatestQuery.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseQueriesUtil.java
Labels: ns:civil, prd:civil

#6008 DTSCCI-1039: Add frequency to income and expenses
  docker/docmosis/templates/CV-SPC-CLM-ENG-01065-LIP.docx
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/common/ReasonMoneyTemplateData.java
Labels: ns:civil, prd:civil

#6044 DTSCCI-1475: Add more logging to payment service request call
  src/main/java/uk/gov/hmcts/reform/civil/service/PaymentsService.java
Labels: ns:civil, prd:civil, pr_ft_spec-cui

#5954 CIV-16290 Mark Claim as Paid in Full: Send Bi Lingual Welsh letter if defendant is Welsh/bilingual
  docker/docmosis/templates/CV-SPC-LET-ENG-LIP-SD0001.docx
  docker/docmosis/templates/CV-SPC-LET-WEL-LIP-SD0001.docx
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/SettleClaimMarkedPaidInFullLiPDefendant1LetterHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/hearingsmappings/HearingDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/settleanddiscontinue/SettleClaimMarkedPaidInFullDefendantLiPLetter.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoCoverLetterAppendService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/settleanddiscontinue/SettleClaimMarkedPaidInFullDefendantLiPLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/documentmanagement/DocumentDownloadService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoCoverLetterAppendServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/settleanddiscontinue/SettleClaimMarkedPaidInFullDefendantLiPLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/documentmanagement/DocumentDownloadServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5954

#6040 DTSCCI-1479: Fix NullPointer exception
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertasks/UpdateDataRespondentDeadlineResponse.java
Labels: ns:civil, prd:civil

#6059 DTSCCI-1475: Add further logging to diagnose payments issue
  charts/civil-service/Chart.yaml
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.enableHelm.template.yaml
  charts/civil-service/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/civil/service/FeesPaymentService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UpdatePaymentStatusService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeesPaymentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UpdatePaymentStatusServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6059

#5866 DTSCCI-1250 dedupe multiple WA tasks
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BundleCreationTriggerHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/ClaimDismissedHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CoscApplicationProcessorHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CvpJoinLinkSchedulerHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/DecisionOutcomeHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/DefendantResponseDeadlineCheckHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/EvidenceUploadCheckHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/FullAdmitPayImmediatelyNoPaymentFromDefendantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/HearingFeeDueHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/ManageStayWATaskSchedulerHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/OrderReviewObligationCheckHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/RequestForReconsiderationNotificationDeadlineHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/SettlementNoResponseFromDefendantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/TakeCaseOfflineHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/TrialReadyCheckHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/TrialReadyNotificationCheckHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/ElasticSearchService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/BundleCreationTriggerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ClaimDismissedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CoscApplicationProcessorHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CvpJoinLinkSchedulerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/DecisionOutcomeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/DefendantResponseDeadlineCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/EvidenceUploadCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/HearingFeeDueHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/ManageStayWATaskSchedulerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/OrderReviewObligationCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PollingEventEmitterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/RequestForReconsiderationNotificationDeadlineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/SettlementNoResponseFromDefendantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TakeCaseOfflineHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TrialReadyCheckHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/TrialReadyNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/ElasticSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5866

#6050 CIV-16455 Update address positions in JO docs
  docker/docmosis/templates/CV-CMC-LET-ENG-LIP-JO0001.docx
  docker/docmosis/templates/CV-CMC-LET-ENG-LIP-JO0003.docx
  docker/docmosis/templates/CV-CMC-LET-ENG-LIP-JO0004.docx
  docker/docmosis/templates/CV-CMC-LET-ENG-LR-JO0002.docx
  docker/docmosis/templates/CV-CMC-LET-ENG-PIP-0002.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-6050

#6014 DTSCCI-1455: add medical cos and sol doc in bundle
  src/main/java/uk/gov/hmcts/reform/civil/enums/caseprogression/BundleFileNameList.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleDocumentsRetrieval.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleDocumentsRetrievalTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleRequestMapperTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-6014

#5910 DTSCCI-1323 - Fix Interim Judgement NPE
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/InterimJudgmentDefendantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/InterimJudgmentDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-5910
