Repository hmcts/civil-service, pull requests merged in 2025-10, with the labels that each got.

#7052 DTSCCI-938 Revert removing presisting party flags issue workaround
  Jenkinsfile_nightly
  charts/civil-service/values.aat.template.yaml
  charts/civil-service/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeOfServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DiscontinueClaimClaimantCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/managecontactinformation/SubmitChangesTask.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertasks/SetApplicantResponseDeadline.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/AboutToSubmitRespondToDefenceTask.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PersistDataUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/integration/ManageContactInformationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/PersistDataUtilsTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-7052, civilDefinitionBranch:revert-4878-DTSCCI-938

#7021 DTSCCI-2652 unspec claim set with eacourtlocation in error
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/integration/StandardDirectionOrderDJTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-7021

#7058 DTSCCI-0000 Update CODEOWNERS
  .github/CODEOWNERS
  .github/workflows/main.yml
Labels: ns:civil, prd:civil, rel:civil-service-pr-7058

#6999 DTSCCI-2717 Migration validation fix
  bin/validate-migration-files.sh
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-6999
