Repository hmcts/civil-service, pull requests merged in 2025-09, with the labels that each got.

#6959 DTSCCI-2226 fix RPA JSON File claim fee in HWF cases that have been given a full or part remission
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6959

#6323 DTSCCI-1361 Caseman showing that the defendant had not responded when the case was taken offline
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-6323

#6948 CIV-17618 - Translation status incorrectly displayed following Claimant Intent
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgeDecisionOnReconsiderationRequestCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-6948

#6963 CIV-17651 DJ letter Lip claimant
  docker/docmosis/templates/CV-SPC-STD-ENG-DJ-COVER-LETTER-00985.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/PostDJNonDivergentCoverLetterLiPClaimantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgmentonline/JudgementCoverLetter.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/CoverLetterService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/PostDJNonDivergentCoverLetterLiPClaimantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/CoverLetterServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6963

#6881 DTSCCI-1817: Amendments to json after Court Calculator favours the claimant
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6881

#6895 DTSCCI-2359 Update dashboard notification
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantResponseDefendantNotificationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/PartAdmitImmediatelyClaimSettledScenarioTest.java
  src/main/resources/db/migration/V2025_09_02_1423__DTSCCI-2359_part_admit_accepted_claimant.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-6895

#6962 CIV-17656 - NPE in logs for LiP vs LR AHN process
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/hmc/GenerateHearingNoticeHMCRespSolOneEmailDTOGenerator.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6962

#6901 DTSCCI-2360: Claimant Content changes to claimant dashboard notif AFTER acceptance of part admission
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitAcceptedClaimantScenarioTest.java
  src/main/resources/db/migration/V2025_09_03_1422__DTSCCI-2360_part_admit_accepted_claimant.sql
  src/main/resources/db/migration/V2025_09_03_1423__DTSCCI-2359_part_admit_accepted_defendant.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-6901

#6928 DTSCCI-2572 Fix fortify issue
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseMigrationEncryptionUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/migration/MigrateCasesEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseMigrationEncryptionUtilTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-6928

#6912 CIV-16912 Make pretranslation docs available to uploader
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6912

#6969 CIV-17654 Claimant JBA Letter
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/PostClaimantLipJbaLetterHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/PostClaimantLipJbaLetterTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6969

#6995 DTSCCI-2651 Inform agreed extension was not considering bank holidays while doing error checks for extension
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateForSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InformAgreedExtensionDateForSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6995

#6987 CIV-17686 - Prevent paused claims in claimant intention from being picked up by take case offline scheduler
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SetSettlementAgreementDeadlineCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/TakeCaseOfflineSearchService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/TakeCaseOfflineSearchServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6987

#7001 CIV-17694 DIRECTIONS ORDER - Respondent upload Directions Document
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-7001

#7026 DTSCCI-2673: adding log messages
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-7026

#7022 DTSCCI-2760 Fix Deadline checks
  src/main/java/uk/gov/hmcts/reform/civil/service/citizenui/responsedeadline/DeadlineExtensionCalculatorService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/citizenui/responsedeadline/DeadlineExtensionCalculatorServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-7022

#7006 DTSCCI-2645 Camunda retry incidents
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/IncidentRetryEventHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/camunda/CamundaRuntimeApi.java
  src/main/java/uk/gov/hmcts/reform/civil/service/tasklisteners/IncidentRetryTaskListener.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/IncidentRetryEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/tasklisteners/IncidentRetryTaskListenerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-7006

#6971 DTSCCI-1567 changing extension to 36 months
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertasks/SetApplicantResponseDeadline.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertaskstest/SetApplicantResponseDeadlineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-6971

#6917 DTSCCI-2224 fix to truncate length of doc name
  src/main/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/bundle/BundleUtilsTest.java
Labels: ns:civil, prd:civil, pr-values:enableWA, rel:civil-service-pr-6917

#7029 DTSCCI-2673: adding log messages
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-7029

#6973 CIV-17659 update proof of debt notification
  src/main/resources/db/migration/V2025_09_22_1209__CIV-17659_update_proof_of_debt_defendant.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-6973

#7027 CIV-17726 - Update defendant LR submission screens for LiP vs LR claims
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/respondtoclaimspeccallbackhandlertasks/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/PartialAdmitSetDateConfirmationText.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-7027

#7035 DTSCCI-000: remove log messages
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/RoboticsDataMapperForSpec.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-7035

#5520 DTSCCI-938 removing presisting party flags issue workaround
  Jenkinsfile_nightly
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/AcknowledgeOfServiceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DiscontinueClaimClaimantCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/managecontactinformation/SubmitChangesTask.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertasks/SetApplicantResponseDeadline.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/AboutToSubmitRespondToDefenceTask.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/PersistDataUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/integration/ManageContactInformationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/PersistDataUtilsTest.java
Labels: ns:civil, prd:civil, civilDefinitionBranch:DTSCCI-938, rel:civil-service-pr-5520

#6975 CIV-17490 - Stop 'Take Case Offline - Application CML updated' WA task with GA NRO
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/TriggerGenAppLocationUpdateCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/TriggerGenAppLocationUpdateCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6975

#6924 DTSCCI-2535 remove ga enabled fts
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantDefaultJudgementScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/NotifySetAsideJudgementErrorScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantDefaultJudgementScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantRecordJudgementScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/NotifySetAsideJudgementErrorScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/generalapplications/ApplicationsProceedOfflineNotificationCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/dashboardnotifications/GeneralApplicationsParamsBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/generalapplications/ApplicationsProceedOfflineNotificationCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/dashboardnotifications/GeneralApplicationsParamsBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/SimpleStateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineUnspecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilderTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6924

#7007 DTSCCI-2370: Claimant Content to dashboard notification after defendant response Immediate PA
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponsePartAdmitPayImmediatelyClaimantScenarioTest.java
  src/main/resources/db/migration/V2025_09_25_1702__DTSCCI-2370_defendant_response_part_admit_claimant.sql
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-7007

#6968 CIV-17427 lip ga in all cml
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimSettledDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimSettledDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6968

#7042 DTSCCI-2369 fix for defendant response fully admits pay immediately notification not showing amount
  src/main/java/uk/gov/hmcts/reform/civil/service/dashboardnotifications/Respondent1AdmittedAmountPaymentDeadlineParamsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/dashboardnotifications/Respondent1AdmittedAmountPaymentDeadlineParamsBuilderTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-7042
