Repository hmcts/civil-service, pull requests merged in 2025-06, with the labels that each got.

#6592 DTSCCI-000: avoid npe
  src/main/java/uk/gov/hmcts/reform/civil/service/camunda/UpdateWaCourtLocationsService.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6592

#6586 DTSCCI-1870 change nighlty time
  Jenkinsfile_nightly
  src/main/java/uk/gov/hmcts/reform/civil/callback/CallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6586

#6550 CIV-16859 delay notifications and visibility of the docs
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDiscontinueClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategy.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataCaseProgression.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/welshenhancements/PreTranslationDocumentType.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDiscontinueClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategyTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6550

#6508 DTSCCI-2074 - Refactor generate_DJ_form.bpmn with generic notify_event
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/AppSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/CamundaProcessIdentifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/ClaimantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/DefendantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/EmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/RespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/RespSolTwoEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecRespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecRespSolTwoEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimdismissed/ClaimDismissedRespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimdismissed/ClaimDismissedRespSolTwoEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatedjform/GenerateDJFormAllPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatedjform/GenerateDJFormApprovedAppSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatedjform/GenerateDJFormApprovedRespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatedjform/GenerateDJFormApprovedRespSolTwoEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatedjform/GenerateDJFormHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatedjform/GenerateDJFormNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatedjform/GenerateDJFormRequestedAppSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatedjform/GenerateDJFormRequestedRespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatedjform/GenerateDJFormRequestedRespSolTwoEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/resetpin/ResetPinDefendantLipEmailDTOGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/EmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatedjform/GenerateDJFormAllPartiesEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatedjform/GenerateDJFormApprovedAppSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatedjform/GenerateDJFormApprovedRespSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatedjform/GenerateDJFormApprovedRespSolTwoEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatedjform/GenerateDJFormHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatedjform/GenerateDJFormNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatedjform/GenerateDJFormRequestedAppSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatedjform/GenerateDJFormRequestedRespSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatedjform/GenerateDJFormRequestedRespSolTwoEmailDTOGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6508, runFailedTestFiles

#6561 CIV-16875 - Manual Hearing Notice - Delay notifications and visibility of document after translation uploaded (includes show element)
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendHearingToLiPCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingFormHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategy.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocument.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/TranslatedDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/model/welshenhancements/PreTranslationDocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SystemGeneratedDocumentService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingFormHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategyTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SystemGeneratedDocumentServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6561

#6606 DTSCCI-000 fix log
  src/main/java/uk/gov/hmcts/reform/civil/callback/CallbackHandler.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6606

#6554 DTSCCI-2176 Refactor Create LIP Claim
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/CamundaProcessIdentifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/createlipclaim/ApplicantClaimSubmittedAllPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/createlipclaim/ApplicantClaimSubmittedClaimantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/createlipclaim/ApplicantClaimSubmittedNotifier.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/createlipclaim/ApplicantClaimSubmittedAllPartiesEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/createlipclaim/ApplicantClaimSubmittedClaimantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/createlipclaim/ApplicantClaimSubmittedNotifierTest.java
Labels: ns:civil, prd:civil, pr_ft_cui-carm, rel:civil-service-pr-6554, runFailedTestFiles

#6607 DTSCCI-2265: use oci end point
  charts/civil-service/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-6607

#6576 CIV-17177 LR FA Pay immediately Request JBA changes
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudgementService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelperTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6576

#6578 DTSCCI-2240 Refactor Notify Judgment Varied Determination Of Means
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/CamundaProcessIdentifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyjudgmentvarieddeterminationofmeans/JudgmentVariedDeterminationOfMeansAllPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyjudgmentvarieddeterminationofmeans/JudgmentVariedDeterminationOfMeansAppSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyjudgmentvarieddeterminationofmeans/JudgmentVariedDeterminationOfMeansClaimantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyjudgmentvarieddeterminationofmeans/JudgmentVariedDeterminationOfMeansDefendantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyjudgmentvarieddeterminationofmeans/JudgmentVariedDeterminationOfMeansNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyjudgmentvarieddeterminationofmeans/JudgmentVariedDeterminationOfMeansRespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyjudgmentvarieddeterminationofmeans/JudgmentVariedDeterminationOfMeansRespSolTwoEmailDTOGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyjudgmentvarieddeterminationofmeans/JudgmentVariedDeterminationOfMeansAllPartiesEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyjudgmentvarieddeterminationofmeans/JudgmentVariedDeterminationOfMeansAppSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyjudgmentvarieddeterminationofmeans/JudgmentVariedDeterminationOfMeansClaimantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyjudgmentvarieddeterminationofmeans/JudgmentVariedDeterminationOfMeansDefendantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyjudgmentvarieddeterminationofmeans/JudgmentVariedDeterminationOfMeansNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyjudgmentvarieddeterminationofmeans/JudgmentVariedDeterminationOfMeansRespSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyjudgmentvarieddeterminationofmeans/JudgmentVariedDeterminationOfMeansRespSolTwoEmailDTOGeneratorTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6578

#6616 DTSCCI-000 - Add to final order collection
  src/main/java/uk/gov/hmcts/reform/civil/handler/RetriggerCasesEventHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/RetriggerCasesEventHandlerTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, runFailedTestFiles, rel:civil-service-pr-6616

#6577 CIV-17151 Judgment tab
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionOnlineMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6577

#6512 CIV-17095 Judgment online
  src/main/java/uk/gov/hmcts/reform/civil/service/JudgementService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6512, runFailedTestFiles, civilDefinitionBranch:feat/CIV-17095

#6612 CIV-17261 Request JBA event - fixed costs at judgment
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, runFailedTestFiles, civilDefinitionBranch:feat/CIV-17261, rel:civil-service-pr-6612

#6599 CIV-17113 Use generic pretranslation collection for SDO
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategy.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataCaseSdo.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategyTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6599

#6608 CIV-17260 - Add summary page if no fixedCosts page
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, civilDefinitionBranch:feat/CIV-17260, rel:civil-service-pr-6608

#6523 DTSCCI-2018 extending deadline for GA
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertasks/SetApplicantResponseDeadline.java
  src/main/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtoclaimcallbackhandlertaskstest/SetApplicantResponseDeadlineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/InitiateGeneralApplicationServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-6523

#6603 CIV-17064 - Bulk Print Notice of Discontinuance - LiP Defendant
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/settlediscontinue/NoticeOfDiscontinuanceLiPLetterGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/settlediscontinue/NoticeOfDiscontinuanceLiPLetterGeneratorTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6603

#6609 CIV-17112 Update language flag based on DQ doc language
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimantLipManualDeterminationCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDiscontinueClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingFormHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateInterlocutoryJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateSettlementAgreementFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CourtOfficerOrderHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/LanguageUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimantLipManualDeterminationCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingFormHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateInterlocutoryJudgementHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateSettlementAgreementFormCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CourtOfficerOrderHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/SimpleStateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineUnspecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilderTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6609

#6618 DTSCCI-1461: Added missing lip checks for the Acknowledge claim and Claim dismissed bpmn
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/RespSolTwoEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecRespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecRespSolTwoEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimdismissed/ClaimDismissedRespSolTwoEmailDTOGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecRespSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/acknowledgeclaimunspec/AcknowledgeClaimUnspecRespSolTwoEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/claimdismissed/ClaimDismissedRespSolTwoEmailGeneratorTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6618

#6624 CIV-17134 Bulk print changes for decision reconsideration
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendDroOrderToLipBulkPrintCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendDroOrderToLipBulkPrintCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintServiceTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6624

#6669 DTSCCI-2086: Switch from Jitpack to Azure DecOps Artifacts
  .github/workflows/ado_artifacts_build.yml
  build.gradle
  dashboard-notifications/build.gradle
  settings.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-6669

#6674 DTSCCI-2345 - Impossible Service Bus Rule
  infrastructure/ccd-event-service-bus.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:civil, prd:civil, aat/destroy, prod/destroy, runFailedTestFiles, rel:civil-service-pr-6674

#6681 DTSCCI-2343 Refactor Bundle Creation Job to process
  charts/civil-service/Chart.yaml
  charts/civil-service/values.yaml
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/BundleCreationTriggerHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/BundleCreationTriggerHandlerTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, runFailedTestFiles, rel:civil-service-pr-6681

#6155 DTSCCI-1477: Enable EVIDENCE_UPLOAD_APPLICANT event in NOTIFICATION_ACKNOWLEDGED flow state
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6155

#6623 CIV-16870 - Dashboard changes judgement paid in full journey
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/JudgmentPaidClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/JudgmentPaidDefendantNotificationHandler.java
  src/main/resources/db/migration/V2025_06_17_1348__CIV-16870_remove_dj_and_defendant_paid_notifications.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/JudgmentPaidClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/JudgmentPaidDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6623

#6513 DTSCCI-1945 Full admit Interloc cases incorrectly going into Mediation
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/respondtodefencespeccallbackhandlertask/DetermineNextState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UpdateClaimStateService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseStateUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UpdateClaimStateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseStateUtilsTest.java
Labels: ns:civil, prd:civil, stale, enable_keep_helm, rel:civil-service-pr-6513

#6657 CIV-17313 - Ignore negative days for interest
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/InterestCalculator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/InterestCalculatorTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6657

#6613 DTSCCI-2269 Refactor Hearing Fee Unpaid
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/CamundaProcessIdentifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/hearingfeeunpaid/HearingFeeUnpaidAllPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/hearingfeeunpaid/HearingFeeUnpaidAppSolEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/hearingfeeunpaid/HearingFeeUnpaidClaimantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/hearingfeeunpaid/HearingFeeUnpaidDefendantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/hearingfeeunpaid/HearingFeeUnpaidHearingFeeNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/hearingfeeunpaid/HearingFeeUnpaidRespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/hearingfeeunpaid/HearingFeeUnpaidRespSolTwoEmailDTOGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/hearingfeeunpaid/HearingFeeUnpaidAllPartiesEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/hearingfeeunpaid/HearingFeeUnpaidAppSolEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/hearingfeeunpaid/HearingFeeUnpaidClaimantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/hearingfeeunpaid/HearingFeeUnpaidDefendantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/hearingfeeunpaid/HearingFeeUnpaidHearingFeeNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/hearingfeeunpaid/HearingFeeUnpaidRespSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/hearingfeeunpaid/HearingFeeUnpaidRespSolTwoEmailDTOGeneratorTest.java
Labels: ns:civil, prd:civil, stale, runFailedTestFiles, rel:civil-service-pr-6613

#6641 DTSCCI-2281 Refactor Take Case Offline
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/CamundaProcessIdentifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/takecaseoffline/CaseTakenOfflineAllPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/takecaseoffline/CaseTakenOfflineAppSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/takecaseoffline/CaseTakenOfflineNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/takecaseoffline/CaseTakenOfflineRespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/takecaseoffline/CaseTakenOfflineRespSolTwoEmailDTOGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/takecaseoffline/CaseTakenOfflineAllPartiesEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/takecaseoffline/CaseTakenOfflineAppSolOne1EmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/takecaseoffline/CaseTakenOfflineNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/takecaseoffline/CaseTakenOfflineRespSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/takecaseoffline/CaseTakenOfflineRespSolTwoEmailDTOGeneratorTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6641

#6542 DTSCCI-2177 - Refactor Claimant Response CUI Notifications
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/CamundaProcessIdentifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimantresponsecui/confirmproceed/ClaimantConfirmProceedAllPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimantresponsecui/confirmproceed/ClaimantConfirmProceedClaimantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimantresponsecui/confirmproceed/ClaimantConfirmProceedDefendantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimantresponsecui/confirmproceed/ClaimantConfirmProceedRespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimantresponsecui/confirmproceed/ClaimantResponseCuiConfirmProceedNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimantresponsecui/rejectrepayment/ClaimantResponseCuiRejectPayAllPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimantresponsecui/rejectrepayment/ClaimantResponseCuiRejectPayAppSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimantresponsecui/rejectrepayment/ClaimantResponseCuiRejectPayClaimantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimantresponsecui/rejectrepayment/ClaimantResponseCuiRejectPayRespLipEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimantresponsecui/rejectrepayment/ClaimantResponseCuiRejectPayRespSol1EmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimantresponsecui/rejectrepayment/ClaimantResponseCuiRejectPaymentNotifier.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/claimantresponsecui/confirmproceed/ClaimantConfirmProceedDefendantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/claimantresponsecui/confirmproceed/ClaimantConfirmProceedRespSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/claimantresponsecui/confirmproceed/ClaimantRespConfirmProceedClaimantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/claimantresponsecui/confirmproceed/ClaimantResponseCuiConfirmProceedNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/claimantresponsecui/rejectrepayment/ClaimantResponseCuiRejectPayAppSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/claimantresponsecui/rejectrepayment/ClaimantResponseCuiRejectPayClaimantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/claimantresponsecui/rejectrepayment/ClaimantResponseCuiRejectPayRespLipEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/claimantresponsecui/rejectrepayment/ClaimantResponseCuiRejectPayRespSol1EmailDTOGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6542

#6670 CIV-17343 defendant not receiving an email notification after welsh claimant submits they are not proceeding
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimantIntentionClaimStateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedLiPRespondentNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimantIntentionClaimStateCallbackHandlerTests.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedLiPRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6670

#6698 DTSCCI-0000 Add logging
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
Labels: ns:civil, prd:civil, pr_ft_spec-cui, runFailedTestFiles, rel:civil-service-pr-6698

#6646 CIV-17314 conf text LR bulk admission
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/proceed/confirmation/PayImmediatelyConfText.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6646

#6557 DTSCCI-2201 - Refactor notify_claimant_hwf_outcome.bpmn to use generic notify_event
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/CamundaProcessIdentifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyhwfoutcomeparties/NotifyHwFOutcomePartiesAllPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyhwfoutcomeparties/NotifyHwFOutcomePartiesClaimantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyhwfoutcomeparties/NotifyHwFOutcomePartiesHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyhwfoutcomeparties/NotifyHwFOutcomePartiesNotifier.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyhwfoutcomeparties/NotifyHwFOutcomePartiesAllPartiesEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyhwfoutcomeparties/NotifyHwFOutcomePartiesClaimantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyhwfoutcomeparties/NotifyHwFOutcomePartiesHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/notifyhwfoutcomeparties/NotifyHwFOutcomePartiesNotifierTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6557, runFailedTestFiles

#6685 CIV-17319 - Change defence text for final payment
  docker/docmosis/templates/CV-SPC-HRN-ENG-01363.docx
  docker/docmosis/templates/CV-SPC-HRN-ENG-01364.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-6685
