Repository hmcts/civil-service, pull requests merged in 2025-08, with the labels that each got.

#6890 CIV-17526 no bilingual lip email for discontinuance
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantClaimDiscontinuedNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantClaimDiscontinuedNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6890

#6888 CIV-17524 Reset language preference after emails sent
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/ResetLanguagePreferenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationForClaimantRepresented.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/ResetLanguagePreferenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6888

#6850 DTSCCI-2441 Fix duplicate document generation.
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6850

#6876 DTSCCI-2442 Added required events to MEDIATION_UNSUCCESSFUL_PROCEED flow state
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6876

#6823 CIV-17357 - No Interlocutory judgment is generated
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateInterlocutoryJudgementHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateInterlocutoryJudgementHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6823

#6787 DTSCCI-2450: Wrong document template used 1v2lip if respondent1 is lip
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorForSpec.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sealedclaim/SealedClaimFormGeneratorForSpecTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6787

#6871 CIV-17403 added welsh toggle for nro changes
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/callback/OrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/UploadHearingDocumentsClaimantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/UploadHearingDocumentsDefendantHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AbstractCreateSDORespondentNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/createsdo/CreateSDOAppSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/createsdo/CreateSDORespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/createsdo/CreateSDORespSolTwoEmailDTOGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/UploadHearingDocumentsClaimantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/UploadHearingDocumentsDefendantHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/integration/StandardDirectionOrderDJTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6871

#6883 CIV-17404 Fix NPE in DashboardNotificationsParamsMapper
  src/main/java/uk/gov/hmcts/reform/civil/service/dashboardnotifications/DashboardNotificationsParamsMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6883

#6923 CIV-17604 Delete dashboard notification
  src/main/resources/db/migration/V2025_08_15_1030__CIV-17604_update_pay_by_installments_ccj_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-6923

#6933 CIV-17619 Correct subject of email
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6933

#6945 CIV-17629 Claim fee DJ tab
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/DefaultJudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6945

#6943 CIV-17625 Delete Part Admit Immediately notification
  src/main/resources/db/migration/V2025_08_21_1030__CIV-17625_update_part_admit_pay_immediately_scenario.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-6943

#6884 CIV-17107 - Delete notifications regarding awaiting payment when application is paused
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/controllers/DashboardController.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6884

#6864 DTSCCI-2258 fix cases going to in mediation if full defence not proceed.
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullDefenceTransitionBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6864

#6951 CIV-17626 repayment date JO doc
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimantresponse/JudgmentByAdmissionOrDeterminationMapper.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6951
