Repository hmcts/civil-service, pull requests merged in 2025-04, with the labels that each got.

#6350 CIV-16945 Disable GA creation after proceeds in heritage
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardScenariosService.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/GeneralAppInactiveScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/GeneralAppInactiveScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimantIntentionClaimStateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/generalapplications/ApplicationsProceedOfflineNotificationCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimantIntentionClaimStateCallbackHandlerTests.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/generalapplications/ApplicationsProceedOfflineNotificationCallbackHandlerTest.java
Labels: ns:civil, prd:civil, aat/destroy, prod/destroy, rel:civil-service-pr-6350

#6355 CIV-16941 - Remove all main claim dashboard notifications when CW settles a LiP claim
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6355

#6369 CIV-16959 LipvLR Confirmation screen has extra text when LR respond
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/PartialAdmitPayImmediatelyConfirmationText.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6369

#6280 DTSCCI-1738 avoid bypass ongoing process
  src/main/java/uk/gov/hmcts/reform/civil/aspect/NoOngoingBusinessProcessAspect.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-6280

#6342 CIV-16927 Rename MPIF to Settle claim
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimMarkPaidFullCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimMarkPaidFullCallbackHandlerTest.java
Labels: ns:civil, prd:civil, civilDefinitionBranch:feat/CIV-16927, rel:civil-service-pr-6342

#6314 CIV-16787 - 999 take offline event when NoC deadline passed
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, stale, aat/destroy, prod/destroy, rel:civil-service-pr-6314

#6385 DTSCCI-000 - Remove circular ref
  charts/civil-service/Chart.yaml
  charts/civil-service/values.preview.template.yaml
  charts/civil-service/values.yaml
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-6385

#6381 CIV-16972 - Switch LipVLr condition to FULL_DEFENCE_PROCEED
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullDefenceTransitionBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6381

#6382 CIV-16970 View Applications Link not available for existing GAs after Case is moved Offline
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6382

#6383 CIV-16962 - Lip v LR response confirmation screen different sized text - Part Admit Pay By Instalments
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/FullAdmitSetDateConfirmationText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/PartialAdmitPayImmediatelyConfirmationText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/PartialAdmitSetDateConfirmationText.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/RepayPlanConfirmationText.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6383

#6351 CIV-16938 Change case state to CASE_STAYED for PIF
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimMarkPaidFullCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimMarkPaidFullCallbackHandlerTest.java
Labels: ns:civil, prd:civil, aat/destroy, prod/destroy, rel:civil-service-pr-6351

#6247 DTSCCI-1736: flow state evaluation fix
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PartAdmissionTransitionBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PartAdmissionTransitionBuilderTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-6247

#6392 CIV-16987 Post-SDO for an EA-Court - existing GA applications cannot be viewed and new GAs cannot be made
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6392

#6395 CIV-0000 move suppression date forward
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-6395

#6380 CIV-16952 Allow GA creation when GA for Welsh toggle enabled
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/InitiateGeneralApplicationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6380

#6235 DTSCCI-1660 - Skip DJ emails if invalid
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/StandardDirectionOrderDJDefendantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/StandardDirectionOrderDJDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6235

#6365 CIV-16940 Disable task list items after claim settled
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/controllers/DashboardController.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/repositories/TaskListRepository.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/TaskListService.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/controllers/DashboardControllerTest.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/TaskListServiceTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ConfirmOrderReviewNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseDismissClaimantDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseProceedOfflineClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimSettledDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantDecisionOutcomeDashboardHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/StayCaseClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseDismissDefendantDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseProceedOfflineDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimSettledDefendantDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantDecisionOutcomeDashboardHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/StayCaseDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseDismissClaimantDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseProceedOfflineClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimSettledDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantDecisionOutcomeDashboardHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ConfirmOrderReviewClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/OrderMadeClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/StayCaseClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseDismissDefendantDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseProceedOfflineDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimSettledDefendantDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ClaimantResponseDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ConfirmOrderReviewDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/DefendantDecisionOutcomeDashboardHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/OrderMadeDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/StayCaseDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SettleClaimCallbackHandlerTest.java
Labels: ns:civil, prd:civil, aat/destroy, prod/destroy, rel:civil-service-pr-6365

#6400 DTSCCI-1767: add logs
  src/main/java/uk/gov/hmcts/reform/civil/service/search/TakeCaseOfflineSearchService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6400

#6394 CIV-16846 Caseworker event change language preference
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ChangeLanguagePreferenceCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/RespondentLiPResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/model/welshenhancements/ChangeLanguagePreference.java
  src/main/java/uk/gov/hmcts/reform/civil/model/welshenhancements/PreferredLanguage.java
  src/main/java/uk/gov/hmcts/reform/civil/model/welshenhancements/UserType.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ChangeLanguagePreferenceCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6394

#6359 DTSCCI-1882 - Update ccd-event-service-bus.tf
  infrastructure/ccd-event-service-bus.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:civil, prd:civil, aat/no-changes, prod/add-or-update, rel:civil-service-pr-6359

#4433 DTSCCI-020 - Update spec claims track logic
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/enums/AllocatedTrack.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SendAndReplyCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, enable_keep_helm, aat/no-changes, prod/no-changes, rel:civil-service-pr-4433

#6421 DTSCCI-000 - Add mediation to event list
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6421

#6404 DTSCCI-1971 robotics notification based on case category
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/robotics/DefaultJudgmentRoboticsNotifier.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/robotics/NotifyDefaultJudgmentHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6404

#6416 CIV-16995 Lip v LR MINTI - Incorrect dashboard notification generated after Claimant Intention submitted
  src/main/resources/db/migration/V2025_04_10_1700__CIV-16995-update_minti_claimant_response_delete_list.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-6416

#6372 CIV-13886 CUI CCJ Requested Notifications
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantRejectRepaymentPlanOrgLtdCoDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandler.java
  src/main/resources/db/migration/V2025_04_14_1130__CIV-13886_claimant_intent_orgltdco_defendant_reject_repayment_scenario.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantResponseNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6372

#6430 CIV-17037 - Pre-requisite changes for work allocating to WLU
  bin/add-roles.sh
Labels: ns:civil, prd:civil, rel:civil-service-pr-6430

#6431 DTSCCI-1796 Judgment tab not including interest
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/cosc/CheckAndMarkDefendantPaidInFullCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/EditJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgmentPaidInFullCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RecordJudgmentCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/RecordJudgmentOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/InterestCalculator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/cosc/CheckAndMarkDefendantPaidInFullCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/EditJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgmentPaidInFullCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RecordJudgmentCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/EditJudgmentsOnlineMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6431

#6224 DTSCCI-1556 Remove JWT from security config
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/BaseIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/CasesControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/cases/DocumentControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/DeleteNotificationControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/RecordNotificationClickControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/Application.java
  src/main/java/uk/gov/hmcts/reform/civil/config/ApiAuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/config/SecurityConfiguration.java
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, stale, enable_keep_helm, pr_ft_dj, aat/destroy, prod/destroy, rel:civil-service-pr-6224

#6425 CIV-17013 RPA reason incorrect in event history where LiP vs LR claim moves offline for admissions
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6425

#6292 CIV-16796 GA - Set Aside Judgment - Fee Code Change
  src/contractTest/java/uk/gov/hmcts/reform/civil/FeesLookupApiConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GeneralAppFeesServiceTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-6292

#6414 CIV-16986 Copy GA respondent order docs to respondent collections
  src/main/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/UpdateFromGACaseEventTaskHandlerTest.java
Labels: ns:civil, prd:civil, aat/no-changes, prod/add-or-update, rel:civil-service-pr-6414

#6449 DTSCCI-1461 Add Lip v Lip, LR v Lip, Lip v LR email generators & replace state flow engine checks
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/AllLegalRepsEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/ClaimantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/DefendantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/LRvLipEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/LipvLREmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/LipvLipEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/adddefendantlitigantfriend/AddDefLitFriendAllLegalRepsEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/claimdismissed/ClaimDismissedAllLegalRepsEmailGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/LRvLipEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/LipvLREmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/LipvLipEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/claimdismissed/ClaimDismissedAllLegalRepsEmailGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6449

#6413 CIV-16933 - Enhance flag to include English, Welsh and Bilingual variant
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
Labels: ns:civil, prd:civil, aat/no-changes, prod/add-or-update, rel:civil-service-pr-6413

#6434 CIV-16847 Trigger GA update when language preference changes
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/TriggerGenAppLanguagePreferenceUpdateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ChangeLanguagePreferenceCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/TriggerGenAppLanguagePreferenceUpdateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ChangeLanguagePreferenceCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6434

#6445 CIV-17048 Fix confirmation text when LiP claimant
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/spec/response/confirmation/PartialAdmitSetDateConfirmationText.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6445

#6452 DTSCCI-1461 Add base all party email generators
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/AllPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/AppSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/ClaimantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/DefendantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/EmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/RespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/RespSolTwoEmailDTOGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/AllPartiesEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/AppSolOneEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/EmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/RespSolOneEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/RespSolTwoEmailGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6452

#6457 DTSCCI-2073: fix npe on defendant response cui
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseApplicantForCuiNotificationHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6457

#6456 DTSCCI-1960 - Fix 60 second Unit test
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PollingEventEmitterHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6456

#6460 DTSCCI-2073: fix npe on defendant response cui v1
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseApplicantForCuiNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseApplicantForCuiNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6460

#6464 DTSCCI-2073: fix npe on defendant response cui v2
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6464

#6451 CIV-16832 Hide sdo when bilingual party
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataCaseSdo.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/SimpleStateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineUnspecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilderTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6451

#6433 CIV-15925 PIN Reset Event trigger PIN email
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantLipForResetPinHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ResetPinCUICallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantLipForResetPinHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6433

#6453 CIV-17034 1v2 DS SPEC Defendants can respond more than once
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6453

#6455 DTSCCI-2066 Fix security checks logging warnings
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, enable_keep_helm, pr_ft_dj, rel:civil-service-pr-6455
