Repository hmcts/civil-service, pull requests merged in 2025-02, with the labels that each got.

#6073 CIV-16044 - Send generic email to claimant LiP when defendant LR submits full defence and counterclaim response to the claim
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/notification/defendantresponse/caseoffline/applicant/CaseHandledOfflineApplicantSolicitorSpecNotifier.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/DefendantResponseCaseHandedOfflineApplicantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6073

#6093 DTSCCI-1543: Protect against NotificationException
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationDefendantOfHearingHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6093

#5991 CIV-16322 Work allocation task for caseworker to take case offline when CML of GA is updated
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/TriggerGenAppLocationUpdateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/TriggerGenAppLocationUpdateCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/GeneralApplicationDetailsBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/GenAppStateHelperServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-5991

#6058 CIV-16413 Split not full defence flow state into two
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/builders/DQGeneratorFormBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/AwaitingResponsesFullAdmitReceivedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/AwaitingResponsesNotFullDefenceOrFullAdmitReceivedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimDetailsNotifiedTimeExtensionTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimDetailsNotifiedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimIssuedTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/NotificationAcknowledgedTimeExtensionTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/NotificationAcknowledgedTransitionBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicateTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/SimpleStateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/AwaitingResponsesFullAdmitReceivedTransitionBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/AwaitingResponsesNotFullDefenceOrFullAdmitReceivedTransitionBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimDetailsNotifiedTimeExtensionTransitionBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimDetailsNotifiedTransitionBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/ClaimIssuedTransitionBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/NotificationAcknowledgedTimeExtensionTransitionBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/NotificationAcknowledgedTransitionBuilderTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6058

#6098 CIV-16559 Confirm Order Review Delete All Notifications
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/ConfirmOrderReviewNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ConfirmOrderReviewClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ConfirmOrderReviewDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ConfirmOrderReviewClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/ConfirmOrderReviewDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6098

#6061 CIV-16514 DJ RPA live feed - event sequence number update
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6061

#6071 CIV-15960 defendant lip noc emails
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ChangeOfRepresentationNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationData.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NocNotificationUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ChangeOfRepresentationNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/NocNotificationUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6071

#6049 CIV-15963 added code for dashboard notification for claimant lip for …
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantDashboardOnlineNotificationAfterDefendantNoc.java
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantNocOnlineDashboardNotificationHandler.java
  src/main/resources/db/migration/V2025_01_20_1228__CIV-15963_notify_claimant_noc_claim_remains_online.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ClaimantNocOnlineDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6049

#6090 CIV-16281 Claimant Lip extension notification
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ResponseDeadlineExtendedDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantForSpecNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ResponseDeadlineExtensionClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ResponseDeadlineExtensionDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/ResponseDeadlineExtendedDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/AgreedExtensionDateApplicantForSpecHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ResponseDeadlineExtensionClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ResponseDeadlineExtensionDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6090

#6063 CIV-15388 - accept solicitor email after NoC
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyApplicant1GenericTemplateHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyApplicant1GenericTemplateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyLiPClaimantHwFOutcomeHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6063

#6123 DTSCCI-000 - Suppress vulnerabilities because no newer version
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-6123

#6070 DTSCCI-1531: fix flow-state mediation unsuccessful
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataParent.java
  src/test/java/uk/gov/hmcts/reform/civil/model/CaseDataTest.java
Labels: ns:civil, prd:civil, stale, enable_keep_helm, rel:civil-service-pr-6070

#6112 DTSCCI-000 fix disposable hearing notice document
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/sdo/SdoGeneratorServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-6112

#6038 CIV-16427 Bilingual Default Judgment document
  docker/docmosis/templates/CV-CMC-LET-ENG-LR-JO0002.docx
  docker/docmosis/templates/CV-SPC-DEC-WEL-00912.docx
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/DefaultJudgmentDefendantLrCoverLetterHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/dj/DefaultJudgmentForm.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/judgmentonline/DefaultJudgmentDefendantLrCoverLetter.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentFormBuilderBase.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/NonImmediatePaymentTypeDefaultJudgmentFormBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/nondivergent/NonDivergentSpecDefaultJudgementFormBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/nondivergent/NonDivergentSpecDefaultJudgmentFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/DefaultJudgmentCoverLetterGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/DefaultJudgmentDefendantLrCoverLetterHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/nondivergent/NonDivergentSpecDefaultJudgmentFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/judgmentonline/DefaultJudgmentCoverLetterGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6038

#6101 CIV-16002 added code for rpa email
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/DashboardNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/robotics/RoboticsNotificationServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6101

#6105 DTSCCI-1524 FeeDTO Failed to deserialize java.time.OffsetDateTime
  src/contractTest/java/uk/gov/hmcts/reform/civil/FeesRangeGroupApiConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/model/FeeVersionDto.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6105

#6132 DTSCCI-1592 Add indexes on dashboard tables
  src/main/resources/db/migration/V2025_02_10_1604__DTSCCI-1592_add_indexes_on_dashboard_tables.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-6132

#6020 CIV-16353 fix auto hearing notice status
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateTrialReadyFormHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TrialReadinessCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseDataCaseProgression.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardClaimantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdDashboardDefendantClaimMatcher.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateTrialReadyFormHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6020

#6144 DTSCCI-1620 - Return List And Delete Duplicates Notifications
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/repositories/TaskListRepository.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/TaskListService.java
  dashboard-notifications/src/test/java/uk/gov/hmcts/reform/dashboard/services/TaskListServiceTest.java
Labels: ns:civil, prd:civil, pr_ft_spec-cui, rel:civil-service-pr-6144

#6064 CIV-16242 Welsh document HMC
  build.gradle
  charts/civil-service/values.preview.template.yaml
  docker/docmosis/templates/CV-UNS-HNO-WEL-01200.docx
  src/main/java/uk/gov/hmcts/reform/civil/documentmanagement/model/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/FeatureToggleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtilsTest.java
Labels: ns:civil, prd:civil, stale, rel:civil-service-pr-6064

#6046 CIV-16210 - hmcLipEnabled field + NRO integration
  charts/civil-service/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJ.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/StandardDirectionOrderDJTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/TransferOnlineCaseCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/citizenui/CcdClaimStatusDashboardFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/hearings/HearingValuesServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6046

#6095 CIV-16517 - Added AllocatedTrack WA changes for Minti
  src/main/java/uk/gov/hmcts/reform/civil/enums/AllocatedTrack.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/SendAndReplyCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6095

#6137 CIV-16535 Spelling fix for JO release
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6137

#6068 CIV-16543 QM Integration
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RaiseQueryCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/querymanagement/CaseMessage.java
  src/main/java/uk/gov/hmcts/reform/civil/model/querymanagement/CaseQueriesCollection.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseQueriesUtil.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RaiseQueryCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/model/querymanagement/CaseQueriesCollectionTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseQueriesUtilTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6068

#6138 DTSCCI-1611 add Caching for ReadOnly Dashboard entities
  build.gradle
  dashboard-notifications/build.gradle
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/cache/CacheConfig.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/DashboardNotificationsEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/NotificationTemplateEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/ScenarioEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/TaskItemTemplateEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/repositories/NotificationTemplateRepository.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/repositories/ScenarioRepository.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/repositories/TaskItemTemplateRepository.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/repositories/TaskListRepository.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/services/TaskListService.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/BaseContractTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/config/TestCacheConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/config/TestCacheConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/BaseIntegrationTest.java
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, pr_ft_spec-cui, rel:civil-service-pr-6138

#6119 CIV-16395 add the queen's seal
  docker/docmosis/templates/CV-UNS-GAP-ENG-01067.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01068.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01069.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01070.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01071.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01072.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01073.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01074.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01075.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01076.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01077.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01078.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01080.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01081.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01082.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01083.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01084.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01085.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01086.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01087.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01088.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01089.docx
  docker/docmosis/templates/CV-UNS-GAP-ENG-01090.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-6119

#6118 CIV-16010 trigger email notification for minti claims
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedLiPRespondentNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/ClaimantResponseConfirmsToProceedLiPRespondentNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6118

#6136 CIV-16614 - Take case offline GA WA task created when there are no GAs on the claim
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/TriggerGenAppLocationUpdateCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6136

#6096 CIV-16530 COSC-Remove Dashboard notification
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CoscCertificateGeneratedDefendantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CoscFeePaidCaseNotMarkedFullPaidDefendantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CoscCertificateGeneratedDefendantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CoscFeePaidCaseNotMarkedFullPaidDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6096

#6089 CIV-16243 Bulk print Welsh hearing notice
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendHearingToLiPCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendHearingToLiPCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6089

#6140 CIV-16533 Raise query state behaviours
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RaiseQueryCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RaiseQueryCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6140

#6176 DTSCCI-1670 Fix caching config
  build.gradle
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/NotificationTemplateEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/ScenarioEntity.java
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/entities/TaskItemTemplateEntity.java
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-6176

#6177 CIV-16666 Remove business process temporarily
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondQueryCallbackHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6177

#6158 CIV-16620 - Welsh translation of hearing type or dates
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/BundleUpdatedClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantResponseDefendantNotificationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/ClaimantSettlementAgreementScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/CoScNotificationForCaseNotMarkPaidInFullClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantFullDefenceFullDisputeClaimantCarmScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantFullDefenceFullDisputeMediationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseFullAdmitPayImmediatelyClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponsePartFullAdmitInstallmentsOrgComClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/FullAdmitPayImmediatelyNoPaymentFromDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/FullOrPartAdmitPayByDateOrgOrLtdCompanyFromDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/FullOrPartAdmitPayBySetDateFromDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeHwfRejectedScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/HearingFeeUnpaidScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitFullDefenceFullPaidClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitFullDefencePaidAlreadyPartialClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/PartAdmitPayByInstalmentsScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/RequestForReconsiderationRecipientClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/SdoLegalAdviserClaimantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/BundleUpdatedDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/ClaimSettledCourtDecisionInFavorOfDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseAdmitPayInstalmentCompanyDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseFullOrPartAdmitInstallmentsScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponseOrgORCompPayBySetDateScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponsePayBySetDateScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/DefendantResponsePayImmediatelyScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/HearingFeeUnpaidScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/RequestForReconsiderationRecipientDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/SdoLegalAdviserDefendantScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/defendant/SettleClaimMarkedPaidInFullDefendantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/enums/DocumentHearingType.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/claimantresponse/JudgmentByAdmissionOrDeterminationMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/model/docmosis/hearing/HearingNoticeHmc.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dj/DefaultJudgmentFormBuilderBase.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/settleanddiscontinue/SettleClaimMarkedPaidInFullDefendantLiPLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/settlediscontinue/NoticeOfDiscontinuanceFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/DateUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/enums/DocumentHearingTypeTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/hearing/HearingNoticeHmcGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/DateUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/HmcDataUtilsTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6158

#6162 CIV-16594 take case offline view applications avilable
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseProceedOfflineClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseProceedOfflineDefendantNotificationHandler.java
  src/main/resources/db/migration/V2025_02_13_1701__CIV-16594-general-initiate-application-inactive.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/CaseProceedOfflineClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/defendant/CaseProceedOfflineDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6162

#6167 CIV-16004 full defence counter claim claimant lip dashboard notification
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandler.java
  src/main/resources/db/migration/V2025_02_17_1228__CIV-16004_notify_claimant_defendant_counter_claim_response.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseClaimantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6167

#6187 DTSCCI-1670 Fix caching config
  dashboard-notifications/build.gradle
  dashboard-notifications/src/main/java/uk/gov/hmcts/reform/dashboard/cache/CacheConfig.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/BaseContractTest.java
  src/contractTest/java/uk/gov/hmcts/reform/civil/config/TestCacheConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/config/TestCacheConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/BaseIntegrationTest.java
  src/main/resources/application.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-6187

#6194 CIV-16674 Relist Hearing Emails Not Sent To New Claimant Lip Changed Via MCI
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotificationClaimantOfHearingHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6194

#6163 DTSCCI-1238: whitelist addCaseNotes event in all flowState
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventService.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowStateAllowedEventServiceTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-6163

#6166 CIV-16540 Raise query LR email notification
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RaiseQuerySolicitorNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RaiseQueryCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/java/uk/gov/hmcts/reform/civil/service/EventEmitterService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/querymanagement/QueryManagementCamundaService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/querymanagement/QueryManagementVariables.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseQueriesUtil.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NotificationUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/RaiseQuerySolicitorNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TrialReadyRespondentNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/EventEmitterServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseQueriesUtilTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6166
