Repository hmcts/civil-service, pull requests merged in 2025-07, with the labels that each got.

#6682 CIV-17196 - Manual Determination - prevent 2nd WA task for 'claimant Welsh request'
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/UpdateClaimantIntentionClaimStateCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/model/welshenhancements/PreTranslationDocumentType.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6682

#6480 DTSCCI-1845 Refactor case proceeds in caseman to notify all parties in same event
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/CamundaProcessIdentifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/caseproceedsincaseman/CaseProceedsInCasemanAppSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/caseproceedsincaseman/CaseProceedsInCasemanClaimantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/caseproceedsincaseman/CaseProceedsInCasemanNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/caseproceedsincaseman/CaseProceedsInCasemanPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/caseproceedsincaseman/CaseProceedsInCasemanRespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/caseproceedsincaseman/CaseProceedsInCasemanRespSolTwoEmailDTOGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/caseproceedsincaseman/CaseProceedsInCasemanAppSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/caseproceedsincaseman/CaseProceedsInCasemanClaimantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/caseproceedsincaseman/CaseProceedsInCasemanNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/caseproceedsincaseman/CaseProceedsInCasemanRespSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/caseproceedsincaseman/CaseProceedsInCasemanRespSolTwoEmailDTOGeneratorTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6480

#6722 DTSCCI-0000 Improve error message
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/BaseNotifier.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/BaseNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/NotifierTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6722

#6723 DTSCCI-000: upgrade ga chart version
  charts/civil-service/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-service-pr-6723

#6668 CIV-17306 NOC- Case moved to offline if Judgment by admission exist
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowFlag.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowPredicate.java
  src/main/java/uk/gov/hmcts/reform/civil/service/flowstate/FlowState.java
  src/main/java/uk/gov/hmcts/reform/civil/service/robotics/mapper/EventHistoryMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullAdmissionTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullAdmitAgreeRepaymentTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PartAdmissionAgreeRepaymentTransitionBuilder.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PartAdmissionPayImmediatelyTransitionBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/CaseEventTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/tasks/PaymentTaskHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/SimpleStateFlowEngineTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineSpecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/flowstate/StateFlowEngineUnspecTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullAdmissionTransitionBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/FullAdmitAgreeRepaymentTransitionBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PartAdmissionAgreeRepaymentTransitionBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/civil/stateflow/transitions/PartAdmissionPayImmediatelyTransitionBuilderTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6668

#6654 CIV-17322 CUI Welsh - feature toggle changes
  build.gradle
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/caseevents/SendHearingToLiPCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimantLipManualDeterminationCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDiscontinueClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingFormHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingNoticeHmcHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateInterlocutoryJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateLipClaimFormCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateSettlementAgreementFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CourtOfficerOrderHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgeDecisionOnReconsiderationRequestCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/settlediscontinue/NoticeOfDiscontinuanceFormGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/settlediscontinue/NoticeOfDiscontinuanceLiPLetterGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/DefendantResponseDeadlineCheckSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/stateflow/transitions/DraftTransitionBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimantLipManualDeterminationCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDiscontinueClaimCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingFormHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateInterlocutoryJudgementHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateLipClaimFormCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateSettlementAgreementFormCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CourtOfficerOrderHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimLipCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateSDOCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgeDecisionOnReconsiderationRequestCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendFinalOrderBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendHearingBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SendSDOBulkPrintServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/settlediscontinue/NoticeOfDiscontinuanceFormGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/settlediscontinue/NoticeOfDiscontinuanceLiPLetterGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/DefendantResponseDeadlineCheckSearchServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/search/DefendantResponseDeadlineCheckSearchServiceWithWelshFlagOnTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6654

#6711 CIV-17387 Add email validation for discontinue claim
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantClaimDiscontinuedNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/NotifyDefendantClaimDiscontinuedNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6711

#6661 CIV-17269 dashboard notification noc jba
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/NocLipCaseOfflineAllFinalOrdersClaimantScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantNocDashboardNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandler.java
  src/main/resources/db/migration/V2025_06_28_1020__CIV-17269_lip_case_offline_all_final_orders_notification.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantNocDashboardNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/UpdateCaseDetailsAfterNoCHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6661

#6709 CIV-17395 - Part admit pay immediately - separate interest
  src/test/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6709

#6740 CIV-17407 - Switch JudgementService checks from LrvLr to isClaimantLr
  src/main/java/uk/gov/hmcts/reform/civil/service/JudgementService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6740

#6741 CIV-17411 Error when submitting event INITIATE_GENERAL_APPLICATION
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/DefaultJudgementSpecHandler.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6741

#6730 CIV-17405 hide defendant dq document
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategy.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategyTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6730

#6731 CIV-17409 Translation in progress message not shown where LR is involved
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateClaimantLipManualDeterminationCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDirectionQuestionnaireLipCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateDiscontinueClaimCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateHearingFormHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateInterlocutoryJudgementHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateResponseSealedSpec.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateSettlementAgreementFormCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CourtOfficerOrderHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/GenerateDirectionOrderCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/JudgeDecisionOnReconsiderationRequestCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategy.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6731

#6718 CIV-17363 Revert suppression of DJ documents
  docker/docmosis/templates/CV-SPC-DEC-ENG-00913.docx
Labels: ns:civil, prd:civil, rel:civil-service-pr-6718

#6688 DTSCCI-2320 Refactor Generate Hearing Notice
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/CamundaProcessIdentifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/hmc/GenerateHearingNoticeHMCAllPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/hmc/GenerateHearingNoticeHMCAppSolEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/hmc/GenerateHearingNoticeHMCClaimantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/hmc/GenerateHearingNoticeHMCDefendantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/hmc/GenerateHearingNoticeHMCNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/hmc/GenerateHearingNoticeHMCRespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/hmc/GenerateHearingNoticeHMCRespSolTwoEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/nonhmc/GenerateHearingNoticeAllPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/nonhmc/GenerateHearingNoticeAppSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/nonhmc/GenerateHearingNoticeClaimantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/nonhmc/GenerateHearingNoticeDefendantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/nonhmc/GenerateHearingNoticeNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/nonhmc/GenerateHearingNoticeRespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/nonhmc/GenerateHearingNoticeRespSolTwoEmailDTOGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/hmc/GenerateHearingNoticeHMCAllPartiesEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/hmc/GenerateHearingNoticeHMCAppSolEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/hmc/GenerateHearingNoticeHMCClaimantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/hmc/GenerateHearingNoticeHMCDefendantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/hmc/GenerateHearingNoticeHMCNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/hmc/GenerateHearingNoticeHMCRespSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/hmc/GenerateHearingNoticeHMCRespSolTwoEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/nonhmc/GenerateHearingNoticeAllPartiesEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/nonhmc/GenerateHearingNoticeAppSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/nonhmc/GenerateHearingNoticeClaimantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/nonhmc/GenerateHearingNoticeDefendantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/nonhmc/GenerateHearingNoticeNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/nonhmc/GenerateHearingNoticeRespSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/nonhmc/GenerateHearingNoticeRespSolTwoEmailDTOGeneratorTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6688

#6793 DTSCCI-2320 Update missing properties for notifications
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/nonhmc/GenerateHearingNoticeAllPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/nonhmc/GenerateHearingNoticeAppSolOneEmailDTOGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/nonhmc/GenerateHearingNoticeAllPartiesEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/nonhmc/GenerateHearingNoticeAppSolOneEmailDTOGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6793

#6783 CIV-17447 Address line repeated within judgment documents
  src/main/java/uk/gov/hmcts/reform/civil/utils/JudgmentOnlineUtils.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6783

#6805 DTSCCI-2320 Update notification change
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/generatehearingnotice/nonhmc/GenerateHearingNoticeRespSolTwoEmailDTOGenerator.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6805

#6715 DTSCCI-2090 protecting DQ when past deadline
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/builders/DQGeneratorFormBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/docmosis/dq/builders/DQGeneratorFormBuilderTest.java
Labels: ns:civil, prd:civil, runFailedTestFiles, rel:civil-service-pr-6715

#6569 DTSCCI-2183 DTSCCI-2184 Mediation successful and unsuccessful journeys updated to use notify_event
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/MediationSuccessfulApplicantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/CamundaProcessIdentifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/LRvLipEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/LipvLREmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/LipvLipEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/MediationSuccessfulPartiesNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/MediationUnsuccessfulPartiesNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/MediationUpdateAllPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/carmdisabled/CarmDisabledAppSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/carmdisabled/CarmDisabledClaimantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/carmdisabled/CarmDisabledDefendantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/carmdisabled/CarmDisabledRespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/carmenabled/CarmAppSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/carmenabled/CarmClaimantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/carmenabled/CarmDefendantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/carmenabled/CarmRespSolOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/carmenabled/CarmRespSolTwoEmailDTOGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/LRvLipEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/LipvLREmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/LipvLipEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/MediationSuccessfulPartiesNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/MediationUnsuccessfulPartiesNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/MediationUpdateAllPartiesEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/carmdisabled/CarmDisabledAppSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/carmdisabled/CarmDisabledClaimantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/carmdisabled/CarmDisabledDefendantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/carmdisabled/CarmDisabledRespSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/carmenabled/CarmAppSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/carmenabled/CarmClaimantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/carmenabled/CarmDefendantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/carmenabled/CarmRespSolOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/mediationsuccessfulandunsuccessful/carmenabled/CarmRespSolTwoEmailDTOGeneratorTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, rel:civil-service-pr-6569

#6799 DTSCCI-1236: User unable to action manage contact information
  src/main/java/uk/gov/hmcts/reform/civil/utils/CaseFlagUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/utils/CaseFlagUtilsTest.java
Labels: ns:civil, prd:civil, enable_keep_helm, runFailedTestFiles, rel:civil-service-pr-6799

#6803 DTSCCI-2456 update gradle
  build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:civil, prd:civil, rel:civil-service-pr-6803

#6800 DTSCCI-2468 update pact plugin
  build.gradle
Labels: ns:civil, prd:civil, rel:civil-service-pr-6800

#6794 CIV-17448 Update static text on judgment tab
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentByAdmissionOnlineMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/helpers/judgmentsonline/JudgmentsOnlineHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudgementService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6794

#6811 CIV-17360 - add decimals to claim amounts
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToClaimSpecCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/task/createclaim/CalculateTotalClaimAmountTask.java
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/JudgementService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/ClaimantResponseCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/CreateClaimSpecCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RequestJudgementByAdmissionForSpecCuiCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/RespondToDefenceSpecCallbackHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6811, civilDefinitionBranch:fix/CIV-17360

#6821 DTSCCI-0000 Add suppressions
  config/owasp/suppressions.xml
Labels: ns:civil, prd:civil, rel:civil-service-pr-6821

#6815 CIV-17461 Full Admit - Set Date - Include Interest within Judgment document
  src/main/java/uk/gov/hmcts/reform/civil/service/JudgementService.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6815

#6846 DTSCCI-2427: update res1 dq court location using process
  src/main/java/uk/gov/hmcts/reform/civil/handler/RetriggerUpdateLocationDataHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/RetriggerUpdateLocationDataHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/sampledata/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CoreCaseDataServiceV2Test.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6846

#6816 CIV-17398 Fix task list items after defendant response
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/DefendantResponseWelshTranslationScenarioTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/dashboard/scenarios/claimant/EnglishDefendantResponseWelshTranslationScenarioTest.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/DashboardScenarios.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseWelshClaimantDashboardNotificationHandler.java
  src/main/resources/db/migration/V2025_07_16_1140__CIV-17441_fix_task_list_item_welsh.sql
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/dashboardnotifications/claimant/DefendantResponseWelshClaimantDashboardNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6816

#6834 DTSCCI-1876 Update DefendantResponseDeadlineCheckSearchService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/search/DefendantResponseDeadlineCheckSearchService.java
Labels: ns:civil, prd:civil, aat/no-changes, prod/no-changes, rel:civil-service-pr-6834

#6833 CIV-17453 Add hiddenOrderDocument parameter
  src/main/java/uk/gov/hmcts/reform/civil/model/CaseData.java
  src/main/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapper.java
  src/test/java/uk/gov/hmcts/reform/civil/service/DashboardNotificationsParamsMapperTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6833

#6829 CIV-17435 Defendant response visible to claimant LR in CFV before translation
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/docmosis/GenerateCUIResponseSealedFormCallBackHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategy.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/user/strategy/translateddocuments/UploadTranslatedDocumentDefaultStrategyTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6829

#6847 CIV-17431 delete previous notifications
  src/main/resources/db/migration/V2025_07_22_1848__CIV-17431_delete_defendant_response_notifications_claimant_accepts_ccj.sql
Labels: ns:civil, prd:civil, rel:civil-service-pr-6847

#6502 DTSCCI-1951 Refactor apply_noc_decision.bpmn with generic notify_event
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/civil/callback/CaseEvent.java
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/ClearFormerSolicitorInfoAfterNoCHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/CamundaProcessIdentifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/common/NotificationHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/otherflow/AllNoCPartiesEmailGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/otherflow/ChangeOfRepresentationNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/otherflow/NoCClaimantLipEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/otherflow/NoCFormerSolicitorEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/otherflow/NoCHearingFeeUnpaidAppSolEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/otherflow/NoCHelper.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/otherflow/NoCLipVLRNewDefendantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/otherflow/NoCOtherSolicitorOneEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/otherflow/NoCOtherSolicitorTwoEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/utils/NocNotificationUtils.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/noticeofchange/ClearFormerSolicitorInfoAfterNoCHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/common/NotificationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/otherflow/AllNoCPartiesEmailGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/otherflow/ChangeOfRepresentationNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/otherflow/NoCClaimantLipEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/otherflow/NoCFormerSolicitorEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/otherflow/NoCHearingFeeUnpaidAppSolEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/otherflow/NoCHelperTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/otherflow/NoCLipVLRNewDefendantEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/otherflow/NoCOtherSolicitorOneEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/otherflow/NoCOtherSolicitorTwoEmailDTOGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6502

#6872 DTSCCI-2154: Point to old template
  src/main/java/uk/gov/hmcts/reform/civil/service/docmosis/DocmosisTemplates.java
Labels: pr_ft_dj

#6819 CIV-17449 fix English email
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedDefendantNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedDefendantNotificationHandlerTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6819

#6510 DTSCCI-2030 Refactor apply_noc_decision_defendant_lip.bpmn with generic notify_event
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/CamundaProcessIdentifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/lipvliptolipvlrorlrvliptolrvlr/DefLipRepresentedNotifier.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/lipvliptolipvlrorlrvliptolrvlr/DefRepresentedAllPartiesEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/lipvliptolipvlrorlrvliptolrvlr/DefRepresentedApplicantSolEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/lipvliptolipvlrorlrvliptolrvlr/DefRepresentedClaimantLipEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/lipvliptolipvlrorlrvliptolrvlr/DefRepresentedDefendantLipEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/lipvliptolipvlrorlrvliptolrvlr/DefRepresentedNewRespSolOneEmailDTOGenerator.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/lipvliptolipvlrorlrvliptolrvlr/DefLipRepresentedNotifierTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/lipvliptolipvlrorlrvliptolrvlr/DefRepresentedApplicantSolEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/lipvliptolipvlrorlrvliptolrvlr/DefRepresentedClaimantLipEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/lipvliptolipvlrorlrvliptolrvlr/DefRepresentedDefendantLipEmailDTOGeneratorTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/changeofrepresentation/lipvliptolipvlrorlrvliptolrvlr/DefRepresentedNewRespSolOneEmailDTOGeneratorTest.java
Labels: ns:civil, prd:civil, aat/no-changes, prod/no-changes, rel:civil-service-pr-6510

#6882 DTSCCI-2457 Avoid NPE during interest calculation and more logs
  src/main/java/uk/gov/hmcts/reform/civil/utils/InterestCalculator.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6882

#6868 CIV-17451 claimant receives email in English
  src/main/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedClaimantNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/notification/handlers/defendantresponsecui/DefendantResponseCUIClaimantEmailDTOGenerator.java
  src/main/java/uk/gov/hmcts/reform/civil/notify/NotificationsProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/handler/callback/camunda/notification/TranslatedDocumentUploadedClaimantNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/civil/notification/handlers/defendantresponsecui/DefendantResponseCUIClaimantEmailDTOGeneratorTest.java
Labels: ns:civil, prd:civil, rel:civil-service-pr-6868
